Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

fix: revert changes to market fetching
  .changeset/spicy-boats-lay.md
Due: none

chore: bump package versions
  .changeset/spicy-boats-lay.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: border color of RhfSubmitButton when there is an error
  .changeset/good-clocks-tickle.md
  apps/evm/src/containers/Form/RhfSubmitButton/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: send sets of addresses and chain ids to endpoint
  apps/evm/src/clients/api/queries/getAddressDomainName/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add @yornaath/batshit
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

feat: fetch web3 domain names for addresses
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getAddressDomainName/index.ts
  apps/evm/src/clients/api/queries/getAddressDomainName/useGetAddressDomainName.ts
  apps/evm/src/components/DomainNameOrEllipseAddress/index.tsx
  apps/evm/src/components/EllipseAddress/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/containers/Layout/ConnectButton/PrimeButton/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/pages/Proposal/VoteSummary/index.tsx
  apps/evm/src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add icons and tooltip for web3 domain names
  apps/evm/src/components/DomainNameOrEllipseAddress/index.tsx
  apps/evm/src/components/Icon/icons/ensLogo.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/spaceIdLogo.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for omnichain proposals
  .changeset/brown-birds-arrive.md
  .changeset/good-terms-fail.md
  .changeset/honest-items-lick.md
  .changeset/hungry-vans-exist.md
  .changeset/perfect-spoons-sin.md
  .changeset/rare-camels-switch.md
  .changeset/thin-hairs-vanish.md
  .changeset/unlucky-planets-swim.md
Due: none

refactor: better Username styles
  apps/evm/src/components/Username/UsernameSpan.tsx
  apps/evm/src/components/Username/index.tsx
  apps/evm/src/containers/CopyAddressButton/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/PrimeButton/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/VoteSummary/index.tsx
  apps/evm/src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/lucky-kids-sniff.md
Due: none

refactor: use API to fetch domain names
  .changeset/brown-birds-arrive.md
  .changeset/good-terms-fail.md
  .changeset/honest-items-lick.md
  .changeset/hungry-vans-exist.md
  .changeset/perfect-spoons-sin.md
  .changeset/rare-camels-switch.md
  .changeset/thin-hairs-vanish.md
  .changeset/unlucky-planets-swim.md
  apps/evm/src/clients/api/queries/getAddressDomainName/index.ts
  apps/evm/src/clients/api/queries/getAddressDomainName/useGetAddressDomainName.ts
  apps/evm/src/components/DomainNameOrEllipseAddress/index.tsx
  apps/evm/src/components/Username/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/containers/Layout/ConnectButton/PrimeButton/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/VoteSummary/index.tsx
  apps/evm/src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: added sUSDe, PT-USDe-27MAR2025, PT-sUSDE-27MAR2025 and PT-SolvBTC.BBN-27MAR2025
  apps/evm/src/libs/tokens/img/ptSUsdE.svg
  apps/evm/src/libs/tokens/img/ptSolvBtc.svg
  apps/evm/src/libs/tokens/img/ptUsdE.svg
  apps/evm/src/libs/tokens/img/sUsdE.svg
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/slow-gorillas-roll.md
Due: none

fix: border color of RhfSubmitButton when there is an error (#3637)
  .changeset/good-clocks-tickle.md
  apps/evm/src/containers/Form/RhfSubmitButton/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/good-clocks-tickle.md
  .changeset/lucky-kids-sniff.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/soft-peas-argue.md
Due: none

feat: add Base network metadata
  apps/evm/src/config/rpcUrls.ts
  apps/evm/src/config/subgraphUrls.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/wallet/chains.ts
  packages/chains/src/chainMetadata.ts
  packages/chains/src/img/chains/base.svg
  packages/chains/src/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: update user settings snapshot
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
Due: none

chore: bump package versions
  .changeset/soft-peas-argue.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: useGetPools hook
  apps/evm/__mocks__/@venusprotocol/chains.ts
  apps/evm/src/__mocks__/api/markets.json
  apps/evm/src/__mocks__/models/chains.ts
  apps/evm/src/clients/api/queries/getPoolLiquidationIncentive/useGetPoolLiquidationIncentive.ts
  apps/evm/src/clients/api/queries/useGetPools/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/pages/Market/Page/MarketHistory/Card/useGetLiquidationThresholdPercentage.tsx
  apps/evm/src/setupTests.tsx
  apps/evm/src/utilities/index.ts
  apps/evm/src/utilities/isPoolIsolated/__tests__/index.spec.tsx
  apps/evm/src/utilities/isPoolIsolated/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: decouple getPools function
  .changeset/fluffy-suits-complain.md
  apps/evm/src/__mocks__/models/pools.ts
  apps/evm/src/clients/api/queries/useGetPools/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/isDistributingRewards/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getIsolatedPoolParticipantCounts/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getUserCollateralAddresses/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getUserPrimeApys/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getUserTokenBalances/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getUserVaiBorrowBalance/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/types.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update how borrow cap is displayed on Market page
  .changeset/slow-mice-guess.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/Page/MarketHistory/Card/CapThreshold/index.tsx
  apps/evm/src/pages/Market/Page/MarketHistory/Card/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: avoid trying to resolve names in unsupported chains
  apps/evm/src/clients/api/queries/getAddressDomainName/useGetAddressDomainName.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/empty-ducks-lay.md
Due: none

feat: update how borrow cap is displayed on Market page (#3642)
  .changeset/slow-mice-guess.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/Page/MarketHistory/Card/CapThreshold/index.tsx
  apps/evm/src/pages/Market/Page/MarketHistory/Card/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/slow-mice-guess.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/empty-ducks-lay.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/fluffy-suits-complain.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: get the right entry from the translation file
  apps/evm/src/containers/AddTokenToWalletButton/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/smart-mangos-join.md
Due: none

chore: add changeset
  .changeset/shy-ducks-destroy.md
  apps/evm/src/libs/tokens/infos/commonTokens/baseSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Base/Base Sepolia networks
  apps/evm/package.json
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/img/cbbtc.svg
  apps/evm/src/libs/tokens/infos/commonTokens/baseSepolia.ts
  packages/chains/src/types.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: include generated subgraph types into repository
  .changeset/six-pumas-change.md
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .gitignore
  README.md
  apps/evm/.env.template
  apps/evm/README.md
  apps/evm/codegen.config.ts
  apps/evm/package.json
  apps/evm/src/clients/subgraph/gql/generated/governanceBsc.ts
  apps/evm/src/clients/subgraph/gql/generated/governanceNonBsc.ts
  apps/evm/src/clients/subgraph/gql/generated/isolatedPools.ts
  apps/evm/src/libs/tokens/.gitignore
  apps/evm/vite.config.mts
  apps/landing/README.md
  biome.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/smart-mangos-join.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: update venus packages
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

refactor: include generated subgraph types (#3627)
  .changeset/six-pumas-change.md
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .gitignore
  README.md
  apps/evm/.env.template
  apps/evm/README.md
  apps/evm/codegen.config.ts
  apps/evm/package.json
  apps/evm/src/clients/subgraph/gql/generated/governanceBsc.ts
  apps/evm/src/clients/subgraph/gql/generated/governanceNonBsc.ts
  apps/evm/src/clients/subgraph/gql/generated/isolatedPools.ts
  apps/evm/src/libs/tokens/.gitignore
  apps/evm/vite.config.mts
  apps/landing/README.md
  biome.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/six-pumas-change.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check
