Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.57.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  4f/7cb0cfd0ef1842e332dfcf0b9586f69b0baf5a
Due: none

fix: responsivenes of Card component in Market page
  src/pages/Market/MarketCard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.58.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ee/ec567df41a897bdcea48718b5713e111c9f89e
Due: none

feat: add Prime Simulator blank page
  src/App/Router/index.tsx
  src/constants/routing.ts
  src/pages/PrimeSimulator/__tests__/index.spec.tsx
  src/pages/PrimeSimulator/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update Prime links + add basic components in Prime Simulator page
  src/constants/routing.ts
  src/containers/Layout/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/Breadcrumbs/__tests__/index.spec.tsx
  src/containers/Layout/Breadcrumbs/index.tsx
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/hooks/usePrimeSimulationPagePath/__tests__/index.spec.tsx
  src/hooks/usePrimeSimulationPagePath/index.tsx
  src/packages/translations/translations/en.json
  src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
  src/pages/PrimeSimulator/Form/index.tsx
  src/pages/PrimeSimulator/RewardDetails/index.tsx
  src/pages/PrimeSimulator/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add feature flag for VAI mint warning
  src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  src/hooks/useIsFeatureEnabled/index.tsx
  src/packages/contracts/config/index.ts
  src/pages/Vai/MintVai/Form/index.tsx
  src/pages/Vai/MintVai/__tests__/indexPrime.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.59.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  8c/bc6db4f796b2fbf9b87b473a78fc74620ad0a7
Due: none

chore(release): 2.59.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  be/c8ac3ccf2b269071f75e1b1806bb03473a1fb2
Due: none

fix: update BNB chain copy
  src/packages/translations/translations/en.json
  src/pages/Governance/VotingWallet/index.tsx
  src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Prime Simulator blank page (#1910)
  src/App/Router/index.tsx
  src/constants/routing.ts
  src/containers/Layout/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/Breadcrumbs/__tests__/index.spec.tsx
  src/containers/Layout/Breadcrumbs/index.tsx
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/hooks/usePrimeSimulationPagePath/__tests__/index.spec.tsx
  src/hooks/usePrimeSimulationPagePath/index.tsx
  src/packages/translations/translations/en.json
  src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
  src/pages/PrimeSimulator/Form/index.tsx
  src/pages/PrimeSimulator/RewardDetails/index.tsx
  src/pages/PrimeSimulator/__tests__/index.spec.tsx
  src/pages/PrimeSimulator/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.60.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  d6/548c561e606d7d8c5c55dba06ef5035a1fdc7f
Due: none

fix: stuck LUNA/UST warning modal
  src/packages/lunaUstWarning/LunaUstWarningModal/__tests__/index.spec.tsx
  src/packages/lunaUstWarning/LunaUstWarningModal/index.tsx
  src/packages/lunaUstWarning/useLunaUstWarning/index.tsx
  src/packages/lunaUstWarning/useLunaUstWarning/store.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.60.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  66/ad24252c8ff01df5b0b1e1a45cc6c524654588
Due: none

fix: stuck LUNA/UST warning modal (#1924)
  src/packages/lunaUstWarning/LunaUstWarningModal/__tests__/index.spec.tsx
  src/packages/lunaUstWarning/LunaUstWarningModal/index.tsx
  src/packages/lunaUstWarning/useLunaUstWarning/index.tsx
  src/packages/lunaUstWarning/useLunaUstWarning/store.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.60.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  4e/5c7fcb97bf3ce65b7e1bffe20bfa35fcac3d03
Due: none

fix: provider and signer initialization in contract hooks
  src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/__tests__/__snapshots__/index.spec.ts.snap
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/genericContractGettersTemplate.hbs
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/swapRouterContractGettersTemplate.hbs
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/uniqueContractGettersTemplate.hbs
  src/packages/wallet/hooks/useProvider/index.ts
  src/packages/wallet/hooks/useSigner/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: provider and signer initialization in contract hooks (#1925)
  src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/__tests__/__snapshots__/index.spec.ts.snap
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/genericContractGettersTemplate.hbs
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/swapRouterContractGettersTemplate.hbs
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/uniqueContractGettersTemplate.hbs
  src/packages/wallet/hooks/useProvider/index.ts
  src/packages/wallet/hooks/useSigner/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.60.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ba/5dcb9dcd62be8933098a9184faf8764ea1860b
Due: none

refactor: hide Prime calculator on BSC mainnet
  src/App/Router/index.tsx
  src/components/AssetWarning/AssetTable/index.tsx
  src/components/AssetWarning/index.spec.tsx
  src/components/AssetWarning/index.tsx
  src/constants/routing.ts
  src/containers/Layout/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/Breadcrumbs/__tests__/index.spec.tsx
  src/containers/Layout/Breadcrumbs/index.tsx
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/hooks/useIsFeatureEnabled/index.tsx
  src/hooks/useOperationModal/Modal/BorrowForm/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  src/hooks/useOperationModal/Modal/styles.ts
  src/hooks/usePrimeCalculatorPagePath/__tests__/index.spec.tsx
  src/hooks/usePrimeCalculatorPagePath/index.tsx
  src/packages/translations/translations/en.json
  src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
  src/pages/PrimeCalculator/Form/index.tsx
  src/pages/PrimeCalculator/RewardDetails/index.tsx
  src/pages/PrimeCalculator/__tests__/index.spec.tsx
  src/pages/PrimeCalculator/index.tsx
  src/pages/PrimeSimulator/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: hide Prime calculator on BSC mainnet (#1927)
  src/App/Router/index.tsx
  src/components/AssetWarning/AssetTable/index.tsx
  src/components/AssetWarning/index.spec.tsx
  src/components/AssetWarning/index.tsx
  src/constants/routing.ts
  src/containers/Layout/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/Breadcrumbs/__tests__/index.spec.tsx
  src/containers/Layout/Breadcrumbs/index.tsx
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/hooks/useIsFeatureEnabled/index.tsx
  src/hooks/useOperationModal/Modal/BorrowForm/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  src/hooks/useOperationModal/Modal/styles.ts
  src/hooks/usePrimeCalculatorPagePath/__tests__/index.spec.tsx
  src/hooks/usePrimeCalculatorPagePath/index.tsx
  src/packages/translations/translations/en.json
  src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
  src/pages/PrimeCalculator/Form/index.tsx
  src/pages/PrimeCalculator/RewardDetails/index.tsx
  src/pages/PrimeCalculator/__tests__/index.spec.tsx
  src/pages/PrimeCalculator/index.tsx
  src/pages/PrimeSimulator/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.60.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  c8/60c4eec58e954453a010cba59b4fe41c7c21d6
Due: none

feat: remove warning about Binance Chain Wallet
  src/packages/translations/translations/en.json
  src/packages/wallet/Web3Wrapper/AuthModal/WalletList/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add packages for Binance wallet
  package.json
  yarn.lock
Due: prettier --write --check

chore: add esbuild config for Buffer polyfill
  vite.config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Binance connector logic
  src/assets/img/wallets/binanceWalletLogo.svg
  src/packages/translations/translations/en.json
  src/packages/wallet/Web3Wrapper/AuthModal/constants.ts
  src/packages/wallet/Web3Wrapper/config.ts
  src/packages/wallet/connectors.ts
  src/packages/wallet/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: disable actions for stkBNB, SnBNB and agEUR
  src/packages/tokens/infos/disabledTokenActions/bscMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.60.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  e9/c00882727c571bc38c40bdee764a3bdbec6398
Due: none

chore(release): 2.60.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  21/bbd30e833d99f8a57421b5d3e68690f73d1294
Due: none

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
