Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: bump package versions
  .changeset/chatty-owls-provide.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: only show high risk warning when borrowing above safe limit (#3675)
  .changeset/mean-lies-smile.md
  apps/evm/src/hooks/useProgressColor.ts
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/Notice.tsx
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/SubmitSection/index.tsx
  apps/evm/src/pages/Vai/Borrow/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/mean-lies-smile.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: remove posthog
  apps/evm/package.json
  apps/evm/src/App/index.tsx
  apps/evm/src/libs/analytics/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove posthog
  .changeset/hip-steaks-invite.md
  apps/evm/package.json
  apps/evm/src/App/index.tsx
  apps/evm/src/libs/analytics/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: cleanup dropdown interactions and styles
  apps/evm/src/clients/api/queries/getVTokens/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/components/Dropdown/index.tsx
  apps/evm/src/components/Dropdown/renderLabel.tsx
  apps/evm/src/components/Dropdown/types.ts
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/components/Select/types.ts
  apps/evm/src/containers/AddTokenToWalletDropdown/index.tsx
  apps/evm/src/containers/GoToTokenContractDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/AddTokenToWalletDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/GoToTokenContractDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/TokenDropdownOption/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/libs/tokens/__mocks__/index.ts
  apps/evm/src/libs/tokens/index.ts
  apps/evm/src/libs/tokens/infos/index.ts
  apps/evm/src/libs/tokens/infos/vTokens/arbitrumOne.ts
  apps/evm/src/libs/tokens/infos/vTokens/arbitrumSepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/bscTestnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/vTokens/index.ts
  apps/evm/src/libs/tokens/infos/vTokens/opBnbMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/opBnbTestnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/optimismSepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/sepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncSepolia.ts
  apps/evm/src/libs/tokens/types.ts
  apps/evm/src/libs/tokens/utilities/getVTokenAsset/__tests__/index.spec.ts
  apps/evm/src/libs/tokens/utilities/getVTokenAsset/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove omnichainGovernance feature flag
  .changeset/grumpy-lies-sparkle.md
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.omnichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/index.omnichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/Stepper/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/Stepper/styles.ts
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/styles.ts
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.omnichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.omnichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove posthog (#3694)
  .changeset/hip-steaks-invite.md
  apps/evm/package.json
  apps/evm/src/App/index.tsx
  apps/evm/src/libs/analytics/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/hip-steaks-invite.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: remove omnichainGovernance feature flag (#3700)
  .changeset/grumpy-lies-sparkle.md
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.omnichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/index.omnichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/Stepper/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/Stepper/styles.ts
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/styles.ts
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.omnichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.omnichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/grumpy-lies-sparkle.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: rework styles between existing selects and the new dropdown
  apps/evm/src/components/Dropdown/index.tsx
  apps/evm/src/components/Dropdown/types.ts
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/components/Select/types.ts
  apps/evm/src/components/index.ts
  apps/evm/src/containers/Layout/Header/MarketInfo/AddTokenToWalletDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/DropdownToggleButton/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/GoToTokenContractDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/TokenDropdownOption/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/XsControls/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/PrimeCalculator/Form/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/spotty-glasses-shop.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: remove governanceSearch feature flag
  .changeset/flat-items-shake.md
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/index.governanceSearch.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove governanceSearch feature flag (#3708)
  .changeset/flat-items-shake.md
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/index.governanceSearch.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/flat-items-shake.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: properly call addOrCopyTokenAction onClick
  apps/evm/src/containers/Layout/Header/MarketInfo/AddTokenToWalletDropdown/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/serious-dodos-roll.md
Due: none

chore: bump package versions
  .changeset/serious-dodos-roll.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: remove sentence regarding liquidities
  apps/landing/src/components/Market/Market.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/purple-spoons-cheer.md
Due: none

chore: bump package versions
  .changeset/purple-spoons-cheer.md
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

feat: updated isolated pools subgraph URLs
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/great-doors-vanish.md
Due: none

feat: pin opbnb subgraph version
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/great-doors-vanish.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/wicked-brooms-check.md
Due: none

feat: new Venus Prime copy
  apps/landing/src/components/VenusPrime/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/cuddly-cups-admire.md
Due: none

chore: bump package versions
  .changeset/cuddly-cups-admire.md
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

feat: add support for displaying Merkl rewards
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/containers/PoolStats/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/Page/OperationForm/AssetInfo/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/formatRewardDistribution.ts
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: update rewards snapshots
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wicked-brooms-check.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: status text displayed when proposal is waiting for queuing
  .changeset/polite-rockets-decide.md
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalInfo/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: status text displayed when proposal is waiting for queuing (#3746)
  .changeset/polite-rockets-decide.md
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalInfo/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/polite-rockets-decide.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: update contracts library to support viem
  .changeset/young-mails-bake.md
  apps/evm/src/clients/api/queries/getAllowance/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getAllowance/index.ts
  apps/evm/src/clients/api/queries/getAllowance/useGetAllowance.ts
  apps/evm/src/clients/api/queries/getCurrentVotes/index.spec.ts
  apps/evm/src/clients/api/queries/getCurrentVotes/index.ts
  apps/evm/src/clients/api/queries/getCurrentVotes/useGetCurrentVotes.ts
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAbis/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAbis/__tests__/index.spec.ts
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAbis/abiTemplate.hbs
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAbis/index.ts
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateGetters/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/genericContractGettersTemplate.hbs
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/uniqueContractGettersTemplate.hbs
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/uniquePerPoolContractGettersTemplate.hbs
  apps/evm/src/libs/contracts/utilities/getUniqueContractAddress/index.ts
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update contracts library to support viem (#3752)
  .changeset/young-mails-bake.md
  apps/evm/src/clients/api/queries/getAllowance/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getAllowance/index.ts
  apps/evm/src/clients/api/queries/getAllowance/useGetAllowance.ts
  apps/evm/src/clients/api/queries/getCurrentVotes/index.spec.ts
  apps/evm/src/clients/api/queries/getCurrentVotes/index.ts
  apps/evm/src/clients/api/queries/getCurrentVotes/useGetCurrentVotes.ts
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAbis/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAbis/__tests__/index.spec.ts
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAbis/abiTemplate.hbs
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAbis/index.ts
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateGetters/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/genericContractGettersTemplate.hbs
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/uniqueContractGettersTemplate.hbs
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/uniquePerPoolContractGettersTemplate.hbs
  apps/evm/src/libs/contracts/utilities/getUniqueContractAddress/index.ts
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix
