Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: request gasless claim rewards
  apps/evm/src/clients/api/mutations/claimRewards/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: update contract mocks with signer
  apps/evm/src/__mocks__/models/signer.ts
  apps/evm/src/clients/api/mutations/approveToken/index.spec.ts
  apps/evm/src/clients/api/mutations/borrow/index.spec.ts
  apps/evm/src/clients/api/mutations/bridgeXvs/index.spec.ts
  apps/evm/src/clients/api/mutations/claimPrimeToken/index.spec.ts
  apps/evm/src/clients/api/mutations/claimRewards/index.spec.ts
  apps/evm/src/clients/api/mutations/claimRewards/types.ts
  apps/evm/src/clients/api/mutations/enterMarket/index.spec.ts
  apps/evm/src/clients/api/mutations/executeWithdrawalFromXvsVault/index.spec.ts
  apps/evm/src/clients/api/mutations/exitMarket/index.spec.ts
  apps/evm/src/clients/api/mutations/repay/index.spec.ts
  apps/evm/src/clients/api/mutations/requestWithdrawalFromXvsVault/index.spec.ts
  apps/evm/src/clients/api/mutations/revokeSpendingLimit/index.spec.ts
  apps/evm/src/clients/api/mutations/stakeInXvsVault/index.spec.ts
  apps/evm/src/clients/api/mutations/supply/index.spec.ts
  apps/evm/src/clients/api/mutations/updatePoolDelegateStatus/index.spec.ts
  apps/evm/src/clients/api/mutations/withdraw/index.spec.ts
  apps/evm/src/clients/api/mutations/withdrawXvs/index.spec.ts
  apps/evm/src/utilities/requestGaslessTransaction/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: fetch sponsorship vault status
  apps/evm/.env.template
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getSponsorshipVaultData/index.ts
  apps/evm/src/clients/api/queries/getSponsorshipVaultData/useGetSponsorshipVaultData.ts
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/containers/Layout/Header/TopBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/GaslessStatus/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/hooks/useSendTransaction/index.ts
  apps/evm/src/hooks/useSendTransaction/sendTransaction.ts
  apps/evm/src/hooks/useViemPublicClient.ts
  apps/evm/src/libs/errors/VError.ts
  apps/evm/src/libs/errors/unexpectedErrorPhrases.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/wallet/img/icons/gasGreen.svg
  apps/evm/src/libs/wallet/img/icons/gasOrange.svg
  apps/evm/src/libs/wallet/img/icons/index.ts
  apps/evm/src/libs/wallet/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: treat user rejecting to sign errors differently
  apps/evm/src/hooks/useSendTransaction/sendTransaction.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: consider vault balance before requesting a gas free transaction
  apps/evm/src/hooks/useSendTransaction/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add mobile variant to GaslessStatus
  apps/evm/src/containers/Layout/Header/TopBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/GaslessStatus/index.tsx
  apps/evm/src/hooks/useSendTransaction/sendTransaction.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: resend paying gas flow
  apps/evm/src/App/index.tsx
  apps/evm/src/components/Modal/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/GaslessStatus/index.tsx
  apps/evm/src/containers/ResendPayingGasModal/index.tsx
  apps/evm/src/hooks/useSendTransaction/index.ts
  apps/evm/src/hooks/useSendTransaction/sendTransaction.ts
  apps/evm/src/libs/errors/VError.ts
  apps/evm/src/libs/errors/displayMutationError/index.ts
  apps/evm/src/libs/wallet/img/icons/gasSlashedGreen.svg
  apps/evm/src/libs/wallet/img/icons/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: unhappy path when sending a transaction
  apps/evm/src/hooks/useSendTransaction/sendTransaction.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add tooltip to GaslessStatus
  apps/evm/src/containers/Layout/Header/TopBar/GaslessStatus/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: index dashboard page of the dApp with search engines
  .changeset/little-horses-impress.md
  apps/evm/index.html
  apps/evm/package.json
  apps/evm/src/App/index.tsx
  apps/evm/src/components/Page/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/constants/production.ts
  apps/evm/src/pages/Account/index.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/ConvertVrt/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Governance/index.tsx
  apps/evm/src/pages/IsolatedPools/index.tsx
  apps/evm/src/pages/Market/Market/index.tsx
  apps/evm/src/pages/Pool/index.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/pages/Vai/index.tsx
  apps/evm/src/pages/Vault/index.tsx
  apps/evm/src/pages/Voter/index.tsx
  apps/evm/src/pages/VoterLeaderboard/index.tsx
  apps/landing/index.html
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display executed payloads counts on proposal list (#3354)
  .changeset/thin-hairs-vanish.md
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getProposal/useGetCachedProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/components/LabeledProgressCircle/index.tsx
  apps/evm/src/components/ProgressCircle/index.tsx
  apps/evm/src/components/ProposalCard/styles.ts
  apps/evm/src/components/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/Indicator/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/styles.ts
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/index.governanceSearch.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
  apps/evm/src/pages/Governance/testIds.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/Progress/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalCancelableByUser/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: list proposals on Proposal page
  .changeset/rare-camels-switch.md
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/__mocks__/subgraph/bscProposals.json
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/index.spec.ts
  apps/evm/src/containers/ConnectWallet/Container/index.tsx
  apps/evm/src/containers/ConnectWallet/__tests__/index.spec.tsx
  apps/evm/src/containers/ConnectWallet/index.stories.tsx
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/containers/ConnectWallet/styles.ts
  apps/evm/src/hooks/useFormatTo/__tests__/index.spec.tsx
  apps/evm/src/hooks/useGetChainMetadata/__tests__/index.spec.tsx
  apps/evm/src/hooks/useGetVTreasuryContractAddress/__tests__/index.spec.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/ActionsAccordion/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/Cta/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/StepInfo/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/useCommand.tsx
  apps/evm/src/pages/Proposal/Commands/Description/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Status/index.tsx
  apps/evm/src/pages/Proposal/Commands/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Proposal/Commands/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalCancelableByUser/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalExecutable/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Proposal/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up execute button of remote proposals (#3362)
  .changeset/honest-items-lick.md
  apps/evm/src/clients/api/mutations/executeProposal/index.spec.ts
  apps/evm/src/clients/api/mutations/executeProposal/index.ts
  apps/evm/src/clients/api/mutations/executeProposal/useExecuteProposal.ts
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/index.ts
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposal/index.ts
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposals/index.ts
  apps/evm/src/clients/subgraph/queries/governanceNonBsc/getNonBscProposals/index.ts
  apps/evm/src/config/index.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/sour-clocks-wait.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: display warning on test environments
  .changeset/stale-cycles-smash.md
  apps/evm/src/constants/production.ts
  apps/evm/src/containers/Layout/TestEnvWarning/index.tsx
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: design tweaks
  .changeset/stale-glasses-relate.md
  apps/evm/src/components/AssetWarning/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update transaction error handling
  .changeset/nasty-fans-itch.md
  apps/evm/src/components/ApprovalSteps/index.tsx
  apps/evm/src/components/SpendingLimit/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/PrimeStatusBanner/index.tsx
  apps/evm/src/containers/ResendPayingGasModal/Modal/index.tsx
  apps/evm/src/hooks/useSendTransaction/index.ts
  apps/evm/src/libs/errors/displayMutationError/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/errors/handleError/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/errors/handleError/__tests__/index.spec.ts
  apps/evm/src/libs/errors/handleError/formatVErrorToReadableString.ts
  apps/evm/src/libs/errors/handleError/index.ts
  apps/evm/src/libs/errors/index.ts
  apps/evm/src/libs/wallet/hooks/useSwitchChain/index.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/ConvertVrt/Withdraw/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/index.spec.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/index.tsx
  apps/evm/src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/BorrowForm/useForm/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/RepayForm/useForm/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/SupplyForm/useForm/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/WithdrawForm/useForm/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/VoteModal/index.tsx
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
  apps/evm/src/pages/Vault/TransactionForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up execute button of remote proposals (#3362)
  .changeset/honest-items-lick.md
  apps/evm/src/clients/api/mutations/executeProposal/index.spec.ts
  apps/evm/src/clients/api/mutations/executeProposal/index.ts
  apps/evm/src/clients/api/mutations/executeProposal/useExecuteProposal.ts
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/index.ts
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposal/index.ts
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposals/index.ts
  apps/evm/src/clients/subgraph/queries/governanceNonBsc/getNonBscProposals/index.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update warning banner design on Market page (#3400)
  .changeset/stale-glasses-relate.md
  apps/evm/src/components/AssetWarning/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update transaction error handling (#3401)
  .changeset/nasty-fans-itch.md
  apps/evm/src/components/ApprovalSteps/index.tsx
  apps/evm/src/components/SpendingLimit/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/PrimeStatusBanner/index.tsx
  apps/evm/src/containers/ResendPayingGasModal/Modal/index.tsx
  apps/evm/src/hooks/useSendTransaction/index.ts
  apps/evm/src/libs/errors/displayMutationError/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/errors/handleError/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/errors/handleError/__tests__/index.spec.ts
  apps/evm/src/libs/errors/handleError/formatVErrorToReadableString.ts
  apps/evm/src/libs/errors/handleError/index.ts
  apps/evm/src/libs/errors/index.ts
  apps/evm/src/libs/wallet/hooks/useSwitchChain/index.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/ConvertVrt/Withdraw/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/index.spec.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/index.tsx
  apps/evm/src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/BorrowForm/useForm/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/RepayForm/useForm/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/SupplyForm/useForm/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/WithdrawForm/useForm/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/VoteModal/index.tsx
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
  apps/evm/src/pages/Vault/TransactionForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/nasty-fans-itch.md
  .changeset/stale-glasses-relate.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: index dashboard page of the dApp with search engines (#3380)
  .changeset/little-horses-impress.md
  apps/evm/index.html
  apps/evm/package.json
  apps/evm/src/App/index.tsx
  apps/evm/src/components/Page/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/constants/production.ts
  apps/evm/src/pages/Account/index.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/ConvertVrt/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Governance/index.tsx
  apps/evm/src/pages/IsolatedPools/index.tsx
  apps/evm/src/pages/Market/Market/index.tsx
  apps/evm/src/pages/Pool/index.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/pages/Vai/index.tsx
  apps/evm/src/pages/Vault/index.tsx
  apps/evm/src/pages/Voter/index.tsx
  apps/evm/src/pages/VoterLeaderboard/index.tsx
  apps/landing/index.html
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/little-horses-impress.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

fix: add workaround to send gasless transactions with mobile wallets
  .changeset/empty-eels-join.md
  apps/evm/src/libs/wallet/hooks/useSendContractTransaction/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add workaround to send gasless transactions with mobile wallets (#3412)
  .changeset/empty-eels-join.md
  apps/evm/src/libs/wallet/hooks/useSendContractTransaction/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/empty-eels-join.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: do not attempt to retry when the gas estimation fails
  apps/evm/src/libs/wallet/hooks/useSendContractTransaction/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/good-zebras-cry.md
Due: none

chore: bump package versions
  .changeset/good-zebras-cry.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: display warning on test environments (#3399)
  .changeset/stale-cycles-smash.md
  apps/evm/src/constants/production.ts
  apps/evm/src/containers/Layout/TestEnvWarning/index.tsx
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/stale-cycles-smash.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add global store + settings section on Account page
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/hooks/useGetUserChainSettings/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/Summary/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/VaultsBreakdown/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/index.tsx
  apps/evm/src/pages/Account/Section/index.tsx
  apps/evm/src/pages/Account/Section/styles.ts
  apps/evm/src/pages/Account/Settings/index.tsx
  apps/evm/src/pages/Account/index.tsx
  apps/evm/src/store/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up gasless transactions user setting
  apps/evm/src/containers/Layout/Header/TopBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/GaslessStatus/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/__mocks__/index.tsx
  apps/evm/src/hooks/useSendTransaction/__tests__/index.gaslessTransactions.spec.tsx
  apps/evm/src/hooks/useSendTransaction/index.ts
  apps/evm/src/hooks/useUserChainSettings/__tests__/index.spec.tsx
  apps/evm/src/hooks/useUserChainSettings/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/Settings/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/RepayForm/__tests__/index.spec.tsx
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/store/__tests__/index.spec.ts
  apps/evm/src/store/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
