Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  6fd9ccde31bc5fae9139eab592f2e3d1d47c88fa
Due: none

fix: removed NODE env vars from dockerfiles
  Dockerfile
  Dockerfile.local
Due: none

chore(release): 2.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  417b4af5bb5406b8a4b05995e7431ce1b860ed83
Due: none

feat: fetch token prices from oracle
  package.json
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/constants/contracts/abis/oracle.json
  src/constants/contracts/addresses/main.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove call to vTokenUnderlyingPriceAll in getIsolatedPools + add @venusprotocol/oracle package
  package.json
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove hotfix to ignore distribution APYs of isolated assets
  src/components/AccountData/__snapshots__/index.spec.tsx.snap
  src/components/AccountData/index.tsx
  src/components/AccountData/useAssetInfo.ts
  src/components/AccountData/useGetValues.ts
  src/containers/MarketTable/useGenerateColumns.tsx
  src/pages/Account/Summary/__snapshots__/index.spec.tsx.snap
  src/pages/Account/Summary/useExtractData.ts
  src/pages/Dashboard/__snapshots__/index.spec.tsx.snap
  src/translation/translations/en.json
  src/utilities/calculateYearlyEarnings.spec.ts
  src/utilities/calculateYearlyEarnings.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update how distribution APYs of isolated assets are calculated
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDailyDistributedTokensMapping.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatToDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatTokenPrices.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getVaiRepayApy/index.ts
  src/utilities/calculateApy/__tests__/index.spec.ts
  src/utilities/calculateApy/index.ts
  src/utilities/calculateDailyDistributedTokens/__tests__/index.spec.ts
  src/utilities/calculateDailyDistributedTokens/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: format fetched token prices
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatTokenPrices.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/constants/contracts/abis/oracle.json
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: add calculateDailyDistributedTokens util + simplify calculateApy
  src/clients/api/queries/getIsolatedPools/formatOutput/formatToDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getVaiRepayApy/index.ts
  src/utilities/calculateApy.ts
  src/utilities/calculateApy/__tests__/index.spec.ts
  src/utilities/calculateApy/index.ts
  src/utilities/calculateDailyDistributedTokens/__tests__/index.spec.ts
  src/utilities/calculateDailyDistributedTokens/index.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: use reward token decimals when calculating APYs
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDailyDistributedRewardTokensMapping.ts
  src/utilities/calculateDailyDistributedTokens/__tests__/index.spec.ts
  src/utilities/calculateDailyDistributedTokens/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: use correct prices to convert distribution values in dollars
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDailyDistributedRewardTokensMapping.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rename ratePerBlockMantissa parameter of calculateDailyDistributedTokens to mantissa
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDailyDistributedRewardTokensMapping.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getVaiRepayApy/index.ts
  src/utilities/calculateDailyDistributedTokens/__tests__/index.spec.ts
  src/utilities/calculateDailyDistributedTokens/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: reuse variable
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDailyDistributedRewardTokensMapping.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rename props on Asset for clarity
  src/__mocks__/models/asset.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getVaiRepayApy/index.ts
  src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainAssets/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainAssets/index.ts
  src/clients/api/queries/useGetMainPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  src/pages/Market/index.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rename utility for clarity
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDailyDistributedRewardTokensMapping.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getVaiRepayApy/index.ts
  src/utilities/calculateDailyDistributedTokens/__tests__/index.spec.ts
  src/utilities/index.ts
  src/utilities/multiplyMantissaDaily/__tests__/index.spec.ts
  src/utilities/multiplyMantissaDaily/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: update @venusprotocol/oracle to 1.7.0
  package.json
  yarn.lock
Due: prettier --write --check

feat: change name of calculateApy parameter for clarity
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getVaiRepayApy/index.ts
  src/utilities/calculateApy/__tests__/index.spec.ts
  src/utilities/calculateApy/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display distribution APYs on Market page of isolated assets again
  src/pages/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

[VEN-1723] Fix distribution APYs of isolated assets (#1195)
  package.json
  src/__mocks__/models/asset.ts
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDailyDistributedRewardTokensMapping.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatToDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatTokenPrices.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getVaiRepayApy/index.ts
  src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainAssets/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainAssets/index.ts
  src/clients/api/queries/useGetMainPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  src/components/AccountData/__snapshots__/index.spec.tsx.snap
  src/components/AccountData/index.tsx
  src/components/AccountData/useAssetInfo.ts
  src/components/AccountData/useGetValues.ts
  src/constants/contracts/addresses/main.json
  src/containers/MarketTable/useGenerateColumns.tsx
  src/pages/Account/Summary/__snapshots__/index.spec.tsx.snap
  src/pages/Account/Summary/useExtractData.ts
  src/pages/Dashboard/__snapshots__/index.spec.tsx.snap
  src/pages/Market/index.tsx
  src/translation/translations/en.json
  src/types/index.ts
  src/utilities/calculateApy.ts
  src/utilities/calculateApy/__tests__/index.spec.ts
  src/utilities/calculateApy/index.ts
  src/utilities/calculateYearlyEarnings.spec.ts
  src/utilities/calculateYearlyEarnings.ts
  src/utilities/index.ts
  src/utilities/multiplyMantissaDaily/__tests__/index.spec.ts
  src/utilities/multiplyMantissaDaily/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: generate contract types from packages
  package.json
  yarn.lock
Due: prettier --write --check

feat: create contracts package draft
  package.json
  src/packages/contracts/contractInfos.ts
  src/packages/contracts/getContract.ts
  src/packages/contracts/index.ts
  src/packages/contracts/types/contractName.ts
  src/packages/contracts/types/general.ts
  src/utilities/formatCentsToReadableValue/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: create contracts package
  .gitignore
  package.json
  src/packages/contracts/.gitignore
  src/packages/contracts/index.ts
  src/packages/contracts/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add tests
  src/packages/contracts/getContract/__tests__/index.spec.ts
  src/packages/contracts/getContract/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add generate-contract-types:contract-package script
  .gitignore
  package.json
Due: prettier --write --check

refactor: move ChainId to contract package
  src/__mocks__/models/tokenCombinations.ts
  src/config/index.ts
  src/constants/bsc.ts
  src/constants/endpoints.ts
  src/hooks/useGetSwapInfo/__tests__/formatToSwap.spec.ts
  src/packages/contracts/index.ts
  src/packages/contracts/types/index.ts
  src/pages/Vault/modals/ActionModal/index.spec.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add main contracts
  package.json
  src/packages/contracts/contractInfos.ts
  src/packages/contracts/contractInfos/index.ts
  src/packages/contracts/contractInfos/otherAbis/maximillion.json
  src/packages/contracts/contractInfos/otherAbis/multicall.json
  src/packages/contracts/getContract/index.ts
  src/packages/contracts/types/contractName.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: make types stricter
  src/packages/contracts/contractInfos/index.ts
  src/packages/contracts/getContract/__tests__/index.spec.ts
  src/packages/contracts/getContract/index.ts
  src/packages/contracts/getContractAddress/__tests__/index.spec.ts
  src/packages/contracts/getContractAddress/index.ts
  src/packages/contracts/types/general.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getContractAddress util
  src/packages/contracts/contractInfos/index.ts
  src/packages/contracts/getContractAddress/__tests__/index.spec.ts
  src/packages/contracts/getContractAddress/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: finalize contracts package
  package.json
  src/__mocks__/models/tokenCombinations.ts
  src/config/index.ts
  src/constants/bsc.ts
  src/constants/endpoints.ts
  src/hooks/useGetSwapInfo/__tests__/formatToSwap.spec.ts
  src/packages/contracts/contractInfos/externalAbis/maximillion.json
  src/packages/contracts/contractInfos/externalAbis/multicall.json
  src/packages/contracts/contractInfos/fixedAddressContractInfos.ts
  src/packages/contracts/contractInfos/genericContractInfos.ts
  src/packages/contracts/contractInfos/swapRouterContractInfos.ts
  src/packages/contracts/getContract/__tests__/index.spec.ts
  src/packages/contracts/getContract/index.ts
  src/packages/contracts/getContractAddress/__tests__/index.spec.ts
  src/packages/contracts/getContractAddress/index.ts
  src/packages/contracts/index.ts
  src/packages/contracts/types/contractName.ts
  src/packages/contracts/types/general.ts
  src/packages/contracts/types/index.ts
  src/pages/Vault/modals/ActionModal/index.spec.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add vankrBNB in DeFi for mainnet and testnet
  src/constants/tokens/vBep/mainnet.ts
  src/constants/tokens/vBep/testnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update .prettierignore file
  .prettierignore
Due: none

test: update tests
  src/packages/contracts/getContract/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add vankrBNB in DeFi for mainnet and testnet (#1202)
  src/constants/tokens/vBep/mainnet.ts
  src/constants/tokens/vBep/testnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  478e0632623ee4a020e105eff2c4ea18634e4145
Due: none

feat: generate contract types from packages (#1201)
  .prettierignore
  package.json
  src/config/index.ts
  src/packages/contracts/.gitignore
  src/packages/contracts/contractInfos/externalAbis/maximillion.json
  src/packages/contracts/contractInfos/externalAbis/multicall.json
  src/packages/contracts/contractInfos/fixedAddressContractInfos.ts
  src/packages/contracts/contractInfos/genericContractInfos.ts
  src/packages/contracts/contractInfos/swapRouterContractInfos.ts
  src/packages/contracts/getContract/__tests__/index.spec.ts
  src/packages/contracts/getContract/index.ts
  src/packages/contracts/getContractAddress/__tests__/index.spec.ts
  src/packages/contracts/getContractAddress/index.ts
  src/packages/contracts/index.ts
  src/packages/contracts/types/index.ts
  src/utilities/formatCentsToReadableValue/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  759ba853b62481da937a277fc13d5ea09430f872
Due: none

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
