Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

refactor: update getIsolatedPools so it does not user getVTokenAddress
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Update request timeout setting (#1388)
  src/clients/web3/Web3Wrapper/config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove getVTokenByAddress and VToken records
  src/clients/api/queries/getVTokens/useGetVTokens.ts
  src/constants/tokens/index.ts
  src/constants/tokens/vBep/mainnet.ts
  src/constants/tokens/vBep/testnet.ts
  src/utilities/getVTokenByAddress.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: fix getMainMarkets test
  src/clients/api/queries/getMainMarkets/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainMarkets/__tests__/index.spec.ts
  src/clients/api/queries/getMainMarkets/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.18.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  89d8433214fcd6c285a3ce01b18cab92be2569bf
Due: none

feat: update transactions endpoint to use next version
  src/__mocks__/models/transactions.ts
  src/clients/api/queries/getTransactions/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getTransactions/formatTransaction.ts
  src/clients/api/queries/getTransactions/index.spec.ts
  src/clients/api/queries/getTransactions/index.ts
  src/clients/api/queries/getTransactions/types.ts
  src/pages/History/HistoryTable/index.tsx
  src/types/index.ts
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add useGetTokens hook + update contract hooks to consider chainId as always defined
  src/hooks/useGetGenericContract.ts
  src/hooks/useGetSwapRouterContract.ts
  src/hooks/useGetSwapRouterContractAddress.ts
  src/hooks/useGetTokenContract.ts
  src/hooks/useGetTokens.ts
  src/hooks/useGetUniqueContract.ts
  src/hooks/useGetUniqueContractAddress.ts
  src/hooks/useGetVTokenContract.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add useGetToken hook
  src/hooks/useGetToken.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: make tokenAddress parameter of getTokenByAddress mandatory
  src/clients/api/queries/getTransactions/formatTransaction.ts
  src/pages/Xvs/Table/index.tsx
  src/utilities/getTokenByAddress.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add findTokenBySymbol utility function
  src/utilities/findTokenBySymbol.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: restService returns correct API response signature
  src/clients/api/queries/getMainMarkets/index.ts
  src/clients/api/queries/getMarketHistory/index.ts
  src/clients/api/queries/getProposals/getProposal.ts
  src/clients/api/queries/getProposals/index.ts
  src/clients/api/queries/getTransactions/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getTransactions/index.spec.ts
  src/clients/api/queries/getTransactions/index.ts
  src/clients/api/queries/getVoterAccounts/index.ts
  src/clients/api/queries/getVoterDetails/index.ts
  src/clients/api/queries/getVoterHistory/index.ts
  src/clients/api/queries/getVoters/index.ts
  src/hooks/useOperationModal/Modal/WithdrawForm/__tests__/index.spec.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/ProposalWizard/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/index.tsx
  src/pages/History/index.spec.tsx
  src/pages/History/index.tsx
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: fix script to generate PancakeSwap token list
  package.json
  scripts/generatePancakeSwapTokens.mjs
  src/clients/api/queries/getTokenBalances/index.ts
  src/packages/tokens/scripts/generatePancakeSwapTokenRecords.mjs
  src/pages/Xvs/Table/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: refactor useGetPancakeSwapPairs hook so it does not use multicall3
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getPancakeSwapPairs/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getPancakeSwapPairs/__tests__/index.spec.ts
  src/clients/api/queries/getPancakeSwapPairs/formatToPairs.ts
  src/clients/api/queries/getPancakeSwapPairs/index.ts
  src/clients/api/queries/getPancakeSwapPairs/types.ts
  src/clients/api/queries/getPancakeSwapPairs/useGetPancakeSwapPairs.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.18.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  985172c1b436074b0a073b637ccf762fc00841dc
Due: none

feat: lazy load routes to enable code-splitting
  src/App/Router/PageSuspense/index.tsx
  src/App/Router/index.tsx
  src/pages/Governance/ProposalList/index.tsx
  src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Market/CorePoolMarket/__tests__/index.spec.tsx
  src/pages/Market/CorePoolMarket/index.tsx
  src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Market/IsolatedPoolMarket/__tests__/index.spec.tsx
  src/pages/Market/IsolatedPoolMarket/index.tsx
  src/pages/Market/__snapshots__/index.spec.tsx.snap
  src/pages/Market/index.spec.tsx
  src/pages/Market/index.tsx
  src/pages/Pool/CorePool/__tests__/index.spec.tsx
  src/pages/Pool/CorePool/index.tsx
  src/pages/Pool/IsolatedPool/__tests__/index.spec.tsx
  src/pages/Pool/IsolatedPool/index.tsx
  src/pages/Pool/index.spec.tsx
  src/pages/Pool/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

build: add bundle size analyzer
  .gitignore
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: make lodash imports more granular
  src/pages/Governance/index.spec.tsx
  src/pages/History/Filters/index.stories.tsx
  src/pages/Proposal/index.spec.tsx
  src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

perf: optimise dashboard illustration + separate chart components from index
  src/components/index.ts
  src/pages/Dashboard/ConnectWalletBanner/illustration.png
  src/pages/Dashboard/ConnectWalletBanner/styles.ts
  src/pages/Market/index.stories.tsx
  src/pages/Market/index.tsx
  src/pages/Market/useGetChartData.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update getVaiRepayAmountWithInterests so it does not use multicall3
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVaiRepayAmountWithInterests/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVaiRepayAmountWithInterests/__tests__/index.spec.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/formatToOutput.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/index.spec.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/index.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/types.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/useGetVaiRepayAmountWithInterests.ts
  src/pages/Vai/RepayVai/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update getVaiCalculateRepayAmount so it does not use multicall3
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVaiCalculateRepayAmount/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVaiCalculateRepayAmount/__tests__/index.spec.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/formatToOutput.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/index.spec.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/index.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/types.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/useGetVaiCalculateRepayAmount.ts
  src/pages/Vai/RepayVai/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Vai/RepayVai/__tests__/index.spec.tsx
  src/pages/Vai/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: optimize bundle size and loading (#1406)
  .gitignore
  package.json
  src/App/Router/PageSuspense/index.tsx
  src/App/Router/index.tsx
  src/components/index.ts
  src/pages/Dashboard/ConnectWalletBanner/illustration.png
  src/pages/Dashboard/ConnectWalletBanner/styles.ts
  src/pages/Governance/ProposalList/index.tsx
  src/pages/Governance/index.spec.tsx
  src/pages/History/Filters/index.stories.tsx
  src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Market/CorePoolMarket/__tests__/index.spec.tsx
  src/pages/Market/CorePoolMarket/index.tsx
  src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Market/IsolatedPoolMarket/__tests__/index.spec.tsx
  src/pages/Market/IsolatedPoolMarket/index.tsx
  src/pages/Market/__snapshots__/index.spec.tsx.snap
  src/pages/Market/index.spec.tsx
  src/pages/Market/index.stories.tsx
  src/pages/Market/index.tsx
  src/pages/Market/useGetChartData.ts
  src/pages/Pool/CorePool/__tests__/index.spec.tsx
  src/pages/Pool/CorePool/index.tsx
  src/pages/Pool/IsolatedPool/__tests__/index.spec.tsx
  src/pages/Pool/IsolatedPool/index.tsx
  src/pages/Pool/index.spec.tsx
  src/pages/Pool/index.tsx
  src/pages/Proposal/index.spec.tsx
  src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
  src/utilities/restService.ts
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove multicall3 usage from getPancakeSwapPairs (#1399)
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getPancakeSwapPairs/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getPancakeSwapPairs/__tests__/index.spec.ts
  src/clients/api/queries/getPancakeSwapPairs/formatToPairs.ts
  src/clients/api/queries/getPancakeSwapPairs/index.ts
  src/clients/api/queries/getPancakeSwapPairs/types.ts
  src/clients/api/queries/getPancakeSwapPairs/useGetPancakeSwapPairs.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.19.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  066e3d165a05eb9d8960b561507bcd1a43e782b4
Due: none

refactor: update getTokenBalances so it does not use multicall3
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getTokenBalances/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getTokenBalances/index.spec.ts
  src/clients/api/queries/getTokenBalances/index.ts
  src/clients/api/queries/getTokenBalances/useGetTokenBalances.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove multicall3 usage from getTokenBalances (#1400)
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getTokenBalances/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getTokenBalances/index.spec.ts
  src/clients/api/queries/getTokenBalances/index.ts
  src/clients/api/queries/getTokenBalances/useGetTokenBalances.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.19.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  78271f6a4c255c7ab96e8b6b66659a274e946799
Due: none

fix: include minted VAI balance to total user borrow balance
  src/clients/api/queries/getMainPool/formatToPool.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: include minted VAI balance to total user borrow balance (#1408)
  src/clients/api/queries/getMainPool/formatToPool.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.19.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  aeb274dfbf28fabd8016d0590e2634cf4296365d
Due: none

refactor: restService returns correct API response signature
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
