Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: bump package versions
  .changeset/twelve-eels-cry.md
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: update bottom sections of the Landing page
  .changeset/metal-plums-buy.md
  apps/evm/src/components/Apy/PrimeBadge/index.tsx
  apps/evm/src/components/Delimiter/index.tsx
  apps/evm/src/constants/prime.ts
  apps/evm/src/constants/production.ts
  apps/evm/src/containers/Layout/Footer/constants.ts
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/GaslessStatus/index.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/containers/Layout/constants.ts
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/PrimeStatusBanner/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Landing/Benefits/index.tsx
  apps/evm/src/pages/Landing/Safety/Auditor.tsx
  apps/evm/src/pages/Landing/Safety/Auditor/index.tsx
  apps/evm/src/pages/Landing/Safety/DarkBlueCard/index.tsx
  apps/evm/src/pages/Landing/Safety/OtherAuditors.tsx
  apps/evm/src/pages/Landing/Safety/SafetyScore.tsx
  apps/evm/src/pages/Landing/Safety/SafetyScore/assets/circleBackground.svg
  apps/evm/src/pages/Landing/Safety/SafetyScore/index.tsx
  apps/evm/src/pages/Landing/Safety/assets/score90.svg
  apps/evm/src/pages/Landing/Safety/index.tsx
  apps/evm/src/pages/Landing/VenusPrime/index.tsx
  apps/evm/src/pages/Landing/Wallets/index.tsx
  apps/evm/src/pages/Landing/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/BoostBanner/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/index.tsx
  apps/evm/src/pages/PrimeCalculator/Form/RewardDetails/index.tsx
  apps/evm/src/pages/PrimeCalculator/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update bottom sections of the Landing page (#5280)
  .changeset/metal-plums-buy.md
  apps/evm/src/components/Apy/PrimeBadge/index.tsx
  apps/evm/src/components/Delimiter/index.tsx
  apps/evm/src/constants/prime.ts
  apps/evm/src/constants/production.ts
  apps/evm/src/containers/Layout/Footer/constants.ts
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/GaslessStatus/index.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/containers/Layout/constants.ts
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/PrimeStatusBanner/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Landing/Benefits/index.tsx
  apps/evm/src/pages/Landing/Safety/Auditor.tsx
  apps/evm/src/pages/Landing/Safety/Auditor/index.tsx
  apps/evm/src/pages/Landing/Safety/DarkBlueCard/index.tsx
  apps/evm/src/pages/Landing/Safety/OtherAuditors.tsx
  apps/evm/src/pages/Landing/Safety/SafetyScore.tsx
  apps/evm/src/pages/Landing/Safety/SafetyScore/assets/circleBackground.svg
  apps/evm/src/pages/Landing/Safety/SafetyScore/index.tsx
  apps/evm/src/pages/Landing/Safety/assets/score90.svg
  apps/evm/src/pages/Landing/Safety/index.tsx
  apps/evm/src/pages/Landing/VenusPrime/index.tsx
  apps/evm/src/pages/Landing/Wallets/index.tsx
  apps/evm/src/pages/Landing/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/BoostBanner/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/index.tsx
  apps/evm/src/pages/PrimeCalculator/Form/RewardDetails/index.tsx
  apps/evm/src/pages/PrimeCalculator/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update community section on Landing page
  .changeset/early-maps-carry.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getProposalCount/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposalCount/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalCount/index.ts
  apps/evm/src/clients/api/queries/getProposalCount/useGetProposalCount.ts
  apps/evm/src/clients/api/queries/getProposalsCount/useGetProposalsCount.ts
  apps/evm/src/components/Apy/PrimeBadge/index.tsx
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/constants/production.ts
  apps/evm/src/containers/PrimeStatusBanner/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Landing/Governance/GovernanceForumButton/index.tsx
  apps/evm/src/pages/Landing/Governance/assets/backgroundGradient.svg
  apps/evm/src/pages/Landing/Governance/assets/illustration.png
  apps/evm/src/pages/Landing/Governance/assets/planets.png
  apps/evm/src/pages/Landing/Governance/index.tsx
  apps/evm/src/pages/PrimeCalculator/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/landing/src/api/hooks/useProposals.ts
  apps/landing/src/api/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update community section on Landing page (#5286)
  .changeset/early-maps-carry.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getProposalCount/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposalCount/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalCount/index.ts
  apps/evm/src/clients/api/queries/getProposalCount/useGetProposalCount.ts
  apps/evm/src/clients/api/queries/getProposalsCount/useGetProposalsCount.ts
  apps/evm/src/components/Apy/PrimeBadge/index.tsx
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/constants/production.ts
  apps/evm/src/containers/PrimeStatusBanner/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Landing/Governance/GovernanceForumButton/index.tsx
  apps/evm/src/pages/Landing/Governance/assets/backgroundGradient.svg
  apps/evm/src/pages/Landing/Governance/assets/illustration.png
  apps/evm/src/pages/Landing/Governance/assets/planets.png
  apps/evm/src/pages/Landing/Governance/index.tsx
  apps/evm/src/pages/PrimeCalculator/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/landing/src/api/hooks/useProposals.ts
  apps/landing/src/api/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): new landing phase 2
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Landing/Protection/assets/protection.png
  apps/evm/src/pages/Landing/Protection/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): migrate policy and terms page
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/constants/production.ts
  apps/evm/src/containers/Legal/index.tsx
  apps/evm/src/pages/PrivacyPolicy/index.tsx
  apps/evm/src/pages/TermsOfUse/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): new landing phase 2 done
  apps/evm/src/pages/Landing/Governance/assets/governanceBg.png
  apps/evm/src/pages/Landing/Governance/assets/governanceIllu.png
  apps/evm/src/pages/Landing/Hero/index.tsx
  apps/evm/src/pages/Landing/Protection/index.tsx
  apps/evm/src/pages/Landing/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): update i18n content, add changeset
  .changeset/evil-doodles-tell.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

style(evm): update protection styles
  apps/evm/src/pages/Landing/Protection/assets/bugBounty.png
  apps/evm/src/pages/Landing/Protection/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): changes based on reviews
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/constants/production.ts
  apps/evm/src/constants/routing.ts
  apps/evm/src/pages/Landing/Governance/assets/governanceBg.png
  apps/evm/src/pages/Landing/Governance/assets/governanceIllu.png
  apps/evm/src/pages/Landing/index.tsx
  apps/evm/src/pages/PrivacyPolicy/index.tsx
  apps/evm/src/pages/TermsOfUse/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: replace burned WBNB button with Claim rewards button
  .changeset/wet-signs-call.md
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/parachute.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/BurnedWBnbButton/icon.svg
  apps/evm/src/containers/Layout/NavBar/BurnedWBnbButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/ClaimRewardsContent/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/ExternalRewardGroup/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/InternalRewardGroup/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/RewardGroupContent/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/RewardGroupFrame/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/__testUtils__/fakeData.ts
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/types.ts
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/useGetGroups.ts
  apps/evm/src/containers/Layout/NavBar/NavButtonWrapper/index.tsx
  apps/evm/src/containers/Layout/NavBar/index.tsx
  apps/evm/src/pages/Dashboard/Pools/Positions/Tables/index.tsx
  apps/evm/src/pages/Markets/Assets/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: make Dependabot ignore major version upgrades
  .github/dependabot.yml
Due: none

feat: update nav bar content in preparation for the phase 1 release
  apps/evm/src/components/Icon/index.stories.tsx
  apps/evm/src/components/Icon/index.tsx
  apps/evm/src/components/Modal/index.tsx
  apps/evm/src/components/Modal/styles.ts
  apps/evm/src/components/Pagination/index.tsx
  apps/evm/src/components/Pagination/styles.ts
  apps/evm/src/components/Table/Head.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/SubMenuContent/SubMenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/venusFluxIcon.png
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

style(evm): update landing styles
  apps/evm/src/pages/Landing/Governance/index.tsx
  apps/evm/src/pages/Landing/Protection/index.tsx
  apps/evm/src/pages/Landing/VenusPrime/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): review feedbacks, update footer links
  apps/evm/src/constants/production.ts
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/pages/Landing/Protection/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: minor design tweaks
  apps/evm/src/constants/production.ts
  apps/evm/src/pages/Landing/Protection/ProtectionCard/index.tsx
  apps/evm/src/pages/Landing/Protection/index.tsx
  apps/evm/src/pages/Landing/VenusPrime/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add responsive menu (#5220)
  .changeset/shy-oranges-shine.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/components/Dropdown/index.tsx
  apps/evm/src/components/Dropdown/types.ts
  apps/evm/src/components/Icon/icons/gearFull.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/containers/Layout/Header/usePathNodes/PoolName/index.tsx
  apps/evm/src/containers/Layout/NavBar/BurnedWBnbButton/icon.svg
  apps/evm/src/containers/Layout/NavBar/BurnedWBnbButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/GaslessStatus/index.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/NavBar/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/SubMenuContent/SubMenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/SubMenuContent/index.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/MobileMenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/NavButtonWrapper/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/GaslessTransactionSetting/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/index.tsx
  apps/evm/src/containers/Layout/NavBar/SettingsButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/index.tsx
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/index.tsx
  apps/evm/src/pages/Pools/PoolTable/index.tsx
  apps/evm/src/pages/Pools/PoolTable/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update components to match new UI kit (#5252)
  .changeset/yummy-otters-brush.md
  apps/evm/src/components/ButtonGroup/index.tsx
  apps/evm/src/components/ButtonGroup/styles.tsx
  apps/evm/src/components/Card/index.tsx
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/components/Tabs/index.tsx
  apps/evm/src/components/Tabs/styles.tsx
  apps/evm/src/components/TokenTextField/index.tsx
  apps/evm/src/components/Wrapper/index.tsx
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/containers/Link/index.tsx
  apps/evm/src/containers/SwitchChain/index.tsx
  apps/evm/src/pages/Dashboard/Placeholder/index.tsx
  apps/evm/src/pages/Dashboard/PrimeBanner/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/EModeBanner/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/Banner/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/BlockingPosition/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Proposal/Description/styles.ts
  packages/ui/src/components/Button/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for multiple languages (#5226)
  .changeset/wild-friends-relax.md
  apps/evm/i18next-parser.config.js
  apps/evm/package.json
  apps/evm/src/components/Modal/index.tsx
  apps/evm/src/components/Select/types.ts
  apps/evm/src/containers/Layout/NavBar/MenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/GaslessTransactionSetting/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/LanguageSetting/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/index.tsx
  apps/evm/src/libs/translations/constants/index.ts
  apps/evm/src/libs/translations/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/libs/translations/useTranslation/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): landing phase2 (#5279)
  .changeset/evil-doodles-tell.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/constants/production.ts
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/containers/Legal/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Landing/Governance/index.tsx
  apps/evm/src/pages/Landing/Hero/index.tsx
  apps/evm/src/pages/Landing/Protection/ProtectionCard/index.tsx
  apps/evm/src/pages/Landing/Protection/assets/bugBounty.png
  apps/evm/src/pages/Landing/Protection/assets/protection.png
  apps/evm/src/pages/Landing/Protection/index.tsx
  apps/evm/src/pages/Landing/VenusPrime/index.tsx
  apps/evm/src/pages/Landing/index.tsx
  apps/evm/src/pages/PrivacyPolicy/index.tsx
  apps/evm/src/pages/TermsOfUse/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update nav bar content in preparation for the phase 1 release (#5289)
  apps/evm/src/components/Icon/index.stories.tsx
  apps/evm/src/components/Icon/index.tsx
  apps/evm/src/components/Modal/index.tsx
  apps/evm/src/components/Modal/styles.ts
  apps/evm/src/components/Pagination/index.tsx
  apps/evm/src/components/Pagination/styles.ts
  apps/evm/src/components/Table/Head.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/SubMenuContent/SubMenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/venusFluxIcon.png
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: replace burned WBNB button with Claim rewards button (#5287)
  .changeset/tiny-doors-poke.md
  .changeset/wet-signs-call.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/parachute.tsx
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/BurnedWBnbButton/icon.svg
  apps/evm/src/containers/Layout/NavBar/BurnedWBnbButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/ClaimRewardsContent/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/ExternalRewardGroup/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/InternalRewardGroup/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/RewardGroupContent/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/RewardGroupFrame/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/__testUtils__/fakeData.ts
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/types.ts
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/useGetGroups.ts
  apps/evm/src/containers/Layout/NavBar/NavButtonWrapper/index.tsx
  apps/evm/src/containers/Layout/NavBar/index.tsx
  apps/evm/src/containers/ProposalCard/styles.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Pools/Positions/Tables/index.tsx
  apps/evm/src/pages/Markets/Assets/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: temp commit to test PT token listing
  .changeset/happy-webs-invite.md
Due: none

fix(evm): 495,504,508,514
  apps/evm/src/components/Tooltip/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/pages/Dashboard/PerformanceChart/index.tsx
  apps/evm/src/pages/Landing/VenusPrime/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: logic to determine if user has enabled asset as collateral
  .changeset/eleven-ravens-look.md
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix(evm): new landing fixes (#5297)
  apps/evm/src/components/Tooltip/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/pages/Dashboard/PerformanceChart/index.tsx
  apps/evm/src/pages/Landing/VenusPrime/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: logic to determine if user has enabled asset as collateral (#5299)
  .changeset/eleven-ravens-look.md
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/eleven-ravens-look.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: make Dependabot ignore major version upgrades (#5288)
  .github/dependabot.yml
Due: none

chore: add changeset
  .changeset/eighty-points-clap.md
Due: none

feat: support yield-to-maturity APY
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/formatRewardDistribution/index.ts
  apps/evm/src/components/Apy/BoostTooltip/index.tsx
  apps/evm/src/pages/Market/OperationForm/ApyBreakdown/formatRows/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
