Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/better-carpets-run.md
  .changeset/major-snails-win.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/busy-symbols-rest.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/sad-snakes-roll.md
Due: none

feat: change protected balance to protected limit used
  apps/evm/src/components/AccountHealthBar/index.tsx
  apps/evm/src/containers/AccountData/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Markets/Positions/Summary/index.tsx
  apps/evm/src/pages/YieldPlus/AccountHealth/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update dep
  apps/evm/src/components/AccountHealthBar/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable Trade on BSC mainnet
  .changeset/happy-maps-lead.md
  apps/evm/src/clients/api/queries/getSwapQuote/useGetSwapQuote.ts
  apps/evm/src/clients/api/queries/getTradeReduceSwapQuotes/useGetTradeReduceSwapQuotes/index.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update cross chain governance subgraphs
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update dep
  apps/evm/src/components/AccountHealthBar/index.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: incorrectly named API params
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/formatApiTransaction/formatToTradeTransaction/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/types.ts
  apps/evm/src/components/TransactionsList/TransactionRow/Events/Event/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update doc URL
  apps/evm/src/components/AccountHealthBar/index.tsx
  apps/evm/src/pages/Trade/Banner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add ad banner
  apps/evm/src/containers/AdBanner/TradeBanner/illustration.png
  apps/evm/src/containers/AdBanner/TradeBanner/index.tsx
  apps/evm/src/containers/AdBanner/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: chart resizing
  apps/evm/src/components/KLineChart/index.tsx
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable Trade on mainnet (#5564)
  .changeset/happy-maps-lead.md
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/formatApiTransaction/formatToTradeTransaction/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/types.ts
  apps/evm/src/clients/api/queries/getSwapQuote/useGetSwapQuote.ts
  apps/evm/src/clients/api/queries/getTradeReduceSwapQuotes/useGetTradeReduceSwapQuotes/index.ts
  apps/evm/src/components/AccountHealthBar/index.tsx
  apps/evm/src/components/KLineChart/index.tsx
  apps/evm/src/components/TransactionsList/TransactionRow/Events/Event/index.tsx
  apps/evm/src/containers/AdBanner/TradeBanner/illustration.png
  apps/evm/src/containers/AdBanner/TradeBanner/index.tsx
  apps/evm/src/containers/AdBanner/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Trade/Banner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/happy-maps-lead.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: update cross chain governance subgraphs (#5566)
  .changeset/sad-snakes-roll.md
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/sad-snakes-roll.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: enable vTHE withdraw
  .changeset/curly-points-kiss.md
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/curly-points-kiss.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: change btn position
  apps/evm/src/pages/Landing/Hero/HeroTabs/TabContent/index.tsx
  apps/evm/src/pages/Landing/Hero/HeroTabs/index.tsx
  apps/evm/src/pages/Landing/Hero/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Landing/Hero/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: hidden section
  apps/evm/src/pages/Landing/Hero/HeroTabs/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: lint style
  apps/evm/src/components/Icon/icons/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/big-moles-arrive.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

Revert "feat: chain sunset of Unichain, opBNB, and Optimism"
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/sunset.tsx
  apps/evm/src/constants/sunsetChains/index.ts
  apps/evm/src/containers/AdBanner/Banner/index.tsx
  apps/evm/src/containers/AdBanner/IsolatedPoolsSunsetBanner/index.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/SunsetIndicator/SunsetModal.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/SunsetIndicator/index.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/sunsetModalStore.ts
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Landing/Hero/coinIconRow.svg
  apps/evm/src/utilities/isSunsetChain/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: ignore sunset chain top borrow top supply filter
  apps/evm/src/pages/Landing/Hero/HeroTabs/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: ignore sunset chain top borrow top supply filter
  .changeset/real-impalas-cut.md
Due: none

feat: support hover dropdown
  apps/evm/src/components/Dropdown/index.tsx
  apps/evm/src/components/Dropdown/types.ts
  apps/evm/src/containers/Layout/NavBar/MenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/types.ts
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/real-impalas-cut.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: hidden card cloumns
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/pages/Markets/Header/index.tsx
  apps/evm/src/pages/Markets/Tabs/Markets/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: landing page style update
  .changeset/quiet-peaches-brake.md
Due: none

fix: ci import error
  apps/evm/src/pages/Landing/Hero/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: ci import error
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

feat: add month10 active
  apps/evm/src/pages/Landing/Hero/HeroTabs/TabContent/Earnings/BarChart/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update doc url
  apps/evm/src/constants/production.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update borrow limit to protect
  apps/evm/src/components/AccountHealthBar/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
