Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: bump @venusprotocol/venus-protocol to 7.0.0-dev.3
  package.json
  yarn.lock
Due: prettier --write --check

feat: update borrow/supply cap tooltips
  src/packages/translations/translations/en.json
Due: prettier --write --check

refactor: move Prime supply/borrow averages to constants
  src/clients/api/queries/getLegacyPool/appendPrimeSimulationDistributions.ts
  src/constants/prime.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.70.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  d9/8ab67f936296f5e5b669f4f6f681ca2c7ce7e7
Due: none

feat: update date-fns imports
  src/components/charts/ApyChart/formatToReadableDate.ts
  src/pages/Proposal/ProposalSummary/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable minting VAI
  src/pages/Vai/MintVai/Form/index.tsx
  src/pages/Vai/MintVai/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update mintableVai logic
  src/__mocks__/contracts/vai.ts
  src/__mocks__/contracts/vaiController.ts
  src/clients/api/queries/getMintableVai/formatToOutput.ts
  src/clients/api/queries/getMintableVai/index.spec.ts
  src/clients/api/queries/getMintableVai/index.ts
  src/clients/api/queries/getMintableVai/types.ts
  src/clients/api/queries/getMintableVai/useGetMintableVai.ts
  src/pages/Vai/MintVai/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add blockTimeMs as the refetchInterval to useGetMintableVai
  src/clients/api/queries/getMintableVai/useGetMintableVai.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.70.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  de/3070249fa2534e5abfabb7139eab25b9c051c6
Due: none

chore(release): 2.71.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  38/bdfefd2f983f6111845240fd92e94ae62f0c86
Due: none

feat: send accountAddress or NULL_ACCOUNT to claimTimeRemaining
  src/clients/api/queries/getPrimeStatus/index.ts
  src/clients/api/queries/getPrimeStatus/useGetPrimeStatus.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: activate primeCalculator feature flag on BSC_MAINNET
  src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up Prime calculator
  src/clients/api/queries/getHypotheticalPrimeApys/index.spec.ts
  src/clients/api/queries/getHypotheticalPrimeApys/index.ts
  src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  src/clients/api/queries/getPrimeStatus/index.ts
  src/clients/api/queries/useGetPrimeEstimation/index.ts
  src/constants/prime.ts
  src/packages/translations/translations/en.json
  src/pages/PrimeCalculator/Form/Field/index.tsx
  src/pages/PrimeCalculator/Form/RewardDetails/TokenAmountAndApy/index.tsx
  src/pages/PrimeCalculator/Form/RewardDetails/index.tsx
  src/pages/PrimeCalculator/Form/getInitialValues.ts
  src/pages/PrimeCalculator/Form/index.tsx
  src/pages/PrimeCalculator/Form/validateNumericString.ts
  src/pages/PrimeCalculator/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: update Prime calculator tests
  src/__mocks__/models/primeEstimation.ts
  src/clients/api/__mocks__/index.ts
  src/clients/api/queries/getPrimeStatus/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getPrimeStatus/index.spec.ts
  src/pages/PrimeCalculator/Form/index.tsx
  src/pages/PrimeCalculator/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: avoid form reset when window loses focus
  src/pages/PrimeCalculator/Form/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add coverage for getPrimeDistributionForMarket
  src/clients/api/queries/getPrimeDistributionForMarket/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getPrimeDistributionForMarket/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump @venusprotocol/venus-protocol to 7.0.0
  package.json
  yarn.lock
Due: prettier --write --check

chore(release): 2.72.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  28/1c29f42a965ecf4038e26e86e01df3a9f7d620
Due: none

chore(release): 2.72.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  19/61fa16516b575f65420ca07b5258232a7c2ae3
Due: none

chore(release): 2.72.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  c8/5529c4fe91e5aa1398c88edaac3b98f7b79b38
Due: none

chore(release): 2.72.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  fd/f116962e466f0e572a8c6ba33285fa7dabfb90
Due: none

chore(release): 2.72.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  2f/a93e6fc3ac7c85128939ea04518319101ac9be
Due: none

chore(release): 2.72.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ea/09f6d3cbe08e9161a046ba73038bc346284b46
Due: none

chore(release): 2.73.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  90/af92f0a4e60bc0de269372269b2e108e748028
Due: none

chore(release): 2.73.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  56/7e3cba7defc358a27e1adb378b0b4cf88c76aa
Due: none

chore(release): 2.73.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  80/71ca910fe7bac3f792028cd995e882e86c8d2b
Due: none

fix: hide Prime status banner when no user is logged in
  src/pages/Vault/VaultItem/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: chain ID detection from URL in getChainId function
  src/packages/wallet/utilities/getChainId/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
