Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: add controls to MarketTable
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/styles.ts
  apps/evm/src/components/Table/types.ts
  apps/evm/src/components/Toggle/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/MarketTable/pause.svg
  apps/evm/src/hooks/useUserChainSettings/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/Tables/index.tsx
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/store/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add tests
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/MarketTable/__tests__/index.spec.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/hooks/useCollateral/__mocks__/index.tsx
  apps/evm/src/hooks/useCollateral/index.tsx
  apps/evm/src/hooks/useSendTransaction/__tests__/index.gaslessTransactions.spec.tsx
  apps/evm/src/hooks/useUserChainSettings/__mocks__/index.tsx
  apps/evm/src/hooks/useUserChainSettings/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/index.tsx
  apps/evm/src/setupTests.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/curvy-items-kiss.md
  apps/evm/package.json
  apps/evm/src/hooks/useUserChainSettings/__tests__/index.spec.tsx
  apps/evm/src/hooks/useUserChainSettings/index.tsx
  apps/evm/src/store/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add burned WBNB banner
  apps/evm/src/clients/api/queries/getBurnedWBnb/index.ts
  apps/evm/src/constants/burnedWBnb.ts
  apps/evm/src/containers/Layout/BurnedWBnbButton/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Dashboard/Carousel/BurnedWBnbBanner/illustration.jpg
  apps/evm/src/pages/Dashboard/Carousel/BurnedWBnbBanner/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use latest API price endpoint
  .changeset/fair-mice-repeat.md
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getApiTokenPrice/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add controls and placeholder to MarketTable (#4484)
  .changeset/curvy-items-kiss.md
  apps/evm/package.json
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/styles.ts
  apps/evm/src/components/Table/types.ts
  apps/evm/src/components/TagGroup/index.tsx
  apps/evm/src/components/Toggle/index.tsx
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/MarketTable/__tests__/index.spec.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/MarketTable/pause.svg
  apps/evm/src/hooks/useCollateral/__mocks__/index.tsx
  apps/evm/src/hooks/useCollateral/index.tsx
  apps/evm/src/hooks/useSendTransaction/__tests__/index.gaslessTransactions.spec.tsx
  apps/evm/src/hooks/useUserChainSettings/__mocks__/index.tsx
  apps/evm/src/hooks/useUserChainSettings/__tests__/index.spec.tsx
  apps/evm/src/hooks/useUserChainSettings/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/Tables/index.tsx
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/index.tsx
  apps/evm/src/setupTests.tsx
  apps/evm/src/store/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: upgrade wagmi to latest version (#4463)
  .changeset/violet-mice-notice.md
  yarn.lock
Due: none

feat: wire up Import Positions feature (#4435)
  apps/evm/package.json
  apps/evm/src/hooks/useGetProfitableImports/filterProfitableImports/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add burned WBNB button (#4447)
  .changeset/eager-forks-think.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up Import Positions modal
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/constants/functionKey.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add boundaries to importable positions
  apps/evm/src/__mocks__/models/importablePositions.ts
  apps/evm/src/clients/api/mutations/useImportSupplyPosition/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getImportablePositions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/constants/importPositions.ts
  apps/evm/src/containers/ImportablePositions/Notice/index.tsx
  apps/evm/src/containers/ImportablePositions/index.tsx
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useGetProfitableImports/filterProfitableImports/index.tsx
  apps/evm/src/hooks/useShouldDisplayImportUi/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove code related to Maxwell hardfork (#4464)
  .changeset/mighty-ducks-punch.md
Due: none

chore: bump package versions
  .changeset/mighty-ducks-punch.md
  .changeset/violet-mice-notice.md
Due: none

chore: add changeset
  .changeset/loud-melons-switch.md
  apps/evm/package.json
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/libs/analytics/useAnalytics.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add analytics
  apps/evm/src/containers/ImportPositionsModal/Modal/index.tsx
  apps/evm/src/containers/ImportablePositions/ProtocolPositions/Position/index.tsx
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/hooks/useShouldDisplayImportUi/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: improve error handling
  apps/evm/package.json
  apps/evm/src/containers/ImportablePositions/ProtocolPositions/Position/index.tsx
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useGetProfitableImports/filterProfitableImports/index.tsx
  apps/evm/src/hooks/useGetProfitableImports/formatProfitableImports/index.tsx
  apps/evm/src/hooks/useUserChainSettings/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/violet-facts-dance.md
Due: none

feat: add temporary record to support the vBNB underlying transition
  apps/evm/src/constants/address.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/curvy-items-kiss.md
  .changeset/eager-forks-think.md
  .changeset/loud-melons-switch.md
  .changeset/polite-ghosts-cheat.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: always show Import page
  .changeset/eighty-walls-build.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/containers/ImportPositionsModal/index.tsx
  apps/evm/src/containers/ImportablePositions/index.tsx
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useGetProfitableImports/index.tsx
  apps/evm/src/hooks/useShouldDisplayImportUi/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add burned WBNB banner
  .changeset/small-rooms-bow.md
  apps/evm/src/clients/api/queries/getBurnedWBnb/index.ts
  apps/evm/src/constants/burnedWBnb.ts
  apps/evm/src/containers/Layout/BurnedWBnbButton/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Dashboard/Carousel/BurnedWBnbBanner/illustration.jpg
  apps/evm/src/pages/Dashboard/Carousel/BurnedWBnbBanner/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/violet-facts-dance.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: always show Port page (#4501)
  .changeset/eighty-walls-build.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/containers/ImportPositionsModal/index.tsx
  apps/evm/src/containers/ImportablePositions/index.tsx
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useGetProfitableImports/index.tsx
  apps/evm/src/hooks/useShouldDisplayImportUi/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/eighty-walls-build.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: only show import position modal if user has importable positions
  .changeset/gentle-taxes-bake.md
  apps/evm/src/containers/ImportPositionsModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only show import position modal if user has importable positions (#4508)
  .changeset/gentle-taxes-bake.md
  apps/evm/src/containers/ImportPositionsModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/gentle-taxes-bake.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/wide-carrots-cover.md
Due: none

test: update price mocks
  apps/evm/src/__mocks__/api/pools.json
  apps/evm/src/__mocks__/api/prices.json
  apps/evm/src/clients/api/mutations/useSupply/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/mutations/useSwapTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/mutations/useSwapTokens/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useWithdraw/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getTokenBalances/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/hooks/useGetSwapInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Swap/__tests__/__snapshots__/index.spec.tsx.snap
  packages/chains/src/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use new token price structure from the API
  apps/evm/src/clients/api/queries/getPendingRewards/getApiTokenPrice/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/constants/address.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add burned WBNB banner (#4490)
  .changeset/small-rooms-bow.md
  apps/evm/src/clients/api/queries/getBurnedWBnb/index.ts
  apps/evm/src/constants/burnedWBnb.ts
  apps/evm/src/containers/Layout/BurnedWBnbButton/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Dashboard/Carousel/BurnedWBnbBanner/illustration.jpg
  apps/evm/src/pages/Dashboard/Carousel/BurnedWBnbBanner/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/small-rooms-bow.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: fix APY percentage sent in analytics when importing position
  .changeset/plenty-pigs-glow.md
  apps/evm/src/containers/ImportablePositions/ProtocolPositions/Position/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove temporary token records
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: format to token prices mapping
  apps/evm/src/clients/api/mutations/useSupply/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getApiTokenPrice/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: choose reward token price by the ordering criteria
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/three-cloths-create.md
Due: none
