Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: add Unichain Mainnet
  apps/evm/.env.template
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/pointDistributions/index.ts
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/rpcUrls.ts
  apps/evm/src/config/subgraphUrls.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/index.ts
  apps/evm/src/libs/tokens/infos/vTokens/unichainMainnet.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/chainMetadata.ts
  packages/chains/src/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable marketParticipantCounts on UNICHAIN_MAINNET
  apps/evm/src/config/subgraphUrls.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update alchemy env var
  .github/workflows/cd.yaml
Due: none

feat: add unichain mainnet NTG address
  apps/evm/src/libs/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Unichain promotional material
  .changeset/hot-apples-happen.md
  .gitignore
  apps/evm/.storybook/preview.ts
  apps/evm/package.json
  apps/evm/src/App/index.tsx
  apps/evm/src/assets/styles/index.css
  apps/evm/src/components/Carousel/index.tsx
  apps/evm/src/containers/ThemeHandler/index.tsx
  apps/evm/src/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
  apps/evm/src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Banner/Template/index.tsx
  apps/evm/src/pages/Dashboard/Banner/UnichainPromotionalBanner/background.svg
  apps/evm/src/pages/Dashboard/Banner/UnichainPromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Banner/UnichainPromotionalBanner/logo.svg
  apps/evm/src/pages/Dashboard/Banner/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Banner/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/Dashboard/Banner/index.tsx
  apps/evm/src/theme/MuiThemeProvider/muiTheme.ts
  apps/evm/src/theme/index.ts
  apps/evm/src/types/global.d.ts
  apps/evm/src/types/mui.d.ts
  apps/landing/package.json
  apps/landing/src/assets/styles/variables.css
  apps/landing/src/components/Banner/Banner.module.css
  apps/landing/src/components/Banner/Banner.tsx
  apps/landing/src/components/Banner/assets/arrow.svg
  apps/landing/src/components/Banner/assets/circles.svg
  apps/landing/src/components/Banner/assets/close.svg
  apps/landing/src/components/Banner/assets/squares.svg
  apps/landing/src/components/Banner/assets/unichainLogo.svg
  apps/landing/src/components/Footer/Footer.tsx
  apps/landing/src/components/Header/Header.tsx
  apps/landing/src/components/Header/MenuMobile.tsx
  apps/landing/src/components/Link/Link.tsx
  apps/landing/src/components/MainContent/Intro.tsx
  apps/landing/src/constants/production.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update BSC governance subgraph URL
  .changeset/lovely-ears-repair.md
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: hide graph legends and average APY in Market page when there is no data
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/Page/MarketHistory/Card/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/lovely-ears-repair.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: color of delimiters on Vault page
  apps/evm/src/pages/Vault/VaultItem/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove hyphens from Unichain promotional banner content
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

chore: bump package versions
  .changeset/hot-apples-happen.md
  .changeset/slow-panthers-occur.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

fix: failed remote proposal state detection
  .changeset/tender-cheetahs-tell.md
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/getRemoteProposalState/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add points distribution for weETHs market in Core Pool on ETH
  .changeset/violet-plums-chew.md
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/pointDistributions/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: token contract buttons
  .changeset/khaki-pumpkins-compete.md
  apps/evm/src/containers/Layout/Header/MarketInfo/AddTokenToWalletDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/DropdownToggleButton/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/GoToTokenContractDropdown/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add points distribution for weETHs market in Core Pool on ETH (#3901)
  .changeset/violet-plums-chew.md
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/pointDistributions/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: failed remote proposal state detection (#3900)
  .changeset/tender-cheetahs-tell.md
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/getRemoteProposalState/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: token contract buttons style (#3902)
  .changeset/khaki-pumpkins-compete.md
  apps/evm/src/containers/Layout/Header/MarketInfo/AddTokenToWalletDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/DropdownToggleButton/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/GoToTokenContractDropdown/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/khaki-pumpkins-compete.md
  .changeset/tender-cheetahs-tell.md
  .changeset/violet-plums-chew.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/lucky-mugs-try.md
Due: none

fix: filter errors thrown by canceled requests
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/wild-rockets-count.md
Due: none

chore: add changeset
  .changeset/mean-otters-wink.md
Due: none

fix: use SafePal Android friendly QR code colors
  apps/evm/src/libs/wallet/Web3Wrapper/ConnectKitWrapper/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: height of Dashboard carousel
  .changeset/rude-lies-beam.md
  apps/evm/src/pages/Dashboard/Carousel/PrimePromotionalBanner/boostsIllustration.png
  apps/evm/src/pages/Dashboard/Carousel/PrimePromotionalBanner/illustrationSm.png
  apps/evm/src/pages/Dashboard/Carousel/PrimePromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/PrimePromotionalBanner/primeTokenIllustration.png
  apps/evm/src/pages/Dashboard/Carousel/Template/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/background.svg
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/logo.svg
  apps/evm/src/pages/Dashboard/Carousel/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Carousel/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/Dashboard/Carousel/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add background illustration when connected to Unichain network
  .changeset/spicy-toys-exercise.md
  apps/evm/src/containers/Layout/Header/index.tsx
  apps/evm/src/containers/Layout/Header/unichainBackground.svg
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/containers/ThemeHandler/index.tsx
  apps/evm/src/hooks/useIsOnUnichain/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/mean-otters-wink.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: use specific deployment ID in the Unichain subgraph URL
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: replace heavy SVG token icons with PNGs (#3891)
  .changeset/mean-dogs-appear.md
  apps/evm/src/libs/tokens/img/underlyingTokens/crv.png
  apps/evm/src/libs/tokens/img/underlyingTokens/crv.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/crvUsd.png
  apps/evm/src/libs/tokens/img/underlyingTokens/crvUsd.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/ptWeeth.png
  apps/evm/src/libs/tokens/img/underlyingTokens/ptWeeth.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/pufEth.png
  apps/evm/src/libs/tokens/img/underlyingTokens/pufEth.svg
  apps/evm/src/libs/tokens/img/vTokens/vCrvCurve.png
  apps/evm/src/libs/tokens/img/vTokens/vCrvCurve.svg
  apps/evm/src/libs/tokens/img/vTokens/vCrvUsdCore.png
  apps/evm/src/libs/tokens/img/vTokens/vCrvUsdCore.svg
  apps/evm/src/libs/tokens/img/vTokens/vCrvUsdCurve.png
  apps/evm/src/libs/tokens/img/vTokens/vCrvUsdCurve.svg
  apps/evm/src/libs/tokens/img/vTokens/vPufEthLsEth.png
  apps/evm/src/libs/tokens/img/vTokens/vPufEthLsEth.svg
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/vTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/mean-dogs-appear.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/lucky-mugs-try.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add background illustration when connected to Unichain network (#3912)
  .changeset/spicy-toys-exercise.md
  apps/evm/src/containers/Layout/Header/index.tsx
  apps/evm/src/containers/Layout/Header/unichainBackground.svg
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/containers/ThemeHandler/index.tsx
  apps/evm/src/hooks/useIsOnUnichain/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/spicy-toys-exercise.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: height of Dashboard carousel (#3903)
  .changeset/rude-lies-beam.md
  apps/evm/src/pages/Dashboard/Carousel/PrimePromotionalBanner/boostsIllustration.png
  apps/evm/src/pages/Dashboard/Carousel/PrimePromotionalBanner/illustrationSm.png
  apps/evm/src/pages/Dashboard/Carousel/PrimePromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/PrimePromotionalBanner/primeTokenIllustration.png
  apps/evm/src/pages/Dashboard/Carousel/Template/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/background.svg
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/logo.svg
  apps/evm/src/pages/Dashboard/Carousel/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Carousel/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/Dashboard/Carousel/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/rude-lies-beam.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add URL of Unichain Sepolia subgraph
  .changeset/wicked-guests-rescue.md
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wild-rockets-count.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: enable bridge on Unichain mainnet
  .changeset/famous-onions-sell.md
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/index.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: scale Unichain background with resolution
  .changeset/three-rockets-applaud.md
  apps/evm/src/containers/Layout/Header/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: scale Unichain background with resolution (#3915)
  .changeset/three-rockets-applaud.md
  apps/evm/src/containers/Layout/Header/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add URL of Unichain Sepolia subgraph (#3913)
  .changeset/wicked-guests-rescue.md
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
