Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: fix lint style
  apps/evm/src/utilities/calculateUserPoolValues/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support mobile style
  apps/evm/src/components/AccountHealthBar/index.tsx
  apps/evm/src/components/LabeledProgressBar/styles.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: lint style
  apps/evm/src/components/ProgressBar/index.stories.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: change color
  apps/evm/src/components/AccountHealthBar/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove useless key
  apps/evm/src/components/AccountHealthBar/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove probable banner
  apps/evm/src/containers/AdBanner/ProbableBanner/index.tsx
  apps/evm/src/containers/AdBanner/ProbableBanner/probableIcon.png
  apps/evm/src/containers/AdBanner/ProbableBanner/probaleIcon.png
  apps/evm/src/containers/AdBanner/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update test
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

chore: changeset
  .changeset/itchy-moments-serve.md
Due: none

chore: delete hosted images of old chains package versions (#5473)
  .changeset/breezy-lines-hide.md
  packages/chains/package.json
  packages/chains/src/scripts/deployImages/removeOutdatedImages/__tests__/index.spec.ts
  packages/chains/src/scripts/deployImages/removeOutdatedImages/index.ts
  packages/chains/src/scripts/deployImages/uploadImages/__tests__/index.spec.ts
  packages/chains/src/scripts/deployImages/uploadImages/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: stats page
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/stats.tsx
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Stats/Header/illustration.png
  apps/evm/src/pages/Stats/Header/index.tsx
  apps/evm/src/pages/Stats/StatsIframe/index.tsx
  apps/evm/src/pages/Stats/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: stats page i18n
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Stats/Header/index.tsx
  apps/evm/src/pages/Stats/StatsIframe/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add loading && link
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Stats/StatsIframe/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: lint error
  apps/evm/src/pages/Stats/StatsIframe/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update i18n key
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

fix(evm): use fixed xvs price on zk chain
  .changeset/legal-tables-accept.md
  apps/evm/src/clients/api/queries/getTokenUsdPrice/useGetTokenUsdPrice.ts
  apps/evm/src/pages/Vaults/Overview/index.tsx
  apps/evm/src/utilities/xvsPriceOnZk/constants.ts
  apps/evm/src/utilities/xvsPriceOnZk/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: link inject
  apps/evm/src/pages/Stats/StatsIframe/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): update price to cents
  apps/evm/src/clients/api/queries/getTokenUsdPrice/useGetTokenUsdPrice.ts
  apps/evm/src/pages/Vaults/Overview/index.tsx
  apps/evm/src/utilities/xvsPriceOnZk/constants.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: i18n
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

test(evm): add test cases
  apps/evm/src/clients/api/queries/getTokenUsdPrice/__tests__/useGetTokenUsdPrice.spec.ts
  apps/evm/src/pages/Vaults/Overview/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

hotfix(evm): disable xvs pricing on zk chain (#5482)
  .changeset/legal-tables-accept.md
  apps/evm/src/clients/api/queries/getTokenUsdPrice/__tests__/useGetTokenUsdPrice.spec.ts
  apps/evm/src/clients/api/queries/getTokenUsdPrice/useGetTokenUsdPrice.ts
  apps/evm/src/pages/Vaults/Overview/__tests__/index.spec.tsx
  apps/evm/src/pages/Vaults/Overview/index.tsx
  apps/evm/src/utilities/xvsPriceOnZk/constants.ts
  apps/evm/src/utilities/xvsPriceOnZk/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use LT instead CF when CF=0
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update suggestion
  apps/evm/src/components/AccountHealthBar/index.tsx
  apps/evm/src/components/LabeledProgressBar/styles.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

Revert "feat: use LT instead CF when CF=0"
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add protect
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update dashboard test
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

feat: update test
  apps/evm/src/containers/AccountData/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Markets/Positions/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Markets/Positions/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

feat: update test
  apps/evm/src/pages/Dashboard/Markets/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

feat: add flag to dashboard
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add dashboard
  .changeset/pink-items-search.md
Due: none

feat: update hidden title
  apps/evm/src/pages/Stats/StatsIframe/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support &lt; to <
  apps/evm/src/components/AccountHealthBar/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): pendle vault
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getVaultProducts/index.ts
  apps/evm/src/clients/api/queries/getVaultProducts/types.ts
  apps/evm/src/clients/api/queries/getVaultProducts/useFormatToVault.ts
  apps/evm/src/clients/api/queries/getVaultProducts/useGetVaultProducts.ts
  apps/evm/src/clients/api/queries/useGetVaults/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/containers/Vault/VaultCard/index.tsx
  apps/evm/src/containers/Vault/__tests__/index.spec.tsx
  apps/evm/src/pages/Vaults/Vaults/hooks/useFilterOptions.tsx
  apps/evm/src/pages/Vaults/Vaults/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): wip pendle modals and charts
  apps/evm/src/clients/api/queries/getVaultProducts/types.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetPendleVaults/index.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetPendleVaults/utils.ts
  apps/evm/src/components/Icon/icons/diagramArrowDown.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Modal/styles.ts
  apps/evm/src/components/Tabs/index.tsx
  apps/evm/src/components/TextField/index.tsx
  apps/evm/src/containers/Vault/VaultCard/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PendleModal/OverviewTab/MarketInfo.tsx
  apps/evm/src/containers/Vault/VaultModals/PendleModal/OverviewTab/StrategyDiagram/FlowArrow/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PendleModal/OverviewTab/StrategyDiagram/FlowNode/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PendleModal/OverviewTab/StrategyDiagram/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PendleModal/OverviewTab/TotalDeposits/SupplyChart/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PendleModal/OverviewTab/TotalDeposits/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PendleModal/OverviewTab/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PendleModal/PositionTab.tsx
  apps/evm/src/containers/Vault/VaultModals/PendleModal/PositionTab/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PendleModal/PositionTab/useForm/index.ts
  apps/evm/src/containers/Vault/VaultModals/PendleModal/PositionTab/useForm/types.ts
  apps/evm/src/containers/Vault/VaultModals/PendleModal/PositionTab/useForm/useFormValidation.ts
  apps/evm/src/containers/Vault/VaultModals/PendleModal/index.tsx
  apps/evm/src/containers/Vault/hooks/useVaultUsdValues.ts
  apps/evm/src/hooks/useGetMarketChartData/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/MarketHistory/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): update simplified vault card action, add changeset
  .changeset/some-paths-begin.md
  apps/evm/src/clients/api/mutations/usePendlePtVault/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/mutations/usePendlePtVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/usePendlePtVault/index.ts
  apps/evm/src/clients/api/queries/getPendleSwapQuote/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetPendleVaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetVaults/useGetPendleVaults/__tests__/index.spec.tsx
  apps/evm/src/containers/Vault/VaultCard/Simplified/index.tsx
  apps/evm/src/containers/Vault/VaultCard/TokenIconWithPeriod/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PositionTab/index.tsx
  apps/evm/src/containers/Vault/hooks/useVaultUsdValues.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Vaults/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): withdraw flow
  apps/evm/src/clients/api/mutations/usePendlePtVault/index.ts
  apps/evm/src/clients/api/mutations/usePendlePtVault/utils.ts
  apps/evm/src/clients/api/queries/getPendleSwapQuote/formatOutput.ts
  apps/evm/src/clients/api/queries/getPendleSwapQuote/types.ts
  apps/evm/src/clients/api/queries/getPendleSwapQuote/useGetPendleSwapQuote.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetPendleVaults/utils.ts
  apps/evm/src/containers/Vault/VaultModals/PositionTab/PendleConvertDetails/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PositionTab/SubmitButton/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PositionTab/SubmitButton/types.ts
  apps/evm/src/containers/Vault/VaultModals/PositionTab/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PositionTab/useForm/index.ts
  apps/evm/src/containers/Vault/VaultModals/PositionTab/useForm/types.ts
  apps/evm/src/containers/Vault/VaultModals/PositionTab/useForm/useFormValidation.ts
  apps/evm/src/libs/contracts/config/externalAbis/PendlePtVault.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/convertTokensToMantissa.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): update tooltips and contents
  apps/evm/src/clients/api/mutations/usePendlePtVault/index.ts
  apps/evm/src/clients/api/mutations/usePendlePtVault/utils.ts
  apps/evm/src/clients/api/queries/getPendleSwapQuote/useGetPendleSwapQuote.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetPendleVaults/utils.ts
  apps/evm/src/containers/Vault/VaultCard/index.tsx
  apps/evm/src/containers/Vault/VaultModals/OverviewTab/MarketInfo.tsx
  apps/evm/src/containers/Vault/VaultModals/OverviewTab/StrategyDiagram/index.tsx
  apps/evm/src/containers/Vault/VaultModals/OverviewTab/TotalDeposits/index.tsx
  apps/evm/src/containers/Vault/VaultModals/OverviewTab/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PositionTab/PendleConvertDetails/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PositionTab/index.tsx
  apps/evm/src/containers/Vault/VaultModals/PositionTab/useForm/useFormValidation.ts
  apps/evm/src/containers/Vault/VaultModals/index.tsx
  apps/evm/src/containers/Vault/hooks/useVaultUsdValues.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
