Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: remove unnecessary TODO
  src/clients/web3/connectors.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: remove unnecessary TODO
  src/hooks/useTokenApproval/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: remove unnecessary TODOs
  src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
  src/pages/Swap/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add correct icon for certain testnet tokens
  src/constants/tokens/common/testnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: only display value changes on ValueUpdate component
  src/components/ValueUpdate/index.stories.tsx
  src/components/ValueUpdate/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: remove unnecessary TODO
  src/components/EllipseAddress/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: upgrade to React 18
  package.json
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add vTHE and VTWT mainnet records
  src/constants/tokens/vBep/mainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update incorrectly passed icon size value
  src/components/AccountData/__snapshots__/index.spec.tsx.snap
  src/components/Modal/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: fix chains used by wagmi + mock Web3Wrapper during tests
  src/clients/web3/Web3Wrapper/__mocks__/index.tsx
  src/clients/web3/Web3Wrapper/client.ts
  src/setupTests.tsx
  src/testUtils/renderComponent.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove chainId from config
  .env.template
  .prettierrc.js
  src/clients/api/queries/useGetTreasuryTotals/index.ts
  src/clients/web3/Web3Wrapper/client.ts
  src/components/AuthModal/AccountDetails/index.tsx
  src/components/AuthModal/index.stories.tsx
  src/components/AuthModal/index.tsx
  src/components/BscLink/index.tsx
  src/components/Layout/Footer/index.tsx
  src/components/ReadableActionSignature/index.tsx
  src/config/envVariables.ts
  src/config/index.ts
  src/constants/bsc.ts
  src/constants/endpoints.ts
  src/context/AuthContext/index.tsx
  src/pages/History/HistoryTable/index.tsx
  src/pages/Voter/Transactions/index.tsx
  src/pages/Voter/index.spec.tsx
  src/pages/VoterLeaderboard/LeaderboardTable/index.spec.tsx
  src/pages/Xvs/Header/index.tsx
  src/utilities/generateBscScanUrl.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update chains
  src/clients/web3/Web3Wrapper/client.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove unused testnet tokens
  src/constants/tokens/common/testnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update @venusprotocol/venus-protocol + fix testnet VenusLens contract address
  package.json
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: fallback to dashboard if the nested switch does not match any routes
  src/App/Switch/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: upgrade wagmi to 1.x + remove unused utilities
  env.d.ts
  package.json
  src/__mocks__/models/provider.ts
  src/clients/api/queries/getBalanceOf/index.ts
  src/clients/api/queries/getBlockNumber/index.spec.ts
  src/clients/api/queries/getBlockNumber/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getTokenBalances/index.ts
  src/clients/web3/Web3Wrapper/binanceWalletConnector.ts
  src/clients/web3/Web3Wrapper/config.ts
  src/clients/web3/Web3Wrapper/index.tsx
  src/clients/web3/addTokenToWallet.ts
  src/clients/web3/index.ts
  src/clients/web3/types.ts
  src/context/AuthContext/index.tsx
  src/context/AuthContext/useProvider/getProvider.ts
  src/context/AuthContext/useProvider/index.ts
  src/context/AuthContext/useSigner/getSigner.ts
  src/context/AuthContext/useSigner/index.ts
  src/types/global.d.ts
  src/types/tsfixme.d.ts
  src/utilities/getArgs.ts
  src/utilities/index.ts
  src/utilities/promisify.ts
  src/utilities/walletDetection.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: correct VIP sample file link
  src/pages/Governance/ProposalList/CreateProposalModal/UploadOrManualProposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump formik to 2.4.3
  package.json
  yarn.lock
Due: prettier --write --check

fix: await setValues when importing a VIP file
  src/pages/Governance/ProposalList/CreateProposalModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: lock Storybook version
  package.json
Due: prettier --write --check

chore(release): 2.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  664aa47bee4be7e5f66d08d9bae62c521da16652
Due: none

fix: remove app version checker to prevent infinite alerts
  src/App/index.tsx
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getLatestAppVersion/__tests__/index.spec.ts
  src/clients/api/queries/getLatestAppVersion/index.ts
  src/clients/api/queries/getLatestAppVersion/useGetLatestAppVersion.ts
  src/components/AppVersionChecker/index.tsx
  src/components/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.13.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  1b7060e6b3433c7feac097eee0f7919c1787e3ae
Due: none

chore(release): 2.13.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  1538f6c6ce6f6dde29bd396db393b0291fdcf02d
Due: none

feat: wrap provider with multicall provider + add passSigner parameter to contrat hooks
  package.json
  src/clients/api/mutations/approveToken/useApproveToken.ts
  src/clients/api/mutations/borrow/useBorrow.ts
  src/clients/api/mutations/cancelProposal/useCancelProposal.ts
  src/clients/api/mutations/claimRewards/useClaimRewards.ts
  src/clients/api/mutations/createProposal/useCreateProposal.ts
  src/clients/api/mutations/executeProposal/useExecuteProposal.ts
  src/clients/api/mutations/executeWithdrawalFromXvsVault/useExecuteWithdrawalFromXvsVault.ts
  src/clients/api/mutations/mintVai/useMintVai.ts
  src/clients/api/mutations/queueProposal/useQueueProposal.ts
  src/clients/api/mutations/redeem/useRedeem.ts
  src/clients/api/mutations/redeemUnderlying/useRedeemUnderlying.ts
  src/clients/api/mutations/repay/useRepay.ts
  src/clients/api/mutations/repayVai/useRepayVai.ts
  src/clients/api/mutations/requestWithdrawalFromXvsVault/useRequestWithdrawalFromXvsVault.ts
  src/clients/api/mutations/revokeSpendingLimit/useRevokeSpendingLimit.ts
  src/clients/api/mutations/setVoteDelegate/useSetVoteDelegate.ts
  src/clients/api/mutations/stakeInVaiVault/useStakeInVaiVault.ts
  src/clients/api/mutations/stakeInXvsVault/useStakeInXvsVault.ts
  src/clients/api/mutations/swapTokens/useSwapTokens.ts
  src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  src/clients/api/mutations/vote/useCastVote.ts
  src/clients/api/mutations/vote/useCastVoteWithReason.ts
  src/clients/api/mutations/withdrawFromVaiVault/useWithdrawFromVaiVault.ts
  src/clients/api/mutations/withdrawXvs/useWithdrawXvs.ts
  src/clients/api/queries/getAllowance/useGetAllowance.ts
  src/clients/api/queries/getVTokenBalanceOf/useGetVTokenBalanceOf.ts
  src/clients/api/queries/getVTokenInterestRateModel/useGetVTokenInterestRateModel.ts
  src/context/AuthContext/useProvider/getProvider.ts
  src/context/AuthContext/useProvider/index.ts
  src/hooks/useCollateral/index.tsx
  src/hooks/useGetGenericContract.ts
  src/hooks/useGetSwapRouterContract.ts
  src/hooks/useGetTokenContract.ts
  src/hooks/useGetUniqueContract.ts
  src/hooks/useGetVTokenContract.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix
