Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: add warning about insufficient liquidity on Withdraw form
  src/hooks/useOperationModal/Modal/WithdrawForm/Notice.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/index.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/testIds.ts
  src/hooks/useOperationModal/Modal/WithdrawForm/useForm/index.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/useForm/types.ts
  src/hooks/useOperationModal/Modal/WithdrawForm/useForm/useFormValidation.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.15.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  a7a575736ecc2d3cfb9ee8319a397027e7938702
Due: none

chore: add update_strategy option to dependabot config
  .github/dependabot.yml
Due: none

chore(release): 2.15.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  07bc99fa942a7a0c33919cb23888a94c201cc58e
Due: none

chore(release): 2.15.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  03a184610d2160bc331c072d056247824e6f5749
Due: none

chore(release): 2.15.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  444e4622837eb8e296c89e07c942f44eb231b441
Due: none

feat: migrate to react router v6
  package.json
  src/App/Router/index.tsx
  src/App/Switch/index.tsx
  src/App/index.tsx
  src/components/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  src/components/Layout/Header/Breadcrumbs/index.spec.tsx
  src/components/Layout/Header/Breadcrumbs/index.tsx
  src/components/Layout/Header/index.stories.tsx
  src/components/Layout/Sidebar/Link/index.tsx
  src/components/Layout/Sidebar/index.stories.tsx
  src/containers/AssetAccessor/index.spec.tsx
  src/hooks/useGetSwapInfo/__tests__/useGetTokenCombinations.spec.tsx
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/__tests__/index.spec.tsx
  src/hooks/useUrlPagination.ts
  src/pages/Governance/ProposalList/CreateProposalModal/ProposalWizard/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/index.spec.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/index.tsx
  src/pages/Governance/ProposalList/index.tsx
  src/pages/Governance/index.spec.tsx
  src/pages/Governance/index.tsx
  src/pages/History/index.spec.tsx
  src/pages/History/index.tsx
  src/pages/Market/index.spec.tsx
  src/pages/Market/index.tsx
  src/pages/Pool/index.spec.tsx
  src/pages/Pool/index.tsx
  src/pages/Proposal/index.tsx
  src/pages/Swap/__tests__/index.spec.tsx
  src/pages/Vai/MintVai/index.spec.tsx
  src/pages/Vai/RepayVai/index.spec.tsx
  src/pages/Vai/index.spec.tsx
  src/pages/Vault/TransactionForm/index.spec.tsx
  src/pages/Voter/index.spec.tsx
  src/pages/Voter/index.tsx
  src/pages/VoterLeaderboard/index.tsx
  src/testUtils/renderComponent.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.16.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  c59cfd460d0e4db98fe9e0aa4887f884b79e4e6e
Due: none

test: add tests to getMainPool query function
  src/clients/api/queries/getMainPool/__testUtils__/fakeData.ts
  src/clients/api/queries/getMainPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainPool/__tests__/index.spec.ts
  src/clients/api/queries/getMainPool/formatToPool/index.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/web3/Web3Wrapper/config.ts
  src/config/envVariables.ts
  src/constants/tokens/common/testnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: start formatting data into main pool (3)
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions/index.ts
  src/clients/api/queries/getMainPool/formatToPool/index.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
  src/constants/tokens/index.ts
  src/context/Analytics/useAnalytics.ts
  src/utilities/formatDistribution.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: transform formatToPool directory into a single file
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/getMainPool/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: format data into main pool
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getMainPool/formatToPool/index.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/useGetMainPool/index.tsx
  src/clients/api/queries/useGetPools/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: fetch necessary data to shape main pool
  src/clients/api/queries/getMainPool/index.tsx
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/getMainPool/useGetMainPool.tsx
  src/clients/api/queries/useGetPools/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: fetch borrower and supplier counts
  src/clients/api/queries/getMainPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainPool/__tests__/index.spec.ts
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/getMainPool/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: start formatting data to main pool
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getMainPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/getMainPool/formatToPool/index.ts
  src/clients/api/queries/getMainPool/index.spec.tsx
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getMainPool/index.tsx
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove useGetMainAssets and useGetMainPool hooks
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getTokenBalances/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/useGetMainAssets/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainAssets/index.spec.tsx
  src/clients/api/queries/useGetMainAssets/index.ts
  src/clients/api/queries/useGetMainPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainPool/index.spec.tsx
  src/clients/api/queries/useGetMainPool/index.tsx
  src/clients/api/queries/useGetMainPoolTotalXvsDistributed/index.tsx
  src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  src/context/DisableLunaUstWarning/index.spec.tsx
  src/context/DisableLunaUstWarning/index.tsx
  src/hooks/useGetSwapInfo/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.spec.tsx
  src/pages/Xvs/Header/index.tsx
  src/pages/Xvs/Table/index.tsx
  src/pages/Xvs/index.spec.tsx
  src/utilities/convertPriceMantissaToDollars/__tests__/index.spec.ts
  src/utilities/convertPriceMantissaToDollars/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: start adding new getMainPool query function
  src/clients/api/queries/getMainPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/getMainPool/index.spec.tsx
  src/clients/api/queries/getMainPool/index.tsx
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/getMainPool/useGetMainPool.tsx
  src/clients/api/queries/useGetPools/index.tsx
  src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: start formatting data into main pool (2)
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getMainPool/formatToPool/index.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getMainPool/types.ts
  src/config/index.ts
  src/constants/tokens/common/mainnet.ts
  src/constants/tokens/index.ts
  src/context/ErrorLogger/index.tsx
  src/utilities/convertFactorFromSmartContract.ts
  src/utilities/convertPriceMantissaToDollars.ts
  src/utilities/formatTokenPrices.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.17.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  77f188a49086e9a77fd870e23db1e0d1dccbb3a0
Due: none

ci: fix dependabot config
  .github/dependabot.yml
Due: none

ci: fix dependabot config (#1377)
  .github/dependabot.yml
Due: none

refactor: move ChainId to repo types
  src/__mocks__/models/tokenCombinations.ts
  src/clients/web3/Web3Wrapper/config.ts
  src/components/AuthModal/AccountDetails/index.tsx
  src/components/AuthModal/index.stories.tsx
  src/components/AuthModal/index.tsx
  src/components/BscLink/index.stories.tsx
  src/components/BscLink/index.tsx
  src/components/ReadableActionSignature/getContractName.ts
  src/config/index.ts
  src/constants/bsc.ts
  src/constants/endpoints.ts
  src/context/AuthContext/index.tsx
  src/hooks/useGetSwapInfo/__tests__/formatToSwap.spec.ts
  src/packages/contracts/contractInfos/swapRouterContractInfos.ts
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
  src/packages/contracts/getSwapRouterContract/__tests__/index.spec.ts
  src/packages/contracts/getSwapRouterContractAddress/__tests__/index.spec.ts
  src/packages/contracts/getSwapRouterContractAddress/index.ts
  src/packages/contracts/getUniqueContract/__tests__/index.spec.ts
  src/packages/contracts/getUniqueContract/index.ts
  src/packages/contracts/getUniqueContractAddress/__tests__/index.spec.ts
  src/packages/contracts/getUniqueContractAddress/index.ts
  src/packages/contracts/index.ts
  src/packages/contracts/types/index.ts
  src/testUtils/renderComponent.tsx
  src/types/index.ts
  src/utilities/generateBscScanUrl.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update AuthContext return type
  src/components/Layout/ClaimRewardButton/index.tsx
  src/components/Layout/Sidebar/index.stories.tsx
  src/context/AuthContext/index.tsx
  src/hooks/useCollateral/index.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/index.tsx
  src/hooks/useOperationModal/Modal/index.stories.tsx
  src/pages/ConvertVrt/Convert/index.spec.tsx
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.stories.tsx
  src/pages/Governance/ProposalList/index.tsx
  src/pages/Vai/MintVai/index.tsx
  src/pages/Vai/RepayVai/index.tsx
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
  src/testUtils/renderComponent.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.17.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  a0b524d1b79f017aacb8c9b961266ad1aacf8da4
Due: none

feat: about wagmi stallTimeout config
  src/clients/web3/Web3Wrapper/config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update getMainMarkets query function to only return useful data
  src/__mocks__/models/markets.ts
  src/clients/api/queries/getMainMarkets/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainMarkets/__tests__/index.spec.ts
  src/clients/api/queries/getMainMarkets/index.spec.ts
  src/clients/api/queries/getMainMarkets/index.ts
  src/clients/api/queries/useGetMainPoolTotalXvsDistributed/index.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getVTokens query function + create mock vToken models
  src/__mocks__/contracts/comptroller.ts
  src/__mocks__/contracts/mainPoolComptroller.ts
  src/__mocks__/contracts/poolLens.ts
  src/__mocks__/contracts/venusLens.ts
  src/__mocks__/models/asset.ts
  src/__mocks__/models/vTokens.ts
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/mutations/enterMarket/index.spec.ts
  src/clients/api/mutations/exitMarket/index.spec.ts
  src/clients/api/mutations/repay/index.spec.ts
  src/clients/api/mutations/supply/index.spec.ts
  src/clients/api/queries/getAllowance/__tests__/index.spec.ts
  src/clients/api/queries/getHypotheticalAccountLiquidity/index.spec.ts
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getMainMarkets/index.spec.ts
  src/clients/api/queries/getMainPool/__testUtils__/fakeData.ts
  src/clients/api/queries/getMainPool/__tests__/index.spec.ts
  src/clients/api/queries/getMarketHistory/index.spec.ts
  src/clients/api/queries/getVTokens/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVTokens/__tests__/index.spec.ts
  src/clients/api/queries/getVTokens/index.ts
  src/clients/api/queries/getVTokens/useGetVTokens.ts
  src/clients/api/queries/useGetVaults/index.spec.tsx
  src/components/TokenIcon/index.stories.tsx
  src/constants/functionKey.ts
  src/context/DisableLunaUstWarning/index.spec.tsx
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/index.stories.tsx
  src/pages/Market/index.spec.tsx
  src/pages/Swap/__tests__/index.spec.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
  src/utilities/getVTokenContract/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update getTransactions query function so it does not use getVTokenByAddress
  src/clients/api/queries/getTransactions/formatTransaction.ts
  src/clients/api/queries/getTransactions/index.ts
  src/clients/api/queries/getTransactions/useGetTransactions.ts
  src/pages/History/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update Market page so it does not use getVTokenAddress
  src/__mocks__/models/transactions.ts
  src/__mocks__/models/vTokens.ts
  src/clients/api/queries/getTransactions/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getTransactions/formatTransaction.ts
  src/clients/api/queries/getTransactions/index.spec.ts
  src/clients/api/queries/getVTokens/useGetVTokens.ts
  src/clients/api/queries/useGetAsset/index.spec.tsx
  src/clients/api/queries/useGetAsset/index.tsx
  src/pages/Market/MarketLoader/index.tsx
  src/pages/Market/index.tsx
  src/utilities/findTokenByAddress.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update ReadableActionSignature so it does not use getVTokenByAddress
  src/components/ReadableActionSignature/getContractName.ts
  src/components/ReadableActionSignature/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update Breadcrumbs so it does not use getVTokenByAddress
  src/clients/api/__mocks__/index.ts
  src/clients/api/queries/getVTokens/useGetVTokens.ts
  src/components/Layout/Header/Breadcrumbs/VTokenSymbol/index.tsx
  src/components/Layout/Header/Breadcrumbs/VTokenSymbol/styles.ts
  src/components/Layout/Header/Breadcrumbs/index.spec.tsx
  src/components/Layout/Header/Breadcrumbs/index.tsx
  src/components/Layout/Header/Breadcrumbs/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
