Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

fix(evm): update for WBNB market handling
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/index.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/index.ts
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix(evm): vpd 672
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/index.spec.ts
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

perf: introduce claude.md
  CLAUDE.md
Due: none

feat: list XAUm
  .changeset/pretty-pugs-play.md
  .changeset/salty-apples-cheat.md
  apps/evm/package.json
  packages/chains/package.json
  packages/chains/src/images/tokens/xaum.png
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
  packages/chains/src/tokens/underlyingTokens/bscTestnet.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update Venus Flux banner
  .changeset/eight-moons-sip.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/bgIllustration.jpg
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/mobileIllustration.png
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/tabletIllustration.png
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/venusFluxIcon.png
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

fix(evm): vpd 676, 682
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/__tests__/index.spec.ts
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update Venus Flux banner (#5427)
  .changeset/eight-moons-sip.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/bgIllustration.jpg
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/mobileIllustration.png
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/tabletIllustration.png
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/venusFluxIcon.png
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/eight-moons-sip.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: update swap token list
  apps/evm/src/hooks/__mocks__/useGetSwapTokenUserBalances.ts
  apps/evm/src/hooks/useGetSwapTokenUserBalances.ts
  apps/evm/src/hooks/useGetSwapTokenUserBalances/__mocks__/index.ts
  apps/evm/src/hooks/useGetSwapTokenUserBalances/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useGetSwapTokenUserBalances/__tests__/index.spec.tsx
  apps/evm/src/hooks/useGetSwapTokenUserBalances/index.ts
  apps/evm/src/libs/tokens/hooks/useGetSwapTokens/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscTestnet.ts
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Swap/__tests__/index.spec.tsx
  apps/evm/src/pages/Swap/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): remove testnet configs
  apps/evm/src/hooks/useSendTransaction/sendTransaction/index.ts
  packages/chains/src/chains/chainMetadata/index.ts
  packages/chains/src/utilities/getRpcUrls/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/utilities/getRpcUrls/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add basic Yield+ page
  .changeset/chilly-pugs-trade.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/components/Apy/PrimeBadge/PrimeApy/index.tsx
  apps/evm/src/components/Cell/index.tsx
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/components/TokenListWrapper/index.tsx
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/YieldPlus/Banner/illustration.png
  apps/evm/src/pages/YieldPlus/Banner/index.tsx
  apps/evm/src/pages/YieldPlus/Banner/store/__tests__/index.spec.ts
  apps/evm/src/pages/YieldPlus/Banner/store/index.ts
  apps/evm/src/pages/YieldPlus/PairInfo/TokenSelect/index.tsx
  apps/evm/src/pages/YieldPlus/PairInfo/index.tsx
  apps/evm/src/pages/YieldPlus/__tests__/index.spec.tsx
  apps/evm/src/pages/YieldPlus/constants/index.ts
  apps/evm/src/pages/YieldPlus/index.tsx
  apps/evm/src/pages/YieldPlus/useTokenPair/index.ts
  packages/ui/src/components/Button/index.stories.tsx
  packages/ui/src/components/Button/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add graph
  apps/evm/package.json
  apps/evm/src/components/KLineChart/index.tsx
  apps/evm/src/components/KLineChart/rgb/index.ts
  apps/evm/src/components/index.ts
  apps/evm/src/pages/YieldPlus/Banner/index.tsx
  apps/evm/src/pages/YieldPlus/PairInfo/TokenSelect/index.tsx
  apps/evm/src/pages/YieldPlus/PairInfo/index.tsx
  apps/evm/src/pages/YieldPlus/index.tsx
  apps/evm/src/pages/YieldPlus/useTokenPair/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: exclude WBNB from token select list on native BNB market
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix(evm): disable swap and repayWithCollateral in BNB market, add BNB to dropdown select in swap
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
  apps/evm/src/pages/Market/OperationForm/NativeTokenBalanceWrapper/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wip
  apps/evm/src/__mocks__/models/yieldPlusPositions.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getYieldPlusPositions/index.ts
  apps/evm/src/clients/api/queries/getYieldPlusPositions/types.ts
  apps/evm/src/clients/api/queries/getYieldPlusPositions/useGetYieldPlusPositions.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getUserTokenBalances/index.ts
  apps/evm/src/clients/api/queries/useGetPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/types.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/containers/Placeholder/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/RelativePositionManager.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/YieldPlus/PairInfo/index.tsx
  apps/evm/src/pages/YieldPlus/Tabs/Positions/PositionTable/index.tsx
  apps/evm/src/pages/YieldPlus/Tabs/Positions/index.tsx
  apps/evm/src/pages/YieldPlus/Tabs/index.tsx
  apps/evm/src/pages/YieldPlus/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove unnecessary RPC requests
  CLAUDE.md
  apps/evm/src/hooks/useGetSwapTokenUserBalances/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
  apps/evm/src/pages/Market/OperationForm/NativeTokenBalanceWrapper/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/useGetOperationFormTokenBalances/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove unnecessary RPC requests
  CLAUDE.md
  apps/evm/src/hooks/useGetSwapTokenUserBalances/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
  apps/evm/src/pages/Market/OperationForm/NativeTokenBalanceWrapper/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/index.ts
  apps/evm/src/pages/Market/OperationForm/useGetOperationFormTokenBalances/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: list XAUm (#5401)
  .changeset/pretty-pugs-play.md
  .changeset/salty-apples-cheat.md
  apps/evm/package.json
  packages/chains/package.json
  packages/chains/src/images/tokens/xaum.png
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
  packages/chains/src/tokens/underlyingTokens/bscTestnet.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/pretty-pugs-play.md
  .changeset/salty-apples-cheat.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

fix(evm): disable BNB balance correctly
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/useGetOperationFormTokenBalances/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/fifty-ideas-talk.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: add Skills page
  .changeset/cold-mirrors-poke.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Skills/CodeSnippet/index.tsx
  apps/evm/src/pages/Skills/DialogExample/index.tsx
  apps/evm/src/pages/Skills/DialogMessage/index.tsx
  apps/evm/src/pages/Skills/FeatureItem/index.tsx
  apps/evm/src/pages/Skills/InstallationStep/index.tsx
  apps/evm/src/pages/Skills/InstallationSteps/index.tsx
  apps/evm/src/pages/Skills/NoteBox/index.tsx
  apps/evm/src/pages/Skills/SectionCard/index.tsx
  apps/evm/src/pages/Skills/SectionTitle/index.tsx
  apps/evm/src/pages/Skills/SimpleDialog/index.tsx
  apps/evm/src/pages/Skills/StepItem/index.tsx
  apps/evm/src/pages/Skills/TerminalSection/TerminalControlDot/index.tsx
  apps/evm/src/pages/Skills/TerminalSection/TerminalLine/getLineClassName/index.ts
  apps/evm/src/pages/Skills/TerminalSection/TerminalLine/index.tsx
  apps/evm/src/pages/Skills/TerminalSection/TerminalLine/renderCompletedLine/index.tsx
  apps/evm/src/pages/Skills/TerminalSection/getSequence/index.ts
  apps/evm/src/pages/Skills/TerminalSection/index.tsx
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/addLine/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/appendLine/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/getLineText/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/playSequence/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/schedule/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/scrollTerminalToBottom/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/typeWriter/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/updateLine/index.ts
  apps/evm/src/pages/Skills/constants.ts
  apps/evm/src/pages/Skills/index.tsx
  apps/evm/src/pages/Skills/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Skills page (#5429)
  .changeset/cold-mirrors-poke.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Skills/CodeSnippet/index.tsx
  apps/evm/src/pages/Skills/DialogExample/index.tsx
  apps/evm/src/pages/Skills/DialogMessage/index.tsx
  apps/evm/src/pages/Skills/FeatureItem/index.tsx
  apps/evm/src/pages/Skills/InstallationStep/index.tsx
  apps/evm/src/pages/Skills/InstallationSteps/index.tsx
  apps/evm/src/pages/Skills/NoteBox/index.tsx
  apps/evm/src/pages/Skills/SectionCard/index.tsx
  apps/evm/src/pages/Skills/SectionTitle/index.tsx
  apps/evm/src/pages/Skills/SimpleDialog/index.tsx
  apps/evm/src/pages/Skills/StepItem/index.tsx
  apps/evm/src/pages/Skills/TerminalSection/TerminalControlDot/index.tsx
  apps/evm/src/pages/Skills/TerminalSection/TerminalLine/getLineClassName/index.ts
  apps/evm/src/pages/Skills/TerminalSection/TerminalLine/index.tsx
  apps/evm/src/pages/Skills/TerminalSection/TerminalLine/renderCompletedLine/index.tsx
  apps/evm/src/pages/Skills/TerminalSection/getSequence/index.ts
  apps/evm/src/pages/Skills/TerminalSection/index.tsx
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/addLine/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/appendLine/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/getLineText/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/playSequence/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/schedule/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/scrollTerminalToBottom/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/typeWriter/index.ts
  apps/evm/src/pages/Skills/TerminalSection/usePlayTerminalSequence/updateLine/index.ts
  apps/evm/src/pages/Skills/constants.ts
  apps/evm/src/pages/Skills/index.tsx
  apps/evm/src/pages/Skills/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cold-mirrors-poke.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: footer alignment
  .changeset/tender-shirts-shop.md
  apps/evm/src/containers/Layout/Footer/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: update changeset
  .changeset/hungry-women-return.md
Due: none

test(evm): update tests and fix styles
  apps/evm/src/containers/TopMarkets/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Guide/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Pools/Positions/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Pools/Positions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Pools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: footer alignment (#5430)
  .changeset/tender-shirts-shop.md
  apps/evm/src/containers/Layout/Footer/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/tender-shirts-shop.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: refactor BorrowForm (#5392)
  .changeset/early-tools-arrive.md
  apps/evm/src/pages/Market/OperationForm/BorrowForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/__testUtils__/fakeData.ts
  apps/evm/src/pages/Market/OperationForm/BorrowForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/useForm/types.ts
  apps/evm/src/pages/Market/OperationForm/BorrowForm/useForm/useFormValidation.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/early-tools-arrive.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: integrate top-markets endpoint
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getTopMarkets/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getTopMarkets/index.ts
  apps/evm/src/clients/api/queries/getTopMarkets/useGetTopMarkets.ts
  apps/evm/src/containers/TopMarkets/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix(evm): update styles and display logics
  apps/evm/src/containers/AdBanner/Banner/index.tsx
  apps/evm/src/containers/AdBanner/VenusFluxBanner/bgIllustration.jpg
  apps/evm/src/containers/AdBanner/VenusFluxBanner/index.tsx
  apps/evm/src/containers/AdBanner/VenusFluxBanner/mobileIllustration.png
  apps/evm/src/containers/AdBanner/VenusFluxBanner/tabletIllustration.png
  apps/evm/src/containers/AdBanner/VenusFluxBanner/venusFluxIcon.png
  apps/evm/src/pages/Dashboard/Guide/index.tsx
  apps/evm/src/pages/Dashboard/Overview/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Overview/index.tsx
  apps/evm/src/pages/Dashboard/Pools/Positions/Summary/index.tsx
  apps/evm/src/pages/Dashboard/Pools/Positions/Tables/index.tsx
  apps/evm/src/pages/Dashboard/Pools/Positions/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Pools/Positions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Pools/Positions/index.tsx
  apps/evm/src/pages/Dashboard/Pools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Pools/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add graph
  apps/evm/package.json
  apps/evm/src/components/KLineChart/index.tsx
  apps/evm/src/components/KLineChart/rgb/index.ts
  apps/evm/src/components/index.ts
  apps/evm/src/pages/YieldPlus/Banner/index.tsx
  apps/evm/src/pages/YieldPlus/PairInfo/TokenSelect/index.tsx
  apps/evm/src/pages/YieldPlus/PairInfo/index.tsx
  apps/evm/src/pages/YieldPlus/__tests__/index.spec.tsx
  apps/evm/src/pages/YieldPlus/index.tsx
  apps/evm/src/pages/YieldPlus/useTokenPair/index.ts
  apps/evm/src/setupTests.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix
