Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

test: update tests with BSC Core pool subgraph mocks
  apps/evm/src/__mocks__/subgraph/bscCorePoolParticipantsCount.json
  apps/evm/src/clients/api/queries/useGetPools/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/__mocks__/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: address PR comments
  apps/evm/src/clients/api/queries/useGetPools/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.prime.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getParticipantCounts/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/safeGetParticipantCounts/index.ts
  apps/evm/src/clients/subgraph/__mocks__/index.ts
  apps/evm/src/libs/errors/logError.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: pause wUSDM on zkSync
  .changeset/quiet-ads-repair.md
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: pause wUSDM on zkSync (#3948)
  .changeset/quiet-ads-repair.md
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/quiet-ads-repair.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

Revert "feat: pause wUSDM on zkSync (#3948)"
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: mock isolated pools participants count from JSON file
  apps/evm/src/__mocks__/subgraph/bscIsolatedPoolsParticipantsCount.json
  apps/evm/src/clients/api/queries/useGetPools/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.prime.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: revert pausing of wUSDM market (#3949)
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display warning to switch chain on Market table
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/components/Notice/index.tsx
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/styles.ts
  apps/evm/src/components/Table/types.ts
  apps/evm/src/components/Toggle/index.tsx
  apps/evm/src/components/Toggle/styles.ts
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/MarketTable/useGenerateColumns.tsx
  apps/evm/src/containers/SwitchChainNotice/__tests__/index.spec.tsx
  apps/evm/src/containers/SwitchChainNotice/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/clean-ladybugs-kiss.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add new underlying tokens (#3935)
  .changeset/mighty-lamps-train.md
  apps/evm/src/libs/tokens/img/underlyingTokens/zkEth.svg
  apps/evm/src/libs/tokens/infos/commonTokens/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/mighty-lamps-train.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/olive-rings-beg.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: update landing page ad banner
  apps/landing/src/assets/styles/variables.css
  apps/landing/src/components/App.tsx
  apps/landing/src/components/Banner/Banner.module.css
  apps/landing/src/components/Banner/Banner.tsx
  apps/landing/src/components/Banner/assets/arrow.svg
  apps/landing/src/components/Banner/assets/berachainLogo.svg
  apps/landing/src/components/Banner/assets/circles.svg
  apps/landing/src/components/Banner/assets/leftBee.png
  apps/landing/src/components/Banner/assets/leftBeeComb.png
  apps/landing/src/components/Banner/assets/rightBee.png
  apps/landing/src/components/Banner/assets/rightBeeComb.png
  apps/landing/src/components/Banner/assets/squares.svg
  apps/landing/src/components/Banner/assets/unichainLogo.svg
  apps/landing/src/components/Banner/index.tsx
  apps/landing/src/components/MainContent/MainContent.tsx
  apps/landing/src/components/Wallets/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update active side bar nav link style
  apps/evm/src/assets/styles/index.css
  apps/evm/src/containers/Layout/Sidebar/NavLink/index.tsx
  apps/evm/src/theme/index.ts
  packages/chains/src/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add custom Berachain theme
  apps/evm/src/assets/styles/index.css
  apps/evm/src/containers/Layout/Header/index.tsx
  apps/evm/src/containers/ThemeHandler/index.tsx
  apps/evm/src/hooks/useIsOnUnichain/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Berachain ad banner
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Dashboard/Carousel/BerachainPromotionalBanner/blurredBackground.png
  apps/evm/src/pages/Dashboard/Carousel/BerachainPromotionalBanner/illustration.png
  apps/evm/src/pages/Dashboard/Carousel/BerachainPromotionalBanner/illustrationSm.png
  apps/evm/src/pages/Dashboard/Carousel/BerachainPromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/index.tsx
  apps/landing/src/components/Banner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: create ui package
  apps/evm/package.json
  apps/evm/src/assets/styles/index.css
  apps/evm/src/components/index.ts
  apps/evm/tailwind.config.ts
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/components/Button/index.stories.tsx
  packages/ui/src/components/Button/index.tsx
  packages/ui/src/components/Spinner/index.stories.tsx
  packages/ui/src/components/Spinner/index.tsx
  packages/ui/src/components/Spinner/spinnerAnimation.gif
  packages/ui/src/fonts/proximaNova/proximaNovaBold.ttf
  packages/ui/src/fonts/proximaNova/proximaNovaBold.woff
  packages/ui/src/fonts/proximaNova/proximaNovaBold.woff2
  packages/ui/src/fonts/proximaNova/proximaNovaBoldIt.ttf
  packages/ui/src/fonts/proximaNova/proximaNovaBoldIt.woff
  packages/ui/src/fonts/proximaNova/proximaNovaBoldIt.woff2
  packages/ui/src/fonts/proximaNova/proximaNovaRegular.ttf
  packages/ui/src/fonts/proximaNova/proximaNovaRegular.woff
  packages/ui/src/fonts/proximaNova/proximaNovaRegular.woff2
  packages/ui/src/fonts/proximaNova/proximaNovaRegularIt.ttf
  packages/ui/src/fonts/proximaNova/proximaNovaRegularIt.woff
  packages/ui/src/fonts/proximaNova/proximaNovaRegularIt.woff2
  packages/ui/src/fonts/proximaNova/proximaNovaSemibold.ttf
  packages/ui/src/fonts/proximaNova/proximaNovaSemibold.woff
  packages/ui/src/fonts/proximaNova/proximaNovaSemibold.woff2
  packages/ui/src/fonts/proximaNova/proximaNovaSemiboldIt.ttf
  packages/ui/src/fonts/proximaNova/proximaNovaSemiboldIt.woff
  packages/ui/src/fonts/proximaNova/proximaNovaSemiboldIt.woff2
  packages/ui/src/index.ts
  packages/ui/src/styles.css
  packages/ui/src/tailwind.config.ts
  packages/ui/src/theme.ts
  packages/ui/src/utilities/cn/index.ts
  packages/ui/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add coverage around external rewards
  apps/evm/src/containers/Layout/ClaimRewardButton/ClaimRewardsContent/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add case for Merkl in getPendingRewards tests
  apps/evm/src/clients/api/queries/getPendingRewards/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display user rewards from Merkl
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToExternalPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToIsolatedPoolPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToLegacyPoolPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklRewards/formatMerklRewardsResponse.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/types.ts
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/appendPrimeSimulationDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/formatRewardDistribution/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/isDistributingRewards/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/components/Apy/BoostTooltip/index.tsx
  apps/evm/src/components/Apy/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/ClaimRewardsContent/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/ExternalRewardGroup/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/InternalRewardGroup/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/RewardGroupContent/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/RewardGroupFrame/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/types.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/useGetGroups.ts
  apps/evm/src/containers/Layout/testIds.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/Page/OperationForm/AssetInfo/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
  apps/evm/src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/young-zebras-arrive.md
Due: none

refactor: error treatment when fetching Merkl pending rewards
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: merge claimRewardsModal with claimRewards.modal
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/useGetGroups.ts
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only allow showing warning on Proposal page when user can vote
  .changeset/plain-ravens-fail.md
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only allow showing warning on Proposal page when user can vote (#3977)
  .changeset/plain-ravens-fail.md
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/plain-ravens-fail.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/soft-eyes-remain.md
Due: none

feat: add Unichain governance subgraph
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Revert "refactor: logic linked to governance to use viem (#3941)"
  apps/evm/src/clients/api/queries/getVoterHistory/types.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToProposalActions/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToProposalActions/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToProposalActions/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/index.ts
  apps/evm/src/containers/ReadableActionSignature/formatSignature.ts
  apps/evm/src/containers/ReadableActionSignature/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ActionAccordion/CallDataFields.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ActionAccordion/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalPreview/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/encodeCallData.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
  apps/evm/src/pages/Governance/VotingWallet/DelegateModal/addressValidationSchema.ts
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/encodeParameters.ts
  apps/evm/src/utilities/index.ts
  apps/evm/src/utilities/parseFunctionSignature.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: actions not being properly formatted in proposal preview
  .changeset/lucky-ends-tease.md
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalPreview/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/soft-eyes-remain.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: actions not being properly formatted in proposal preview (#3980)
  .changeset/lucky-ends-tease.md
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalPreview/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/lucky-ends-tease.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/shiny-beers-sink.md
Due: none

feat: add mtwCARROT to Ethereum
  apps/evm/src/libs/tokens/img/underlyingTokens/carrot.png
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/khaki-horses-happen.md
Due: none
