Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.html": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

Add husky as dev dependency
  package.json
  yarn.lock
Due: none

Run stylelint on js files to line css-in-js
  .lintstagedrc
Due: none

update style lint command to include javascript files
  package.json
Due: none

configure css-in-js
  .stylelintrc.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix dockerfile build error
  Dockerfile
Due: none

Add more specific type for settings on MarketDetail
  src/containers/Main/MarketDetail.tsx
Due: eslint --fix, prettier --write

Allow full withdrawl if asset isnt collateralized
  src/components/Basic/SupplyTabs/WithdrawTab.tsx
  src/containers/Main/MarketDetail.tsx
Due: eslint --fix, prettier --write

fix eslint config
  .eslintrc.js
  src/containers/App.tsx
  src/containers/Main/Vault.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Remove stray semi colon
  src/components/Vault/CardContent.tsx
Due: eslint --fix, prettier --write

Turn off react/jsx-one-expression-per-line rule
  .eslintrc.js
Due: eslint --fix, prettier --write

Add google anlytics tag to html
  .env.template
  public/index.html
Due: prettier --write

Add mui with scss support
  package.json
  src/containers/App.tsx
  src/types/declarations.d.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add mui theme customization
  src/containers/App.tsx
  src/containers/MuiThemeProvider/MuiThemeProvider.tsx
  src/containers/MuiThemeProvider/muiTheme.ts
Due: eslint --fix, prettier --write

Update v2/Button component
  src/components/Vote/ProposalModal.tsx
  src/components/v2/Button.tsx
Due: eslint --fix, prettier --write

Move ThemeProvider to theme from containers
  src/containers/App.tsx
  src/theme/MuiThemeProvider/MuiThemeProvider.tsx
  src/theme/MuiThemeProvider/muiTheme.ts
Due: eslint --fix, prettier --write

Add Layout component
  src/assets/img/xvs.svg
  src/components/v2/Layout/Header.tsx
  src/components/v2/Layout/Layout.tsx
  src/components/v2/Layout/PageContainer.tsx
  src/components/v2/Layout/Sidebar.tsx
  src/components/v2/Layout/assets/logo.svg
  src/containers/App.tsx
  src/containers/Main/Dev/Dev.tsx
  src/theme/MuiThemeProvider/MuiThemeProvider.tsx
  src/theme/MuiThemeProvider/muiTheme.ts
  src/types/declarations.d.ts
  src/utilities/isDevEnvironment.ts
Due: eslint --fix, prettier --write

isDevEnv from func to const
  src/containers/App.tsx
  src/utilities/isDevEnvironment.ts
Due: eslint --fix, prettier --write

move styles to scss files from sx props
  src/assets/styles/Global.scss
  src/components/v2/Layout/Header.module.scss
  src/components/v2/Layout/Header.tsx
  src/components/v2/Layout/Layout.module.scss
  src/components/v2/Layout/Layout.tsx
  src/components/v2/Layout/PageContainer.module.scss
  src/components/v2/Layout/PageContainer.tsx
  src/components/v2/Layout/Sidebar.module.scss
  src/components/v2/Layout/Sidebar.tsx
  src/containers/Main/Dev/Dev.tsx
  src/theme/MuiThemeProvider/MuiThemeProvider.tsx
Due: eslint --fix, prettier --write, stylelint --fix

move layout components to separate folders
  src/components/v2/Layout/Header.module.scss
  src/components/v2/Layout/Header/Header.module.scss
  src/components/v2/Layout/Header/Header.tsx
  src/components/v2/Layout/Layout.tsx
  src/components/v2/Layout/PageContainer/PageContainer.module.scss
  src/components/v2/Layout/PageContainer/PageContainer.tsx
  src/components/v2/Layout/Sidebar/Sidebar.module.scss
  src/components/v2/Layout/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

run job in node:12 conatiner
  .github/workflows/ci.yaml
Due: none

supress wallet connection while running storybooks
  package.json
  src/hooks/wallet.ts
Due: eslint --fix, prettier --write

Add contexts to dashboard
  src/containers/Main/Dashboard/index.stories.tsx
  src/stories/decorators.tsx
Due: eslint --fix, prettier --write

Add clientId
  regconfig.json
Due: none

Setup storybook and viz reg snapshotting
  .eslintrc.js
  .github/workflows/ci.yaml
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  package.json
  regconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Add a simple example story for Dashboard
  src/containers/Main/Dashboard/index.stories.tsx
  src/containers/Main/Dashboard/index.tsx
  src/stories/decorators.tsx
Due: eslint --fix, prettier --write

install chrome
  .github/workflows/ci.yaml
Due: none
