Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

Bump package version to 2.1.0 (#1119)
  package.json
Due: prettier --write --check

add granular loading states to Market page
  src/clients/api/queries/getMarketHistory/index.ts
  src/pages/Market/Card/styles.ts
  src/pages/Market/index.stories.tsx
  src/pages/Market/index.tsx
  src/pages/Market/useGetChartData.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Add granular loading states to Market page (#1121)
  src/clients/api/queries/getMarketHistory/index.ts
  src/pages/Market/Card/styles.ts
  src/pages/Market/index.stories.tsx
  src/pages/Market/index.tsx
  src/pages/Market/useGetChartData.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

add maxDecimalPlaces and minDecimalPlaces props to shortenValueWithSuffix
  src/pages/Market/__snapshots__/index.spec.tsx.snap
  src/utilities/determineDecimalPlaces.ts
  src/utilities/formatCentsToReadableValue.ts
  src/utilities/formatCentsToReadableValue/__tests__/index.spec.ts
  src/utilities/formatCentsToReadableValue/index.ts
  src/utilities/formatTokensToReadableValue/__tests__/index.spec.ts
  src/utilities/formatTokensToReadableValue/index.ts
  src/utilities/index.ts
  src/utilities/shortenValueWithSuffix/__tests__/index.spec.ts
  src/utilities/shortenValueWithSuffix/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Fix typos linked to ApproveToken component (#1118)
  src/components/ApproveToken/index.stories.tsx
  src/components/ApproveToken/index.tsx
  src/components/ApproveTokenSteps/index.spec.tsx
  src/components/ApproveTokenSteps/index.tsx
  src/components/ApproveTokenSteps/styles.ts
  src/hooks/useOperationModal/Modal/index.tsx
  src/pages/Swap/SubmitSection/styles.ts
  src/pages/Vai/MintVai/index.tsx
  src/pages/Vai/RepayVai/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/WithdrawalRequestList/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix TS config + Vite config
  .env.template
  .eslintignore
  env.d.ts
  src/utilities/walletDetection.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

replace create-react-app with Vite
  .env.template
  .github/workflows/ci.yaml
  .storybook/main.js
  index.html
  package.json
  scripts/runGenerateSubgraphTypes.sh
  src/clients/subgraph/codegen.ts
  src/components/LottieAnimation/index.tsx
  src/components/Modal/index.tsx
  src/config/index.ts
  src/react-app-env.d.ts
  tsconfig.json
  vite-env.d.ts
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix issues with env variables in scripts
  .storybook/main.js
  src/clients/subgraph/codegen.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

update Storybook
  .eslintrc.js
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

update wagmi and WalletConnect
  package.json
  src/clients/web3/Web3Wrapper/binanceWalletConnector.ts
  src/clients/web3/Web3Wrapper/client.ts
  src/components/AuthModal/constants.ts
  src/components/AuthModal/index.tsx
  src/constants/walletConnect.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

rebase with develop
  src/clients/api/__mocks__/index.ts
  src/clients/api/queries/getTransactions/__snapshots__/index.spec.ts.snap
  src/config/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

move test utils to __testUtils_ folders
  src/hooks/useOperationModal/Modal/BorrowForm/__testUtils__/fakeData.ts
  src/hooks/useOperationModal/Modal/BorrowForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/RepayForm/__testUtils__/fakeData.ts
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/indexIntegratedSwap.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/__testUtils__/fakeData.ts
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/__testUtils__/fakeData.ts
  src/hooks/useOperationModal/Modal/WithdrawForm/__tests__/index.spec.tsx
  src/pages/Swap/__testUtils__/fakeData.ts
  src/pages/Swap/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix tests
  .eslintrc.js
  src/components/Form/FormikMarkdownEditor.tsx
  src/pages/Account/VaultsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Account/VaultsBreakdown/index.spec.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/index.spec.tsx
  src/pages/Governance/index.spec.tsx
  src/pages/Proposal/index.spec.tsx
  src/pages/Vai/RepayVai/index.spec.tsx
  src/setupTests.tsx
  vite.config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix tests
  .nvmrc
  src/__mocks__/models/address.ts
  src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  src/pages/Governance/VotingWallet/index.tsx
  src/pages/Governance/index.spec.tsx
  src/setupTests.tsx
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Revert "fix preview"
  .storybook/preview.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

update minimum Node version
  package.json
  src/clients/api/queries/useGetMainAssets/index.spec.tsx
  src/pages/ConvertVrt/Convert/index.spec.tsx
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/testUtils/renderComponent.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix preview
  .storybook/preview.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

remove unused packages
  package.json
  yarn.lock
Due: prettier --write --check

udpate snapshots following rebase with develop
  src/clients/api/queries/useGetMainPool/__snapshots__/index.spec.tsx.snap
Due: none

streamline environment variables usage
  .env.template
  .github/workflows/ci.yaml
  .storybook/main.ts
  env.d.ts
  package.json
  scripts/runGenerateSubgraphTypes.sh
  src/components/LottieAnimation/index.tsx
  src/components/Modal/index.tsx
  src/components/Spinner/index.tsx
  src/config/index.ts
  src/constants/endpoints.ts
  src/types/index.ts
  src/utilities/isFeatureEnabled.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix GitHub action to collect coverage and display it on PRs + update env variables in template file
  .env.template
  .github/workflows/ci.yaml
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix linting issues
  .eslintrc.js
  env.d.ts
  vite-env.d.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

udpate Dashboard tests
  src/pages/Dashboard/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

remove unnecessary env variables
  src/config/index.ts
  src/context/Analytics/index.tsx
  src/context/ErrorLogger/index.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

default config to production
  src/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

remove NODE_ENV env variable from .env.template + fix linting issue
  .env.template
  src/clients/api/queries/useGetMainAssets/__snapshots__/index.spec.tsx.snap
  src/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

increase memory limit in CI pipeline
  .github/workflows/ci.yaml
Due: none

temporarily remove storybook step from Github actions until a fix is found for Loki
  .github/workflows/ci.yaml
Due: none

upgrade wagmi to fix issue with WalletConnect
  package.json
  yarn.lock
Due: prettier --write --check

update minimum node version to 18.x
  .github/workflows/ci.yaml
  .nvmrc
  Dockerfile
  package.json
Due: prettier --write --check

remove unnecessary patch
  package.json
  patches/@stylelint+postcss-css-in-js+0.37.2.patch
  src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  src/pages/ConvertVrt/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

update node version used in Docker to 16.20.0
  Dockerfile
Due: none

add mode to config
  src/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

add concurrency in workflow to automatically stop previous runs
  .github/workflows/ci.yaml
Due: none
