Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: add voteProposal feature flag
  src/hooks/useIsFeatureEnabled/index.tsx
  src/pages/Proposal/index.spec.tsx
  src/pages/Proposal/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add chainId to the dependencies of memoized menuItems
  src/containers/Layout/useGetMenuItems.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: behavior of voteProposal feature flag
  src/pages/Proposal/index.spec.tsx
  src/pages/Proposal/index.tsx
  src/pages/Proposal/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add tests for voteProposal feature flag
  src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display chain metadata in Claim Rewards modal (#1774)
  src/constants/chainsMetadata.ts
  src/containers/Layout/ChainSelect/index.tsx
  src/containers/Layout/ClaimRewardButton/index.tsx
  src/translation/translations/en.json
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: move RPC provider settings to env variables
  src/config/index.ts
  src/constants/endpoints.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add README to translations package
  README.md
  src/packages/translations/README.md
Due: none

chore: add README to translations package (#1785)
  README.md
  src/packages/translations/README.md
Due: none

refactor: move RPC provider settings to env variables (#1784)
  src/config/index.ts
  src/constants/endpoints.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display error message when user attempts to switch chain while wallet is locked
  src/context/AuthContext/index.tsx
  src/errors/unexpectedErrorPhrases.ts
  src/packages/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: warn user they will lose their Prime token if they withdraw too much XVS
  i18next-parser.config.js
  src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/BorrowForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/indexIntegratedSwap.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  src/packages/translations/translations/en.json
  src/pages/Swap/__tests__/index.spec.tsx
  src/pages/Vault/TransactionForm/index.spec.tsx
  src/pages/Vault/TransactionForm/index.tsx
  src/pages/Vault/TransactionForm/styles.ts
  src/pages/Vault/TransactionForm/testIds.ts
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/PrimeLossWarningNotice/__tests__/index.spec.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/PrimeLossWarningNotice/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/PrimeLossWarningNotice/testIds.ts
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/index.spec.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/indexPrime.spec.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: remove unused SuccessfulTransactionModal context
  src/App/index.tsx
  src/context/SuccessfulTransactionModalContext.tsx
  src/testUtils/renderComponent.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: switch chain error handling (#1782)
  src/context/AuthContext/index.tsx
  src/errors/unexpectedErrorPhrases.ts
  src/packages/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: remove unused SuccessfulTransactionModal context (#1788)
  src/App/index.tsx
  src/context/SuccessfulTransactionModalContext.tsx
  src/testUtils/renderComponent.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump @venusprotocol/venus-protocol to 5.2.0-dev.2
  package.json
  yarn.lock
Due: prettier --write --check

feat: use Prime addresses from package
  src/packages/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: typing issue
  src/packages/translations/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump node version to 18.17
  .nvmrc
  package.json
Due: prettier --write --check

refactor: reduce amount of errors logged
  src/clients/api/queryClient.ts
  src/context/AuthContext/index.tsx
  src/hooks/useSendTransaction/useTrackTransaction/__tests__/index.spec.tsx
  src/hooks/useSendTransaction/useTrackTransaction/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: change TS config moduleResolution to bundler
  tsconfig.json
Due: prettier --write --check

refactor: reduce amount of errors logged (#1783)
  src/clients/api/queryClient.ts
  src/context/AuthContext/index.tsx
  src/hooks/useSendTransaction/useTrackTransaction/__tests__/index.spec.tsx
  src/hooks/useSendTransaction/useTrackTransaction/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: change TS config moduleResolution to bundler (#1795)
  tsconfig.json
Due: prettier --write --check

feat: Prime loss warning (#1766)
  i18next-parser.config.js
  src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/BorrowForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/indexIntegratedSwap.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  src/packages/translations/translations/en.json
  src/pages/Swap/__tests__/index.spec.tsx
  src/pages/Vault/TransactionForm/index.spec.tsx
  src/pages/Vault/TransactionForm/index.tsx
  src/pages/Vault/TransactionForm/styles.ts
  src/pages/Vault/TransactionForm/testIds.ts
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/PrimeLossWarningNotice/__tests__/index.spec.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/PrimeLossWarningNotice/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/PrimeLossWarningNotice/testIds.ts
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/index.spec.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/indexPrime.spec.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump venusprotocol/venus-protocol to 5.2.0
  package.json
  yarn.lock
Due: prettier --write --check

feat: create notifications package
  src/App/index.tsx
  src/components/Notice/index.tsx
  src/errors/displayMutationError/__tests__/index.spec.ts
  src/errors/displayMutationError/index.ts
  src/hooks/useCopyToClipboard.ts
  src/hooks/useSendTransaction/useTrackTransaction/__tests__/index.spec.tsx
  src/hooks/useSendTransaction/useTrackTransaction/index.tsx
  src/packages/notifications/NotificationCenter/__tests__/__snapshots__/index.spec.tsx.snap
  src/packages/notifications/NotificationCenter/__tests__/index.spec.tsx
  src/packages/notifications/NotificationCenter/index.tsx
  src/packages/notifications/NotificationCenter/testIds.ts
  src/packages/notifications/__mocks__/models/notifications.ts
  src/packages/notifications/index.ts
  src/packages/notifications/store/__tests__/index.spec.ts
  src/packages/notifications/store/index.ts
  src/packages/notifications/store/types.ts
  src/packages/notifications/utilities/__tests__/index.spec.ts
  src/packages/notifications/utilities/index.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: create notifications package (#1803)
  src/App/index.tsx
  src/components/Notice/index.tsx
  src/errors/displayMutationError/__tests__/index.spec.ts
  src/errors/displayMutationError/index.ts
  src/hooks/useCopyToClipboard.ts
  src/hooks/useSendTransaction/useTrackTransaction/__tests__/index.spec.tsx
  src/hooks/useSendTransaction/useTrackTransaction/index.tsx
  src/packages/notifications/NotificationCenter/__tests__/__snapshots__/index.spec.tsx.snap
  src/packages/notifications/NotificationCenter/__tests__/index.spec.tsx
  src/packages/notifications/NotificationCenter/index.tsx
  src/packages/notifications/NotificationCenter/testIds.ts
  src/packages/notifications/__mocks__/models/notifications.ts
  src/packages/notifications/index.ts
  src/packages/notifications/store/__tests__/index.spec.ts
  src/packages/notifications/store/index.ts
  src/packages/notifications/store/types.ts
  src/packages/notifications/utilities/__tests__/index.spec.ts
  src/packages/notifications/utilities/index.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable Prime feature on BSC_MAINNET
  src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: update Prime test for BSC_MAINNET
  src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: prime typo
  src/packages/translations/translations/en.json
Due: prettier --write --check

hotfix: Prime typo (#1810)
  src/packages/translations/translations/en.json
Due: prettier --write --check

feat: prevent error log from missing CAN token
  src/clients/api/queries/getMainPool/formatToPool/index.ts
  src/clients/api/queries/getVTokens/index.ts
  src/constants/address.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
