Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: add Core Pool WBNB market NativeTokenGateway contract record
  .changeset/dark-cows-see.md
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: flex row for selectors in mobile
  apps/evm/src/pages/Account/NewPage/Transactions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: format approvals using VTokens
  apps/evm/src/__mocks__/models/transactions.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/formatApiTransaction.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/types.ts
  apps/evm/src/pages/Account/NewPage/Transactions/TransactionDetails/index.tsx
  apps/evm/src/pages/Account/NewPage/Transactions/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: scroll styling
  apps/evm/package.json
  apps/evm/src/pages/Account/NewPage/Transactions/index.tsx
  apps/evm/tailwind.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Core Pool WBNB market NativeTokenGateway contract record (#4773)
  .changeset/dark-cows-see.md
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/dark-cows-see.md
  .changeset/lovely-singers-allow.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: tab search param initialisation
  .changeset/huge-forks-drop.md
  apps/evm/src/hooks/useTabs/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add transaction icons
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/transactionCollateral.tsx
  apps/evm/src/components/Icon/icons/transactionFile.tsx
  apps/evm/src/components/Icon/icons/transactionIn.tsx
  apps/evm/src/components/Icon/icons/transactionLink.tsx
  apps/evm/src/components/Icon/icons/transactionOut.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/better-buses-prove.md
Due: none

feat: add dropdownClassName
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/components/Select/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getAccountHistoricalTransactions
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/formatApiTransaction.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/types.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/useGetAccountTransactionHistory.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add historicalTransactions feature flag
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update pagination onChange
  apps/evm/src/components/Pagination/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add coverage for getAccountTransactionHistory
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add transactions tab
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/Transactions/TransactionDetails/index.tsx
  apps/evm/src/pages/Account/Transactions/TransactionRow/index.tsx
  apps/evm/src/pages/Account/Transactions/TransactionsList/index.tsx
  apps/evm/src/pages/Account/Transactions/index.tsx
  apps/evm/src/pages/Account/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add coverage to the transactions tab
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/index.spec.ts
  apps/evm/src/pages/Account/Transactions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/Transactions/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: format approvals using VTokens
  apps/evm/src/__mocks__/models/transactions.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/formatApiTransaction.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/types.ts
  apps/evm/src/pages/Account/Transactions/TransactionDetails/index.tsx
  apps/evm/src/pages/Account/Transactions/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: flex row for selectors in mobile
  apps/evm/src/pages/Account/Transactions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: scroll styling
  apps/evm/package.json
  apps/evm/src/pages/Account/Transactions/index.tsx
  apps/evm/tailwind.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/better-buses-prove.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: tab search param initialization (#4779)
  .changeset/huge-forks-drop.md
  apps/evm/src/hooks/useTabs/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/huge-forks-drop.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/thin-groups-dig.md
  apps/evm/src/components/Apy/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: show borrowable state of assets
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/generateFakeEModeGroup.tsx
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/components/Apy/index.tsx
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/index.eMode.spec.tsx
  apps/evm/src/pages/Pool/__tests__/index.spec.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add logic to E-mode tab
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/generateFakeEModeGroup/index.tsx
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/components/InfoIcon/index.tsx
  apps/evm/src/components/Tooltip/index.tsx
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/getHypotheticalAssetValues/index.ts
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/index.spec.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add isBorrowable prop to Asset and EModeAssetSettings types
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/generateFakeEModeGroup.tsx
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add group logic to E-mode tab (#4765)
  .changeset/thin-groups-dig.md
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/generateFakeEModeGroup/index.tsx
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/components/Apy/index.tsx
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/components/InfoIcon/index.tsx
  apps/evm/src/components/Tooltip/index.tsx
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/getHypotheticalAssetValues/index.ts
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/index.spec.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/index.eMode.spec.tsx
  apps/evm/src/pages/Pool/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Vercel config
  apps/landing/src/pages/Home/Background/Background.module.css
  apps/landing/vercel.json
Due: prettier --write --check

feat: add legal pages to landing page
  apps/landing/package.json
  apps/landing/src/App/index.tsx
  apps/landing/src/components/Layout/Footer/Footer.module.css
  apps/landing/src/components/Layout/Footer/Footer.tsx
  apps/landing/src/components/Layout/index.tsx
  apps/landing/src/components/Legal/assets/chevron.svg
  apps/landing/src/components/Legal/index.module.css
  apps/landing/src/components/Legal/index.tsx
  apps/landing/src/constants/production.ts
  apps/landing/src/index.tsx
  apps/landing/src/pages/Home/index.module.css
  apps/landing/src/pages/Home/index.tsx
  apps/landing/src/pages/PrivacyPolicy/index.tsx
  apps/landing/src/pages/TermsOfUse/index.tsx
  apps/landing/tailwind.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update landing page footer
  apps/landing/src/components/Container/Container.module.css
  apps/landing/src/components/Container/Container.tsx
  apps/landing/src/components/Layout/Footer/Footer.module.css
  apps/landing/src/components/Layout/Footer/Footer.tsx
  apps/landing/src/components/Layout/Footer/NavLink/NavLink.tsx
  apps/landing/src/components/Layout/Footer/SocialLinks.module.css
  apps/landing/src/components/Layout/Footer/SocialLinks.tsx
  apps/landing/src/components/Layout/NavigationLinks/NavigationLinks.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/thin-groups-dig.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: use authenticated Safe endpoint
  .changeset/smooth-rocks-return.md
  apps/evm/.env.template
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/hooks/useSendTransaction/sendTransaction/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useSendTransaction/sendTransaction/__tests__/index.spec.tsx
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/waitForSafeWalletTransaction/getSafeWalletTransaction/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/waitForSafeWalletTransaction/getSafeWalletTransaction/__tests__/index.spec.ts
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/waitForSafeWalletTransaction/getSafeWalletTransaction/index.ts
  apps/evm/src/setupTests.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: use authenticated Safe endpoint (#4787)
  .changeset/smooth-rocks-return.md
  apps/evm/.env.template
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/hooks/useSendTransaction/sendTransaction/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useSendTransaction/sendTransaction/__tests__/index.spec.tsx
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/waitForSafeWalletTransaction/getSafeWalletTransaction/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/waitForSafeWalletTransaction/getSafeWalletTransaction/__tests__/index.spec.ts
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/waitForSafeWalletTransaction/getSafeWalletTransaction/index.ts
  apps/evm/src/setupTests.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/smooth-rocks-return.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add E-mode promotional banner to Borrow form
  .changeset/slow-jars-nail.md
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add E-mode promotional banner to Borrow form (#4780)
  .changeset/slow-jars-nail.md
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/slow-jars-nail.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
