Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: support first page / last page on pagination not valid
  apps/evm/src/components/Pagination/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support disclaimer onchain
  .changeset/sharp-moons-behave.md
  apps/evm/src/clients/api/mutations/useStakeIntoInstitutionalVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useStakeIntoInstitutionalVault/index.ts
  apps/evm/src/constants/institutionalVault.ts
  apps/evm/src/libs/contracts/abis/institutionalVaultAbi/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support disclaimer onchain
  apps/evm/src/constants/institutionalVault.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support disclaimer onchain
  apps/evm/src/clients/api/mutations/useStakeIntoInstitutionalVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useStakeIntoInstitutionalVault/index.ts
  apps/evm/src/constants/institutionalVault.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: change pagination on transactions
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: change vaults depoly date
  .changeset/bumpy-shrimps-thank.md
  apps/evm/src/__mocks__/models/vaults.ts
  apps/evm/src/clients/api/queries/getFixedRatedVaults/types.ts
  apps/evm/src/clients/api/queries/useGetVaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/__tests__/index.spec.tsx
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/formatVaults/formatToInstitutionalVault/getVaultStatus/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/formatVaults/formatToInstitutionalVault/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: change constant key for disclaimer
  apps/evm/src/clients/api/mutations/useStakeIntoInstitutionalVault/index.ts
  apps/evm/src/constants/institutionalVault.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/bumpy-shrimps-thank.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support for SKHYB + update bStock icons (#5685)
  .changeset/wise-dogs-speak.md
  packages/chains/src/images/tokens/nvdab.png
  packages/chains/src/images/tokens/nvdab.svg
  packages/chains/src/images/tokens/skhyb.png
  packages/chains/src/images/tokens/spcxb.png
  packages/chains/src/images/tokens/spcxb.svg
  packages/chains/src/images/tokens/tslab.svg
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
  packages/chains/src/tokens/underlyingTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wise-dogs-speak.md
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

fix: improve modal stacking of AccountModal
  .changeset/warm-goats-act.md
  apps/evm/src/containers/Layout/NavBar/ConnectButton/AccountModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support edge case pagination
  apps/evm/src/components/Pagination/index.tsx
  apps/evm/src/components/Pagination/usePagination.ts
  apps/evm/src/pages/PrimeLeaderboard/PrimeLeaderboardTable/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/RankTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support false date
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/formatVaults/formatToPendleVault/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/lazy-gifts-appear.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: improve modal stacking of AccountModal (#5690)
  .changeset/warm-goats-act.md
  apps/evm/src/containers/Layout/NavBar/ConnectButton/AccountModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/warm-goats-act.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add getRiskDashboardTransactionsVolume
  apps/evm/src/clients/api/queries/getRiskDashboardTransactionsVolume/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardTransactionsVolume/useGetRiskDashboardTransactionsVolume.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getRiskDashboardMarketAggregates
  apps/evm/src/clients/api/queries/getRiskDashboardMarketAggregates/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardMarketAggregates/useGetRiskDashboardMarketAggregates.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getRiskDashboardWalletAggregates
  apps/evm/src/clients/api/queries/getRiskDashboardWalletAggregates/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardWalletAggregates/useGetRiskDashboardWalletAggregates.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: risk dashboard overview translation entries
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Stats/HistoricalDominanceChart/index.tsx
  apps/evm/src/pages/Stats/HistoricalMarketChart/index.tsx
  apps/evm/src/pages/Stats/TransactionsVolume/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getRiskDashboardTopWallets
  apps/evm/src/clients/api/queries/getRiskDashboardTopWallets/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardTopWallets/useGetRiskDashboardTopWallets.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add new function keys
  apps/evm/src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Stats - Overview
  apps/evm/src/clients/api/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Stats/HistoricalDominanceChart/index.tsx
  apps/evm/src/pages/Stats/HistoricalLiquidityChart/index.tsx
  apps/evm/src/pages/Stats/HistoricalMarketChart/index.tsx
  apps/evm/src/pages/Stats/MarketKpis/index.tsx
  apps/evm/src/pages/Stats/StatsIframe/index.tsx
  apps/evm/src/pages/Stats/TopWallets/TopWalletsTable/index.tsx
  apps/evm/src/pages/Stats/TopWallets/index.tsx
  apps/evm/src/pages/Stats/TransactionsVolume/index.tsx
  apps/evm/src/pages/Stats/WalletKpis/index.tsx
  apps/evm/src/pages/Stats/index.tsx
  apps/evm/src/pages/Stats/roundUpToScale.ts
  apps/evm/src/pages/Stats/useMarketColors.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add useImageAccentColors
  apps/evm/src/hooks/useImageAccentColors/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/public-moments-know.md
Due: none

feat: add getRiskDashboardMarketSnapshots
  apps/evm/src/clients/api/queries/getRiskDashboardMarketSnapshots/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardMarketSnapshots/useGetRiskDashboardMarketSnapshots.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Stats - Overview
  apps/evm/src/pages/Stats/TopWallets/TopWalletsTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add MarketsTable
  apps/evm/src/pages/Stats/MarketsTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/angry-experts-grow.md
Due: none

feat: add getRiskDashboardMarkets and getRiskDashboardEModePools
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/fetchRiskDashboard.ts
  apps/evm/src/clients/api/queries/getRiskDashboardEModePools/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardEModePools/useGetRiskDashboardEModePools.ts
  apps/evm/src/clients/api/queries/getRiskDashboardMarkets/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardMarkets/useGetRiskDashboardMarkets.ts
  apps/evm/src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add RiskParametersTable
  apps/evm/src/pages/Stats/RiskParametersTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: translations for the market tables
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

feat: add EModeTable
  apps/evm/src/pages/Stats/EModeTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Stats - Overview
  apps/evm/src/pages/Stats/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: translation keys for liquidations
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

feat: add getRiskDashboardLiquidationsDaily
  apps/evm/src/clients/api/queries/getRiskDashboardLiquidationsDaily/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardLiquidationsDaily/useGetRiskDashboardLiquidationsDaily.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getRiskDashboardLiquidationsDistribution
  apps/evm/src/clients/api/queries/getRiskDashboardLiquidationsDistribution/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardLiquidationsDistribution/useGetRiskDashboardLiquidationsDistribution.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add liquidations tab
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Stats/Liquidations/LiquidationsDailyChart/index.tsx
  apps/evm/src/pages/Stats/Liquidations/LiquidationsDistributionChart/index.tsx
  apps/evm/src/pages/Stats/Liquidations/LiquidationsKpis/index.tsx
  apps/evm/src/pages/Stats/Liquidations/index.tsx
  apps/evm/src/pages/Stats/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getRiskDashboardLiquidationsSummary
  apps/evm/src/clients/api/queries/getRiskDashboardLiquidationsSummary/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardLiquidationsSummary/useGetRiskDashboardLiquidationsSummary.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
