Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for tailwind.css
  package.json
  postcss.config.js
  src/App/Router/index.tsx
  src/App/index.tsx
  src/assets/styles/App.scss
  src/assets/styles/Global.scss
  src/assets/styles/index.scss
  src/assets/styles/normalize.scss
  src/components/Markdown/Editor/styles-overrides.scss
  src/components/Markdown/Editor/styles.scss
  src/theme/MuiThemeProvider/index.tsx
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update theme with all settings
  src/theme/MuiThemeProvider/muiTheme.ts
  src/theme/index.ts
  tailwind.config.js
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: design tweaks (2)
  src/components/Link/index.stories.tsx
  src/components/Link/index.tsx
  src/components/Table/index.tsx
  src/components/index.ts
  src/containers/PrimeStatusBanner/index.tsx
  src/containers/PrimeStatusBanner/styles.ts
  src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  src/pages/Governance/VotingWallet/DelegateModal/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use Link component instead of plain anchor tags
  src/components/Card/index.stories.tsx
  src/components/Link/index.tsx
  src/components/TokenAnnouncement/index.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/pages/Dashboard/ConnectWalletBanner/index.spec.tsx
  src/pages/Dashboard/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/UploadOrManualProposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: convert ConnectWalletBanner component to Tailwind to serve as an example
  package.json
  src/assets/styles/index.scss
  src/components/Card/index.stories.tsx
  src/components/Card/index.tsx
  src/components/index.ts
  src/pages/Dashboard/ConnectWalletBanner/index.tsx
  src/pages/Dashboard/ConnectWalletBanner/styles.ts
  src/pages/Dashboard/index.tsx
  src/theme/MuiThemeProvider/muiTheme.ts
  src/theme/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add clsx for classNames and Prettier plugin to sort classes
  .prettierrc.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: design tweaks (3)
  src/components/BscLink/index.tsx
  src/components/BscLink/styles.ts
  src/components/Layout/Header/Breadcrumbs/index.tsx
  src/components/Link/index.stories.tsx
  src/components/Link/index.tsx
  src/components/Table/styles.ts
  src/pages/History/HistoryTable/index.tsx
  src/theme/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: postcss version clash
  postcss.config.js
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: disable pool fetching
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
  src/clients/api/queries/useGetPools/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: disable queries
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
  src/clients/api/queryClient.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.26.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  4a711d7b41963ef0e954a9e3a3d43bb8df06ce73
Due: none

feat: lazy load ClaimRewardButton component
  src/components/Layout/Header/index.tsx
  src/components/Layout/Sidebar/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: create SuspenseWithSpinner component
  src/App/Router/index.tsx
  src/components/SuspenseWithSpinner/index.tsx
  src/components/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: lazy load modals
  src/pages/Governance/ProposalList/index.tsx
  src/pages/Governance/VotingWallet/index.tsx
  src/pages/Vault/VaultItem/index.tsx
  src/pages/Vault/modals/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: lazy load Operation modal
  src/hooks/useOperationModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update default error thrown by callOrThrow
  src/errors/unexpectedErrorPhrases.ts
  src/translation/translations/en.json
  src/utilities/callOrThrow/__tests__/index.spec.ts
  src/utilities/callOrThrow/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update default error thrown by callOrThrow (#1522)
  src/errors/unexpectedErrorPhrases.ts
  src/translation/translations/en.json
  src/utilities/callOrThrow/__tests__/index.spec.ts
  src/utilities/callOrThrow/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for tailwind.css (#1512)
  .prettierrc.js
  package.json
  postcss.config.js
  src/App/Router/index.tsx
  src/App/index.tsx
  src/assets/styles/App.scss
  src/assets/styles/Global.scss
  src/assets/styles/index.scss
  src/assets/styles/normalize.scss
  src/components/BscLink/index.tsx
  src/components/BscLink/styles.ts
  src/components/Card/index.stories.tsx
  src/components/Card/index.tsx
  src/components/Layout/Header/Breadcrumbs/index.tsx
  src/components/Layout/Sidebar/styles.ts
  src/components/Link/index.stories.tsx
  src/components/Link/index.tsx
  src/components/Markdown/Editor/styles-overrides.scss
  src/components/Markdown/Editor/styles.scss
  src/components/Table/index.tsx
  src/components/Table/styles.ts
  src/components/TokenAnnouncement/index.tsx
  src/components/index.ts
  src/containers/PrimeStatusBanner/index.tsx
  src/containers/PrimeStatusBanner/styles.ts
  src/pages/Dashboard/ConnectWalletBanner/index.spec.tsx
  src/pages/Dashboard/ConnectWalletBanner/index.tsx
  src/pages/Dashboard/ConnectWalletBanner/styles.ts
  src/pages/Dashboard/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/UploadOrManualProposal/index.tsx
  src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  src/pages/Governance/VotingWallet/DelegateModal/styles.ts
  src/pages/History/HistoryTable/index.tsx
  src/theme/MuiThemeProvider/index.tsx
  src/theme/MuiThemeProvider/muiTheme.ts
  src/theme/index.ts
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.27.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  8a6e55914d8374471eb7c9533b4e8dcb80e89e08
Due: none

chore(release): 2.27.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  5319604f05f03172d4178c6b803ec5ac620bb2ae
Due: none

refactor: update generatePancakeSwapTokenRecords to use tsx and handlebars
  package.json
  src/packages/tokens/scripts/generatePancakeSwapTokenRecords.mjs
  src/packages/tokens/scripts/generatePancakeSwapTokenRecords.ts
  src/packages/tokens/scripts/tokenListTemplate.hbs
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: minor design tweaks + only return account address if isConnected flag is true
  src/components/Modal/styles.ts
  src/containers/MarketTable/styles.ts
  src/containers/MarketTable/useGenerateColumns.tsx
  src/context/AuthContext/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: move getTokenContract and useGetToken contract to contracts package
  src/clients/api/mutations/approveToken/useApproveToken.ts
  src/clients/api/mutations/revokeSpendingLimit/useRevokeSpendingLimit.ts
  src/clients/api/queries/getAllowance/useGetAllowance.ts
  src/clients/api/queries/getBalanceOf/index.spec.ts
  src/clients/api/queries/getBalanceOf/index.ts
  src/clients/api/queries/getTokenBalances/index.spec.ts
  src/clients/api/queries/getTokenBalances/index.ts
  src/packages/contracts/hooks/useGetTokenContract/__tests__/index.spec.ts
  src/packages/contracts/hooks/useGetTokenContract/index.ts
  src/packages/contracts/index.ts
  src/packages/contracts/utilities/genericContractGetterHookGenerator/__tests__/index.spec.ts
  src/packages/contracts/utilities/getTokenContract/__tests__/index.spec.ts
  src/packages/contracts/utilities/getTokenContract/index.ts
  src/packages/contracts/utilities/swapRouterContractGetterHookGenerator/__tests__/index.spec.ts
  src/packages/contracts/utilities/uniqueContractGetterHookGenerator/__tests__/index.spec.ts
  src/utilities/getTokenContract/__mocks__/index.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: move getVTokenContract and useGetVTokenContract to contracts package
  src/clients/api/mutations/borrow/index.spec.ts
  src/clients/api/mutations/borrow/index.ts
  src/clients/api/mutations/borrow/useBorrow.ts
  src/clients/api/mutations/redeem/index.spec.ts
  src/clients/api/mutations/redeem/index.ts
  src/clients/api/mutations/redeem/useRedeem.ts
  src/clients/api/mutations/redeemUnderlying/index.spec.ts
  src/clients/api/mutations/redeemUnderlying/index.ts
  src/clients/api/mutations/redeemUnderlying/useRedeemUnderlying.ts
  src/clients/api/mutations/repay/index.spec.ts
  src/clients/api/mutations/repay/index.ts
  src/clients/api/mutations/supply/index.spec.ts
  src/clients/api/mutations/supply/index.ts
  src/clients/api/queries/getBalanceOf/index.spec.ts
  src/clients/api/queries/getVTokenBalanceOf/index.spec.ts
  src/clients/api/queries/getVTokenBalanceOf/index.ts
  src/clients/api/queries/getVTokenBalanceOf/useGetVTokenBalanceOf.ts
  src/clients/api/queries/getVTokenInterestRateModel/index.spec.ts
  src/clients/api/queries/getVTokenInterestRateModel/index.ts
  src/clients/api/queries/getVTokenInterestRateModel/useGetVTokenInterestRateModel.ts
  src/hooks/useCollateral/index.tsx
  src/packages/contracts/config/index.ts
  src/packages/contracts/hooks/useGetVTokenContract/__tests__/index.spec.ts
  src/packages/contracts/hooks/useGetVTokenContract/index.ts
  src/packages/contracts/index.ts
  src/packages/contracts/utilities/getVTokenContract/__tests__/index.spec.ts
  src/packages/contracts/utilities/getVTokenContract/index.ts
  src/utilities/getVTokenContract/__mocks__/index.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: design tweaks + auth (#1530)
  src/components/Modal/styles.ts
  src/containers/MarketTable/styles.ts
  src/containers/MarketTable/useGenerateColumns.tsx
  src/context/AuthContext/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update generatePancakeSwapTokenRecords (#1523)
  package.json
  src/packages/tokens/scripts/generatePancakeSwapTokenRecords.mjs
  src/packages/tokens/scripts/generatePancakeSwapTokenRecords.ts
  src/packages/tokens/scripts/tokenListTemplate.hbs
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update genericContractGettersTemplate so it does not use helpers
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/genericContractGettersTemplate.hbs
  src/packages/contracts/utilities/genericContractGetterGenerator/__tests__/index.spec.ts
  src/packages/contracts/utilities/genericContractGetterGenerator/index.ts
  src/packages/contracts/utilities/genericContractGetterHookGenerator/__tests__/index.spec.ts
  src/packages/contracts/utilities/genericContractGetterHookGenerator/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.27.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  72f038dad94c16a17247889fef0f9fe3d612843f
Due: none

refactor: update uniqueContractGettersTemplate so it does not use helpers
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/uniqueContractGettersTemplate.hbs
  src/packages/contracts/utilities/uniqueContractAddressGetterGenerator/__tests__/index.spec.ts
  src/packages/contracts/utilities/uniqueContractAddressGetterGenerator/index.ts
  src/packages/contracts/utilities/uniqueContractAddressGetterHookGenerator/__tests__/index.spec.ts
  src/packages/contracts/utilities/uniqueContractAddressGetterHookGenerator/index.ts
  src/packages/contracts/utilities/uniqueContractGetterGenerator/__tests__/index.spec.ts
  src/packages/contracts/utilities/uniqueContractGetterGenerator/index.ts
  src/packages/contracts/utilities/uniqueContractGetterHookGenerator/__tests__/index.spec.ts
  src/packages/contracts/utilities/uniqueContractGetterHookGenerator/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update swapRouterContractGettersTemplate so it does not use helpers
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/__tests__/__snapshots__/index.spec.ts.snap
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/genericContractGettersTemplate.hbs
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/swapRouterContractGettersTemplate.hbs
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/uniqueContractGettersTemplate.hbs
  src/packages/contracts/utilities/getSwapRouterContractAddress/__tests__/index.spec.ts
  src/packages/contracts/utilities/getSwapRouterContractAddress/index.ts
  src/packages/contracts/utilities/swapRouterContractGetterGenerator/__tests__/index.spec.ts
  src/packages/contracts/utilities/swapRouterContractGetterGenerator/index.ts
  src/packages/contracts/utilities/swapRouterContractGetterHookGenerator/__tests__/index.spec.ts
  src/packages/contracts/utilities/swapRouterContractGetterHookGenerator/index.ts
  src/packages/contracts/utilities/useGetSwapRouterContractAddress/__tests__/index.spec.ts
  src/packages/contracts/utilities/useGetSwapRouterContractAddress/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: remove duplicates from BSC mainnet token list + fix issue with keys on token list
  src/components/SelectTokenTextField/TokenList/index.tsx
  src/packages/tokens/tokenInfos/commonTokens/bscMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use next auth endpoint
  src/clients/api/queries/getIsAddressAuthorized/index.ts
  src/hooks/useOperationModal/Modal/WithdrawForm/__tests__/index.spec.tsx
  src/pages/Dashboard/ConnectWalletBanner/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/index.tsx
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: refetch auth on address change
  src/clients/api/queries/getIsAddressAuthorized/useGetIsAddressAuthorized.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update tokens package
  src/hooks/useGetPancakeSwapTokens.ts
  src/hooks/useGetSwapInfo/__tests__/__snapshots__/useGetTokenCombinations.spec.tsx.snap
  src/hooks/useGetSwapInfo/useGetTokenCombinations.ts
  src/hooks/useGetSwapTokenUserBalances.ts
  src/packages/tokens/__mocks__/index.ts
  src/packages/tokens/hooks/useGetSwapTokens/__tests__/index.spec.ts
  src/packages/tokens/hooks/useGetSwapTokens/index.ts
  src/packages/tokens/index.ts
  src/packages/tokens/scripts/tokenListTemplate.hbs
  src/packages/tokens/tokenInfos/pancakeSwapTokens/index.tsx
  src/packages/tokens/utilities/getPancakeSwapTokens/__tests__/index.spec.ts
  src/packages/tokens/utilities/getPancakeSwapTokens/index.ts
  src/packages/tokens/utilities/getSwapTokens/__tests__/__snapshots__/index.spec.ts.snap
  src/packages/tokens/utilities/getSwapTokens/__tests__/index.spec.ts
  src/packages/tokens/utilities/getSwapTokens/index.ts
  src/packages/tokens/utilities/getTokens/__tests__/index.spec.ts
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.27.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
