Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

fix: always load Prime status
  .changeset/brave-worms-tan.md
  apps/evm/src/hooks/useGetUserPrimeInfo/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: keep session and distinct IDs between apps
  .changeset/legal-moons-send.md
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
  apps/landing/.env.template
  apps/landing/README.md
  apps/landing/src/components/AnalyticProvider/context/index.tsx
  apps/landing/src/components/AnalyticProvider/index.tsx
  apps/landing/src/components/App.tsx
  apps/landing/src/components/Footer/Footer.tsx
  apps/landing/src/components/Header/MenuMobile.tsx
  apps/landing/src/components/Link/LinkLaunchApp.tsx
  apps/landing/src/components/MainContent/Intro.tsx
  apps/landing/src/components/Market/Market.tsx
  apps/landing/src/constants/production.ts
  apps/landing/src/context/index.tsx
  apps/landing/src/hooks/useDAppUrl/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove Berachain-related code
  .changeset/wide-ends-lick.md
  apps/evm/src/config/rpcUrls.ts
  apps/evm/src/config/subgraphUrls.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/vTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/index.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/chainMetadata.ts
  packages/chains/src/types.ts
  packages/ui/src/theme.css
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update icon used on new Account page placeholder
  .changeset/busy-papayas-begin.md
  apps/evm/src/pages/Account/NewPage/Pools/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update icon used on new Account page placeholder (#4655)
  .changeset/busy-papayas-begin.md
  apps/evm/src/pages/Account/NewPage/Pools/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove Berachain-related code (#4652)
  .changeset/wide-ends-lick.md
  apps/evm/src/config/rpcUrls.ts
  apps/evm/src/config/subgraphUrls.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/vTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/index.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/chainMetadata.ts
  packages/chains/src/types.ts
  packages/ui/src/theme.css
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Settings tab to new Account page (#4651)
  .changeset/rude-heads-show.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/NewPage/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/NewPage/index.tsx
  apps/evm/src/pages/Account/OldPage/AccountBreakdown/index.tsx
  apps/evm/src/pages/Account/Settings/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: always load Prime status on new Account page (#4646)
  .changeset/brave-worms-tan.md
  apps/evm/src/hooks/useGetUserPrimeInfo/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/brave-worms-tan.md
  .changeset/busy-papayas-begin.md
  .changeset/rude-heads-show.md
  .changeset/wide-ends-lick.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write --check

feat: update CellGroup component
  apps/evm/src/components/Cell/index.tsx
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/containers/Vault/index.tsx
  apps/evm/src/pages/Account/PoolPositions/index.tsx
  apps/evm/src/pages/Account/PoolSummary/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: keep session and distinct IDs between apps (#4653)
  .changeset/legal-moons-send.md
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
  apps/landing/.env.template
  apps/landing/README.md
  apps/landing/src/components/AnalyticProvider/context/index.tsx
  apps/landing/src/components/AnalyticProvider/index.tsx
  apps/landing/src/components/App.tsx
  apps/landing/src/components/Footer/Footer.tsx
  apps/landing/src/components/Header/MenuMobile.tsx
  apps/landing/src/components/Link/LinkLaunchApp.tsx
  apps/landing/src/components/MainContent/Intro.tsx
  apps/landing/src/components/Market/Market.tsx
  apps/landing/src/constants/production.ts
  apps/landing/src/context/index.tsx
  apps/landing/src/hooks/useDAppUrl/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/legal-moons-send.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

feat: fetch and display account performance over time
  .changeset/heavy-squids-check.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/formatDataPoints/index.ts
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/index.ts
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/types.ts
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/useGetAccountPerformanceHistory.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/NewPage/PerformanceChart/fakeData.ts
  apps/evm/src/pages/Account/NewPage/PerformanceChart/formatToReadableAxisDate/index.ts
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
  apps/evm/src/pages/Account/NewPage/Summary/index.tsx
  apps/evm/src/pages/Account/NewPage/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/index.tsx
  apps/evm/src/pages/Account/PoolSummary/index.tsx
  apps/evm/src/pages/Account/useExtractData/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/heavy-squids-check.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: small UI fixes on new Account page
  apps/evm/src/components/AreaChart/index.tsx
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/components/ChartYAxisTick/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
  apps/evm/src/pages/Account/NewPage/PrimeBanner/index.tsx
  apps/evm/src/pages/Account/NewPage/Summary/index.tsx
  apps/evm/src/pages/Account/NewPage/Tabs/index.tsx
  apps/evm/src/pages/Account/Placeholder/index.tsx
  apps/evm/src/pages/Account/PoolSummary/index.tsx
  apps/evm/src/pages/Market/InterestRateChart/index.tsx
  packages/ui/src/components/Button/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: include VAI borrow interests into daily earnings
  apps/evm/src/containers/Vault/index.tsx
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
  apps/evm/src/pages/Account/NewPage/Summary/index.tsx
  apps/evm/src/pages/Account/NewPage/index.tsx
  apps/evm/src/pages/Account/useExtractData/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/new-mammals-talk.md
  apps/evm/src/components/AreaChart/index.tsx
  apps/evm/src/components/Icon/icons/arrowUpFull2.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/pages/Account/NewPage/PerformanceChart/DollarValueChange/index.tsx
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
  apps/evm/src/pages/Account/NewPage/Pools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/__tests__/index.prime.spec.tsx
  apps/evm/src/pages/Account/NewPage/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/OldPage/AccountBreakdown/index.spec.tsx
  apps/evm/src/pages/Account/PoolSummary/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/useExtractData/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: manually track pageview events
  .changeset/khaki-plums-leave.md
  apps/evm/src/libs/analytics/AnalyticProvider/RouteChangeTracker/index.tsx
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: manually track pageview events (#4670)
  .changeset/khaki-plums-leave.md
  apps/evm/src/libs/analytics/AnalyticProvider/RouteChangeTracker/index.tsx
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/khaki-plums-leave.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: make Prime banner clickable on mobile
  apps/evm/src/components/AreaChart/index.tsx
  apps/evm/src/pages/Account/NewPage/PrimeBanner/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/PrimeBanner/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/NewPage/PrimeBanner/index.tsx
  apps/evm/src/pages/Account/NewPage/__tests__/index.prime.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: remove redundant word in README.md
  apps/evm/src/libs/contracts/README.md
Due: none

fix: new Account page UI fixes (#4669)
  .changeset/new-mammals-talk.md
  apps/evm/src/components/AreaChart/index.tsx
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/components/ChartYAxisTick/index.tsx
  apps/evm/src/components/Icon/icons/arrowUpFull2.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/index.ts
  apps/evm/src/containers/Vault/index.tsx
  apps/evm/src/pages/Account/NewPage/PerformanceChart/DollarValueChange/index.tsx
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
  apps/evm/src/pages/Account/NewPage/Pools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/PrimeBanner/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/PrimeBanner/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/NewPage/PrimeBanner/index.tsx
  apps/evm/src/pages/Account/NewPage/Summary/index.tsx
  apps/evm/src/pages/Account/NewPage/Tabs/index.tsx
  apps/evm/src/pages/Account/NewPage/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/__tests__/index.prime.spec.tsx
  apps/evm/src/pages/Account/NewPage/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/NewPage/index.tsx
  apps/evm/src/pages/Account/OldPage/AccountBreakdown/index.spec.tsx
  apps/evm/src/pages/Account/Placeholder/index.tsx
  apps/evm/src/pages/Account/PoolSummary/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/PoolSummary/index.tsx
  apps/evm/src/pages/Account/useExtractData/index.tsx
  apps/evm/src/pages/Market/InterestRateChart/index.tsx
  packages/ui/src/components/Button/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/new-mammals-talk.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write --check

feat: remove minus sign from readable daily change percentage on Account page
  .changeset/cyan-beds-send.md
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: remove redundant word in README.md (#4676)
  apps/evm/src/libs/contracts/README.md
Due: none

chore: bump package versions
  .changeset/olive-suns-pull.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: remove minus sign from readable daily change percentage (#4679)
  .changeset/cyan-beds-send.md
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cyan-beds-send.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: small UI fixes
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/styles.ts
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
  apps/evm/src/pages/IsolatedPools/index.tsx
  apps/evm/src/pages/Pool/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only attempt to fetch VAI repay APR if VAI Controller address exists
  .changeset/rare-months-drum.md
  apps/evm/src/clients/api/queries/getVaiRepayApr/useGetVaiRepayApr.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only fetch VAI repay APR if VAI Controller address exists (#4685)
  .changeset/rare-months-drum.md
  apps/evm/src/clients/api/queries/getVaiRepayApr/useGetVaiRepayApr.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: small UI fixes (#4684)
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/styles.ts
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
  apps/evm/src/pages/IsolatedPools/index.tsx
  apps/evm/src/pages/Pool/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/rare-months-drum.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: small UI fixes
  apps/evm/src/components/Table/TableCards.tsx
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/styles.ts
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
  apps/evm/src/pages/IsolatedPools/index.tsx
  apps/evm/src/pages/Pool/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
