Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

Notes added by 'git notes add'
  83/64fcdfeb9071f46e824bfd416eb17d710a2b81
Due: none

chore(release): 2.88.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  19/a8200f22db15300fb6da127f7b2e15f61c275f
Due: none

feat: activate marketParticipantCounts in Ethereum and Sepolia
  src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Ethereum and Sepolia subgraph URLs
  src/config/codegen.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.88.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  78/caa6308f6fc789651436738c9129e11b3c6965
Due: none

chore(release): 2.88.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  2d/51e42a6f86283f0376260dfea0e0f404185ea5
Due: none

feat: fetch participants count based on chainId
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/subgraph/queries/getIsolatedPoolParticipantsCount/index.ts
  src/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.88.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  1e/13ca7bf78a05d2e77e0aef23f163adaa397ab5
Due: none

chore(release): 2.89.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  5b/2662b3356dc4ef49e36f79432b972f1aa577dd
Due: none

feat: enable multichain on mainnet
  src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  src/hooks/useIsFeatureEnabled/index.tsx
  src/packages/wallet/chains.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add corePoolComptrollerContractAddress to Ethereum
  src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Ethereum tokens
  src/packages/tokens/infos/commonTokens/ethereum.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: ethereum XVSVault proxy address
  src/packages/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.89.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  32/e2ca80de3845a4c952561e4d0594c92ccb0d90
Due: none

chore(release): 2.89.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  a3/c5d38bd824877909115cc0f980396dd0f44868
Due: none

refactor: update Bridge doc URL
  src/pages/Bridge/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.89.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  08/51f3d98f181cc82ff70e967e99a61d1b29eaa8
Due: none

chore(release): 2.90.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  44/11bf4632829b642d6ee144ab8ea8fa397b8187
Due: none

chore(release): 2.90.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  db/5ae74dde7b4378d4086c61611d94bfa49908b2
Due: none

feat: disable multichain features on mainnet
  src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  src/hooks/useIsFeatureEnabled/index.tsx
  src/packages/wallet/chains.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.91.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  de/5b14eeec02f12f1574dcbcf2467557d21b34f0
Due: none

chore(release): 2.91.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  26/fd8ea975f52e5f8b54148d1f838aebd1d84a1a
Due: none

chore(release): 2.91.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  46/e35fec2e6a01b7a9cf2252ffd6cb513e04f963
Due: none

feat: add optional wrapsNative attribute to Token
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update WETH and WBTC in Ethereum
  src/packages/tokens/infos/commonTokens/ethereum.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add youCanWrapNative translation
  src/packages/translations/translations/en.json
Due: prettier --write --check
