Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: replace isPrime pro of auth context with getIsAccountPrime query function
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getIsAddressPrime/index.spec.ts
  src/clients/api/queries/getIsAddressPrime/index.ts
  src/clients/api/queries/getIsAddressPrime/useGetIsAddressPrime.ts
  src/constants/functionKey.ts
  src/constants/routing.ts
  src/containers/Layout/ConnectButton/index.tsx
  src/containers/PrimeStatusBanner/__tests__/index.spec.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/containers/PrimeStatusBanner/testIds.ts
  src/containers/ReadableActionSignature/getContractName.ts
  src/context/AuthContext/index.tsx
  src/hooks/useOperationModal/Modal/index.stories.tsx
  src/packages/contracts/utilities/getUniqueContractAddress/index.ts
  src/pages/ConvertVrt/Convert/index.spec.tsx
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.stories.tsx
  src/pages/Dashboard/PrimePromotionalBanner/__tests__/index.spec.tsx
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
  src/pages/Market/index.tsx
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
  src/testUtils/renderComponent.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rewrite Spinner with Tailwind + fix SpendingLimit component styling
  src/components/SpendingLimit/index.tsx
  src/components/SpendingLimit/styles.ts
  src/components/Spinner/index.tsx
  src/components/Spinner/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rewrite Spinner and SpendingLimit with Tailwind (#1630)
  src/components/SpendingLimit/index.tsx
  src/components/SpendingLimit/styles.ts
  src/components/Spinner/index.tsx
  src/components/Spinner/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.37.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  a2/f0e4778ccda35d738fda0266b42a28224f352d
Due: none

feat: fetch account Prime status (#1619)
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getIsAddressPrime/index.spec.ts
  src/clients/api/queries/getIsAddressPrime/index.ts
  src/clients/api/queries/getIsAddressPrime/useGetIsAddressPrime.ts
  src/constants/functionKey.ts
  src/constants/routing.ts
  src/containers/Layout/ConnectButton/index.tsx
  src/containers/PrimeStatusBanner/__tests__/index.spec.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/containers/PrimeStatusBanner/testIds.ts
  src/containers/ReadableActionSignature/getContractName.ts
  src/context/AuthContext/index.tsx
  src/hooks/useOperationModal/Modal/index.stories.tsx
  src/packages/contracts/config/externalAbis/Prime.json
  src/packages/contracts/config/index.ts
  src/packages/contracts/utilities/getUniqueContractAddress/index.ts
  src/pages/ConvertVrt/Convert/index.spec.tsx
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.stories.tsx
  src/pages/Dashboard/PrimePromotionalBanner/__tests__/index.spec.tsx
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
  src/pages/Market/index.tsx
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
  src/testUtils/renderComponent.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.38.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ce/ae7608b55338ea812bde934f6efd5c523e1fa5
Due: none

chore(release): 2.38.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  30/4b7b497d45a5f3ed71a4c9affd60ff13014d31
Due: none

refactor: convert Analytics context to a package
  README.md
  src/App/index.tsx
  src/clients/api/mutations/borrow/useBorrow.ts
  src/clients/api/mutations/claimRewards/useClaimRewards.ts
  src/clients/api/mutations/enterMarket/useEnterMarket.ts
  src/clients/api/mutations/executeWithdrawalFromXvsVault/useExecuteWithdrawalFromXvsVault.ts
  src/clients/api/mutations/exitMarket/useExitMarket.ts
  src/clients/api/mutations/redeem/useRedeem.ts
  src/clients/api/mutations/redeemUnderlying/useRedeemUnderlying.ts
  src/clients/api/mutations/repay/useRepay.ts
  src/clients/api/mutations/requestWithdrawalFromXvsVault/useRequestWithdrawalFromXvsVault.ts
  src/clients/api/mutations/stakeInVaiVault/useStakeInVaiVault.ts
  src/clients/api/mutations/stakeInXvsVault/useStakeInXvsVault.ts
  src/clients/api/mutations/supply/useSupply.ts
  src/clients/api/mutations/swapTokens/useSwapTokens.ts
  src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  src/clients/api/mutations/vote/useCastVote.ts
  src/clients/api/mutations/vote/useCastVoteWithReason.ts
  src/clients/api/mutations/withdrawFromVaiVault/useWithdrawFromVaiVault.ts
  src/packages/analytics/index.tsx
  src/packages/analytics/useAnalytics.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue with hook order in PrimePromotionalBanner
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue with hook order in PrimePromotionalBanner (#1639)
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: convert analytics context to a package (#1638)
  README.md
  src/App/index.tsx
  src/clients/api/mutations/borrow/useBorrow.ts
  src/clients/api/mutations/claimRewards/useClaimRewards.ts
  src/clients/api/mutations/enterMarket/useEnterMarket.ts
  src/clients/api/mutations/executeWithdrawalFromXvsVault/useExecuteWithdrawalFromXvsVault.ts
  src/clients/api/mutations/exitMarket/useExitMarket.ts
  src/clients/api/mutations/redeem/useRedeem.ts
  src/clients/api/mutations/redeemUnderlying/useRedeemUnderlying.ts
  src/clients/api/mutations/repay/useRepay.ts
  src/clients/api/mutations/requestWithdrawalFromXvsVault/useRequestWithdrawalFromXvsVault.ts
  src/clients/api/mutations/stakeInVaiVault/useStakeInVaiVault.ts
  src/clients/api/mutations/stakeInXvsVault/useStakeInXvsVault.ts
  src/clients/api/mutations/supply/useSupply.ts
  src/clients/api/mutations/swapTokens/useSwapTokens.ts
  src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  src/clients/api/mutations/vote/useCastVote.ts
  src/clients/api/mutations/vote/useCastVoteWithReason.ts
  src/clients/api/mutations/withdrawFromVaiVault/useWithdrawFromVaiVault.ts
  src/packages/analytics/index.tsx
  src/packages/analytics/useAnalytics.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.39.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  4f/67f517db0892a092958110870287332190feb6
Due: none

refactor: remove Error context
  src/App/index.tsx
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/api/queries/getVTokens/index.ts
  src/clients/api/queryClient.ts
  src/context/AuthContext/index.tsx
  src/context/AuthContext/useProvider/getProvider.ts
  src/context/ErrorLogger/index.tsx
  src/errors/index.ts
  src/errors/logError.ts
  src/initializeLibraries/index.ts
  src/initializeLibraries/sentry.ts
  src/packages/analytics/useAnalytics.ts
  src/utilities/callOrThrow/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove Error context (#1637)
  src/App/index.tsx
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/api/queries/getVTokens/index.ts
  src/clients/api/queryClient.ts
  src/context/AuthContext/index.tsx
  src/context/AuthContext/useProvider/getProvider.ts
  src/context/ErrorLogger/index.tsx
  src/errors/index.ts
  src/errors/logError.ts
  src/initializeLibraries/index.ts
  src/initializeLibraries/sentry.ts
  src/packages/analytics/useAnalytics.ts
  src/utilities/callOrThrow/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.39.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  7e/900170cf8cdf93cea835ce2c65c4e999e8d87b
Due: none

feat: update transactions endpoint to use next version
  src/__mocks__/models/transactions.ts
  src/clients/api/queries/getTransactions/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getTransactions/formatTransaction.ts
  src/clients/api/queries/getTransactions/index.spec.ts
  src/clients/api/queries/getTransactions/index.ts
  src/clients/api/queries/getTransactions/types.ts
  src/pages/History/HistoryTable/index.tsx
  src/types/index.ts
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: restService returns correct API response signature
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: restService returns correct API response signature
  src/clients/api/queries/getMainMarkets/index.ts
  src/clients/api/queries/getMarketHistory/index.ts
  src/clients/api/queries/getProposals/getProposal.ts
  src/clients/api/queries/getProposals/index.ts
  src/clients/api/queries/getTransactions/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getTransactions/index.spec.ts
  src/clients/api/queries/getTransactions/index.ts
  src/clients/api/queries/getVoterAccounts/index.ts
  src/clients/api/queries/getVoterDetails/index.ts
  src/clients/api/queries/getVoterHistory/index.ts
  src/clients/api/queries/getVoters/index.ts
  src/pages/History/index.spec.tsx
  src/pages/History/index.tsx
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update markets/core-pool to new enpoint
  src/clients/api/queries/getMainMarkets/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainMarkets/__tests__/index.spec.ts
  src/clients/api/queries/getMainMarkets/index.ts
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.39.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  f8/7c8987ea20258513652946932550575a695fa1
Due: none

feat: add getHypotheticalPrimeApys query function
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getHypotheticalPrimeApys/index.spec.ts
  src/clients/api/queries/getHypotheticalPrimeApys/index.ts
  src/clients/api/queries/getHypotheticalPrimeApys/useGetHypotheticalPrimeApys.ts
  src/constants/functionKey.ts
  src/containers/Layout/Breadcrumbs/VTokenSymbol/index.tsx
  src/utilities/calculateApy/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: upgrade Venus packages
  package.json
  src/packages/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: account page layout
  src/containers/Layout/index.tsx
  src/pages/Account/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getHypotheticalPrimeApys query function (#1621)
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getHypotheticalPrimeApys/index.spec.ts
  src/clients/api/queries/getHypotheticalPrimeApys/index.ts
  src/clients/api/queries/getHypotheticalPrimeApys/useGetHypotheticalPrimeApys.ts
  src/constants/functionKey.ts
  src/containers/Layout/Breadcrumbs/VTokenSymbol/index.tsx
  src/utilities/calculateApy/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: account page layout (#1647)
  src/containers/Layout/index.tsx
  src/pages/Account/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: upgrade Venus packages (#1622)
  package.json
  src/packages/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update getMarketHistory endpoint to next version
  src/clients/api/queries/getMarketHistory/index.spec.ts
  src/clients/api/queries/getMarketHistory/index.ts
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.40.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  bb/7072c38988cec1cb98bd8e08f311dbc539e69b
Due: none

fix: alignments issues on vault
  src/pages/Vault/VaultItem/index.tsx
  src/pages/Vault/VaultItem/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: alignments issues on VaultItem (#1655)
  src/pages/Vault/VaultItem/index.tsx
  src/pages/Vault/VaultItem/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
