Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: update position fo Trust Wallet in wallet list
  src/components/AuthModal/constants.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.9.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  60d569f518a18aa1cb3af05c487423360179fb68
Due: none

chore(release): 2.9.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  51a0cb768bd9ab3f74333e327263f4ad486f49ed
Due: none

feat: display 0 balances on MarketTable
  src/containers/MarketTable/useGenerateColumns.tsx
  src/pages/Account/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: remove onCopyAccountAddress method from AuthContext
  src/components/AuthModal/AccountDetails/index.tsx
  src/components/AuthModal/index.stories.tsx
  src/components/AuthModal/index.tsx
  src/context/AuthContext/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(deps): update storybook packages to 7.2.1
  package.json
  yarn.lock
Due: prettier --write --check

feat: add version app checker
  src/App/index.tsx
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getLatestAppVersion/__tests__/index.spec.ts
  src/clients/api/queries/getLatestAppVersion/index.ts
  src/clients/api/queries/getLatestAppVersion/useGetLatestAppVersion.ts
  src/components/AppVersionChecker/index.tsx
  src/components/index.ts
  src/constants/functionKey.ts
  src/context/Analytics/index.tsx
  src/context/ErrorLogger/index.tsx
  src/setupTests.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update API endpoints
  .storybook/preview.ts
  src/clients/api/queries/getMainMarkets/index.ts
  src/clients/api/queries/getMarketHistory/index.spec.ts
  src/clients/api/queries/getMarketHistory/index.ts
  src/clients/api/queries/getProposals/getProposal.spec.ts
  src/clients/api/queries/getProposals/getProposal.ts
  src/clients/api/queries/getProposals/index.spec.ts
  src/clients/api/queries/getProposals/index.ts
  src/clients/api/queries/getTransactions/index.spec.ts
  src/clients/api/queries/getTransactions/index.ts
  src/clients/api/queries/getVoterAccounts/index.spec.ts
  src/clients/api/queries/getVoterAccounts/index.ts
  src/clients/api/queries/getVoterDetails/index.spec.ts
  src/clients/api/queries/getVoterDetails/index.ts
  src/clients/api/queries/getVoterHistory/index.spec.ts
  src/clients/api/queries/getVoterHistory/index.ts
  src/clients/api/queries/getVoters/index.spec.ts
  src/clients/api/queries/getVoters/index.ts
  src/clients/api/queries/getVoters/types.ts
  src/constants/endpoints.ts
  src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  cd92d4f8bf540fec7f772b35528fa36e84e81a9b
Due: none

refactor: remove ABIs in constants in favor of using contracts package
  .gitignore
  .prettierignore
  README.md
  package.json
  src/clients/api/mutations/approveToken/index.ts
  src/clients/api/mutations/borrow/index.ts
  src/clients/api/mutations/redeemUnderlying/index.ts
  src/clients/api/mutations/repay/index.spec.ts
  src/clients/api/mutations/repay/index.ts
  src/clients/api/mutations/revokeSpendingLimit/index.ts
  src/clients/api/mutations/supply/index.spec.ts
  src/clients/api/mutations/supply/index.ts
  src/clients/api/queries/getAllowance/index.spec.ts
  src/clients/api/queries/getAllowance/index.ts
  src/clients/api/queries/getTokenBalances/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVTokenBalanceOf/index.ts
  src/clients/api/queries/getVTokenInterestRateModel/index.ts
  src/clients/contracts/getters.ts
  src/clients/contracts/types.ts
  src/constants/contracts/abis/vaiToken.json
  src/constants/contracts/abis/vote.json
  src/constants/contracts/abis/vrtConverter.json
  src/constants/contracts/abis/vrtToken.json
  src/constants/contracts/abis/xvsToken.json
  src/constants/contracts/abis/xvsVaultStore.json
  src/packages/contracts/contractInfos/externalAbis/bep20.json
  src/packages/contracts/contractInfos/externalAbis/vBnb.json
  src/packages/contracts/contractInfos/genericContractInfos.ts
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Rabby Wallet + remove terms of service link
  src/assets/img/wallets/rabbyWallet.svg
  src/clients/web3/connectors.ts
  src/clients/web3/types.ts
  src/components/AuthModal/WalletList/index.tsx
  src/components/AuthModal/WalletList/styles.ts
  src/components/AuthModal/constants.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  fc2c3164c070ec98ed82d1c1198a10bff441d29d
Due: none

refactor: remove unused ABIs + add contracts
  package.json
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getVTokenApySimulations/index.ts
  src/clients/contracts/getters.ts
  src/constants/contracts/abis/interestModel.json
  src/constants/contracts/abis/interestModelV2.json
  src/constants/contracts/abis/oracle.json
  src/packages/contracts/contractInfos/genericContractInfos.ts
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.11.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  af9af5149d346c9a3605d7fb99d0effb2932d816
Due: none

feat: import new proposals using JSON
  src/App/Switch/index.tsx
  src/assets/proposals/vip-123.json
  src/constants/routing.ts
  src/errors/VError.ts
  src/errors/formatVErrorToReadableString.ts
  src/errors/importProposalErrorPhrases.ts
  src/pages/Governance/ProposalList/CreateProposalModal/ProposalInfo/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/ProposalPreview/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/ProposalWizard/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/UploadOrManualProposal/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/UploadOrManualProposal/styles.ts
  src/pages/Governance/ProposalList/CreateProposalModal/VotingDescriptions/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/checkImportErrors/index.ts
  src/pages/Governance/ProposalList/CreateProposalModal/encodeCallData.ts
  src/pages/Governance/ProposalList/CreateProposalModal/importJsonProposal/__tests__/__snapshots__/index.spec.ts.snap
  src/pages/Governance/ProposalList/CreateProposalModal/importJsonProposal/__tests__/index.spec.ts
  src/pages/Governance/ProposalList/CreateProposalModal/importJsonProposal/index.ts
  src/pages/Governance/ProposalList/CreateProposalModal/index.spec.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
  src/pages/Governance/ProposalList/CreateProposalModal/testIds.ts
  src/pages/Governance/ProposalList/index.tsx
  src/pages/Governance/index.spec.tsx
  src/translation/translations/en.json
  src/types/index.ts
  src/utilities/encodeParameters.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bumped prettier to v3
  .eslintignore
  package.json
  src/assets/proposals/vip-123.json
  src/components/Button/styles.tsx
  src/components/Layout/Sidebar/styles.ts
  src/components/Table/storiesUtils.tsx
  src/components/Table/styles.ts
  src/components/Table/types.ts
  src/pages/Governance/ProposalList/CreateProposalModal/UploadOrManualProposal/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/importJsonProposal/__tests__/index.spec.ts
  src/pages/Governance/ProposalList/CreateProposalModal/index.tsx
  src/pages/Governance/index.spec.tsx
  src/stories/decorators.tsx
  src/translation/translations/en.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.11.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  24bcb8e17db54067ccbf83f9d49065ac53e71876
Due: none

chore(release): 2.11.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  0a57e2a4638a7cad8518d39dbb67577a27966d52
Due: none

chore(release): 2.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  adeafdca0a99a52e5eee825b5a46efa95e95527e
Due: none

chore(release): 2.12.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  0061becb8f6db59a55fd4c19f17435537f82d509
Due: none

chore(release): 2.12.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  abc972889efb729df80676c97d1c199883851e73
Due: none

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
