Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: stop logging query errors
  .changeset/pretty-plums-work.md
  apps/evm/src/clients/api/queryClient.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: update generate pipeline dependency
  turbo.json
Due: prettier --write --check

fix: responsiveness of Prime promotional banner
  apps/evm/src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/clever-candles-worry.md
Due: none

fix: responsiveness of Prime promotional banner (#2228)
  .changeset/clever-candles-worry.md
  apps/evm/src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
  turbo.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: fix package versions (#2227)
  .changeset/eight-ties-train.md
  apps/evm/package.json
  package.json
Due: prettier --write --check

feat: stop logging query errors (#2226)
  .changeset/pretty-plums-work.md
  apps/evm/src/clients/api/queryClient.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: pagination through URL
  apps/evm/src/components/Pagination/usePagination.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/olive-apes-push.md
Due: none

fix: pagination through URL (#2230)
  .changeset/olive-apes-push.md
  apps/evm/src/components/Pagination/usePagination.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: dummy commit
  README.md
Due: none

feat: add basic new VAI page
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/index.ts
  apps/evm/src/components/LabeledInlineContent/index.tsx
  apps/evm/src/components/ProgressBar/styles.ts
  apps/evm/src/containers/AccountData/index.tsx
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Vai/MintVai/Form/getReadableFeeVai.ts
  apps/evm/src/pages/Vai/MintVai/Form/index.tsx
  apps/evm/src/pages/Vai/MintVai/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/VaiNew/AccountVaiData/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/SubmitSection/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/__tests__/index.spec.tsx
  apps/evm/src/pages/VaiNew/Borrow/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/VaiNew/Borrow/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/testIds.ts
  apps/evm/src/pages/VaiNew/Borrow/useForm.ts
  apps/evm/src/pages/VaiNew/index.tsx
  apps/evm/src/pages/VaiNew/types.ts
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add new VaiNew page
  .changeset/khaki-trainers-wash.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getMintableVai/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getMintableVai/formatToOutput.ts
  apps/evm/src/clients/api/queries/getMintableVai/index.spec.ts
  apps/evm/src/clients/api/queries/getMintableVai/types.ts
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/index.spec.ts
  apps/evm/src/components/Form/RhfSubmitButton.tsx
  apps/evm/src/components/Form/RhfTokenTextField.tsx
  apps/evm/src/components/Form/index.ts
  apps/evm/src/components/ProgressBar/styles.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Vai/MintVai/Form/index.tsx
  apps/evm/src/pages/Vai/MintVai/__tests__/index.spec.tsx
  apps/evm/src/pages/VaiNew/AccountVaiData/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/SubmitSection/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/__tests__/index.spec.tsx
  apps/evm/src/pages/VaiNew/Borrow/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/useForm.ts
  apps/evm/src/pages/VaiNew/Borrow/useForm/index.ts
  apps/evm/src/pages/VaiNew/index.tsx
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update display name of LegacyPoolComptroller contract
  .changeset/polite-flies-prove.md
  apps/evm/src/containers/ReadableActionSignature/getContractName.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update display name of LegacyPoolComptroller contract (#2253)
  .changeset/polite-flies-prove.md
  apps/evm/src/containers/ReadableActionSignature/getContractName.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: hide account data when no account is connected
  apps/evm/src/pages/VaiNew/Borrow/__tests__/index.spec.tsx
  apps/evm/src/pages/VaiNew/Borrow/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add new VAI page (#2248)
  .changeset/khaki-trainers-wash.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getMintableVai/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getMintableVai/formatToOutput.ts
  apps/evm/src/clients/api/queries/getMintableVai/index.spec.ts
  apps/evm/src/clients/api/queries/getMintableVai/types.ts
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/index.spec.ts
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/index.ts
  apps/evm/src/components/Form/RhfSubmitButton.tsx
  apps/evm/src/components/Form/RhfTokenTextField.tsx
  apps/evm/src/components/Form/index.ts
  apps/evm/src/components/LabeledInlineContent/index.tsx
  apps/evm/src/components/ProgressBar/styles.ts
  apps/evm/src/containers/AccountData/index.tsx
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Vai/MintVai/Form/getReadableFeeVai.ts
  apps/evm/src/pages/Vai/MintVai/Form/index.tsx
  apps/evm/src/pages/Vai/MintVai/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/MintVai/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/VaiNew/AccountVaiData/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/__tests__/index.spec.tsx
  apps/evm/src/pages/VaiNew/Borrow/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/VaiNew/Borrow/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/testIds.ts
  apps/evm/src/pages/VaiNew/Borrow/useForm/index.ts
  apps/evm/src/pages/VaiNew/index.tsx
  apps/evm/src/pages/VaiNew/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update MATIC token icon
  .changeset/tender-coins-teach.md
  apps/evm/src/libs/tokens/img/matic.svg
Due: none

refactor: improve syncing between wallet and URL chain IDs
  .changeset/selfish-foxes-learn.md
  apps/evm/src/libs/wallet/Web3Wrapper/AuthHandler/index.tsx
  apps/evm/src/libs/wallet/hooks/useChainId/index.tsx
  apps/evm/src/libs/wallet/index.ts
  apps/evm/src/libs/wallet/utilities/getChainId/index.tsx
  apps/evm/src/libs/wallet/utilities/getChainIdFromSearchParams/index.ts
  apps/evm/src/libs/wallet/utilities/getUnsafeChainIdFromSearchParams/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update MATIC token icon (#2256)
  .changeset/tender-coins-teach.md
  apps/evm/src/libs/tokens/img/matic.svg
Due: none

fix: address record for ResilientOracle contract on opBNB testnet
  .changeset/little-stingrays-warn.md
  apps/evm/src/libs/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: added opBNB mainnet addresses to XvsVault and XvsTokenMultichain
  apps/evm/src/libs/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset for opBNB update
  .changeset/silly-houses-worry.md
Due: none

feat: enable bridgeRoute and chainSelect on opBNB mainnet
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add opBNB to list of mainnet chains
  apps/evm/src/libs/wallet/chains.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add opBNB chain config
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/opBnbMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/opBnbMainnet.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: update template with opBNB
  apps/evm/.env.template
Due: none

feat: use opBNB addresses from packages
  apps/evm/package.json
  apps/evm/src/libs/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: improve syncing between wallet and URL chain IDs (#2254)
  .changeset/selfish-foxes-learn.md
  apps/evm/src/libs/wallet/Web3Wrapper/AuthHandler/index.tsx
  apps/evm/src/libs/wallet/hooks/useChainId/index.tsx
  apps/evm/src/libs/wallet/index.ts
  apps/evm/src/libs/wallet/utilities/getChainId/index.tsx
  apps/evm/src/libs/wallet/utilities/getChainIdFromSearchParams/index.ts
  apps/evm/src/libs/wallet/utilities/getUnsafeChainIdFromSearchParams/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update Venus packages and add isolatedPoolsOpBnbMainnetDeployments
  apps/evm/package.json
  apps/evm/src/libs/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add opBNB mainnet corePoolComptrollerContractAddress
  apps/evm/src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add opBNB mainnet tokens
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: format update
  apps/evm/tsconfig.json
Due: prettier --write --check

feat: add suppliers/borrowers count to opBNB mainnet
  apps/evm/src/config/codegen.ts
  apps/evm/src/config/index.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Repay VAI tab
  .changeset/odd-comics-beg.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/mutations/repayVai/useRepayVai.ts
  apps/evm/src/components/ApproveTokenSteps/index.spec.tsx
  apps/evm/src/components/ApproveTokenSteps/index.tsx
  apps/evm/src/components/Form/RhfSubmitButton.tsx
  apps/evm/src/components/Form/RhfSubmitButton/ApproveTokenSteps/index.tsx
  apps/evm/src/components/Form/RhfSubmitButton/index.tsx
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/SubmitSection/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/SubmitSection/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Swap/SubmitSection/index.tsx
  apps/evm/src/pages/Vai/RepayVai/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/useForm/index.ts
  apps/evm/src/pages/VaiNew/Repay/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/VaiNew/Repay/__tests__/index.spec.tsx
  apps/evm/src/pages/VaiNew/Repay/index.tsx
  apps/evm/src/pages/VaiNew/Repay/testIds.ts
  apps/evm/src/pages/VaiNew/Repay/useForm/index.ts
  apps/evm/src/pages/VaiNew/index.tsx
  apps/evm/src/pages/Vault/TransactionForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add new Repay VAI tab (#2269)
  .changeset/odd-comics-beg.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/mutations/repayVai/useRepayVai.ts
  apps/evm/src/components/ApproveTokenSteps/index.spec.tsx
  apps/evm/src/components/ApproveTokenSteps/index.tsx
  apps/evm/src/components/Form/RhfSubmitButton.tsx
  apps/evm/src/components/Form/RhfSubmitButton/ApproveTokenSteps/index.tsx
  apps/evm/src/components/Form/RhfSubmitButton/index.tsx
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/SubmitSection/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/SubmitSection/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Swap/SubmitSection/index.tsx
  apps/evm/src/pages/Vai/RepayVai/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/index.tsx
  apps/evm/src/pages/VaiNew/Borrow/useForm/index.ts
  apps/evm/src/pages/VaiNew/Repay/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/VaiNew/Repay/__tests__/index.spec.tsx
  apps/evm/src/pages/VaiNew/Repay/index.tsx
  apps/evm/src/pages/VaiNew/Repay/testIds.ts
  apps/evm/src/pages/VaiNew/Repay/useForm/index.ts
  apps/evm/src/pages/VaiNew/index.tsx
  apps/evm/src/pages/Vault/TransactionForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable new VAI page
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/pages/Vai/Borrow/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/Borrow/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/Borrow/testIds.ts
  apps/evm/src/pages/Vai/Borrow/useForm/index.ts
  apps/evm/src/pages/Vai/MintVai/Form/getReadableFeeVai.ts
  apps/evm/src/pages/Vai/MintVai/Form/index.tsx
  apps/evm/src/pages/Vai/MintVai/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/MintVai/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/Vai/MintVai/index.tsx
  apps/evm/src/pages/Vai/Repay/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Vai/Repay/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
  apps/evm/src/pages/Vai/Repay/testIds.ts
  apps/evm/src/pages/Vai/Repay/useForm/index.ts
  apps/evm/src/pages/Vai/RepayVai/RepayFee.tsx
  apps/evm/src/pages/Vai/RepayVai/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Vai/RepayVai/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/RepayVai/index.tsx
  apps/evm/src/pages/Vai/constants.ts
  apps/evm/src/pages/Vai/index.spec.tsx
  apps/evm/src/pages/Vai/index.tsx
  apps/evm/src/pages/Vai/styles.ts
  apps/evm/src/pages/Vai/testIds.ts
  apps/evm/src/pages/Vai/types.ts
  apps/evm/src/pages/VaiNew/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove unused getMintedVai query function
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getMintedVai/index.spec.ts
  apps/evm/src/clients/api/queries/getMintedVai/index.ts
  apps/evm/src/clients/api/queries/getMintedVai/useGetMintedVai.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: invalidate the right queries after minting VAI
  apps/evm/src/clients/api/mutations/mintVai/useMintVai.ts
  apps/evm/src/clients/api/mutations/repayVai/useRepayVai.ts
  apps/evm/src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/angry-pandas-smile.md
Due: none

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
