Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

Notes added by 'git notes add'
  b7/a8259941ff49feffaae6ee2ef943725d9588a9
Due: none

fix: asset field on Pancake swap tokens
  src/packages/tokens/scripts/tokenListTemplate.hbs
Due: none

fix: asset field on PancakeSwap tokens (#1966)
  src/packages/tokens/scripts/tokenListTemplate.hbs
Due: none

feat: disable performance tracking from Sentry (#1965)
  src/packages/errors/ErrorBoundary/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.63.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  16/50397ce0e2a0e0180e2327b325937614c3f67e
Due: none

feat: update Binance wallet to 1.1.0
  package.json
  src/packages/wallet/Web3Wrapper/config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.64.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  65/80b1db23d50e8d84480f6d2b07e63eb763e817
Due: none

feat: add blue arrow right SVG
  src/components/Icon/icons/blueArrowRight.tsx
  src/components/Icon/icons/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.64.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  58/21320a51ea2afc0bc54ce3f63bc3c3d4d22a01
Due: none

fix: neted breadcrumbs
  src/containers/Layout/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: nested breadcrumbs (#1975)
  src/containers/Layout/Breadcrumbs/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.64.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  7b/119bafbd0d5c6c23f0c3d566fcddf7bf7a6fea
Due: none

feat: add RewardDetails component
  src/packages/translations/translations/en.json
  src/pages/PrimeCalculator/RewardDetails/index.tsx
  src/pages/PrimeCalculator/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add TokenAmountAndApy component
  src/pages/PrimeCalculator/RewardDetails/TokenAmountAndApy/index.tsx
  src/pages/PrimeCalculator/RewardDetails/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.65.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  01/8a1051953cd79bbe601c3f837c7c4fcd0afe8c
Due: none

chore(release): 2.65.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  6a/900d30cbf98812a72adcbd2f9eaad790179fe3
Due: none

feat: bump @venusprotocol/venus-protocol to 7.0.0-dev.1
  package.json
  yarn.lock
Due: prettier --write --check

feat: add footer
  src/packages/translations/translations/en.json
  src/pages/Bridge/index.tsx
  src/pages/Bridge/layerZeroLogo.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add empty Bridge page + new option in menu
  src/App/Routes/index.tsx
  src/components/Icon/icons/bridge.tsx
  src/components/Icon/icons/index.ts
  src/constants/routing.ts
  src/containers/Layout/Breadcrumbs/index.tsx
  src/containers/Layout/Menu/NavLink/index.tsx
  src/containers/Layout/useGetMenuItems.tsx
  src/hooks/useIsFeatureEnabled/index.tsx
  src/packages/translations/translations/en.json
  src/pages/Bridge/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add selects
  src/components/Select/index.tsx
  src/packages/translations/translations/en.json
  src/pages/Bridge/ChainSelect/index.tsx
  src/pages/Bridge/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add all form elements
  src/components/TextField/styles.ts
  src/containers/Layout/Menu/NavLink/index.tsx
  src/packages/translations/translations/en.json
  src/pages/Bridge/ChainSelect/index.tsx
  src/pages/Bridge/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up form
  package.json
  src/components/Select/index.tsx
  src/components/TextField/index.tsx
  src/components/TokenTextField/index.tsx
  src/pages/Bridge/ChainSelect/index.tsx
  src/pages/Bridge/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.66.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  d1/10608d20993663d13af02c6233cf4fb09df6b3
Due: none

ci: add tests
  .gitignore
  src/containers/Layout/ChainSelect/index.tsx
  src/hooks/useIsFeatureEnabled/index.tsx
  src/packages/tokens/hooks/useGetToken/index.ts
  src/packages/tokens/hooks/useGetTokens/__tests__/index.spec.ts
  src/packages/tokens/hooks/useGetTokens/index.ts
  src/packages/wallet/hooks/useSwitchChain/__mocks__/index.ts
  src/packages/wallet/hooks/useSwitchChain/index.tsx
  src/pages/Bridge/ChainSelect/index.tsx
  src/pages/Bridge/__tests__/index.spec.tsx
  src/pages/Bridge/index.tsx
  src/pages/Bridge/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: Bridge page UI (#1968)
  .gitignore
  package.json
  src/App/Routes/index.tsx
  src/components/Icon/icons/bridge.tsx
  src/components/Icon/icons/index.ts
  src/components/Select/index.tsx
  src/components/TextField/index.tsx
  src/components/TextField/styles.ts
  src/components/TokenTextField/index.tsx
  src/constants/routing.ts
  src/containers/Layout/Breadcrumbs/index.tsx
  src/containers/Layout/ChainSelect/index.tsx
  src/containers/Layout/Menu/NavLink/index.tsx
  src/containers/Layout/useGetMenuItems.tsx
  src/hooks/useIsFeatureEnabled/index.tsx
  src/packages/tokens/hooks/useGetToken/index.ts
  src/packages/tokens/hooks/useGetTokens/__tests__/index.spec.ts
  src/packages/tokens/hooks/useGetTokens/index.ts
  src/packages/translations/translations/en.json
  src/packages/wallet/hooks/useSwitchChain/__mocks__/index.ts
  src/packages/wallet/hooks/useSwitchChain/index.tsx
  src/pages/Bridge/ChainSelect/index.tsx
  src/pages/Bridge/__tests__/index.spec.tsx
  src/pages/Bridge/index.tsx
  src/pages/Bridge/layerZeroLogo.svg
  src/pages/Bridge/testIds.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.67.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  50/7cd5b36d6415aa7293f959c0751d6cdc7f9726
Due: none

chore(release): 2.67.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  c9/364e62e987e7416423ebe1014132da5ba362df
Due: none

feat: add support for FDUSD token on BSC networks
  src/packages/tokens/img/fdusd.svg
  src/packages/tokens/infos/commonTokens/bscMainnet.ts
  src/packages/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add top notice
  src/packages/translations/translations/en.json
  src/pages/PrimeCalculator/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add zod
  .gitignore
  public/mockServiceWorker.js
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: include RewardDetails into Form
  src/containers/MarketTable/Apy/ApyWithPrimeBoost/index.tsx
  src/containers/MarketTable/Apy/index.tsx
  src/hooks/usePrimeCalculatorPagePath/index.tsx
  src/packages/translations/translations/en.json
  src/pages/PrimeCalculator/Form/RewardDetails/TokenAmountAndApy/index.tsx
  src/pages/PrimeCalculator/Form/RewardDetails/index.tsx
  src/pages/PrimeCalculator/Form/index.tsx
  src/pages/PrimeCalculator/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
