Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: update @venusprotocol/venus-protocol (#1572)
  package.json
  src/packages/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.32.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  c6/8e459a8f2817c4123051caa0ec6fa49c1bd552
Due: none

chore(release): 2.33.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  6f/64675dfc079858b7b017b12bec76a76bc6c1af
Due: none

chore(release): 2.33.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  8c/6a332ef097c8b18740cff900abc769e8deb0e4
Due: none

feat: remove Binance Chain Wallet
  src/assets/img/wallets/binanceChainWalletLogo.svg
  src/clients/web3/connectors.ts
  src/clients/web3/types.ts
  src/components/AuthModal/WalletList/index.tsx
  src/components/AuthModal/constants.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.34.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  de/568922eede34ecf8c6cdebe66b138ca14139d6
Due: none

refactor: rewrite Layout container with Tailwind (#1561)
  src/assets/img/venusLogo.svg
  src/assets/img/venusLogoPure.svg
  src/components/Icon/icons/closeRounded.tsx
  src/components/LayeredValues/index.tsx
  src/constants/layout.ts
  src/containers/Layout/Breadcrumbs/PoolName/index.tsx
  src/containers/Layout/Breadcrumbs/VTokenSymbol/index.tsx
  src/containers/Layout/Breadcrumbs/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/Breadcrumbs/index.spec.tsx
  src/containers/Layout/Breadcrumbs/index.tsx
  src/containers/Layout/ClaimRewardButton/RewardGroup/index.tsx
  src/containers/Layout/ClaimRewardButton/RewardGroup/styles.ts
  src/containers/Layout/ClaimRewardButton/index.tsx
  src/containers/Layout/ConnectButton/PrimeButton/index.tsx
  src/containers/Layout/ConnectButton/index.tsx
  src/containers/Layout/Footer/IconLink/index.tsx
  src/containers/Layout/Footer/index.tsx
  src/containers/Layout/Footer/styles.ts
  src/containers/Layout/Header/Breadcrumbs/VTokenSymbol/styles.ts
  src/containers/Layout/Header/Breadcrumbs/styles.ts
  src/containers/Layout/Header/index.tsx
  src/containers/Layout/Header/styles.ts
  src/containers/Layout/Menu/NavLink/index.tsx
  src/containers/Layout/Menu/index.tsx
  src/containers/Layout/PageContainer/index.tsx
  src/containers/Layout/PageContainer/styles.ts
  src/containers/Layout/Sidebar/Link/index.tsx
  src/containers/Layout/Sidebar/index.tsx
  src/containers/Layout/Sidebar/styles.ts
  src/containers/Layout/Toolbar/index.tsx
  src/containers/Layout/Toolbar/styles.ts
  src/containers/Layout/index.tsx
  src/containers/Layout/styles.ts
  src/containers/Layout/types.ts
  src/containers/Layout/useGetMenuItems.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.34.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  c1/97a0e6a6177f6b7e3b35a39107a5ced5290a0a
Due: none

feat: style MarkdownEditor
  src/components/MarkdownEditor/index.stories.tsx
  src/components/MarkdownEditor/index.tsx
  src/components/MarkdownViewer/index.stories.tsx
  src/components/MarkdownViewer/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: start refactoring markdown components
  package.json
  src/components/Form/FormikMarkdownEditor.tsx
  src/components/Markdown/Editor/index.tsx
  src/components/Markdown/Editor/styles-overrides.css
  src/components/Markdown/Editor/styles-overrides.scss
  src/components/Markdown/Editor/styles.ts
  src/components/Markdown/Viewer/index.tsx
  src/components/Markdown/Viewer/styles.ts
  src/components/Markdown/index.ts
  src/components/Markdown/previewOptions.ts
  src/components/MarkdownEditor/index.stories.tsx
  src/components/MarkdownEditor/index.tsx
  src/components/MarkdownViewer/index.stories.tsx
  src/components/MarkdownViewer/index.tsx
  src/components/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: button widths on VotingWallet component
  package.json
  src/pages/Governance/VotingWallet/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: style MarkdownViewer component
  src/components/MarkdownViewer/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.34.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  1d/b192072f94ea140e13371ff67e2094c2a4a103
Due: none

feat: update Markdown components (#1578)
  package.json
  src/components/Form/FormikMarkdownEditor.tsx
  src/components/Markdown/Editor/index.tsx
  src/components/Markdown/Editor/styles-overrides.css
  src/components/Markdown/Editor/styles-overrides.scss
  src/components/Markdown/Editor/styles.ts
  src/components/Markdown/Viewer/index.tsx
  src/components/Markdown/Viewer/styles.ts
  src/components/Markdown/index.ts
  src/components/Markdown/previewOptions.ts
  src/components/MarkdownEditor/index.stories.tsx
  src/components/MarkdownEditor/index.tsx
  src/components/MarkdownViewer/index.stories.tsx
  src/components/MarkdownViewer/index.tsx
  src/components/index.ts
  src/pages/Governance/VotingWallet/index.tsx
  src/translation/translations/en.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.35.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  c4/aa9fb87dc389dd7737fc932b83cce2e37eedf3
Due: none

fix: prevent getMainPools from being called twice due to incorrectly passing account address
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: replace expensive usage of pow method from bignumber.js with **
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getMainPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/getVTokenApySimulations/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVTokenApySimulations/formatCurrentUtilizationRate.ts
  src/clients/api/queries/getVTokenApySimulations/formatToApySnapshots.ts
  src/clients/api/queries/getVaiRepayApy/__snapshots__/index.spec.ts.snap
  src/components/TokenTextField/index.tsx
  src/constants/allowanceAmountWei.ts
  src/pages/Xvs/constants.ts
  src/utilities/calculateApy/__tests__/index.spec.ts
  src/utilities/calculateApy/index.ts
  src/utilities/convertPercentageFromSmartContract.ts
  src/utilities/convertPriceMantissaToDollars/index.ts
  src/utilities/convertTokensToWei.ts
  src/utilities/convertWeiToTokens.ts
  src/utilities/multiplyMantissaDaily/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.35.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  e2/cbd3f8611e757df6022ed0032837b30a5f67e5
Due: none

fix: alignment of swap button on Swap page
  src/pages/Swap/index.tsx
  src/pages/Swap/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: display 10 proposals on Governane page
  src/pages/Governance/ProposalList/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rewrite Dashboard page with Tailwind
  src/components/TagGroup/styles.tsx
  src/pages/Dashboard/index.tsx
  src/pages/Dashboard/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add "Select all" checkbox on Claim Rewards modal
  src/components/Checkbox/index.tsx
  src/containers/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  src/containers/Layout/ClaimRewardButton/index.tsx
  src/containers/Layout/testIds.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update README + rename tokenInfos folder to infos
  LICENSE
  README.md
  package.json
  src/packages/contracts/README.md
  src/packages/tokens/.gitignore
  src/packages/tokens/README.md
  src/packages/tokens/__mocks__/index.ts
  src/packages/tokens/index.ts
  src/packages/tokens/infos/commonTokens/bscMainnet.ts
  src/packages/tokens/infos/commonTokens/bscTestnet.ts
  src/packages/tokens/infos/commonTokens/index.ts
  src/packages/tokens/infos/disabledTokenActions/bscMainnet.ts
  src/packages/tokens/infos/disabledTokenActions/bscTestnet.ts
  src/packages/tokens/infos/disabledTokenActions/index.ts
  src/packages/tokens/infos/index.ts
  src/packages/tokens/infos/pancakeSwapTokens/bscTestnet.ts
  src/packages/tokens/infos/pancakeSwapTokens/index.tsx
  src/packages/tokens/scripts/generatePancakeSwapTokenRecords.ts
  src/packages/tokens/utilities/getPancakeSwapTokens/__tests__/index.spec.ts
  src/packages/tokens/utilities/getPancakeSwapTokens/index.ts
  src/packages/tokens/utilities/getTokens/__tests__/index.spec.ts
  src/packages/tokens/utilities/getTokens/index.ts
  src/packages/tokens/utilities/isTokenActionEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add keys to menu items
  src/containers/Layout/Menu/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add keys to menu items (#1597)
  src/containers/Layout/Menu/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: remove tab buttons on Dashboard (#1594)
  src/components/TagGroup/styles.tsx
  src/pages/Dashboard/index.tsx
  src/pages/Dashboard/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: display 10 proposals on Governance page (#1593)
  src/pages/Governance/ProposalList/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: alignment of swap button on Swap page (#1592)
  src/pages/Swap/index.tsx
  src/pages/Swap/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: prevent getMainPools from being called twice (#1590)
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.35.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  7b/4cebd4a585b77d54550ef9afb6354eb032f17f
Due: none

feat: add "Select all" checkbox on Claim Rewards modal (#1595)
  src/components/Checkbox/index.tsx
  src/containers/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  src/containers/Layout/ClaimRewardButton/index.tsx
  src/containers/Layout/testIds.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix
