Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: add Prime distribution types
  src/__mocks__/models/asset.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getMainPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  src/pages/Market/index.tsx
  src/pages/Xvs/Header/index.tsx
  src/pages/Xvs/Table/index.tsx
  src/types/index.ts
  src/utilities/formatDistribution.ts
  src/utilities/getCombinedDistributionApys.spec.ts
  src/utilities/getCombinedDistributionApys.ts
  src/utilities/getCombinedDistributionApys/__tests__/index.spec.ts
  src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: removed venusRate references
  src/__mocks__/api/governance.json
  src/clients/api/queries/getMainMarkets/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.21.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ebd034757dfdf8a0a8f7c0138bb63d64152e975a
Due: none

refactor: replace Lottie with GIF files
  package.json
  src/App/Router/PageSuspense/index.tsx
  src/components/LottieAnimation/files/green-pulse.json
  src/components/LottieAnimation/files/index.ts
  src/components/LottieAnimation/files/spinner.json
  src/components/LottieAnimation/index.tsx
  src/components/Spinner/index.tsx
  src/components/Spinner/spinnerAnimation.gif
  src/pages/Governance/ProposalList/GovernanceProposal/greenPulseAnimation.gif
  src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  src/setupTests.tsx
  src/translation/translations/en.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.21.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  46a91064912669e46d9da49b09832ea3c2f8257c
Due: none

refactor: replace Lottie with GIF files (#1463)
  package.json
  src/App/Router/PageSuspense/index.tsx
  src/components/LottieAnimation/files/green-pulse.json
  src/components/LottieAnimation/files/index.ts
  src/components/LottieAnimation/files/spinner.json
  src/components/LottieAnimation/index.tsx
  src/components/Spinner/index.tsx
  src/components/Spinner/spinnerAnimation.gif
  src/pages/Governance/ProposalList/GovernanceProposal/greenPulseAnimation.gif
  src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  src/setupTests.tsx
  src/translation/translations/en.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.21.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ac7a7e368b830bdef11f4613c1574a3e0025b20d
Due: none

refactor: use lightweight Coinbase wallet logo
  src/assets/img/wallets/coinbaseWalletLogo.svg
Due: none

chore(release): 2.21.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  bf200abcfbf75b651e11ab84726fa005732c0af9
Due: none

refactor: use lightweight Alpaca coin logo
  src/packages/tokens/img/alpaca.png
  src/packages/tokens/img/alpaca.svg
  src/packages/tokens/tokenInfos/commonTokens/bscMainnet.ts
  src/packages/tokens/tokenInfos/commonTokens/bscTestnet.ts
  src/pages/History/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Prime distribution types (#1455)
  src/__mocks__/models/asset.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getMainPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  src/pages/Market/index.tsx
  src/pages/Xvs/Header/index.tsx
  src/pages/Xvs/Table/index.tsx
  src/types/index.ts
  src/utilities/formatDistribution.ts
  src/utilities/getCombinedDistributionApys.spec.ts
  src/utilities/getCombinedDistributionApys.ts
  src/utilities/getCombinedDistributionApys/__tests__/index.spec.ts
  src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.22.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  2dde33013b4c8f4c3e7bc8c447eab8c4f89a020b
Due: none

refactor: refactor getIsolatedPools so it does not use multicall3
  package.json
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatRewardTokenDataMapping.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/getRewardsDistributorSettingsMapping.ts
  src/clients/api/queries/getIsolatedPools/getTokenPriceDollarsMapping.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/web3/index.ts
  src/clients/web3/useMulticall3.ts
  src/context/AuthContext/useProvider/getProvider.ts
  src/utilities/formatTokenPrices.ts
  src/utilities/index.ts
  src/utilities/removeDuplicates/__tests__/index.spec.ts
  src/utilities/removeDuplicates/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.22.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  29cf1d07ccd75fb63a6e72b132967448936d23cd
Due: none

refactor: remove multicall3 usage (#1456)
  package.json
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatRewardTokenDataMapping.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/getRewardsDistributorSettingsMapping.ts
  src/clients/api/queries/getIsolatedPools/getTokenPriceDollarsMapping.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/web3/index.ts
  src/clients/web3/useMulticall3.ts
  src/context/AuthContext/useProvider/getProvider.ts
  src/utilities/formatTokenPrices.ts
  src/utilities/index.ts
  src/utilities/removeDuplicates/__tests__/index.spec.ts
  src/utilities/removeDuplicates/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.22.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  d00503a4a9b56c74030383d88bf9ccf4ad1e8eb6
Due: none

test: collect test coverage from all files
  vite.config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: collect test coverage from all files (#1476)
  vite.config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.22.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  94997d95fdd8b186632039c1c4d3562cf8bdcd29
Due: none

fix: disable swap and supply action for tokens that do not support mintBehalf function
  src/hooks/useIsTokenActionEnabled.ts
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  src/packages/tokens/tokenInfos/disabledTokenActions/bscMainnet.ts
  src/packages/tokens/tokenInfos/disabledTokenActions/bscTestnet.ts
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove dashboard banner
  src/pages/Dashboard/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: fix tests
  src/containers/AssetAccessor/DisabledActionNotice/index.tsx
  src/containers/AssetAccessor/index.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/index.stories.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: fix tests
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  src/packages/tokens/isTokenActionEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: disable swap and supply for tokens that do not support it (#1483)
  src/containers/AssetAccessor/DisabledActionNotice/index.tsx
  src/containers/AssetAccessor/index.spec.tsx
  src/hooks/useIsTokenActionEnabled.ts
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/index.stories.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  src/packages/tokens/isTokenActionEnabled/index.tsx
  src/packages/tokens/tokenInfos/disabledTokenActions/bscMainnet.ts
  src/packages/tokens/tokenInfos/disabledTokenActions/bscTestnet.ts
  src/pages/Dashboard/index.tsx
  src/translation/translations/en.json
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.22.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  3e8cb17eb795b1e4ec6d312e92a32c3417a54e44
Due: none

feat: add basic PrimeStatusBanner container
  src/assets/img/primeLogo.svg
  src/containers/PrimeStatusBanner/index.tsx
  src/containers/PrimeStatusBanner/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add PrimeStatusBanner to Account page
  src/pages/Account/AccountBreakdown/AccountPlaceholder/index.tsx
  src/pages/Account/AccountBreakdown/AccountPlaceholder/styles.ts
  src/pages/Account/AccountBreakdown/AccountPlaceholder/wallet.png
  src/pages/Account/AccountBreakdown/PoolsBreakdown/Tables/index.tsx
  src/pages/Account/AccountBreakdown/PoolsBreakdown/Tables/styles.ts
  src/pages/Account/AccountBreakdown/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Account/AccountBreakdown/PoolsBreakdown/index.spec.tsx
  src/pages/Account/AccountBreakdown/PoolsBreakdown/index.stories.tsx
  src/pages/Account/AccountBreakdown/PoolsBreakdown/index.tsx
  src/pages/Account/AccountBreakdown/PoolsBreakdown/styles.ts
  src/pages/Account/AccountBreakdown/PoolsBreakdown/testIds.ts
  src/pages/Account/AccountBreakdown/Section/index.tsx
  src/pages/Account/AccountBreakdown/Section/styles.ts
  src/pages/Account/AccountBreakdown/Summary/__snapshots__/index.spec.tsx.snap
  src/pages/Account/AccountBreakdown/Summary/calculateNetApy/index.spec.ts
  src/pages/Account/AccountBreakdown/Summary/calculateNetApy/index.ts
  src/pages/Account/AccountBreakdown/Summary/index.spec.tsx
  src/pages/Account/AccountBreakdown/Summary/index.tsx
  src/pages/Account/AccountBreakdown/Summary/styles.ts
  src/pages/Account/AccountBreakdown/Summary/testIds.ts
  src/pages/Account/AccountBreakdown/Summary/useExtractData.ts
  src/pages/Account/AccountBreakdown/VaultsBreakdown/Table/index.tsx
  src/pages/Account/AccountBreakdown/VaultsBreakdown/Table/styles.ts
  src/pages/Account/AccountBreakdown/VaultsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Account/AccountBreakdown/VaultsBreakdown/index.spec.tsx
  src/pages/Account/AccountBreakdown/VaultsBreakdown/index.stories.tsx
  src/pages/Account/AccountBreakdown/VaultsBreakdown/index.tsx
  src/pages/Account/AccountBreakdown/index.spec.tsx
  src/pages/Account/AccountBreakdown/index.stories.tsx
  src/pages/Account/AccountBreakdown/index.tsx
  src/pages/Account/index.tsx
  src/pages/Account/styles.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: start adding elements to PrimeStatusBanner container
  src/assets/img/primeLogo.svg
  src/containers/PrimeStatusBanner/index.tsx
  src/containers/PrimeStatusBanner/styles.ts
  src/hooks/useFormatPercentageToReadableValue.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add button and progress bar
  src/assets/img/primeLogo.svg
  src/components/ProgressBar/styles.ts
  src/containers/PrimeStatusBanner/index.tsx
  src/containers/PrimeStatusBanner/styles.ts
  src/pages/Governance/ProposalList/CreateProposalModal/UploadOrManualProposal/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix
