Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

refactor(evm): improve coding style based on review feedback
  apps/evm/src/clients/api/queries/getProposal/useGetProposal.ts
  apps/evm/src/clients/api/queries/getProposalState/useGetProposalState.ts
  apps/evm/src/clients/api/queries/getProposals/useGetProposals.ts
  apps/evm/src/utilities/generatePseudoRandomRefetchInterval/index.ts
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm,chain): calculate estimate time with dynamic block times with tests
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/getEstimateDateByBlockHeight.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm,chain): code review feedbacks
  apps/evm/src/clients/api/queries/getBlockNumber/useGetBlockNumber.ts
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/useGetLatestProposalIdByProposer.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/getEstimatedDateByBlockHeight/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  apps/evm/src/hooks/useChain/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
  packages/chains/src/constants/index.ts
  packages/chains/src/index.ts
  packages/chains/src/types/index.ts
  packages/chains/src/utilities/getBlockTimeByChainId/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): improve test coding style
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm,chain): add support to various block times
  apps/evm/src/clients/api/queries/getBlockNumber/useGetBlockNumber.ts
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/useGetLatestProposalIdByProposer.ts
  apps/evm/src/clients/api/queries/getProposal/useGetProposal.ts
  apps/evm/src/clients/api/queries/getProposalState/useGetProposalState.ts
  apps/evm/src/clients/api/queries/getProposals/useGetProposals.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  apps/evm/src/hooks/useChain/index.tsx
  apps/evm/src/utilities/generatePseudoRandomRefetchInterval/index.ts
  packages/chains/src/chains/chainMetadata/index.ts
  packages/chains/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(chain): update fourier and fermi mainnet upgrade date
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm,chain): rename blockTimes variables, fix eslint errors
  apps/evm/src/clients/api/queries/getProposalState/useGetProposalState.ts
  apps/evm/src/clients/api/queries/getProposals/useGetProposals.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/getEstimatedDateByBlockHeight/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  apps/evm/src/hooks/useChain/__tests__/index.spec.tsx
  apps/evm/src/hooks/useChain/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
  packages/chains/src/types/index.ts
  packages/chains/src/utilities/getBlockTimeByChainId/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix(evm): update blocksPerDay based on new config
  apps/evm/src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  apps/evm/src/clients/api/queries/getVenusVaiVaultDailyRate/useGetVenusVaiVaultDailyRate.ts
  apps/evm/src/clients/api/queries/getXvsVaultsTotalDailyDistributedXvs/useGetXvsVaultsTotalDailyDistributedXvs.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test(evm): update snapshots on test cases
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
Due: none

chore(cicd): update changeset
  .changeset/tall-regions-play.md
Due: none

feat: support dynamic block times (#5130)
  .changeset/tall-regions-play.md
  apps/evm/src/clients/api/queries/getBlockNumber/useGetBlockNumber.ts
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/useGetLatestProposalIdByProposer.ts
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposal/useGetProposal.ts
  apps/evm/src/clients/api/queries/getProposalState/useGetProposalState.ts
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposals/useGetProposals.ts
  apps/evm/src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  apps/evm/src/clients/api/queries/getVenusVaiVaultDailyRate/useGetVenusVaiVaultDailyRate.ts
  apps/evm/src/clients/api/queries/getXvsVaultsTotalDailyDistributedXvs/useGetXvsVaultsTotalDailyDistributedXvs.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/getEstimatedDateByBlockHeight/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  apps/evm/src/hooks/useChain/__tests__/index.spec.tsx
  apps/evm/src/utilities/generatePseudoRandomRefetchInterval/index.ts
  packages/chains/src/chains/chainMetadata/index.ts
  packages/chains/src/constants/index.ts
  packages/chains/src/index.ts
  packages/chains/src/types/index.ts
  packages/chains/src/utilities/getBlockTimeByChainId/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/tall-regions-play.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

fix: convert timestamps to ISO format
  .changeset/wild-yaks-shout.md
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: convert timestamps to ISO format (#5131)
  .changeset/wild-yaks-shout.md
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wild-yaks-shout.md
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat(evm,chain): add auto-reload when passing hardforks
  apps/evm/src/App/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): increase check interval to 10s
  apps/evm/src/App/ChainUpgradeHandler/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test(evm): add test for auto-reload after hardforks
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: add Footer component to share between operation forms
  .vscode/settings.json
  apps/evm/src/components/ApproveTokenSteps/index.tsx
  apps/evm/src/containers/ApproveDelegate/__tests__/index.spec.tsx
  apps/evm/src/containers/ApproveDelegate/index.tsx
  apps/evm/src/containers/ApproveToken/__tests__/index.spec.tsx
  apps/evm/src/containers/ApproveToken/index.tsx
  apps/evm/src/containers/Form/RhfSubmitButton/ApproveTokenSteps/index.tsx
  apps/evm/src/containers/Form/RhfSubmitButton/index.tsx
  apps/evm/src/hooks/useDelegateApproval/index.ts
  apps/evm/src/hooks/useGetSwapInfo/index.ts
  apps/evm/src/hooks/useGetSwapInfo/types.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useSendTransaction/sendTransaction/index.ts
  apps/evm/src/hooks/useTokenApproval/index.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/pages/Market/OperationForm/ApproveDelegateSteps/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/ApproveDelegateSteps/index.tsx
  apps/evm/src/pages/Market/OperationForm/Footer/SubmitButton/index.tsx
  apps/evm/src/pages/Market/OperationForm/Footer/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Footer/index.tsx
  apps/evm/src/pages/Market/OperationForm/Footer/types.ts
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/__testUtils__/checkFns.ts
  apps/evm/src/pages/Market/OperationForm/index.tsx
  apps/evm/src/pages/Swap/SubmitSection/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
  packages/chains/src/utilities/getRpcUrls/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): changes based on review feedbacks
  apps/evm/src/App/ChainUpgradeHandler/index.tsx
  apps/evm/src/App/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: make Boost tab submit button red when operation is risky
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test(evm): update test import
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test(evm): improve test case setup
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(build): changeset
  .changeset/great-crabs-trade.md
Due: none

feat: add temporary vTestnet settings
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useSendTransaction/sendTransaction/index.ts
  packages/chains/src/chains/chainMetadata/index.ts
  packages/chains/src/utilities/getRpcUrls/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/quiet-dots-call.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat(evm,chain): add auto-reload when passing hardforks (#5132)
  .changeset/great-crabs-trade.md
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
  apps/evm/src/App/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/great-crabs-trade.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

Revert "feat(evm,chain): add auto-reload when passing hardforks (#5132)"
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
  apps/evm/src/App/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Revert "feat(evm,chain): add auto-reload when passing hardforks" (#5150)
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
  apps/evm/src/App/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Revert "Revert "feat(evm,chain): add auto-reload when passing hardforks" (#5150)"
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
  apps/evm/src/App/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix(evm): move useChain() to ChainUpgradeHandler
  apps/evm/src/App/ChainUpgradeHandler/index.tsx
  apps/evm/src/App/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: update changeset
  .changeset/chilly-papayas-lick.md
Due: none
