Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

Add and configure lint-staged
  .husky/pre-commit
  .lintstagedrc
  package.json
  yarn.lock
Due: none

Fix missing default import from ethers
  src/utilities/common.ts
Due: eslint --fix, prettier --write --check

fix some eslint errors
  .eslintrc.js
  src/containers/Main/Vote.tsx
  src/context/MarketContext.tsx
  src/hooks/useAuth.ts
  src/hooks/useBatchRequest.ts
  src/serviceWorker.ts
  src/utilities/api.ts
  src/utilities/common.ts
  src/utilities/constants.ts
  src/utilities/contractHelpers.ts
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check

fix ether import
  .eslintrc.js
  src/utilities/common.ts
Due: eslint --fix, prettier --write --check

fix no-array-index-key
  .eslintrc.js
  package.json
  src/components/Basic/OverviewChart.tsx
  src/components/Dashboard/Overview.tsx
  src/components/Vault/WithdrawHistoryModal.tsx
  src/components/Vote/ProposalModal.tsx
  src/components/Vote/ProposerDetail/Transactions.tsx
  src/components/Vote/ProposerDetail/VotingHistory.tsx
  src/components/Vote/VoteOverview/ProposalDetail.tsx
  src/components/Vote/VoteOverview/VoteCard.tsx
  src/containers/Main/Market.tsx
  src/containers/Main/Transaction.tsx
  src/containers/Main/Vault.tsx
  src/containers/Main/VoteOverview.tsx
  src/containers/Main/VoterLeaderboard.tsx
  src/containers/Main/XVS.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check

remove unused comment line
  src/components/Vault/WithdrawHistoryModal.tsx
Due: eslint --fix, prettier --write --check

disable plusplus for loops
  .eslintrc.js
Due: eslint --fix, prettier --write --check

add v2 component button
  src/components/Basic/BorrowTabs/BorrowTab.tsx
  src/components/Basic/BorrowTabs/RepayBorrowTab.tsx
  src/components/Basic/ConnectButton.tsx
  src/components/Basic/DelegationVoting.tsx
  src/components/Basic/Proposal.tsx
  src/components/Basic/SupplyTabs/SupplyTab.tsx
  src/components/Basic/SupplyTabs/WithdrawTab.tsx
  src/components/Basic/VaiTabs/MintTab.tsx
  src/components/Basic/VaiTabs/RepayVaiTab.tsx
  src/components/Vote/ProposalModal.tsx
  src/components/v2/Button.tsx
  src/components/v2/index.ts
  src/containers/Main/Faucet.tsx
  src/containers/Main/VoteOverview.tsx
Due: eslint --fix, prettier --write --check

replace mui button with antd button
  package.json
  src/components/Vote/ProposalModal.tsx
  src/components/v2/Button.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check

fix styles for antd button
  src/assets/styles/App.scss
  src/assets/styles/index.scss
  src/components/Basic/BorrowModal.tsx
  src/components/Basic/ConnectButton.tsx
  src/components/Basic/DelegationVoting.tsx
  src/components/Basic/Proposal.tsx
  src/components/Basic/SupplyModal.tsx
  src/components/Vote/ProposalModal.tsx
  src/components/Vote/Proposals.tsx
  src/containers/App.tsx
  src/containers/Main/Faucet.tsx
  src/containers/Main/VoteOverview.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

Add more specific type for settings on MarketDetail
  src/containers/Main/MarketDetail.tsx
Due: eslint --fix, prettier --write --check

Project requires at least node 12
  README.md
Due: none

Add node engine to package.json as requiring >=12.19.x
  package.json
Due: none

Allow full withdrawl if asset isnt collateralized
  src/components/Basic/SupplyTabs/WithdrawTab.tsx
  src/containers/Main/MarketDetail.tsx
Due: eslint --fix, prettier --write --check

[WIP] add VRT conversion and XVS withdraw UI
  public/coins/vrt.svg
  src/assets/img/coins/vrt.svg
  src/components/Basic/TabContainer.js
  src/components/VrtConversion/Redeem.js
  src/components/VrtConversion/Withdraw.js
  src/components/VrtConversion/styles.js
  src/config/abis/vrtConverter.json
  src/config/abis/vrtToken.json
  src/config/abis/xvsVesting.json
  src/config/contracts.ts
  src/containers/App.tsx
  src/containers/Layout/Sidebar.tsx
  src/containers/Main/VrtConversion.js
  src/hooks/useContract.ts
  src/utilities/addressHelpers.ts
  src/utilities/constants.ts
  src/utilities/contractHelpers.ts
  src/utilities/contracts.ts
Due: eslint --fix, prettier --write --check

adjust VRT conversion to typescript and resolve all compiling errors
  src/components/Basic/TabContainer.js
  src/components/Basic/TabContainer.tsx
  src/components/VrtConversion/Redeem.tsx
  src/components/VrtConversion/Withdraw.js
  src/components/VrtConversion/Withdraw.tsx
  src/components/VrtConversion/styles.tsx
  src/config/contracts.ts
  src/containers/App.tsx
  src/containers/Layout/Sidebar.tsx
  src/containers/Main/VrtConversion.tsx
  src/hooks/useContract.ts
  src/utilities/constants.ts
  src/utilities/contractHelpers.ts
  src/utilities/contracts.ts
Due: eslint --fix, prettier --write --check

disable vrt redeem which is under construction
  src/containers/App.tsx
  src/containers/Layout/Sidebar.tsx
Due: eslint --fix, prettier --write --check

resolve revie comments
  src/components/Basic/TabContainer.tsx
  src/containers/Main/VrtConversion.tsx
Due: eslint --fix, prettier --write --check

fix array index key linting error
  src/components/Basic/TabContainer.tsx
Due: eslint --fix, prettier --write --check

set up precommit hook with lint-staged
  package.json
  src/components/Basic/ConnectButton.tsx
Due: eslint --fix, prettier --write --check

Fix comand for css linting
  package.json
Due: none

Add VRT conversion UI (#95)
  public/coins/vrt.svg
  src/assets/img/coins/vrt.svg
  src/components/Basic/TabContainer.tsx
  src/components/VrtConversion/Redeem.tsx
  src/components/VrtConversion/Withdraw.tsx
  src/components/VrtConversion/styles.tsx
  src/config/abis/vrtConverter.json
  src/config/abis/vrtToken.json
  src/config/abis/xvsVesting.json
  src/config/contracts.ts
  src/containers/App.tsx
  src/containers/Layout/Sidebar.tsx
  src/containers/Main/VrtConversion.tsx
  src/hooks/useContract.ts
  src/utilities/addressHelpers.ts
  src/utilities/constants.ts
  src/utilities/contractHelpers.ts
  src/utilities/contracts.ts
Due: eslint --fix, prettier --write --check

Add husky as dev dependency
  package.json
  yarn.lock
Due: none

Update lint config to detect javascript/typescript files correctly
  .lintstagedrc
Due: none

Update lint staged scripts using prettier
  .lintstagedrc
Due: none

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.html)
  stylelint --fix: any of: *.scss
