Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

fix: hide Prime status banner when no user is logged in (#2047)
  src/pages/Vault/VaultItem/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: chain ID detection from URL in getChainId function (#2048)
  src/packages/wallet/utilities/getChainId/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.73.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  4b/5c85b1c58d22c9f4ea9c1d57e2c6fc18c24415
Due: none

feat: remove BNB chain from meta tags
  index.html
Due: prettier --write --check

feat: remove block number from footer
  src/containers/Layout/Footer/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add link to documentation in footer
  src/containers/Layout/Footer/constants.ts
  src/containers/Layout/Footer/index.tsx
  src/packages/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.73.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  88/8b9fd21b256f9ae27cdb4db0a06ee8e1fe6a9d
Due: none

feat: remove BNB chain from meta tags (#2055)
  index.html
Due: prettier --write --check

chore(release): 2.74.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  48/adc6f7b54fd0f57040ca0b4995ace9fb50ec98
Due: none

feat: update footer (#2056)
  src/containers/Layout/Footer/constants.ts
  src/containers/Layout/Footer/index.tsx
  src/packages/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.75.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  bd/ec87fafdb5453a1610b68ebc13fe2c2c0836c3
Due: none

feat: update how Prime simulation boosts are displayed
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/primeLogo.svg
  src/containers/MarketTable/Apy/index.tsx
  src/packages/translations/translations/en.json
  src/pages/Account/AccountBreakdown/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: initialization of Prime calculator form
  src/clients/api/queries/useGetPrimeEstimation/index.ts
  src/pages/PrimeCalculator/Form/getInitialValues.ts
  src/pages/PrimeCalculator/Form/index.tsx
  src/pages/PrimeCalculator/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: cleanup Prime calculator logic
  src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  src/pages/PrimeCalculator/Form/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update how Prime simulation boosts are displayed (#2057)
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/primeLogo.svg
  src/containers/MarketTable/Apy/index.tsx
  src/packages/translations/translations/en.json
  src/pages/Account/AccountBreakdown/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.76.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  9d/06e562e0dbfcaa0c4069f47fdb1355b0958a15
Due: none

chore(release): 2.76.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  cd/6d27d6d7c7fa363b81fddc9a28679a5ac074fb
Due: none

chore(release): 2.76.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  11/d309e2faea5de4c065459955badad66b9d85e8
Due: none

feat: fetch Prime distributions if isolated assets
  src/__mocks__/contracts/prime.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/api/queries/getLegacyPool/__tests__/index.spec.ts
  src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  src/clients/api/queries/getLegacyPool/index.ts
  src/clients/api/queries/getLegacyPool/types.ts
  src/constants/prime.ts
  src/packages/contracts/config/index.ts
  src/types/index.ts
  src/utilities/appendPrimeSimulationDistributions.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: handle fetching Prime distributions for isolated pools (#2049)
  src/__mocks__/contracts/prime.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/api/queries/getLegacyPool/__tests__/index.spec.ts
  src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  src/clients/api/queries/getLegacyPool/index.ts
  src/clients/api/queries/getLegacyPool/types.ts
  src/constants/prime.ts
  src/packages/contracts/config/index.ts
  src/types/index.ts
  src/utilities/appendPrimeSimulationDistributions.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.77.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  81/e948faf6a93313cc318b97e6388f9d5342f6dc
Due: none

test: add tests for Prime calculator
  src/__mocks__/models/primeEstimation.ts
  src/pages/PrimeCalculator/__tests__/index.spec.tsx
  src/pages/PrimeCalculator/testIds.ts
  src/setupTests.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.77.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  8b/1db2d97a42260b3a72acc3bfe00b93ea5e43ae
Due: none

chore(release): 2.77.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  4d/e03a22bfe6fcfe28720de313c7f540e84e77d6
Due: none

fix: tooltip for Prime
  src/packages/translations/translations/en.json
Due: prettier --write --check

feat: add support for opBNB network
  .env.template
  src/config/envVariables.ts
  src/config/index.ts
  src/constants/chainMetadata.ts
  src/packages/contracts/config/index.ts
  src/packages/tokens/infos/commonTokens/index.ts
  src/packages/tokens/infos/commonTokens/opBnbTestnet.ts
  src/packages/tokens/infos/disabledTokenActions/index.ts
  src/packages/tokens/infos/disabledTokenActions/opBnbTestnet.ts
  src/packages/tokens/infos/pancakeSwapTokens/index.tsx
  src/packages/tokens/infos/pancakeSwapTokens/opBnbTestnet.ts
  src/packages/wallet/chains.ts
  src/pages/Bridge/__tests__/index.spec.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add 0xsequence multicall address for opBNB testnet
  src/packages/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: tooltip for Prime (#2069)
  src/packages/translations/translations/en.json
Due: prettier --write --check

feat: add support for opBNB testnet network (#2063)
  .env.template
  src/config/envVariables.ts
  src/config/index.ts
  src/constants/chainMetadata.ts
  src/packages/contracts/config/index.ts
  src/packages/tokens/infos/commonTokens/index.ts
  src/packages/tokens/infos/commonTokens/opBnbTestnet.ts
  src/packages/tokens/infos/disabledTokenActions/index.ts
  src/packages/tokens/infos/disabledTokenActions/opBnbTestnet.ts
  src/packages/tokens/infos/pancakeSwapTokens/index.tsx
  src/packages/tokens/infos/pancakeSwapTokens/opBnbTestnet.ts
  src/packages/wallet/chains.ts
  src/pages/Bridge/__tests__/index.spec.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.78.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check
