Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

test(evm): update snapshots due to percentage format rounding mode change
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/Pools/Positions/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Account/Pools/Positions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/Pools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/IsolatedPools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/OperationForm/ApyBreakdown/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/utilities/formatPercentageToReadableValue/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/kind-areas-rescue.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add U token record
  .changeset/shaky-memes-brush.md
  packages/chains/src/images/tokens/u.png
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
  packages/chains/src/tokens/underlyingTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add responsive menu
  .changeset/shy-oranges-shine.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/components/Dropdown/index.tsx
  apps/evm/src/components/Dropdown/types.ts
  apps/evm/src/components/Icon/icons/gearFull.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/containers/Layout/Header/usePathNodes/PoolName/index.tsx
  apps/evm/src/containers/Layout/NavBar/BurnedWBnbButton/icon.svg
  apps/evm/src/containers/Layout/NavBar/BurnedWBnbButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/GaslessStatus/index.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/NavBar/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/SubMenuContent/SubMenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/SubMenuContent/index.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/MobileMenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/NavButtonWrapper/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/GaslessTransactionSetting/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/index.tsx
  apps/evm/src/containers/Layout/NavBar/SettingsButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/index.tsx
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/index.tsx
  apps/evm/src/pages/Pools/PoolTable/index.tsx
  apps/evm/src/pages/Pools/PoolTable/styles.ts
  packages/chains/src/images/tokens/u.png
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
  packages/chains/src/tokens/underlyingTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): update styles and extract components
  apps/evm/src/assets/styles/index.css
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Container/index.tsx
  apps/evm/src/containers/Link/index.tsx
  apps/evm/src/pages/Landing/Benefits/index.tsx
  apps/evm/src/pages/Landing/Governance/assets/planets.png
  apps/evm/src/pages/Landing/Governance/index.tsx
  apps/evm/src/pages/Landing/Protection/assets/bugBounty.png
  apps/evm/src/pages/Landing/Protection/assets/protection.png
  apps/evm/src/pages/Landing/Protection/index.tsx
  apps/evm/src/pages/Landing/Safety/Auditor.tsx
  apps/evm/src/pages/Landing/Safety/OtherAuditors.tsx
  apps/evm/src/pages/Landing/Safety/SafetyScore.tsx
  apps/evm/src/pages/Landing/Safety/assets/score.svg
  apps/evm/src/pages/Landing/Safety/index.tsx
  apps/evm/src/pages/Landing/VenusPrime/assets/venusPrimeLogo1280.png
  apps/evm/src/pages/Landing/VenusPrime/assets/venusPrimeLogo375.png
  apps/evm/src/pages/Landing/VenusPrime/assets/venusPrimeLogo640.png
  apps/evm/src/pages/Landing/VenusPrime/assets/venusPrimeLogo840.png
  apps/evm/src/pages/Landing/VenusPrime/index.tsx
  apps/evm/src/pages/Landing/Wallets/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): move texts to i18n lang file
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Landing/Benefits/index.tsx
  apps/evm/src/pages/Landing/Governance/index.tsx
  apps/evm/src/pages/Landing/Protection/index.tsx
  apps/evm/src/pages/Landing/Safety/Auditor.tsx
  apps/evm/src/pages/Landing/Safety/OtherAuditors.tsx
  apps/evm/src/pages/Landing/Safety/SafetyScore.tsx
  apps/evm/src/pages/Landing/Safety/index.tsx
  apps/evm/src/pages/Landing/VenusPrime/index.tsx
  apps/evm/src/pages/Landing/Wallets/index.tsx
  apps/evm/src/pages/Landing/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

ci(evm): add changeset
  .changeset/stupid-birds-think.md
Due: none

feat: add U token record (#5216)
  .changeset/shaky-memes-brush.md
  packages/chains/src/images/tokens/u.png
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
  packages/chains/src/tokens/underlyingTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/shaky-memes-brush.md
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

refactor(evm): fix lint issue
  apps/evm/src/clients/api/queries/getProposalsCountFromApi/useGetProposalsCountFromApi.ts
  apps/evm/src/containers/Container/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add responsive menu (#5220)
  .changeset/shy-oranges-shine.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/components/Dropdown/index.tsx
  apps/evm/src/components/Dropdown/types.ts
  apps/evm/src/components/Icon/icons/gearFull.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/containers/Layout/Header/usePathNodes/PoolName/index.tsx
  apps/evm/src/containers/Layout/NavBar/BurnedWBnbButton/icon.svg
  apps/evm/src/containers/Layout/NavBar/BurnedWBnbButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/GaslessStatus/index.tsx
  apps/evm/src/containers/Layout/NavBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/NavBar/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/SubMenuContent/SubMenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/SubMenuContent/index.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/MobileMenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/NavButtonWrapper/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/GaslessTransactionSetting/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/index.tsx
  apps/evm/src/containers/Layout/NavBar/SettingsButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/index.tsx
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/index.tsx
  apps/evm/src/pages/Pools/PoolTable/index.tsx
  apps/evm/src/pages/Pools/PoolTable/styles.ts
  packages/chains/src/images/tokens/u.png
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
  packages/chains/src/tokens/underlyingTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Chinese (simplified) translations
  apps/evm/src/libs/translations/constants/index.ts
  apps/evm/src/libs/translations/index.tsx
  apps/evm/src/libs/translations/translations/zhCn.json
  apps/evm/src/libs/translations/translations/zhHant.json
  apps/evm/src/libs/translations/translations/zhTw.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Thai translations
  apps/evm/src/libs/translations/translations/th.json
Due: prettier --write --check

feat: add Japanese translations
  apps/evm/src/containers/Layout/NavBar/MenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/LanguageSetting/index.tsx
  apps/evm/src/libs/translations/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/zhHans.json
  apps/evm/src/libs/translations/translations/zhHant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Turskish translations
  apps/evm/src/libs/translations/translations/tr.json
Due: prettier --write --check

feat: add Vietnamese translations
  apps/evm/src/libs/translations/translations/vi.json
Due: prettier --write --check

feat: add Chinese (traditional) translations
  apps/evm/src/libs/translations/translations/zhTw.json
Due: prettier --write --check

feat: add support for language selector
  apps/evm/i18next-parser.config.js
  apps/evm/package.json
  apps/evm/src/components/Modal/index.tsx
  apps/evm/src/components/Select/types.ts
  apps/evm/src/containers/Layout/NavBar/Settings/GaslessTransactionSetting/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/LanguageSetting/index.tsx
  apps/evm/src/containers/Layout/NavBar/Settings/index.tsx
  apps/evm/src/libs/translations/constants/index.ts
  apps/evm/src/libs/translations/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/libs/translations/useTranslation/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add temporary fix to handle VenusLens address change after Fermi upgrade
  .changeset/true-guests-shine.md
  apps/evm/src/libs/contracts/utilities/getContractAddress/__tests__/index.spec.ts
  apps/evm/src/libs/contracts/utilities/getContractAddress/index.ts
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add temporary fix to handle VenusLens address change (#5232)
  .changeset/true-guests-shine.md
  apps/evm/src/libs/contracts/utilities/getContractAddress/__tests__/index.spec.ts
  apps/evm/src/libs/contracts/utilities/getContractAddress/index.ts
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/true-guests-shine.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

refactor(evm): changes based on review feedbacks
  apps/evm/src/clients/api/queries/getProposalsCountFromApi/useGetProposalsCountFromApi.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/constants/landing.ts
  apps/evm/src/constants/production.ts
  apps/evm/src/containers/Container/index.tsx
  apps/evm/src/pages/Landing/Benefits/index.tsx
  apps/evm/src/pages/Landing/Governance/index.tsx
  apps/evm/src/pages/Landing/Protection/index.tsx
  apps/evm/src/pages/Landing/Safety/index.tsx
  apps/evm/src/pages/Landing/Wallets/index.tsx
  apps/evm/src/pages/Landing/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update VenusLens contract address
  .changeset/curly-emus-like.md
  apps/evm/src/libs/contracts/utilities/getContractAddress/__tests__/index.spec.ts
  apps/evm/src/libs/contracts/utilities/getContractAddress/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update VenusLens contract address (#5234)
  .changeset/curly-emus-like.md
  apps/evm/src/libs/contracts/utilities/getContractAddress/__tests__/index.spec.ts
  apps/evm/src/libs/contracts/utilities/getContractAddress/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/curly-emus-like.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: remove temporary fix for the updated VenusLens contract address
  .changeset/legal-jeans-sip.md
  apps/evm/package.json
  apps/evm/src/libs/contracts/utilities/getContractAddress/__tests__/index.spec.ts
  apps/evm/src/libs/contracts/utilities/getContractAddress/index.ts
  packages/chains/src/chains/chainMetadata/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): remove unused key, add i18n to img alt, adjust styles
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Landing/Governance/index.tsx
  apps/evm/src/pages/Landing/Protection/index.tsx
  apps/evm/src/pages/Landing/Safety/OtherAuditors.tsx
  apps/evm/src/pages/Landing/Safety/SafetyScore.tsx
  apps/evm/src/pages/Landing/Safety/index.tsx
  apps/evm/src/pages/Landing/VenusPrime/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): change based on review feedbacks
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/clients/api/queries/getProposalsCountFromApi/useGetProposalsCountFromApi.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/pages/Landing/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): update img alts, translation and query name
  apps/evm/src/clients/api/queries/getProposalsCount/index.ts
  apps/evm/src/clients/api/queries/getProposalsCount/useGetProposalsCount.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Landing/Governance/index.tsx
  apps/evm/src/pages/Landing/Protection/index.tsx
  apps/evm/src/pages/Landing/Safety/SafetyScore.tsx
  apps/evm/src/pages/Landing/VenusPrime/index.tsx
  apps/evm/src/pages/Landing/Wallets/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove temporary fix (#5235)
  .changeset/legal-jeans-sip.md
  apps/evm/package.json
  apps/evm/src/libs/contracts/utilities/getContractAddress/__tests__/index.spec.ts
  apps/evm/src/libs/contracts/utilities/getContractAddress/index.ts
  packages/chains/src/chains/chainMetadata/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix
