Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/young-mails-bake.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: multicall batching with viem
  .changeset/moody-experts-travel.md
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: multicall batching with viem (#3764)
  .changeset/moody-experts-travel.md
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/moody-experts-travel.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: ceil value property of ProgressCircle component
  .changeset/strong-apes-impress.md
  apps/evm/src/components/ProgressCircle/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: ceil value property of ProgressCircle component (#3771)
  .changeset/strong-apes-impress.md
  apps/evm/src/components/ProgressCircle/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/strong-apes-impress.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: update link to example proposal
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/UploadOrManualProposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add wUSDM token record
  .changeset/eighty-flies-clap.md
  apps/evm/package.json
  apps/evm/src/libs/tokens/img/underlyingTokens/wUsdm.png
  apps/evm/src/libs/tokens/img/vTokens/vWUsdm.svg
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncSepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncSepolia.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: hide icon when there is no VToken logo
  apps/evm/src/containers/Layout/Header/MarketInfo/TokenDropdownOption/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/big-sloths-rush.md
Due: none

chore: bump package versions
  .changeset/big-sloths-rush.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add wUSDM token record (#3770)
  .changeset/eighty-flies-clap.md
  apps/evm/package.json
  apps/evm/src/libs/tokens/img/underlyingTokens/wUsdm.png
  apps/evm/src/libs/tokens/img/vTokens/vWUsdm.svg
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncSepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncSepolia.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/eighty-flies-clap.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: handle Framer Motion rename to Motion + fix Storybook package versions
  .changeset/odd-squids-suffer.md
  apps/evm/package.json
  apps/evm/src/components/AccordionAnimatedContent/index.tsx
  apps/evm/src/libs/notifications/NotificationCenter/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: preventDefault when clicking a Tooltip
  apps/evm/src/components/Tooltip/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/fuzzy-suits-collect.md
Due: none

chore: upgrade Framer Motion + fix Storybook version (#3793)
  .changeset/odd-squids-suffer.md
  apps/evm/package.json
  apps/evm/src/components/AccordionAnimatedContent/index.tsx
  apps/evm/src/libs/notifications/NotificationCenter/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/odd-squids-suffer.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: update Market Details page
  .changeset/red-tools-juggle.md
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/Page/MarketInfo/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update Market Details page (#3792)
  .changeset/red-tools-juggle.md
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/Page/MarketInfo/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/red-tools-juggle.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: make Toggle component light by default
  .changeset/tame-pets-flash.md
  apps/evm/src/components/Toggle/index.stories.tsx
  apps/evm/src/components/Toggle/index.tsx
  apps/evm/src/components/Toggle/styles.ts
  apps/evm/src/pages/Account/Settings/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/nasty-turkeys-hammer.md
Due: none

feat: add gmBTC-USDC and gmWETH-USDC to Arbitrum
  apps/evm/src/libs/tokens/img/underlyingTokens/gmBtcUsdc.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/gmWEthUsdc.svg
  apps/evm/src/libs/tokens/img/vTokens/vGmBtc.svg
  apps/evm/src/libs/tokens/img/vTokens/vGmEth.svg
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumOne.ts
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: correct vUSDC logos on zkSync
  apps/evm/src/libs/tokens/img/vTokens/vUsdcBridgedCore.svg
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/violet-bottles-push.md
Due: none

refactor: make Toggle component light by default (#3800)
  .changeset/tame-pets-flash.md
  apps/evm/src/components/Toggle/index.stories.tsx
  apps/evm/src/components/Toggle/index.tsx
  apps/evm/src/components/Toggle/styles.ts
  apps/evm/src/pages/Account/Settings/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/tame-pets-flash.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/nasty-turkeys-hammer.md
  .changeset/violet-bottles-push.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/giant-tomatoes-dream.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: update GMX token icons
  apps/evm/src/libs/tokens/img/underlyingTokens/gmBtcUsdc.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/gmWEthUsdc.svg
Due: none

chore: add changeset
  .changeset/happy-queens-glow.md
Due: none

feat: update Thena token assets
  apps/evm/src/libs/tokens/img/underlyingTokens/the.svg
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/thick-lizards-begin.md
Due: none

refactor: update GMX token symbols
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumOne.ts
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/happy-queens-glow.md
  .changeset/thick-lizards-begin.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: highlight markets with boosted APYs
  .changeset/mean-tables-sneeze.md
  apps/evm/package.json
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/formatRewardDistribution/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/containers/MarketTable/Apy/ApyWithPrimeBoost/index.tsx
  apps/evm/src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/DistributionGroup/ListItem/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/DistributionGroup/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/stars.svg
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/types.ts
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/PrimeApy/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/PrimeIcon/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/PrimeIcon/primeLogo.svg
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/SimulationText/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/index.tsx
  apps/evm/src/containers/MarketTable/Apy/index.tsx
  apps/evm/src/containers/MarketTable/types.ts
  apps/evm/src/containers/MarketTable/useGenerateColumns.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/Tables/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Dashboard/useMarketTableColumns/index.tsx
  apps/evm/src/pages/Market/Page/AssetWarning/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/AssetInfo/index.tsx
  apps/evm/src/pages/Pool/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/calculateYearlyEarnings.ts
  apps/evm/src/utilities/getCombinedDistributionApys/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
  apps/evm/src/utilities/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
