Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: update behaviors of MAX buttons
  .changeset/shaggy-jars-serve.md
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/__tests__/index.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: box shadow on TokenList component of SelectTokenTextField
  .changeset/fast-fans-grow.md
  apps/evm/src/components/SelectTokenTextField/TokenList/styles.ts
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: stricten linting rule on hook dependencies
  .changeset/lemon-shoes-melt.md
  apps/evm/src/components/MarkdownEditor/index.tsx
  apps/evm/src/components/ProgressBar/index.tsx
  apps/evm/src/components/ValueUpdate/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/MarketTable/useGenerateColumns.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/SubmitSection/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/SubmitSection/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  apps/evm/src/hooks/useProgressColor.ts
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/History/HistoryTable/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/Stepper/index.tsx
  apps/evm/src/pages/Vault/VaultItem/index.tsx
  apps/evm/src/pages/Voter/Transactions/index.tsx
  apps/evm/src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
  apps/evm/src/pages/Xvs/Table/index.tsx
  configs/eslint/base.js
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add hideDelegateApprovalStep prop
  apps/evm/src/components/ApproveSteps/ApproveDelegateSteps/index.spec.tsx
  apps/evm/src/components/ApproveSteps/ApproveDelegateSteps/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/BorrowForm/SubmitSection/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/SubmitSection/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: stricten linting rule on hook dependencies (#2321)
  .changeset/lemon-shoes-melt.md
  apps/evm/src/components/MarkdownEditor/index.tsx
  apps/evm/src/components/ProgressBar/index.tsx
  apps/evm/src/components/ValueUpdate/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/MarketTable/useGenerateColumns.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/SubmitSection/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/SubmitSection/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  apps/evm/src/hooks/useProgressColor.ts
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/History/HistoryTable/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/Stepper/index.tsx
  apps/evm/src/pages/Vault/VaultItem/index.tsx
  apps/evm/src/pages/Voter/Transactions/index.tsx
  apps/evm/src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
  apps/evm/src/pages/Xvs/Table/index.tsx
  configs/eslint/base.js
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: box shadow + WBNB address on opBNB testnet (#2320)
  .changeset/fast-fans-grow.md
  apps/evm/src/components/SelectTokenTextField/TokenList/styles.ts
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/smart-drinks-build.md
Due: none

refactor: add biome
  .github/workflows/ci.yaml
  .gitignore
  .prettierignore
  .prettierrc.js
  apps/evm/.eslintrc.js
  apps/evm/package.json
  biome.json
  configs/eslint/base.js
  package.json
  turbo.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: fix scripts
  apps/evm/package.json
  apps/evm/src/clients/api/queries/useGetLegacyPoolTotalXvsDistributed/index.tsx
  apps/evm/src/clients/api/queries/useGetPool/index.tsx
  apps/evm/src/clients/subgraph/gql/index.ts
  apps/evm/src/config/codegen.ts
  apps/evm/src/containers/MarketTable/Apy/index.tsx
  apps/evm/src/pages/Market/index.tsx
  configs/stylelint/base.js
  configs/stylelint/package.json
  package.json
  turbo.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: fix generate turbo pipeline
  .github/workflows/ci.yaml
  apps/evm/package.json
  turbo.json
Due: prettier --write --check

chore: remove lint-staged
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write --check

feat: update behaviors of MAX buttons (#2319)
  .changeset/shaggy-jars-serve.md
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/__tests__/index.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/tasty-pianos-work.md
Due: none

chore: upgrade Node to 20.x
  .changeset/serious-ties-tease.md
  .github/workflows/ci.yaml
  .nvmrc
  Dockerfile
  apps/evm/package.json
  package.json
Due: prettier --write --check

chore: upgrade Node to 20.x (#2337)
  .changeset/serious-ties-tease.md
  .github/workflows/ci.yaml
  .nvmrc
  Dockerfile
  apps/evm/package.json
  package.json
Due: prettier --write --check

refactor: move chain logos to wallets lib
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/libs/wallet/chains/img/bsc.svg
  apps/evm/src/libs/wallet/chains/img/eth.svg
  apps/evm/src/libs/wallet/chains/img/opbnb.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/neat-avocados-argue.md
Due: none

chore: lint package.json
  apps/evm/package.json
Due: prettier --write --check

feat: enable supply and borrow actions for TUSD
  .changeset/dirty-months-rest.md
  apps/evm/package.json
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: ci pipeline
  .github/workflows/ci.yaml
Due: none

feat: enable supply and borrow actions for TUSD (#2339)
  .changeset/dirty-months-rest.md
  .github/workflows/ci.yaml
  apps/evm/package.json
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: formatting issue
  .changeset/orange-ravens-glow.md
  apps/evm/package.json
Due: prettier --write --check

feat: filter out 0 Prime APYs
  .changeset/afraid-pumas-protect.md
  apps/evm/package.json
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/formatDistributions.ts
  apps/evm/src/utilities/appendPrimeSimulationDistributions.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: formatting issue (#2346)
  .changeset/orange-ravens-glow.md
  apps/evm/package.json
Due: prettier --write --check

feat: filter out 0 Prime APYs (#2347)
  .changeset/afraid-pumas-protect.md
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/formatDistributions.ts
  apps/evm/src/utilities/appendPrimeSimulationDistributions.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: ignore package.json when formatting
  biome.json
Due: prettier --write --check

chore: ignore package.json when formatting (#2350)
  biome.json
Due: prettier --write --check

feat: add UI for search on Governance page
  .changeset/red-walls-explode.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/Stepper/index.tsx
  apps/evm/src/utilities/getProposalStateLabel/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: refactor ProposalList and VotingWallet components
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/useForm/useFormValidation.ts
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/ProposalList/styles.ts
  apps/evm/src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  apps/evm/src/pages/Governance/VotingWallet/index.tsx
  apps/evm/src/pages/Governance/index.tsx
  apps/evm/src/pages/Governance/styles.ts
  biome.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: hide Governance search under feature flag
  .github/workflows/ci.yaml
  apps/evm/src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  turbo.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: UI for Governance search (#2349)
  .changeset/red-walls-explode.md
  .github/workflows/ci.yaml
  apps/evm/src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/useForm/useFormValidation.ts
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/useForm/useFormValidation.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/ProposalList/styles.ts
  apps/evm/src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  apps/evm/src/pages/Governance/VotingWallet/index.tsx
  apps/evm/src/pages/Governance/index.tsx
  apps/evm/src/pages/Governance/styles.ts
  apps/evm/src/pages/Proposal/ProposalSummary/Stepper/index.tsx
  apps/evm/src/utilities/getProposalStateLabel/index.ts
  biome.json
  turbo.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update WBNB to wrap BNB on BSC mainnet
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add useRedeemUnderlyingAndUnwrap to WithdrawForm
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add borrowAndUnwrap
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/mutations/borrowAndUnwrap/index.spec.ts
  apps/evm/src/clients/api/mutations/borrowAndUnwrap/index.ts
  apps/evm/src/clients/api/mutations/borrowAndUnwrap/useBorrowAndUnwrap.ts
  apps/evm/src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: integrate withdraw form with redeemAndUnwrap
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: separate redeemAndUnwrap and redeemUnderlyingAndUnwrap
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/borrowAndUnwrap/index.spec.ts
  apps/evm/src/clients/api/mutations/borrowAndUnwrap/index.ts
  apps/evm/src/clients/api/mutations/redeemAndUnwrap/index.ts
  apps/evm/src/clients/api/mutations/redeemAndUnwrap/useRedeemAndUnwrap.ts
  apps/evm/src/clients/api/mutations/redeemUnderlyingAndUnwrap/index.spec.ts
  apps/evm/src/clients/api/mutations/redeemUnderlyingAndUnwrap/index.ts
  apps/evm/src/clients/api/mutations/redeemUnderlyingAndUnwrap/useRedeemUnderlyingAndUnwrap.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/libs/contracts/config/externalAbis/NativeTokenGateway.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getUniqueTokenBalances
  apps/evm/src/utilities/getUniqueTokenBalances/__tests__/index.spec.ts
  apps/evm/src/utilities/getUniqueTokenBalances/index.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
