Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

test: update API mocks
  apps/evm/src/__mocks__/api/pools.json
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
Due: prettier --write --check

refactor: getPoolDelegateApprovalStatus query function to use viem
  apps/evm/src/clients/api/queries/getPoolDelegateApprovalStatus/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPoolDelegateApprovalStatus/index.ts
  apps/evm/src/clients/api/queries/getPoolDelegateApprovalStatus/useGetPoolDelegateApprovalStatus.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getPoolLiquidationIncentive query function to use viem
  apps/evm/src/clients/api/queries/getPoolLiquidationIncentive/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPoolLiquidationIncentive/index.spec.ts
  apps/evm/src/clients/api/queries/getPoolLiquidationIncentive/index.ts
  apps/evm/src/clients/api/queries/getPoolLiquidationIncentive/useGetPoolLiquidationIncentive.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getPrimeDistributionForMarket query function to use viem
  apps/evm/src/clients/api/queries/getPrimeDistributionForMarket/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getPrimeDistributionForMarket/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPrimeDistributionForMarket/index.spec.ts
  apps/evm/src/clients/api/queries/getPrimeDistributionForMarket/index.ts
  apps/evm/src/clients/api/queries/getPrimeDistributionForMarket/useGetPrimeDistributionForMarket.ts
  apps/evm/src/clients/api/queries/useGetPrimeEstimation/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getPrimeStatus query function to use viem
  apps/evm/src/clients/api/queries/getPoolDelegateApprovalStatus/index.ts
  apps/evm/src/clients/api/queries/getPoolDelegateApprovalStatus/useGetPoolDelegateApprovalStatus.ts
  apps/evm/src/clients/api/queries/getPrimeDistributionForMarket/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPrimeStatus/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getPrimeStatus/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getPrimeStatus/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPrimeStatus/index.spec.ts
  apps/evm/src/clients/api/queries/getPrimeStatus/index.ts
  apps/evm/src/clients/api/queries/getPrimeStatus/useGetPrimeStatus.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getPrimeToken to use viem
  apps/evm/src/clients/api/queries/getPrimeToken/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPrimeToken/index.spec.ts
  apps/evm/src/clients/api/queries/getPrimeToken/index.ts
  apps/evm/src/clients/api/queries/getPrimeToken/useGetPrimeToken.ts
  apps/evm/src/clients/api/queries/getVoterHistory/types.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToProposalActions/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/index.ts
  apps/evm/src/hooks/useDelegateApproval/index.ts
  apps/evm/src/hooks/useGetHypotheticalUserPrimeApys/index.ts
  apps/evm/src/pages/Vault/VaultItem/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getProposalEta to use viem
  apps/evm/src/clients/api/queries/getProposalEta/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposalEta/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalEta/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalEta/index.ts
  apps/evm/src/clients/api/queries/getProposalEta/useGetProposalEta.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getProposalMinQuorumVotes to use viem
  apps/evm/src/clients/api/queries/getPrimeStatus/useGetPrimeStatus.ts
  apps/evm/src/clients/api/queries/getPrimeToken/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalEta/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalEta/useGetProposalEta.ts
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/index.ts
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/useGetProposalMinQuorumVotes.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add asBNB and PT-clisBNB-APR25 records
  .changeset/giant-mails-cover.md
  apps/evm/src/libs/tokens/img/underlyingTokens/asBnb.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/ptClisBNB.svg
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add asBNB and PT-clisBNB-APR25 records (#4018)
  .changeset/giant-mails-cover.md
  apps/evm/src/libs/tokens/img/underlyingTokens/asBnb.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/ptClisBNB.svg
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/giant-mails-cover.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/calm-shrimps-wink.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: alignment issue on pool tables on Account page
  .changeset/forty-brooms-cry.md
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/Tables/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/social-owls-rule.md
  apps/evm/src/clients/api/queries/getPoolLiquidationIncentive/index.ts
  apps/evm/src/clients/api/queries/getPrimeToken/useGetPrimeToken.ts
  apps/evm/src/clients/api/queries/getProposalEta/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVoterHistory/types.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToProposalActions/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/index.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: alignment issue on pool tables on Account page (#4040)
  .changeset/forty-brooms-cry.md
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/Tables/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/forty-brooms-cry.md
  .changeset/social-owls-rule.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: remove unused query keys + invalidate correct key related to pools
  .changeset/rich-foxes-obey.md
  apps/evm/src/clients/api/mutations/borrow/useBorrow.ts
  apps/evm/src/clients/api/mutations/enterMarket/useEnterMarket.ts
  apps/evm/src/clients/api/mutations/exitMarket/useExitMarket.ts
  apps/evm/src/clients/api/mutations/repay/useRepay.ts
  apps/evm/src/clients/api/mutations/supply/useSupply.ts
  apps/evm/src/clients/api/mutations/swapTokens/useSwapTokens.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  apps/evm/src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  apps/evm/src/clients/api/mutations/withdraw/useWithdraw.ts
  apps/evm/src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: remove unused function keys + invalidate correct key related to pools (#4056)
  .changeset/rich-foxes-obey.md
  apps/evm/src/clients/api/mutations/borrow/useBorrow.ts
  apps/evm/src/clients/api/mutations/enterMarket/useEnterMarket.ts
  apps/evm/src/clients/api/mutations/exitMarket/useExitMarket.ts
  apps/evm/src/clients/api/mutations/repay/useRepay.ts
  apps/evm/src/clients/api/mutations/supply/useSupply.ts
  apps/evm/src/clients/api/mutations/swapTokens/useSwapTokens.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  apps/evm/src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  apps/evm/src/clients/api/mutations/withdraw/useWithdraw.ts
  apps/evm/src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/rich-foxes-obey.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/fluffy-loops-drum.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: getProposalState to use viem
  apps/evm/src/clients/api/queries/getProposalState/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalState/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalState/index.ts
  apps/evm/src/clients/api/queries/getProposalState/useGetProposalState.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getProposalThreshold to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getProposalState/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalState/index.ts
  apps/evm/src/clients/api/queries/getProposalState/useGetProposalState.ts
  apps/evm/src/clients/api/queries/getProposalThreshold/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalThreshold/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalThreshold/index.ts
  apps/evm/src/clients/api/queries/getProposalThreshold/useGetProposalThreshold.ts
  apps/evm/src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getTokenUsdPrice to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getTokenUsdPrice/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getTokenUsdPrice/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getTokenUsdPrice/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getTokenUsdPrice/index.spec.ts
  apps/evm/src/clients/api/queries/getTokenUsdPrice/index.ts
  apps/evm/src/clients/api/queries/getTokenUsdPrice/useGetTokenUsdPrice.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getVaiRepayApr to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getVaiRepayApr/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVaiRepayApr/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVaiRepayApr/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVaiRepayApr/index.spec.ts
  apps/evm/src/clients/api/queries/getVaiRepayApr/index.ts
  apps/evm/src/clients/api/queries/getVaiRepayApr/useGetVaiRepayApr.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getVaiTreasuryPercentage to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/index.spec.ts
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/index.ts
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/useGetVaiTreasuryPercentage.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getVaiRepayApr to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getVaiVaultPaused/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVaiVaultPaused/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVaiVaultPaused/index.ts
  apps/evm/src/clients/api/queries/getVaiVaultPaused/useGetVaiVaultPaused.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getVaiVaultUserInfo to use viem
  apps/evm/src/__mocks__/contracts/vaiVault.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getVaiVaultPaused/useGetVaiVaultPaused.ts
  apps/evm/src/clients/api/queries/getVaiVaultUserInfo/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVaiVaultUserInfo/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVaiVaultUserInfo/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVaiVaultUserInfo/formatToUserInfo.ts
  apps/evm/src/clients/api/queries/getVaiVaultUserInfo/index.spec.ts
  apps/evm/src/clients/api/queries/getVaiVaultUserInfo/index.ts
  apps/evm/src/clients/api/queries/getVaiVaultUserInfo/types.ts
  apps/evm/src/clients/api/queries/getVaiVaultUserInfo/useGetVaiVaultUserInfo.ts
  apps/evm/src/clients/api/queries/useGetVaults/__tests__/index.spec.tsx
  apps/evm/src/clients/api/queries/useGetVaults/index.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  apps/evm/src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getVenusVaiVaultDailyRate to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getVenusVaiVaultDailyRate/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVenusVaiVaultDailyRate/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVenusVaiVaultDailyRate/index.spec.ts
  apps/evm/src/clients/api/queries/getVenusVaiVaultDailyRate/index.ts
  apps/evm/src/clients/api/queries/getVenusVaiVaultDailyRate/useGetVenusVaiVaultDailyRate.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getVoteDelegateAddress to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getVoteDelegateAddress/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVoteDelegateAddress/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVoteDelegateAddress/index.spec.ts
  apps/evm/src/clients/api/queries/getVoteDelegateAddress/index.ts
  apps/evm/src/clients/api/queries/getVoteDelegateAddress/useGetVoteDelegateAddress.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getVoteReceipt to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getProposalState/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalState/index.ts
  apps/evm/src/clients/api/queries/getVoteReceipt/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVoteReceipt/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVoteReceipt/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVoteReceipt/index.spec.ts
  apps/evm/src/clients/api/queries/getVoteReceipt/index.ts
  apps/evm/src/clients/api/queries/getVoteReceipt/useGetVoteReceipt.ts
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/pink-sides-read.md
Due: none

feat: increase reward fetching interval
  .changeset/twelve-words-create.md
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: increase reward fetching interval (#4076)
  .changeset/twelve-words-create.md
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/twelve-words-create.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
