Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for Liquidity Hub transactions
  .changeset/forty-spies-enjoy.md
  apps/evm/src/__mocks__/models/transactions.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/formatApiTransaction/formatToLiquidityHubTransaction/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/formatApiTransaction/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/types.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/useGetAccountTransactionHistory.ts
  apps/evm/src/components/TransactionsList/TransactionRow/Events/formatToLiquidityHubTxEvents/__tests__/index.spec.ts
  apps/evm/src/components/TransactionsList/TransactionRow/Events/formatToLiquidityHubTxEvents/index.ts
  apps/evm/src/components/TransactionsList/TransactionRow/Events/index.tsx
  apps/evm/src/components/TransactionsList/TransactionRow/index.tsx
  apps/evm/src/constants/marketTxTypes.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Transactions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Transactions/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/getTransactionName/__tests__/index.spec.ts
  apps/evm/src/utilities/getTransactionName/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: test snapshot
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

fix: test snapshot (#5721)
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

feat: lazy load translation files
  .changeset/curvy-kids-open.md
  apps/evm/src/libs/translations/constants/index.ts
  apps/evm/src/libs/translations/index.tsx
  apps/evm/src/libs/translations/loadTranslations/index.ts
  apps/evm/src/libs/translations/viteTranslationBackend/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: fix heap memory allocation issue
  .github/workflows/cd.yaml
Due: none

ci: fix heap memory allocation issue (#5722)
  .github/workflows/cd.yaml
Due: none

ci: fix heap memory allocation issue (#5726)
  .github/workflows/cd.yaml
Due: none

ci: use slim versions of Venus contract packages
  .github/workflows/cd.yaml
  apps/evm/package.json
  apps/evm/src/libs/contracts/config/index.ts
  packages/chains/package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: vaults optimization
  apps/evm/src/containers/VaultCard/Simplified/Cell/index.tsx
  apps/evm/src/containers/VaultCard/Simplified/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/clear-dots-stand.md
  .changeset/four-parrots-throw.md
  .changeset/funny-peas-notice.md
  .changeset/hip-needles-spend.md
  .changeset/long-masks-cheer.md
  .changeset/neat-schools-end.md
  .changeset/red-moles-agree.md
  .changeset/sharp-moons-behave.md
  .changeset/some-rice-strive.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

ci: remove IPFS deployment
  .github/workflows/cd.yaml
  .github/workflows/pull_request_template.md
  Dockerfile
  Dockerfile.local
  docker-compose.yaml
  pull_request_template.md
Due: none

ci: give AI read-only access to GitHub, Jira and Notion
  .pi/extensions/setup/GitHubIntegration/index.ts
  .pi/extensions/setup/JiraIntegration/index.ts
  .pi/extensions/setup/NotionIntegration/index.ts
  .pi/extensions/setup/SetupExtension/index.ts
  .pi/extensions/setup/SetupStorage/index.ts
  .pi/extensions/setup/constants/index.ts
  .pi/extensions/setup/index.ts
  .pi/extensions/setup/types.ts
  .pi/extensions/setup/utils/errorMessage/index.ts
  .pi/extensions/setup/utils/expiresAtMs/index.ts
  .pi/extensions/setup/utils/formatSize/index.ts
  .pi/extensions/setup/utils/index.ts
  .pi/extensions/setup/utils/limit/index.ts
  .pi/extensions/setup/utils/openBrowser/index.ts
  .pi/extensions/setup/utils/parseScopes/index.ts
  .pi/extensions/setup/utils/pkceChallenge/index.ts
  .pi/extensions/setup/utils/randomUrlSafeString/index.ts
  .pi/extensions/setup/utils/readJsonResponse/index.ts
  .pi/extensions/setup/utils/runCommand/index.ts
  .pi/extensions/setup/utils/runInteractiveCommand/index.ts
  .pi/extensions/setup/utils/runInteractiveShellCommand/index.ts
  .pi/extensions/setup/utils/textResult/index.ts
  .pi/extensions/setup/utils/truncate/index.ts
  .pi/extensions/setup/utils/unconfiguredResult/index.ts
  AGENTS.md
  README.md
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: give AI read-only access to GitHub, Jira and Notion (#5733)
  .pi/extensions/setup/GitHubIntegration/index.ts
  .pi/extensions/setup/JiraIntegration/index.ts
  .pi/extensions/setup/NotionIntegration/index.ts
  .pi/extensions/setup/SetupExtension/index.ts
  .pi/extensions/setup/SetupStorage/index.ts
  .pi/extensions/setup/constants/index.ts
  .pi/extensions/setup/index.ts
  .pi/extensions/setup/types.ts
  .pi/extensions/setup/utils/errorMessage/index.ts
  .pi/extensions/setup/utils/expiresAtMs/index.ts
  .pi/extensions/setup/utils/formatSize/index.ts
  .pi/extensions/setup/utils/index.ts
  .pi/extensions/setup/utils/limit/index.ts
  .pi/extensions/setup/utils/openBrowser/index.ts
  .pi/extensions/setup/utils/parseScopes/index.ts
  .pi/extensions/setup/utils/pkceChallenge/index.ts
  .pi/extensions/setup/utils/randomUrlSafeString/index.ts
  .pi/extensions/setup/utils/readJsonResponse/index.ts
  .pi/extensions/setup/utils/runCommand/index.ts
  .pi/extensions/setup/utils/runInteractiveCommand/index.ts
  .pi/extensions/setup/utils/runInteractiveShellCommand/index.ts
  .pi/extensions/setup/utils/textResult/index.ts
  .pi/extensions/setup/utils/truncate/index.ts
  .pi/extensions/setup/utils/unconfiguredResult/index.ts
  AGENTS.md
  README.md
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: lazy load translation files (#5720)
  .changeset/curvy-kids-open.md
  apps/evm/src/libs/translations/constants/index.ts
  apps/evm/src/libs/translations/index.tsx
  apps/evm/src/libs/translations/loadTranslations/index.ts
  apps/evm/src/libs/translations/viteTranslationBackend/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: remove IPFS deployment (#5731)
  .github/workflows/cd.yaml
  .github/workflows/pull_request_template.md
  Dockerfile
  Dockerfile.local
  docker-compose.yaml
  pull_request_template.md
Due: none

fix: recovery
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: support current chain
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for Liquidity Hub transactions (#5719)
  .changeset/forty-spies-enjoy.md
  apps/evm/src/__mocks__/models/transactions.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/formatApiTransaction/formatToLiquidityHubTransaction/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/formatApiTransaction/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/types.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/useGetAccountTransactionHistory.ts
  apps/evm/src/components/TransactionsList/TransactionRow/Events/formatToLiquidityHubTxEvents/__tests__/index.spec.ts
  apps/evm/src/components/TransactionsList/TransactionRow/Events/formatToLiquidityHubTxEvents/index.ts
  apps/evm/src/components/TransactionsList/TransactionRow/Events/index.tsx
  apps/evm/src/components/TransactionsList/TransactionRow/index.tsx
  apps/evm/src/constants/marketTxTypes.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Transactions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Transactions/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/getTransactionName/__tests__/index.spec.ts
  apps/evm/src/utilities/getTransactionName/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: heap memory allocation issue (#5728)
  .github/workflows/cd.yaml
  apps/evm/package.json
  apps/evm/src/libs/contracts/config/index.ts
  packages/chains/package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/curvy-kids-open.md
  .changeset/forty-spies-enjoy.md
  .changeset/lemon-pianos-stick.md
  .changeset/wise-dingos-divide.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

ci: only only prerelease upgrades of @venusprotocol packages
  .github/dependabot.yml
Due: none

feat: support show realized PnL
  .changeset/fifty-beans-burn.md
  apps/evm/src/clients/api/queries/getFixedRatedVaults/types.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/formatVaults/formatToInstitutionalVault/index.tsx
  apps/evm/src/containers/VaultCard/InstitutionalVaultModal/PositionTab/Footer/__tests__/index.spec.tsx
  apps/evm/src/containers/VaultCard/InstitutionalVaultModal/PositionTab/Footer/index.tsx
  apps/evm/src/containers/VaultCard/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: upgrade React Router to v8
  .changeset/bitter-buses-train.md
  .nvmrc
  apps/evm/package.json
  apps/evm/src/components/Table/Head/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: cleanup code
  apps/evm/src/libs/wallet/hooks/useSyncWalletChainOnConnect/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: changeset
  .changeset/whole-boxes-melt.md
Due: none

chore: upgrade React Router to v8 (#5737)
  .changeset/bitter-buses-train.md
  .nvmrc
  apps/evm/package.json
  apps/evm/src/components/Table/Head/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/bitter-buses-train.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add the Hubs tab to the Dashboard page
  .changeset/floppy-camels-go.md
  apps/evm/src/components/Icon/icons/hub.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/StatusLabel/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/containers/VaultCard/Simplified/Cell/index.tsx
  apps/evm/src/containers/VaultCard/StatusLabel/index.spec.tsx
  apps/evm/src/containers/VaultCard/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Hubs/LiquidityHubCard/index.tsx
  apps/evm/src/pages/Dashboard/Hubs/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Hubs/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Hubs/index.tsx
  apps/evm/src/pages/Dashboard/Markets/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/PositionCardsTab/index.tsx
  apps/evm/src/pages/Dashboard/PreviewCard/index.tsx
  apps/evm/src/pages/Dashboard/Vaults/VaultCard/index.tsx
  apps/evm/src/pages/Dashboard/Vaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Vaults/index.tsx
  apps/evm/src/pages/Dashboard/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: stacking of Wallet Connect modal
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: z-index in wallet connect
  .changeset/neat-ends-clean.md
Due: none

feat: update field
  apps/evm/src/clients/api/queries/getFixedRatedVaults/types.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/formatVaults/formatToInstitutionalVault/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/neat-ends-clean.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: test snapshot
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
