Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: remove Venus Flux ad banner
  .changeset/upset-pets-wait.md
  apps/evm/src/containers/AdBanner/VenusFluxBanner/illustration.png
  apps/evm/src/containers/AdBanner/VenusFluxBanner/index.tsx
  apps/evm/src/containers/AdBanner/VenusFluxBanner/mobileIllustration.png
  apps/evm/src/containers/AdBanner/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire Liquidity Hub forms to contracts
  .changeset/curly-guests-wonder.md
  apps/evm/src/__mocks__/models/liquidityHubs.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/useMigrateCoreSupplyToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useMigrateCoreSupplyToLiquidityHub/index.ts
  apps/evm/src/clients/api/mutations/useSupplyToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSupplyToLiquidityHub/index.ts
  apps/evm/src/clients/api/mutations/useWithdrawFromLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useWithdrawFromLiquidityHub/index.ts
  apps/evm/src/containers/LiquidityHubForm/Form/index.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithCollateralForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithCollateralForm/index.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithWalletForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithWalletForm/index.tsx
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/LiquidityHub.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/pages/LiquidityHub/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: review comments
  apps/evm/src/containers/VaultCard/Simplified/index.tsx
  apps/evm/src/containers/VaultCard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/whole-boxes-melt.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: update dashboard
  apps/evm/src/containers/VaultCard/Simplified/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add guard
  apps/evm/src/clients/api/queries/getFixedRatedVaults/types.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/__tests__/index.spec.tsx
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/formatVaults/formatToInstitutionalVault/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove usememo
  apps/evm/src/clients/api/queries/useGetPool/index.tsx
  apps/evm/src/components/AccountHealthBar/index.tsx
  apps/evm/src/components/ActiveVotingProgress/index.tsx
  apps/evm/src/components/Chip/index.tsx
  apps/evm/src/components/MarkdownEditor/index.tsx
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/components/Table/TableCards/index.tsx
  apps/evm/src/containers/ChainExplorerLink/index.tsx
  apps/evm/src/containers/Layout/Header/Breadcrumbs/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/index.tsx
  apps/evm/src/containers/Layout/NavBar/ClaimRewardsButton/useGetGroups.ts
  apps/evm/src/containers/MarketForm/WithdrawForm/index.tsx
  apps/evm/src/containers/TopMarkets/index.tsx
  apps/evm/src/containers/VaultCard/PendleVaultModal/OverviewTab/TotalDeposits/index.tsx
  apps/evm/src/hooks/useGetSwapInfo/useGetTokenCombinations.ts
  apps/evm/src/hooks/useIsProposalExecutable/index.tsx
  apps/evm/src/hooks/useUrlPagination/index.ts
  apps/evm/src/pages/Dashboard/Markets/Positions/Tables/index.tsx
  apps/evm/src/pages/Governance/VotingWallet/index.tsx
  apps/evm/src/pages/Market/MarketInfo/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/LastCycleSummaryModal/useGetPrimeLastCycleSummary/index.ts
  apps/evm/src/pages/PrimeLeaderboard/RankTable/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/RewardTable/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeTotalRewards/index.ts
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeUserRewards/index.ts
  apps/evm/src/pages/Swap/SubmitSection/index.tsx
  apps/evm/src/pages/Swap/SwapDetails/index.tsx
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/Borrow/useForm/index.ts
  apps/evm/src/pages/Vai/Repay/useForm/index.ts
  apps/evm/src/pages/Voter/Transactions/index.tsx
  apps/evm/src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove usememo
  apps/evm/src/clients/api/queries/useGetAsset/findAssetByVTokenAddress/index.ts
  apps/evm/src/clients/api/queries/useGetAsset/index.tsx
  apps/evm/src/clients/api/queries/useGetVaults/index.ts
  apps/evm/src/components/TokenTextField/index.tsx
  apps/evm/src/containers/MarketForm/BoostForm/SubmitSection/index.tsx
  apps/evm/src/containers/MarketForm/Repay/RepayWithCollateralForm/SubmitSection/index.tsx
  apps/evm/src/containers/MarketForm/WithdrawForm/SubmitSection/index.tsx
  apps/evm/src/hooks/useGetMarketsPagePath/__tests__/index.spec.ts
  apps/evm/src/hooks/useGetUserPrimeV1Info/__tests__/index.spec.tsx
  apps/evm/src/hooks/useMarketsPagePath/__tests__/index.spec.ts
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/getVoteStatusLabel/index.ts
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/getPreviousStepDate/index.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/getPreviousStepDate/index.ts
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Trade/Positions/PositionList/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: settlement vaults
  apps/evm/src/__mocks__/models/vaults.ts
  apps/evm/src/clients/api/queries/getFixedRatedVaults/types.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/__tests__/index.spec.tsx
  apps/evm/src/clients/api/queries/useGetVaults/useGetFormattedFixedRatedVaults/formatVaults/formatToInstitutionalVault/index.tsx
  apps/evm/src/containers/Layout/ScrollToTop/index.tsx
  apps/evm/src/containers/VaultCard/InstitutionalVaultModal/PositionTab/Footer/__tests__/index.spec.tsx
  apps/evm/src/containers/VaultCard/InstitutionalVaultModal/PositionTab/Footer/index.tsx
  apps/evm/src/containers/VaultCard/Simplified/index.tsx
  apps/evm/src/containers/VaultCard/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: settlement test
  apps/evm/src/containers/VaultCard/InstitutionalVaultModal/PositionTab/Footer/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update Prime tooltip translation
  .changeset/pretty-poems-greet.md
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

feat: add the Hubs tab to the Dashboard page (#5738)
  .changeset/floppy-camels-go.md
  apps/evm/src/components/Icon/icons/hub.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/StatusLabel/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/containers/VaultCard/Simplified/Cell/index.tsx
  apps/evm/src/containers/VaultCard/StatusLabel/index.spec.tsx
  apps/evm/src/containers/VaultCard/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Hubs/LiquidityHubCard/index.tsx
  apps/evm/src/pages/Dashboard/Hubs/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Hubs/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Hubs/index.tsx
  apps/evm/src/pages/Dashboard/Markets/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/PositionCardsTab/index.tsx
  apps/evm/src/pages/Dashboard/PreviewCard/index.tsx
  apps/evm/src/pages/Dashboard/Vaults/VaultCard/index.tsx
  apps/evm/src/pages/Dashboard/Vaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Vaults/index.tsx
  apps/evm/src/pages/Dashboard/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove Venus Flux ad banner (#5745)
  .changeset/upset-pets-wait.md
  apps/evm/src/containers/AdBanner/VenusFluxBanner/illustration.png
  apps/evm/src/containers/AdBanner/VenusFluxBanner/index.tsx
  apps/evm/src/containers/AdBanner/VenusFluxBanner/mobileIllustration.png
  apps/evm/src/containers/AdBanner/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire Liquidity Hub forms to contracts (#5746)
  .changeset/curly-guests-wonder.md
  apps/evm/src/__mocks__/models/liquidityHubs.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/useMigrateCoreSupplyToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useMigrateCoreSupplyToLiquidityHub/index.ts
  apps/evm/src/clients/api/mutations/useSupplyToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSupplyToLiquidityHub/index.ts
  apps/evm/src/clients/api/mutations/useWithdrawFromLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useWithdrawFromLiquidityHub/index.ts
  apps/evm/src/containers/LiquidityHubForm/Form/index.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithCollateralForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithCollateralForm/index.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithWalletForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithWalletForm/index.tsx
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/LiquidityHub.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/pages/LiquidityHub/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update useMemo
  apps/evm/src/components/ProgressCircle/index.tsx
  apps/evm/src/hooks/useNavigate/index.ts
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/index.tsx
  apps/evm/src/hooks/useUrlPagination/index.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalWizard/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/Indicator/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/Status/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Vai/Borrow/getLimitTokens/index.ts
  apps/evm/src/pages/Vai/Borrow/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/curly-guests-wonder.md
  .changeset/floppy-camels-go.md
  .changeset/upset-pets-wait.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: update cell
  apps/evm/src/pages/Dashboard/Vaults/VaultCard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update refresh note
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/PrimeLeaderboard/RefreshNote/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update pagination
  apps/evm/src/components/Pagination/index.tsx
  apps/evm/src/components/Pagination/styles.ts
  apps/evm/src/components/Pagination/usePagination.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/PrimeLeaderboard/PrimeLeaderboardTable/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/RankTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update pagination
  .changeset/tired-hairs-play.md
Due: none

feat: update pagination
  apps/evm/src/components/Pagination/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update pagination
  apps/evm/src/components/Pagination/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/fifty-beans-burn.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: fix review comments
  apps/evm/src/pages/PrimeLeaderboard/RefreshNote/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: fix ticket
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/RankCard/RankActions/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/RefreshNote/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update data source
  apps/evm/src/pages/PrimeLeaderboard/RefreshNote/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update test spec
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/PrimeLeaderboard/RefreshNote/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update Prime tooltip translation (#5754)
  .changeset/pretty-poems-greet.md
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

chore: bump package versions
  .changeset/pretty-poems-greet.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/tired-hairs-play.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

ci: add worktrunk config
  .config/wt.toml
Due: none

fix: various fixes
  .changeset/early-results-talk.md
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  apps/evm/src/containers/EModeGroupList/formatEModeGroups/__tests__/index.spec.ts
  apps/evm/src/containers/EModeGroupList/formatEModeGroups/index.ts
  apps/evm/src/containers/Layout/NavBar/__tests__/index.spec.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: run generate script after installing
  .config/wt.toml
  .gitignore
  .yarn/plugins/yarn-plugin-generate-after-install.cjs
  .yarnrc.yml
  package.json
  turbo.json
Due: prettier --write --check

fix: various fixes (#5759)
  .changeset/early-results-talk.md
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  apps/evm/src/containers/EModeGroupList/formatEModeGroups/__tests__/index.spec.ts
  apps/evm/src/containers/EModeGroupList/formatEModeGroups/index.ts
  apps/evm/src/containers/Layout/NavBar/__tests__/index.spec.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: worktrunk config (#5758)
  .config/wt.toml
  .gitignore
  .yarn/plugins/yarn-plugin-generate-after-install.cjs
  .yarnrc.yml
  package.json
  turbo.json
Due: prettier --write --check

ci: increase test coverage
  apps/evm/src/App/Routes/__tests__/index.spec.tsx
  apps/evm/src/__mocks__/models/vaults.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/formatApiTransaction/formatToTradeTransaction/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/useGetPrimeEstimation/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/Footer/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/Header/AssetInfo/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/Header/LiquidityHubInfo/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/TestEnvWarning/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/__tests__/index.spec.tsx
  apps/evm/src/containers/VaultCard/InstitutionalVaultModal/OverviewTab/__tests__/index.spec.tsx
  apps/evm/src/containers/VaultCard/PendleVaultModal/OverviewTab/__tests__/index.spec.tsx
  apps/evm/src/containers/VaultCard/PendleVaultModal/PositionTab/DepositForm/__tests__/index.spec.tsx
  apps/evm/src/containers/VaultCard/PendleVaultModal/PositionTab/Footer/__tests__/index.spec.tsx
  apps/evm/src/containers/VaultCard/PendleVaultModal/PositionTab/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/containers/VaultCard/VaultOverviewMarketInfo/__tests__/index.spec.tsx
  apps/evm/src/containers/VaultCard/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/PerformanceChart/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Summary/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Summary/index.tsx
  apps/evm/src/pages/Dashboard/Vaults/VaultCard/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/early-results-talk.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
