Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: add E-mode banner
  .changeset/little-wasps-stand.md
  .github/PULL_REQUEST_TEMPLATE.md
  apps/evm/public/images/noise.png
  apps/evm/src/components/EModeBanner/EModeButton/index.tsx
  apps/evm/src/components/EModeBanner/illustration.svg
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useTabs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/NewPage/Tabs/index.tsx
  apps/evm/src/pages/Account/NewPage/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/index.tsx
  apps/evm/src/pages/Pool/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add E-mode banner (#4692)
  .changeset/little-wasps-stand.md
  .github/PULL_REQUEST_TEMPLATE.md
  apps/evm/public/images/noise.png
  apps/evm/src/components/EModeBanner/EModeButton/index.tsx
  apps/evm/src/components/EModeBanner/illustration.svg
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useTabs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/NewPage/Tabs/index.tsx
  apps/evm/src/pages/Account/NewPage/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/index.tsx
  apps/evm/src/pages/Pool/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/little-wasps-stand.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add E-mode UI elements
  .changeset/tender-trees-relate.md
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/__mocks__/models/pools.ts
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/components/Cell/index.tsx
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/components/SpendingLimit/index.tsx
  apps/evm/src/components/Username/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/constants/production.ts
  apps/evm/src/containers/PrimeStatusBanner/NoPrimeTokensLeftWarning/index.tsx
  apps/evm/src/hooks/useTabs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/BlockingPosition/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/HealthFactorUpdate/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Pool/Tabs/index.tsx
  apps/evm/src/pages/Pool/Tabs/lightning.svg
  apps/evm/src/pages/Pool/index.tsx
  apps/evm/src/pages/Pool/styles.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/some-regions-study.md
Due: none

fix: filter VSolvBTC from vTokenBalancesAll call
  apps/evm/src/clients/api/queries/useGetPools/getPools/getUserTokenBalances/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/some-regions-study.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/large-clowns-flow.md
Due: none

fix: revert vSolvBTC filtering
  apps/evm/src/clients/api/queries/useGetPools/getPools/getUserTokenBalances/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: restore VSolvBTC from vTokenBalancesAll call
  apps/evm/src/clients/api/queries/useGetPools/getPools/getUserTokenBalances/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/open-states-try.md
Due: none

chore: bump package versions
  .changeset/open-states-try.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add E-mode UI elements (#4705)
  .changeset/tender-trees-relate.md
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/__mocks__/models/pools.ts
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/components/Cell/index.tsx
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/components/SpendingLimit/index.tsx
  apps/evm/src/components/Username/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/constants/production.ts
  apps/evm/src/containers/PrimeStatusBanner/NoPrimeTokensLeftWarning/index.tsx
  apps/evm/src/hooks/useTabs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/BlockingPosition/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/HealthFactorUpdate/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Pool/Tabs/index.tsx
  apps/evm/src/pages/Pool/Tabs/lightning.svg
  apps/evm/src/pages/Pool/index.tsx
  apps/evm/src/pages/Pool/styles.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/tender-trees-relate.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add userCollateralFactor prop to Asset type
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/__mocks__/models/pools.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/generateFakeEModeGroup.tsx
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/containers/AccountData/useGetValues.ts
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/containers/MarketTable/useGenerateColumns.tsx
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/addUserPropsToPool.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add userLiquidationThresholdPercentage prop to Asset type
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.eMode.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/types.ts
  apps/evm/src/containers/AccountData/useGetValues.ts
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/thin-eagles-raise.md
Due: none

chore: add changeset
  .changeset/better-buses-prove.md
Due: none

feat: add E-mode logic (#4739)
  .changeset/thin-eagles-raise.md
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/__mocks__/models/pools.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.eMode.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/generateFakeEModeGroup.tsx
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/types.ts
  apps/evm/src/containers/AccountData/useGetValues.ts
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/containers/MarketTable/useGenerateColumns.tsx
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/addUserPropsToPool.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/thin-eagles-raise.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: improve Tabs to handle search param nav
  .changeset/silent-emus-camp.md
  apps/evm/src/components/MarkdownEditor/index.tsx
  apps/evm/src/components/Tabs/index.stories.tsx
  apps/evm/src/components/Tabs/index.tsx
  apps/evm/src/containers/Vault/WithdrawFromVestingVaultModal/index.tsx
  apps/evm/src/hooks/useTabs/index.tsx
  apps/evm/src/pages/Account/NewPage/Tabs/index.tsx
  apps/evm/src/pages/Market/OperationForm/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/BlockingPosition/index.tsx
  apps/evm/src/pages/Pool/Tabs/index.tsx
  apps/evm/src/pages/Vai/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add E-mode group info to Market page
  .changeset/many-bars-lay.md
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/assets/img/lightning.svg
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/generateFakeEModeGroup.tsx
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/EModeInfo/AssetSettings/Setting/index.tsx
  apps/evm/src/pages/Market/EModeInfo/AssetSettings/index.tsx
  apps/evm/src/pages/Market/EModeInfo/index.tsx
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Pool/Tabs/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add E-mode group info to Market page (#4748)
  .changeset/many-bars-lay.md
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/assets/img/lightning.svg
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/generateFakeEModeGroup.tsx
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/EModeInfo/AssetSettings/Setting/index.tsx
  apps/evm/src/pages/Market/EModeInfo/AssetSettings/index.tsx
  apps/evm/src/pages/Market/EModeInfo/index.tsx
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Pool/Tabs/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add E-mode banner to Account page
  .changeset/thick-bikes-dig.md
  apps/evm/src/assets/img/lightning.svg
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/types.ts
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/NewPage/Pools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/OldPage/AccountBreakdown/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/PoolPositions/Tables/EModeHeader/index.tsx
  apps/evm/src/pages/Account/PoolPositions/Tables/index.tsx
  apps/evm/src/pages/Account/PoolPositions/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Account/PoolPositions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/PoolPositions/__tests__/index.eMode.spec.tsx
  apps/evm/src/pages/Account/PoolPositions/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/PoolPositions/testIds.ts
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/index.tsx
  apps/evm/src/pages/Pool/Tabs/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/many-bars-lay.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: update pagination onChange
  apps/evm/src/components/Pagination/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add dropdownClassName
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/components/Select/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add transaction icons
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/transactionCollateral.tsx
  apps/evm/src/components/Icon/icons/transactionFile.tsx
  apps/evm/src/components/Icon/icons/transactionIn.tsx
  apps/evm/src/components/Icon/icons/transactionLink.tsx
  apps/evm/src/components/Icon/icons/transactionOut.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getAccountHistoricalTransactions
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/formatApiTransaction.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/types.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/useGetAccountTransactionHistory.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add historicalTransactions feature flag
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: improve Tabs to handle search param nav (#4747)
  .changeset/silent-emus-camp.md
  apps/evm/src/components/MarkdownEditor/index.tsx
  apps/evm/src/components/Tabs/index.stories.tsx
  apps/evm/src/components/Tabs/index.tsx
  apps/evm/src/containers/Vault/WithdrawFromVestingVaultModal/index.tsx
  apps/evm/src/hooks/useTabs/index.tsx
  apps/evm/src/pages/Account/NewPage/Tabs/index.tsx
  apps/evm/src/pages/Market/OperationForm/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/BlockingPosition/index.tsx
  apps/evm/src/pages/Pool/Tabs/index.tsx
  apps/evm/src/pages/Vai/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add E-mode banner to Account page (#4746)
  .changeset/thick-bikes-dig.md
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/types.ts
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/NewPage/Pools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/OldPage/AccountBreakdown/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/PoolPositions/Tables/EModeHeader/index.tsx
  apps/evm/src/pages/Account/PoolPositions/Tables/index.tsx
  apps/evm/src/pages/Account/PoolPositions/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Account/PoolPositions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/PoolPositions/__tests__/index.eMode.spec.tsx
  apps/evm/src/pages/Account/PoolPositions/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/PoolPositions/testIds.ts
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/silent-emus-camp.md
  .changeset/thick-bikes-dig.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add isBorrowable prop to Asset and EModeAssetSettings types
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/generateFakeEModeGroup.tsx
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: show borrowable state of assets
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/generateFakeEModeGroup.tsx
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/components/Apy/index.tsx
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/index.eMode.spec.tsx
  apps/evm/src/pages/Pool/__tests__/index.spec.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add coverage to the transactions tab
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/index.spec.ts
  apps/evm/src/pages/Account/NewPage/Transactions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/Transactions/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add coverage for getAccountTransactionHistory
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add transactions tab
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/NewPage/Transactions/TransactionDetails/index.tsx
  apps/evm/src/pages/Account/NewPage/Transactions/TransactionRow/index.tsx
  apps/evm/src/pages/Account/NewPage/Transactions/TransactionsList/index.tsx
  apps/evm/src/pages/Account/NewPage/Transactions/index.tsx
  apps/evm/src/pages/Account/NewPage/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add logic to E-mode tab
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/generateFakeEModeGroup/index.tsx
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/components/InfoIcon/index.tsx
  apps/evm/src/components/Tooltip/index.tsx
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/PoolPositions/Tables/EModeHeader/index.tsx
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/getHypotheticalAssetValues/index.ts
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/index.spec.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/thin-groups-dig.md
  apps/evm/src/components/Apy/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
