Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

ci: add generate-contracts step to postinstall script
  package.json
Due: prettier --write --check

fix: fix ABI file names
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/packages/contractsNew/config/externalAbis/Maximillion.json
  src/packages/contractsNew/config/externalAbis/Multicall3.json
  src/packages/contractsNew/config/externalAbis/PancakePairV2.json
  src/packages/contractsNew/config/externalAbis/VBnb.json
  src/packages/contractsNew/config/externalAbis/XsequenceMulticall.json
  src/packages/contractsNew/config/index.ts
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateAddressList/index.ts
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateTypes/__tests__/__snapshots__/index.spec.ts.snap
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateTypes/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: finish adding tests
  src/packages/contractsNew/getSwapRouterContractAddress/__tests__/index.spec.ts
  src/packages/contractsNew/getSwapRouterContractAddress/index.ts
  src/packages/contractsNew/utilities/genericContractGetterGenerator/__tests__/index.spec.ts
  src/packages/contractsNew/utilities/genericContractGetterHookGenerator/__tests__/index.spec.ts
  src/packages/contractsNew/utilities/swapRouterContractGetterGenerator/__tests__/index.spec.ts
  src/packages/contractsNew/utilities/swapRouterContractGetterGenerator/index.ts
  src/packages/contractsNew/utilities/swapRouterContractGetterHookGenerator/__tests__/index.spec.ts
  src/packages/contractsNew/utilities/swapRouterContractGetterHookGenerator/index.ts
  src/packages/contractsNew/utilities/uniqueContractGetterHookGenerator/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: fix how collaterals of users are listed for isolated markets (#1493)
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.23.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  b65b9e5c455b7059c550649398c9c128bbe39277
Due: none

refactor: optimize request refetches (#1484)
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/api/queries/getMainMarkets/useGetMainMarkets.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  src/clients/api/queries/getProposals/useGetProposal.ts
  src/clients/api/queries/getTransactions/useGetTransactions.ts
  src/clients/api/queries/getVTokenBalancesAll/useGetVTokenBalancesAll.ts
  src/clients/api/queries/getVoterAccounts/useGetVoterAccounts.ts
  src/clients/api/queries/getVoterDetails/useGetVoterDetails.ts
  src/clients/api/queries/getVoterHistory/useGetVoterHistory.ts
  src/clients/api/queries/getVoters/useGetVoters.ts
  src/clients/api/queries/getXvsWithdrawableAmount/useGetXvsWithdrawableAmount.ts
  src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  src/clients/api/queries/useGetVaults/useGetVestingVaults/useGetXvsVaultPoolBalances.ts
  src/config/index.ts
  src/constants/defaultRefetchInterval.ts
  src/context/AuthContext/index.tsx
  src/pages/Vai/MintVai/index.tsx
  src/pages/Vai/RepayVai/index.tsx
  src/pages/Xvs/Table/index.tsx
  src/utilities/generatePseudoRandomRefetchInterval/__tests__/index.spec.ts
  src/utilities/generatePseudoRandomRefetchInterval/index.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.23.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  66579aed91f3fdb9b465805b735a5bfae3358a72
Due: none

feat: add support for SnBNB token
  src/packages/tokens/img/snBNB.svg
  src/packages/tokens/tokenInfos/commonTokens/bscMainnet.ts
  src/packages/tokens/tokenInfos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use next authentication endpoint version
  src/clients/api/queries/getIsAddressAuthorized/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: 404 redirection (#1485)
  src/App/Router/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.23.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  91d587e4510629496ae65a055356f8034dffaf03
Due: none

fix: prevent division by 0 in formatDistribution function
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainPool/__tests__/__snapshots__/index.spec.ts.snap
  src/utilities/formatDistribution.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: filter out nil distributions
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for SnBNB token (#1494)
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getMainPool/__tests__/__snapshots__/index.spec.ts.snap
  src/packages/tokens/img/snBNB.svg
  src/packages/tokens/tokenInfos/commonTokens/bscMainnet.ts
  src/packages/tokens/tokenInfos/commonTokens/bscTestnet.ts
  src/utilities/formatDistribution.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.24.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  6ba877879572759152e144a82e5d95ac32e1ce1b
Due: none

chore(release): 2.24.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  5f9972d4ef9058906593eca709cfcf559ec66b0a
Due: none

refactor: replace mkdirSync usage with async mkdir
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateAbis/__tests__/index.spec.ts
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateAbis/index.ts
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateAddressList/__tests__/index.spec.ts
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateAddressList/index.ts
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateGetters/__tests__/index.spec.ts
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateGetters/index.ts
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateTypes/index.ts
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/index.ts
  src/utilities/writeFile/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: replace mkdirSync usage with mkdir
  vite.config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add dashboard banner about forced BUSD liquidations
  src/pages/Dashboard/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add dashboard banner about forced BUSD liquidations (#1503)
  src/pages/Dashboard/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.25.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  7a62f2df217aef2636b5a908e3270396fef34e76
Due: none

fix: update VenusLens address for mainnet
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.25.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  43546a4fdc5c6b2fa46c1caba35d44d5922e69cc
Due: none

feat: create uniqueContractAddressGetterGenerator utility
  src/packages/contractsNew/utilities/swapRouterContractGetterGenerator/__tests__/index.spec.ts
  src/packages/contractsNew/utilities/uniqueContractAddressGetterGenerator/__tests__/index.spec.ts
  src/packages/contractsNew/utilities/uniqueContractAddressGetterGenerator/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update getVTokenContract and getTokenContract to use new contracts package
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateAbis/index.ts
  src/utilities/getTokenContract/__tests__/index.spec.ts
  src/utilities/getTokenContract/index.ts
  src/utilities/getVTokenContract/__tests__/index.spec.ts
  src/utilities/getVTokenContract/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetSwapRouterContract and useGetSwapRouterContractAddress from new contracts package
  src/clients/api/mutations/swapTokens/useSwapTokens.ts
  src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  src/hooks/useGetSwapRouterContract.ts
  src/hooks/useGetSwapRouterContractAddress.ts
  src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  src/packages/contractsNew/utilities/genericContractGetterGenerator/index.ts
  src/pages/Swap/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: export address getters from generated swapRouter file
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateGetters/templates/swapRouterContractGettersTemplate.hbs
Due: none

feat: add swapRouterContractAddressGetterGenerator utility
  src/packages/contractsNew/utilities/swapRouterContractAddressGetterGenerator/__tests__/index.spec.ts
  src/packages/contractsNew/utilities/swapRouterContractAddressGetterGenerator/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetMulticall3Contract of new contracts package
  src/clients/api/mutations/claimRewards/useClaimRewards.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetGovernorBravoDelegateContract from new contracts package
  src/clients/api/mutations/cancelProposal/useCancelProposal.ts
  src/clients/api/mutations/createProposal/useCreateProposal.ts
  src/clients/api/mutations/executeProposal/useExecuteProposal.ts
  src/clients/api/mutations/queueProposal/useQueueProposal.ts
  src/clients/api/mutations/vote/useCastVote.ts
  src/clients/api/mutations/vote/useCastVoteWithReason.ts
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateGetters/__tests__/__snapshots__/index.spec.ts.snap
Due: eslint --fix, prettier --write --check, stylelint --fix
