Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: select all claimable rewards when opening modal
  src/components/Layout/ClaimRewardButton/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: let users repay their entire VAI loan
  src/clients/api/queries/getVaiRepayAmountWithInterests/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVaiRepayAmountWithInterests/formatToOutput.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/types.ts
  src/clients/api/queries/useGetMainAssets/index.spec.tsx
  src/clients/api/queries/useGetMainAssets/index.ts
  src/pages/Vai/RepayVai/__snapshots__/index.spec.tsx.snap
  src/pages/Vai/RepayVai/index.spec.tsx
  src/pages/Vai/RepayVai/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.7.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  0cd1113ac1360f57a20a9e06865fd6104a4a466c
Due: none

chore(release): 2.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  6d3b88a84734c43d2e08a570ee53df72fc01ab32
Due: none

refactor: retrieve multicall contract using contracts package
  src/clients/api/mutations/claimRewards/__snapshots__/index.spec.ts.snap
  src/clients/api/mutations/claimRewards/index.spec.ts
  src/clients/api/mutations/claimRewards/index.ts
  src/clients/api/mutations/claimRewards/types.ts
  src/clients/api/mutations/claimRewards/useClaimRewards.ts
  src/clients/contracts/__mocks__/index.ts
  src/clients/contracts/getters.ts
  src/clients/contracts/hooks.ts
  src/constants/contracts/abis/multicall.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: invalidate correct queries after repaying VAI loan
  src/clients/api/mutations/repayVai/useRepayVai.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  6e91739d019142867e2e04d282f9a6ce23fa03a9
Due: none

feat: make the dApp resilient to the subgraph being down
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  337f4fcbaca48b54dc57f178fa4ebf761ee8c8cd
Due: none

ci: add dependabot config
  .github/dependabot.yml
Due: none

test: remove usage of act function
  src/hooks/useOperationModal/Modal/WithdrawForm/__tests__/index.spec.tsx
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/Proposal/index.spec.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ed0b8c097240522edaf9b2fa06cb3e78aadc78ba
Due: none

chore(release): 2.9.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  31716d7a2fc66ad119622f97373c70778c5aeb43
Due: none

chore(release): 2.9.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  98988e86681b177a169d8dd42b8963c67ab333a4
Due: none

refactor: remove unused ABIs + add contracts
  package.json
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getVTokenApySimulations/index.ts
  src/clients/contracts/getters.ts
  src/constants/contracts/abis/interestModel.json
  src/constants/contracts/abis/interestModelV2.json
  src/constants/contracts/abis/oracle.json
  src/packages/contracts/contractInfos/genericContractInfos.ts
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.9.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  e9cbc8ed42923654615bfff3c60604c1dc96a361
Due: none

chore(release): 2.9.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  def4beb04233049024d6e293e7a6cbebcc228cc7
Due: none

feat: add Rabby Wallet + remove terms of service link
  src/assets/img/wallets/rabbyWallet.svg
  src/clients/web3/connectors.ts
  src/clients/web3/types.ts
  src/components/AuthModal/WalletList/index.tsx
  src/components/AuthModal/WalletList/styles.ts
  src/components/AuthModal/constants.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.9.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  a24ea112fbe5dd9020e993f08c47598a0499c0f6
Due: none

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
