Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: bump package versions
  .changeset/sweet-trams-buy.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: only return cap errors for relevant balance mutations
  .changeset/major-mangos-see.md
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only return cap errors for relevant balance mutations (#5341)
  .changeset/major-mangos-see.md
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/major-mangos-see.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: only check for acknowledgement when not supplying
  .changeset/major-jobs-behave.md
Due: none

fix: only check for acknowledgement when not supplyingor repaying
  .changeset/major-jobs-behave.md
  apps/evm/src/pages/Market/OperationForm/Footer/index.tsx
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/__tests__/index.spec.ts
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only check for risk when not supplying or repaying (#5342)
  .changeset/major-jobs-behave.md
  apps/evm/src/pages/Market/OperationForm/Footer/index.tsx
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/__tests__/index.spec.ts
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/major-jobs-behave.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add guide section to Dashboard page
  .changeset/fuzzy-plums-clean.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/index.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/useGetBurnedWBnb.ts
  apps/evm/src/components/Carousel/index.tsx
  apps/evm/src/components/Icon/icons/check.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/innerArrows.tsx
  apps/evm/src/components/Icon/icons/outerArrows.tsx
  apps/evm/src/components/Icon/icons/pending.tsx
  apps/evm/src/constants/burnedWBnb.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Guide/StepCard/index.tsx
  apps/evm/src/pages/Dashboard/Guide/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Guide/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Guide/index.tsx
  apps/evm/src/pages/Dashboard/Overview/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add E-mode and Isolation mode tabs to Markets page
  apps/evm/src/components/ButtonGroup/index.tsx
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/containers/SwitchChain/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Market/EModeInfo/AssetSettings/index.tsx
  apps/evm/src/pages/Markets/Tabs/Controls/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/EModeGroupCard/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/BlockingPosition/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/Header/HealthFactorUpdate/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/__tests__/index.spec.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/Tabs/EMode/__tests__/index.eMode.spec.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/filterEModeGroups/__tests__/index.spec.ts
  apps/evm/src/pages/Markets/Tabs/EMode/filterEModeGroups/index.ts
  apps/evm/src/pages/Markets/Tabs/EMode/getHypotheticalAssetValues/index.ts
  apps/evm/src/pages/Markets/Tabs/EMode/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/useColumns/index.tsx
  apps/evm/src/pages/Markets/Tabs/formatEModeGroups/index.ts
  apps/evm/src/pages/Markets/Tabs/index.tsx
  apps/evm/src/pages/Markets/Tabs/types.ts
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/index.eMode.spec.tsx
  apps/evm/src/pages/Markets/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): remove testnet configs, disable integratedSwap
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useSendTransaction/sendTransaction/index.ts
  packages/chains/src/chains/chainMetadata/index.ts
  packages/chains/src/utilities/getRpcUrls/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/utilities/getRpcUrls/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Venus Flux banner
  .changeset/full-boxes-make.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Markets/Assets/AdBanner/Banner/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/ProbableBanner/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/ProbableBanner/probableIcon.png
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/bgIllustration.jpg
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/venusFluxIcon.png
  apps/evm/src/pages/Markets/Assets/AdBanner/index.tsx
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Swap/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add guide to Dashboard page (#5258)
  .changeset/fuzzy-plums-clean.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/index.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/useGetBurnedWBnb.ts
  apps/evm/src/components/Carousel/index.tsx
  apps/evm/src/components/Icon/icons/check.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/innerArrows.tsx
  apps/evm/src/components/Icon/icons/outerArrows.tsx
  apps/evm/src/components/Icon/icons/pending.tsx
  apps/evm/src/constants/burnedWBnb.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Guide/StepCard/index.tsx
  apps/evm/src/pages/Dashboard/Guide/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Guide/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Guide/index.tsx
  apps/evm/src/pages/Dashboard/Overview/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add guide section to Dashboard page
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

fix: prevent dividing by 0 when calculating max borrow power
  .changeset/fast-readers-flash.md
  apps/evm/src/pages/Market/OperationForm/BoostForm/calculateUserMaxBorrowTokens/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Transactions tab to Dashboard page
  .changeset/social-sloths-look.md
  apps/evm/src/components/Tabs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Overview/index.tsx
  apps/evm/src/pages/Dashboard/Placeholder/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/Row/Details/TransactionText/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/Row/Details/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/Row/getTransactionIcon/index.ts
  apps/evm/src/pages/Dashboard/Transactions/List/Row/getTransactionTitle/index.ts
  apps/evm/src/pages/Dashboard/Transactions/List/Row/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Transactions/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): swap and supply (#5198)
  .changeset/light-zebras-shake.md
  apps/evm/package.json
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/index.ts
  apps/evm/src/clients/api/queries/getSwapQuote/useGetSwapQuote.ts
  apps/evm/src/clients/api/queries/getSwapQuote/wrapToken.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/analytics/useAnalytics/types.ts
  apps/evm/src/libs/contracts/config/externalAbis/SwapRouterV2.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/Footer/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Footer/index.tsx
  apps/evm/src/pages/Market/OperationForm/OperationDetails/SwapDetails/index.tsx
  apps/evm/src/pages/Market/OperationForm/OperationDetails/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/SupplyForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/useForm/types.ts
  apps/evm/src/pages/Market/OperationForm/SupplyForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/types.ts
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/__tests__/index.spec.ts
  apps/evm/src/pages/Market/OperationForm/useCommonValidation/index.ts
  apps/evm/src/pages/Swap/__tests__/index.spec.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/getSwapToTokenAmountReceived/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/light-zebras-shake.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: add Venus Flux entry to navbar (#5327)
  .changeset/little-suns-grow.md
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Venus Flux banner (#5311)
  .changeset/full-boxes-make.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Markets/Assets/AdBanner/Banner/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/ProbableBanner/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/ProbableBanner/probableIcon.png
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/bgIllustration.jpg
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/VenusFluxBanner/venusFluxIcon.png
  apps/evm/src/pages/Markets/Assets/AdBanner/index.tsx
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/full-boxes-make.md
  .changeset/little-suns-grow.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix(evm): fix boost and repay with swap
  apps/evm/src/clients/api/queries/getSwapQuote/useGetSwapQuote.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

build: update changeset
  .changeset/six-points-grow.md
Due: none

fix(evm): fix boost and repay with swap (#5372)
  .changeset/six-points-grow.md
  apps/evm/src/clients/api/queries/getSwapQuote/useGetSwapQuote.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/six-points-grow.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: update turbo to latest version to fix start command persistence
  package.json
  yarn.lock
Due: prettier --write --check

chore: update turbo to latest version to fix start command persistence (#5373)
  package.json
  yarn.lock
Due: prettier --write --check

feat: add Transactions tab to Dashboard page (#5272)
  .changeset/social-sloths-look.md
  apps/evm/src/components/Tabs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Overview/index.tsx
  apps/evm/src/pages/Dashboard/Placeholder/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/Row/Details/TransactionText/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/Row/Details/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/Row/getTransactionIcon/index.ts
  apps/evm/src/pages/Dashboard/Transactions/List/Row/getTransactionTitle/index.ts
  apps/evm/src/pages/Dashboard/Transactions/List/Row/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Transactions/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Staking tab to Dashboard page
  .changeset/new-points-turn.md
  apps/evm/src/components/AssetCard/index.tsx
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/components/Pagination/index.tsx
  apps/evm/src/components/Pagination/styles.ts
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/containers/Vault/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Vault/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Staking/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Staking/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Staking/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/Row/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Staking/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Voter/History/index.tsx
  apps/evm/src/pages/Voter/History/styles.ts
  apps/evm/src/pages/VoterLeaderboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Staking tab to Dashboard page (#5313)
  .changeset/new-points-turn.md
  apps/evm/src/components/AssetCard/index.tsx
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/components/Pagination/index.tsx
  apps/evm/src/components/Pagination/styles.ts
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/containers/Vault/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Vault/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Staking/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Staking/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Staking/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/Row/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Staking/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Voter/History/index.tsx
  apps/evm/src/pages/Voter/History/styles.ts
  apps/evm/src/pages/VoterLeaderboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: test RainbowKit
  apps/evm/package.json
  apps/evm/src/containers/Layout/NavBar/Settings/LanguageSetting/index.tsx
  apps/evm/src/libs/wallet/Web3Wrapper/ConnectKitWrapper/index.tsx
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
  apps/evm/src/libs/wallet/Web3Wrapper/index.tsx
  apps/evm/src/libs/wallet/hooks/useAuthModal/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix
