Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: bump package versions
  .changeset/fluffy-loops-drum.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: enable Vercel analytics
  .changeset/true-breads-greet.md
  apps/evm/package.json
  apps/evm/src/App/index.tsx
  apps/landing/package.json
  apps/landing/src/components/App.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable Vercel analytics (#4077)
  .changeset/true-breads-greet.md
  apps/evm/package.json
  apps/evm/src/App/index.tsx
  apps/landing/package.json
  apps/landing/src/components/App.tsx
  apps/landing/src/constants/production.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: replace fetching borrowers and suppliers counts from subgraph to API
  apps/evm/codegen.config.ts
  apps/evm/package.json
  apps/evm/src/__mocks__/subgraph/bscCorePoolParticipantsCount.json
  apps/evm/src/__mocks__/subgraph/bscIsolatedPoolsParticipantsCount.json
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.prime.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getParticipantCounts/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/types.ts
  apps/evm/src/clients/subgraph/__mocks__/index.ts
  apps/evm/src/clients/subgraph/index.ts
  apps/evm/src/clients/subgraph/queries/bscCorePool/getBscCorePoolParticipantsCount/bscCorePoolParticipantsCount.graphql
  apps/evm/src/clients/subgraph/queries/bscCorePool/getBscCorePoolParticipantsCount/index.ts
  apps/evm/src/clients/subgraph/queries/isolatedPools/getIsolatedPoolParticipantsCount/index.ts
  apps/evm/src/clients/subgraph/queries/isolatedPools/getIsolatedPoolParticipantsCount/isolatedPoolParticipantsCount.graphql
  apps/evm/src/config/index.ts
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/cuddly-tips-bathe.md
Due: none

chore: bump package versions
  .changeset/true-breads-greet.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

feat: enable analytics events in prod
  .changeset/weak-bags-itch.md
  apps/evm/src/App/index.tsx
  apps/evm/src/clients/api/mutations/claimRewards/useClaimRewards.ts
  apps/evm/src/clients/api/mutations/swapTokens/useSwapTokens.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  apps/evm/src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  apps/evm/src/libs/analytics/useAnalytics.ts
  apps/landing/src/components/App.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable analytics events in prod
  .changeset/dull-turkeys-study.md
  apps/evm/src/App/index.tsx
  apps/evm/src/clients/api/mutations/claimRewards/useClaimRewards.ts
  apps/evm/src/clients/api/mutations/swapTokens/useSwapTokens.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  apps/evm/src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  apps/evm/src/libs/analytics/useAnalytics.ts
  apps/landing/src/components/App.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable analytics events in prod (#4084)
  .changeset/dull-turkeys-study.md
  apps/evm/src/App/index.tsx
  apps/evm/src/clients/api/mutations/claimRewards/useClaimRewards.ts
  apps/evm/src/clients/api/mutations/swapTokens/useSwapTokens.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  apps/evm/src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  apps/evm/src/libs/analytics/useAnalytics.ts
  apps/landing/src/components/App.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/dull-turkeys-study.md
  .changeset/pink-sides-read.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

feat: allow multiple RPC provider URLs for each chain
  .changeset/silly-eagles-hope.md
  apps/evm/src/config/index.ts
  apps/evm/src/config/rpcUrls.ts
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: icon used on "against" votes
  .changeset/social-hoops-sin.md
  apps/evm/src/pages/Voter/Transactions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: update pull request template
  .github/workflows/pull_request_template.md
Due: none

refactor: getVrtConversionEndTime to use viem
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/index.spec.ts
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/index.ts
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/useGetVrtConversionEndTime.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getVrtConversionRatio to use viem
  apps/evm/src/clients/api/queries/getPrimeDistributionForMarket/useGetPrimeDistributionForMarket.ts
  apps/evm/src/clients/api/queries/getPrimeStatus/useGetPrimeStatus.ts
  apps/evm/src/clients/api/queries/getProposalEta/useGetProposalEta.ts
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/useGetProposalMinQuorumVotes.ts
  apps/evm/src/clients/api/queries/getProposalState/useGetProposalState.ts
  apps/evm/src/clients/api/queries/getProposalThreshold/useGetProposalThreshold.ts
  apps/evm/src/clients/api/queries/getTokenUsdPrice/useGetTokenUsdPrice.ts
  apps/evm/src/clients/api/queries/getVaiRepayApr/useGetVaiRepayApr.ts
  apps/evm/src/clients/api/queries/getVaiTreasuryPercentage/useGetVaiTreasuryPercentage.ts
  apps/evm/src/clients/api/queries/getVaiVaultPaused/useGetVaiVaultPaused.ts
  apps/evm/src/clients/api/queries/getVaiVaultUserInfo/useGetVaiVaultUserInfo.ts
  apps/evm/src/clients/api/queries/getVenusVaiVaultDailyRate/useGetVenusVaiVaultDailyRate.ts
  apps/evm/src/clients/api/queries/getVoteDelegateAddress/useGetVoteDelegateAddress.ts
  apps/evm/src/clients/api/queries/getVoteReceipt/useGetVoteReceipt.ts
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/useGetVrtConversionEndTime.ts
  apps/evm/src/clients/api/queries/getVrtConversionRatio/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVrtConversionRatio/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVrtConversionRatio/index.spec.ts
  apps/evm/src/clients/api/queries/getVrtConversionRatio/index.ts
  apps/evm/src/clients/api/queries/getVrtConversionRatio/useGetVrtConversionRatio.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getVTokenApySimulations and getVTokenInterestRateModel to use viem
  apps/evm/src/clients/api/queries/getVTokenApySimulations/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokenApySimulations/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokenApySimulations/formatCurrentUtilizationRate.ts
  apps/evm/src/clients/api/queries/getVTokenApySimulations/formatToApySnapshots.ts
  apps/evm/src/clients/api/queries/getVTokenApySimulations/index.ts
  apps/evm/src/clients/api/queries/getVTokenApySimulations/types.ts
  apps/evm/src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  apps/evm/src/clients/api/queries/getVTokenInterestRateModel/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokenInterestRateModel/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokenInterestRateModel/index.ts
  apps/evm/src/clients/api/queries/getVTokenInterestRateModel/useGetVTokenInterestRateModel.ts
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/useGetVrtConversionEndTime.ts
  apps/evm/src/pages/Market/Page/InterestRateChart/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getVTokenBalance to use viem
  apps/evm/src/clients/api/queries/getVTokenBalance/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokenBalance/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokenBalance/index.ts
  apps/evm/src/clients/api/queries/getVTokenBalance/useGetVTokenBalance.ts
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: update pull request template (#4093)
  .github/workflows/pull_request_template.md
Due: none

fix: icon used on "against" votes (#4092)
  .changeset/social-hoops-sin.md
  apps/evm/src/pages/Voter/Transactions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: allow multiple RPC provider URLs for each chain (#4091)
  .changeset/silly-eagles-hope.md
  apps/evm/src/config/index.ts
  apps/evm/src/config/rpcUrls.ts
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/silly-eagles-hope.md
  .changeset/social-hoops-sin.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

test: regenerate snapshots
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
Due: none

refactor: remove unused getVTokenBalancesAll query function
  .changeset/sad-months-divide.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getVTokenApySimulations/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokenApySimulations/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokenBalancesAll/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokenBalancesAll/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokenBalancesAll/index.ts
  apps/evm/src/clients/api/queries/getVTokenBalancesAll/useGetVTokenBalancesAll.ts
  apps/evm/src/hooks/useCollateral/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cuddly-tips-bathe.md
  .changeset/sad-months-divide.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: imported proposal action data parsing
  .changeset/funny-garlics-sell.md
  apps/evm/src/containers/ReadableActionSignature/formatSignature.ts
  apps/evm/src/containers/ReadableActionSignature/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/encodeCallData.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: imported proposal action data parsing (#4116)
  .changeset/funny-garlics-sell.md
  apps/evm/src/containers/ReadableActionSignature/formatSignature.ts
  apps/evm/src/containers/ReadableActionSignature/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/encodeCallData.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/funny-garlics-sell.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

Revert "chore(deps): bump connectkit from 1.8.2 to 1.9.0"
  yarn.lock
Due: none

chore: upgrade viteJS and vitest to their latest versions
  .changeset/salty-toys-pay.md
  .github/PULL_REQUEST_TEMPLATE.md
  apps/evm/package.json
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getTokenBalances/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetVaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/PrimeStatusBanner/index.tsx
  apps/evm/src/hooks/useGetSwapInfo/__tests__/__snapshots__/formatToSwap.spec.ts.snap
  apps/evm/src/hooks/useGetSwapInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/errors/handleError/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/tokens/utilities/getSwapTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/tokens/utilities/getVTokenAsset/__tests__/index.spec.ts
  apps/evm/src/pages/Bridge/index.tsx
  apps/landing/package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: some query functions to use viem
  apps/evm/src/__mocks__/contracts/governanceBravoDelegate.ts
  apps/evm/src/__mocks__/contracts/vaiController.ts
  apps/evm/src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  apps/evm/src/clients/api/queries/getVTokenInterestRateModel/useGetVTokenInterestRateModel.ts
  apps/evm/src/clients/api/queries/getVTokenUtilizationRate/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokenUtilizationRate/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokenUtilizationRate/index.ts
  apps/evm/src/clients/api/queries/getVTokenUtilizationRate/useGetVTokenUtilizationRate.ts
  apps/evm/src/clients/api/queries/getVTokens/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokens/index.ts
  apps/evm/src/clients/api/queries/getVTokens/useGetVTokens.ts
  apps/evm/src/clients/api/queries/getXvsBridgeFeeEstimation/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeFeeEstimation/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeFeeEstimation/index.ts
  apps/evm/src/clients/api/queries/getXvsBridgeFeeEstimation/useGetXvsBridgeFeeEstimation.ts
  apps/evm/src/clients/api/queries/getXvsBridgeMintStatus/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeMintStatus/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeMintStatus/index.ts
  apps/evm/src/clients/api/queries/getXvsBridgeMintStatus/useGetXvsBridgeMintStatus.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Bridge/useBridgeForm.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: use usePublicClient hook from wallet libs
  .changeset/rotten-baths-talk.md
  apps/evm/src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  apps/evm/src/clients/api/queries/getVTokenInterestRateModel/useGetVTokenInterestRateModel.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: use usePublicClient hook from wallet libs (#4126)
  .changeset/rotten-baths-talk.md
  apps/evm/src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  apps/evm/src/clients/api/queries/getVTokenInterestRateModel/useGetVTokenInterestRateModel.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Downgrade ConnectKit (#4123)
  yarn.lock
Due: none

chore: bump package versions
  .changeset/rotten-baths-talk.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: upgrade viteJS and vitest to their latest versions (#4125)
  .changeset/salty-toys-pay.md
  .github/PULL_REQUEST_TEMPLATE.md
  apps/evm/package.json
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getTokenBalances/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetVaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/PrimeStatusBanner/index.tsx
  apps/evm/src/hooks/useGetSwapInfo/__tests__/__snapshots__/formatToSwap.spec.ts.snap
  apps/evm/src/hooks/useGetSwapInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/errors/handleError/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/tokens/utilities/getSwapTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/tokens/utilities/getVTokenAsset/__tests__/index.spec.ts
  apps/evm/src/pages/Bridge/index.tsx
  apps/landing/package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix
