Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: add Base mainnet
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/baseMainnet.ts
  packages/chains/src/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Base mainnet subgraph URLs
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/shy-ducks-destroy.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: added sUSDe, PT-USDe-27MAR2025, PT-sUSDE-27MAR2025 and PT-SolvBTC.BBN-27MAR2025
  apps/evm/src/libs/tokens/img/ptSUsdE.svg
  apps/evm/src/libs/tokens/img/ptSolvBtc.svg
  apps/evm/src/libs/tokens/img/ptUsdE.svg
  apps/evm/src/libs/tokens/img/sUsdE.svg
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/slow-gorillas-roll.md
Due: none

fix: correct base subgraph URL
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/kind-dingos-watch.md
Due: none

chore: bump package versions
  .changeset/kind-dingos-watch.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: persisting of user settings
  .changeset/fresh-hounds-move.md
  apps/evm/package.json
  apps/evm/src/containers/Layout/Header/TopBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/GaslessStatus/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/hooks/useSendTransaction/__tests__/index.gaslessTransactions.spec.tsx
  apps/evm/src/hooks/useSendTransaction/index.ts
  apps/evm/src/pages/Account/Settings/index.tsx
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/store/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: persisting of user settings (#3657)
  .changeset/fresh-hounds-move.md
  apps/evm/package.json
  apps/evm/src/containers/Layout/Header/TopBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/GaslessStatus/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/hooks/useSendTransaction/__tests__/index.gaslessTransactions.spec.tsx
  apps/evm/src/hooks/useSendTransaction/index.ts
  apps/evm/src/pages/Account/Settings/index.tsx
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/store/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: available chains listed on Bridge page
  .changeset/young-lizards-sin.md
  apps/evm/src/hooks/useIsFeatureEnabled/__mocks__/index.tsx
  apps/evm/src/pages/Bridge/ChainSelect/index.tsx
  apps/evm/src/pages/Bridge/__tests__/index.spec.tsx
  apps/evm/src/pages/Bridge/constants.ts
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Bridge/useBridgeForm.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: available chains listed on Bridge page (#3663)
  .changeset/young-lizards-sin.md
  apps/evm/src/hooks/useIsFeatureEnabled/__mocks__/index.tsx
  apps/evm/src/pages/Bridge/ChainSelect/index.tsx
  apps/evm/src/pages/Bridge/__tests__/index.spec.tsx
  apps/evm/src/pages/Bridge/constants.ts
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Bridge/useBridgeForm.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/fresh-hounds-move.md
  .changeset/young-lizards-sin.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: map vtokens and assets
  apps/evm/src/libs/tokens/infos/vTokens/arbitrumOne.ts
  apps/evm/src/libs/tokens/infos/vTokens/arbitrumSepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/bscTestnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/vTokens/index.ts
  apps/evm/src/libs/tokens/infos/vTokens/opBnbMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/opBnbTestnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/optimismSepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/sepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncSepolia.ts
  apps/evm/src/libs/tokens/types.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: set vToken asset in getVTokens
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getTokenBalances/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokens/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokens/index.ts
  apps/evm/src/clients/api/queries/getVTokens/useGetVTokens.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetVaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useGetSwapInfo/__tests__/__snapshots__/formatToSwap.spec.ts.snap
  apps/evm/src/hooks/useGetSwapInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/tokens/utilities/getSwapTokens/__tests__/__snapshots__/index.spec.ts.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: extract Dropdown component from Select
  apps/evm/src/components/Dropdown/index.tsx
  apps/evm/src/components/Dropdown/renderLabel.tsx
  apps/evm/src/components/Dropdown/types.ts
  apps/evm/src/components/Select/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add dropdown containers to market page
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/components/Dropdown/index.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/link.tsx
  apps/evm/src/containers/AddTokenToWalletDropdown/index.tsx
  apps/evm/src/containers/GoToTokenContractDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/wallet/hooks/useAddTokenToWallet/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/slow-gorillas-roll.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: only show high risk warning when borrowing above safe limit
  .changeset/mean-lies-smile.md
  apps/evm/src/hooks/useProgressColor.ts
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/Notice.tsx
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/SubmitSection/index.tsx
  apps/evm/src/pages/Vai/Borrow/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/spotty-glasses-shop.md
Due: none

feat: add dropdown containers to market page
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/components/Dropdown/index.tsx
  apps/evm/src/components/Dropdown/types.ts
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/link.tsx
  apps/evm/src/containers/AddTokenToWalletDropdown/index.tsx
  apps/evm/src/containers/GoToTokenContractDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/wallet/hooks/useAddTokenToWallet/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add title to modal
  apps/evm/src/containers/AddTokenToWalletDropdown/index.tsx
  apps/evm/src/containers/GoToTokenContractDropdown/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/five-poets-smell.md
Due: none

feat: enable Base XVS bridge
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/five-poets-smell.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: trim token symbol to PT-SolvBTC.BBN-MAR25
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/chatty-owls-provide.md
Due: none
