Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: translations for the market tables
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

chore: add function keys and export queries
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardWalletAggregates/index.ts
  apps/evm/src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/eighty-results-drop.md
Due: none

feat: add queries for the rates tab
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardRatesHistory/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardRatesHistory/useGetRiskDashboardRatesHistory.ts
  apps/evm/src/clients/api/queries/getRiskDashboardStablecoinRates/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardStablecoinRates/useGetRiskDashboardStablecoinRates.ts
  apps/evm/src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add translation entries for the rates tab
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

feat: add convertDecimalToPercentage
  apps/evm/src/utilities/convertDecimalToPercentage/__tests__/index.spec.ts
  apps/evm/src/utilities/convertDecimalToPercentage/index.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add rates tab and charts
  apps/evm/src/pages/Stats/Rates/RatesApyChart/index.tsx
  apps/evm/src/pages/Stats/Rates/StablecoinDominanceChart/index.tsx
  apps/evm/src/pages/Stats/Rates/StablecoinRatesChart/index.tsx
  apps/evm/src/pages/Stats/Rates/StablecoinTotalsChart/index.tsx
  apps/evm/src/pages/Stats/Rates/index.tsx
  apps/evm/src/pages/Stats/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: change sort rules
  apps/evm/src/pages/PrimeLeaderboard/RewardTable/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeTotalRewards/index.ts
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeUserRewards/index.ts
  apps/evm/src/utilities/compareTokensBySymbol.spec.ts
  apps/evm/src/utilities/compareTokensBySymbol.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rename Liquidity Hub page
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/LiquidityHubs/LiquidityHubTable/RowControl/index.tsx
  apps/evm/src/pages/LiquidityHubs/LiquidityHubTable/index.tsx
  apps/evm/src/pages/LiquidityHubs/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: pluralize Liquidity Hubs route
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: add AI command
  .pi/extensions/syncTranslations/index.ts
  .pi/settings.json
  README.md
  package.json
  skills/sync-translations/SKILL.md
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: add AI command (#5700)
  .pi/extensions/syncTranslations/index.ts
  .pi/settings.json
  README.md
  package.json
  skills/sync-translations/SKILL.md
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: change sort rules
  .changeset/some-rice-strive.md
Due: none

feat: change to directore
  apps/evm/src/utilities/compareTokensBySymbol/__tests__/index.spec.ts
  apps/evm/src/utilities/compareTokensBySymbol/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: simplify AGENTS.md
  .claude/CLAUDE.md
  .claude/agents/ui-code.md
  .claude/agents/ui-i18n.md
  .claude/agents/ui-plan.md
  .claude/agents/ui-preview.md
  .claude/agents/ui-qa-fix.md
  .claude/agents/ui-qa-verify.md
  .claude/references/api-patterns.md
  .claude/references/code-quality.md
  .claude/references/design-system.md
  .claude/references/i18n-patterns.md
  .claude/scripts/ui-interaction-test.ts
  .claude/scripts/ui-screenshot.ts
  .claude/scripts/utils/image.ts
  .claude/skills/pr-review/SKILL.md
  .claude/skills/ui-develop/SKILL.md
  .claude/skills/ui-i18n/SKILL.md
  .claude/skills/ui-qa/SKILL.md
  AGENTS.md
  CLAUDE.md
  package.json
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: simplify AGENTS.md (#5704)
  .claude/CLAUDE.md
  .claude/agents/ui-code.md
  .claude/agents/ui-i18n.md
  .claude/agents/ui-plan.md
  .claude/agents/ui-preview.md
  .claude/agents/ui-qa-fix.md
  .claude/agents/ui-qa-verify.md
  .claude/references/api-patterns.md
  .claude/references/code-quality.md
  .claude/references/design-system.md
  .claude/references/i18n-patterns.md
  .claude/scripts/ui-interaction-test.ts
  .claude/scripts/ui-screenshot.ts
  .claude/scripts/utils/image.ts
  .claude/skills/pr-review/SKILL.md
  .claude/skills/ui-develop/SKILL.md
  .claude/skills/ui-i18n/SKILL.md
  .claude/skills/ui-qa/SKILL.md
  AGENTS.md
  CLAUDE.md
  package.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: change vaults style
  apps/evm/src/containers/VaultCard/Simplified/Cell.tsx
  apps/evm/src/containers/VaultCard/Simplified/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Dashboard/Vaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Vaults/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: change vaults style
  .changeset/clear-dots-stand.md
Due: none

feat: support timestamp invalid
  .changeset/tiny-toes-warn.md
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove 0
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/index.ts
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: dont need show vaults modal
  apps/evm/src/containers/VaultCard/Simplified/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: translation
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

fix: chain select issues
  apps/evm/src/containers/SwitchChainNotice/index.tsx
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
  apps/evm/src/libs/wallet/hooks/useSwitchChain/index.tsx
  apps/evm/src/libs/wallet/hooks/useSyncWalletChainOnConnect/index.tsx
  apps/evm/src/libs/wallet/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: chain select
  apps/evm/package.json
  apps/evm/src/containers/SwitchChainNotice/index.tsx
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
  apps/evm/src/libs/wallet/hooks/useSwitchChain/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add test file
  apps/evm/src/containers/Layout/NavBar/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add test file
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

chore: extract translations
  apps/evm/src/clients/api/queries/useGetPools/useGetPoolsQuery/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add basic SupplyWithCollateralForm component
  apps/evm/src/clients/api/queries/useGetPools/useGetPoolsQuery/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rename Liquidity Hub page
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

feat: add Liquidity Hub Supply with wallet and Withdraw forms
  .changeset/funny-peas-notice.md
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithWalletForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithWalletForm/index.tsx
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Liquidity Hub Supply with wallet and Withdraw forms (#5691)
  .changeset/funny-peas-notice.md
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithWalletForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithWalletForm/index.tsx
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add singular Liquidity Hub page skeleton
  .changeset/red-moles-agree.md
  apps/evm/src/__mocks__/utilities/getTokenIconSrc/index.ts
  apps/evm/src/clients/api/queries/getLiquidityHub/index.ts
  apps/evm/src/clients/api/queries/getLiquidityHub/useGetLiquidityHub/index.ts
  apps/evm/src/components/MarketPageGrid/index.tsx
  apps/evm/src/containers/Layout/Header/AssetInfo/UtilizationRate/index.tsx
  apps/evm/src/containers/Layout/Header/AssetInfo/index.tsx
  apps/evm/src/containers/Layout/Header/LiquidityHubInfo/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/AddTokenToWalletDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/DropdownToggleButton/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/GoToTokenContractDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/TokenDropdownOption/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/types.ts
  apps/evm/src/containers/Layout/Header/usePathNodes/LiquidityHubName/index.tsx
  apps/evm/src/containers/LiquidityHubLoader/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add singular Liquidity Hub page skeleton (#5699)
  .changeset/red-moles-agree.md
  apps/evm/src/__mocks__/utilities/getTokenIconSrc/index.ts
  apps/evm/src/clients/api/queries/getLiquidityHub/index.ts
  apps/evm/src/clients/api/queries/getLiquidityHub/useGetLiquidityHub/index.ts
  apps/evm/src/components/MarketPageGrid/index.tsx
  apps/evm/src/containers/Layout/Header/AssetInfo/UtilizationRate/index.tsx
  apps/evm/src/containers/Layout/Header/AssetInfo/index.tsx
  apps/evm/src/containers/Layout/Header/LiquidityHubInfo/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/AddTokenToWalletDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/DropdownToggleButton/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/GoToTokenContractDropdown/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/TokenDropdownOption/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/index.tsx
  apps/evm/src/containers/Layout/Header/TokenInfo/types.ts
  apps/evm/src/containers/Layout/Header/usePathNodes/LiquidityHubName/index.tsx
  apps/evm/src/containers/LiquidityHubLoader/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update LiquidityHub object to support token distributions
  .changeset/long-masks-cheer.md
  apps/evm/src/components/Apy/__tests__/index.spec.tsx
  apps/evm/src/components/ApyBreakdown/__tests__/index.spec.tsx
  apps/evm/src/components/ApyBreakdown/formatRows/index.tsx
  apps/evm/src/components/ApyBreakdown/index.tsx
  apps/evm/src/components/AssetApy/index.tsx
  apps/evm/src/utilities/getCombinedApy/__tests__/index.spec.ts
  apps/evm/src/utilities/getCombinedApy/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update LiquidityHub object to support token distributions (#5702)
  .changeset/long-masks-cheer.md
  apps/evm/src/components/Apy/__tests__/index.spec.tsx
  apps/evm/src/components/ApyBreakdown/__tests__/index.spec.tsx
  apps/evm/src/components/ApyBreakdown/formatRows/index.tsx
  apps/evm/src/components/ApyBreakdown/index.tsx
  apps/evm/src/components/AssetApy/index.tsx
  apps/evm/src/utilities/getCombinedApy/__tests__/index.spec.ts
  apps/evm/src/utilities/getCombinedApy/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
