Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: use 10k XVS to estimate Prime's APY
  src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getLegacyPool/appendPrimeSimulationDistributions.ts
  src/clients/api/queries/getLegacyPool/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.46.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  3a/a8174a164967e57939ab61783e126a843a5c5d
Due: none

feat: add back version app checker
  package.json
  src/App/index.tsx
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getLatestAppVersion/__tests__/index.spec.tsx
  src/clients/api/queries/getLatestAppVersion/index.tsx
  src/clients/api/queries/getLatestAppVersion/useGetLatestAppVersion.ts
  src/constants/functionKey.ts
  src/containers/AppVersionChecker/index.tsx
  src/hooks/useSendTransaction/useTrackTransaction/__tests__/index.spec.tsx
  src/hooks/useSendTransaction/useTrackTransaction/index.tsx
  src/packages/notifications/utilities/index.ts
  src/packages/translations/translations/en.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: hidden overflow of PrimePromotionalBanner (#1854)
  src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: close modal after claiming rewards (#1844)
  src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  src/containers/Layout/ClaimRewardButton/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.47.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  a6/43e7b1c58672a9764a1e1e157e383ab91cdbc7
Due: none

chore(release): 2.47.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ac/da6c6025e20054e2877aa86956ce7e56c5e42d
Due: none

feat: notify about new version (#1846)
  .gitignore
  package.json
  src/App/index.tsx
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getLatestAppVersion/__tests__/index.spec.tsx
  src/clients/api/queries/getLatestAppVersion/index.tsx
  src/clients/api/queries/getLatestAppVersion/useGetLatestAppVersion.ts
  src/constants/functionKey.ts
  src/containers/AppVersionChecker/index.tsx
  src/hooks/useSendTransaction/useTrackTransaction/__tests__/index.spec.tsx
  src/hooks/useSendTransaction/useTrackTransaction/index.tsx
  src/packages/notifications/utilities/index.ts
  src/packages/translations/translations/en.json
  src/scripts/generatePublicVersionFile.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.48.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  d4/27860b89eac42b876b7de96015dbb80c4e8fd2
Due: none

chore(release): 2.49.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  de/76be32774851c12b87aad12201dfef55f963f3
Due: none

refactor: remove logIn and logOut methods from auth context
  src/context/AuthContext/index.tsx
  src/hooks/useOperationModal/Modal/index.stories.tsx
  src/pages/ConvertVrt/Convert/index.spec.tsx
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.stories.tsx
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
  src/testUtils/render.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove openAuthModal and closeAuthModal methods from auth context
  src/clients/api/queries/useGetVaults/index.spec.tsx
  src/containers/ConnectWallet/index.tsx
  src/containers/Layout/ConnectButton/index.tsx
  src/context/AuthContext/index.tsx
  src/hooks/useOperationModal/Modal/index.stories.tsx
  src/packages/wallet/Web3Wrapper/AuthModal/index.tsx
  src/packages/wallet/__mocks__/index.ts
  src/packages/wallet/hooks/useAuthModal/__mocks__/index.tsx
  src/packages/wallet/hooks/useAuthModal/index.tsx
  src/packages/wallet/hooks/useProvider/__mocks__/index.ts
  src/packages/wallet/hooks/useSigner/__mocks__/index.ts
  src/packages/wallet/index.ts
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.stories.tsx
  src/pages/Dashboard/Banner/__tests__/index.spec.tsx
  src/pages/Dashboard/Banner/index.tsx
  src/pages/Governance/VotingWallet/index.tsx
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
  src/testUtils/render.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove switchChain method from auth context
  src/containers/Layout/ChainSelect/__tests__/index.spec.tsx
  src/containers/Layout/ChainSelect/index.tsx
  src/context/AuthContext/index.tsx
  src/hooks/useOperationModal/Modal/index.stories.tsx
  src/packages/wallet/hooks/useProvider/__mocks__/index.ts
  src/packages/wallet/hooks/useSwitchChain/__mocks__/index.ts
  src/packages/wallet/hooks/useSwitchChain/index.tsx
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.stories.tsx
  src/pages/Proposal/index.tsx
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: initial pagination index
  src/components/Pagination/usePagination.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.49.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  5c/c89b60a660a3a100e733bc538067c9886c9936
Due: none

fix: initial pagination index (#1862)
  src/components/Pagination/usePagination.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.49.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  32/c6c7d1c9af6506ad8808dc545a658e032b50cf
Due: none

Revert "Merge pull request #1855 from VenusProtocol/feat/prime-apy-estimation-xvs-staked"
  src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getLegacyPool/appendPrimeSimulationDistributions.ts
  src/clients/api/queries/getLegacyPool/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: revert d68c2a2e55f6e0264622e3415a3c79946c31c4e2 (#1863)
  src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getLegacyPool/appendPrimeSimulationDistributions.ts
  src/clients/api/queries/getLegacyPool/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.50.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  53/450d253bfc9b2f859b41863fa61e9b7f758db1
Due: none

feat: use voteProposal to conditionally render delegate section
  src/pages/Governance/VotingWallet/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add cases for delegate button
  src/pages/Governance/VotingWallet/index.tsx
  src/pages/Governance/VotingWallet/testIds.ts
  src/pages/Governance/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: voteProposal feature flag interaction with delegate section
  src/pages/Governance/VotingWallet/testIds.ts
  src/pages/Governance/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: conditionally render delegate/redelegate button
  src/pages/Governance/VotingWallet/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: migrated some styles to Tailwind in VotingVallet
  src/packages/analytics/useAnalytics.ts
  src/pages/Governance/VotingWallet/index.tsx
  src/pages/Governance/VotingWallet/styles.ts
  src/pages/Governance/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: use shouldApplyMarginToTotalLocked
  src/pages/Governance/VotingWallet/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
