Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

refactor: completely migrate VotingWallet to tailwind
  src/components/TokenIcon/index.tsx
  src/components/TokenIcon/styles.ts
  src/pages/Governance/VotingWallet/index.tsx
  src/pages/Governance/VotingWallet/styles.ts
  src/pages/Governance/VotingWallet/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: hide deposit XVS button if votes are loading
  src/pages/Governance/VotingWallet/index.tsx
  src/pages/Governance/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: render buttons in the VotingWallet based on isDataLoading
  src/pages/Governance/VotingWallet/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: adjust paddings on md breakpoint
  src/pages/Governance/VotingWallet/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.50.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  1a/85f0b7dc94e58f194e3c28036f216d68fb842c
Due: none

fix: replace hasOwn function call with backward-compatible method
  src/constants/routing.ts
  src/containers/ReadableActionSignature/getContractName.ts
  src/packages/contracts/utilities/getUniqueContractAddress/index.ts
  src/pages/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: do not log errors related to query failures
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToPrimePendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: replace hasOwn function call with backward-compatible method (#1870)
  src/constants/routing.ts
  src/containers/ReadableActionSignature/getContractName.ts
  src/packages/contracts/utilities/getUniqueContractAddress/index.ts
  src/pages/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: do not log errors related to query failures (#1871)
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToPrimePendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.50.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  13/e2ecbcdb1f0ed02befd868a58ea5173807fc43
Due: none

fix: minor spacing fixes
  src/pages/Governance/VotingWallet/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.51.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ea/eca9e52a263d816f4a373f052dd2f9845b1590
Due: none

refactor: update imports order
  .prettierrc.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.51.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  aa/a89b83eab1d1bea7b0529cbb486c4e7c5b32dd
Due: none

refactor: adjust contract config for venus-protocol 6.0.0
  src/packages/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bumped venus-protocol package version
  package.json
  yarn.lock
Due: prettier --write --check

chore: bump venusprotocol/governance-contracts
  package.json
  src/packages/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump venusprotocol/oracle
  package.json
  src/packages/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.51.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  30/9d7108ceb8dff6fc5e995285a2608fa8b63ff6
Due: none

feat: display warning on Mint VAI UI if user is not Prime
  src/packages/translations/translations/en.json
  src/pages/Vai/MintVai/Form/getReadableFeeVai.ts
  src/pages/Vai/MintVai/Form/index.tsx
  src/pages/Vai/MintVai/__tests__/index.spec.tsx
  src/pages/Vai/MintVai/__tests__/indexPrime.spec.tsx
  src/pages/Vai/MintVai/index.tsx
  src/pages/Vai/testIds.ts
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.51.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  76/f798406e599db3922add4fb780520fa4f62dec
Due: none

feat: remove next header from API requests
  src/clients/api/queries/getIsAddressAuthorized/index.ts
  src/clients/api/queries/getLegacyPoolMarkets/index.ts
  src/clients/api/queries/getMarketHistory/index.spec.ts
  src/clients/api/queries/getMarketHistory/index.ts
  src/clients/api/queries/getProposals/getProposal.spec.ts
  src/clients/api/queries/getProposals/getProposal.ts
  src/clients/api/queries/getProposals/index.spec.ts
  src/clients/api/queries/getProposals/index.ts
  src/clients/api/queries/getTransactions/index.spec.ts
  src/clients/api/queries/getTransactions/index.ts
  src/clients/api/queries/getVoteSummary/index.spec.ts
  src/clients/api/queries/getVoteSummary/index.ts
  src/clients/api/queries/getVoterAccounts/index.spec.ts
  src/clients/api/queries/getVoterAccounts/index.ts
  src/clients/api/queries/getVoterDetails/index.spec.ts
  src/clients/api/queries/getVoterDetails/index.ts
  src/clients/api/queries/getVoterHistory/index.spec.ts
  src/clients/api/queries/getVoterHistory/index.ts
  src/clients/api/queries/getVoters/index.spec.ts
  src/clients/api/queries/getVoters/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display warning on Mint VAI UI if user is not Prime (#1877)
  src/packages/translations/translations/en.json
  src/pages/Vai/MintVai/Form/getReadableFeeVai.ts
  src/pages/Vai/MintVai/Form/index.tsx
  src/pages/Vai/MintVai/__tests__/index.spec.tsx
  src/pages/Vai/MintVai/__tests__/indexPrime.spec.tsx
  src/pages/Vai/MintVai/index.tsx
  src/pages/Vai/testIds.ts
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.52.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  81/fd9071289441d7c0f7e6b64d7bed42bfda0b7d
Due: none

chore(release): 2.53.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  f0/a37271a2e60fb4e533dfe61cf71a2f7de56b99
Due: none

chore(release): 2.53.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  f9/c40de931dbc7c6936ff4377f54cb5f879d45ba
Due: none

feat: use address files from packages
  package.json
  src/packages/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: adjust contract config for new Venus packages (#1869)
  package.json
  src/packages/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix
