Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

fix env variables
  src/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

update Loki
  package.json
  yarn.lock
Due: prettier --write --check

fix build pipeline
  Dockerfile
Due: none

rebase with develop
  src/clients/api/mutations/swapTokens/index.spec.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetTreasuryTotals/__snapshots__/index.spec.tsx.snap
  src/clients/ethGraphQl/gql/fragment-masking.ts
  src/clients/ethGraphQl/gql/gql.ts
  src/clients/ethGraphQl/gql/graphql.ts
  src/clients/ethGraphQl/gql/index.ts
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  src/pages/Account/PoolBreakdown/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

rebase with develop
  src/components/AccountData/__snapshots__/index.spec.tsx.snap
  src/components/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Account/PoolBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Account/Summary/__snapshots__/index.spec.tsx.snap
  src/pages/Account/VaultsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Dashboard/__snapshots__/index.spec.tsx.snap
  src/pages/Governance/index.spec.tsx
  src/pages/Market/__snapshots__/index.spec.tsx.snap
  src/pages/Swap/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Vai/RepayVai/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/TransactionForm/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/VaultItem/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/modals/StakeModal/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/__snapshots__/index.spec.tsx.snap
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/WithdrawalRequestList/__snapshots__/index.spec.tsx.snap
  src/utilities/formatCentsToReadableValue/__tests__/index.spec.ts
  src/utilities/formatTokensToReadableValue/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

format exchange rate
  src/components/SwapDetails/index.tsx
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

bump package version to 2.1.1
  package.json
Due: prettier --write --check

Bump package version to 2.1.1 (#1124)
  package.json
Due: prettier --write --check

use wrapped value in formatCentsToReadableValue
  src/utilities/formatCentsToReadableValue/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Use wrapped value in formatCentsToReadableValue (#1126)
  src/utilities/formatCentsToReadableValue/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

use BigNumber instances in AccountData component
  src/components/AccountData/index.tsx
  src/components/AccountData/useGetValues.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Use BigNumber instances in AccountData component (#1127)
  src/components/AccountData/index.tsx
  src/components/AccountData/useGetValues.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

round down big numbers by default
  src/initializeLibraries/bigNumber.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Round down big numbers by default (#1128)
  src/clients/api/queries/useGetMainAssets/__snapshots__/index.spec.tsx.snap
  src/components/AccountData/__snapshots__/index.spec.tsx.snap
  src/components/IsolatedAssetWarning/__snapshots__/index.spec.tsx.snap
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  src/initializeLibraries/bigNumber.ts
  src/pages/Account/PoolBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Account/Summary/__snapshots__/index.spec.tsx.snap
  src/pages/Dashboard/__snapshots__/index.spec.tsx.snap
  src/pages/Market/__snapshots__/index.spec.tsx.snap
  src/pages/Vai/RepayVai/__snapshots__/index.spec.tsx.snap
  src/pages/Vai/RepayVai/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

format exchange rate on Swap page
  src/pages/Swap/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Swap/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

always display swap details when using swap
  src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

remove Announcement to TokenAnnouncement
  src/components/TokenAnnouncement/index.tsx
  src/components/TokenAnnouncement/styles.ts
  src/components/index.ts
  src/hooks/useOperationModal/Modal/index.tsx
  src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

update feature to disable token actions
  src/components/AccountData/index.tsx
  src/components/AccountData/useGetValues.ts
  src/components/TokenAnnouncement/index.tsx
  src/components/TokenAnnouncement/styles.ts
  src/constants/disabledTokens.ts
  src/containers/AssetAccessor/DisabledActionNotice/index.tsx
  src/containers/AssetAccessor/index.spec.tsx
  src/containers/AssetAccessor/index.tsx
  src/hooks/useOperationModal/Modal/index.spec.tsx
  src/hooks/useOperationModal/Modal/index.tsx
  src/pages/Dashboard/index.tsx
  src/translation/translations/en.json
  src/types/index.ts
  src/utilities/__mocks__/isTokenActionEnabled.ts
  src/utilities/isTokenActionEnabled.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Update token action disabling feature (#1130)
  src/components/AccountData/index.tsx
  src/components/AccountData/useGetValues.ts
  src/components/Announcement/styles.ts
  src/components/TokenAnnouncement/index.tsx
  src/components/index.ts
  src/constants/disabledTokens.ts
  src/containers/AssetAccessor/DisabledActionNotice/index.tsx
  src/containers/AssetAccessor/index.spec.tsx
  src/containers/AssetAccessor/index.tsx
  src/hooks/useOperationModal/Modal/index.spec.tsx
  src/hooks/useOperationModal/Modal/index.tsx
  src/pages/Dashboard/index.tsx
  src/translation/translations/en.json
  src/types/index.ts
  src/utilities/__mocks__/isTokenActionEnabled.ts
  src/utilities/isTokenActionEnabled.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Swap tweaks related to swap (#1129)
  src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  src/pages/Swap/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Swap/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

update isolated pool addresses
  package.json
  src/clients/api/queries/getIsolatedPools/index.ts
  src/constants/contracts/swapRouters/mainnet.ts
  src/constants/contracts/swapRouters/testnet.ts
  src/constants/tokens/common/mainnet.ts
  src/constants/tokens/vBep/mainnet.ts
  src/utilities/getContractAddress.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update BETH warning message
  src/components/TokenAnnouncement/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

use stable version of @venusprotocol/isolated-pools package
  package.json
  yarn.lock
Due: prettier --write --check

add ProgressCircle component
  src/components/ProgressBar/AccountHealth/index.tsx
  src/components/ProgressCircle/index.stories.tsx
  src/components/ProgressCircle/index.tsx
  src/components/ProgressCircle/styles.ts
  src/hooks/useProgressColor.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

add TagGroup component
  src/components/TagGroup/index.stories.tsx
  src/components/TagGroup/index.tsx
  src/components/TagGroup/styles.tsx
  src/components/index.ts
  src/pages/Account/index.tsx
  src/pages/Dashboard/index.tsx
  src/pages/Dashboard/useFormatPools.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

update AccountPage to use pool tabs
  src/pages/Account/PoolBreakdown/index.tsx
  src/pages/Account/PoolsBreakdown/Tables/index.tsx
  src/pages/Account/PoolsBreakdown/Tables/styles.ts
  src/pages/Account/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Account/PoolsBreakdown/index.spec.tsx
  src/pages/Account/PoolsBreakdown/index.stories.tsx
  src/pages/Account/PoolsBreakdown/index.tsx
  src/pages/Account/PoolsBreakdown/styles.ts
  src/pages/Account/PoolsBreakdown/testIds.ts
  src/pages/Account/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

update TagGroup
  src/components/Button/styles.tsx
  src/components/ProgressCircle/index.tsx
  src/components/ProgressCircle/styles.ts
  src/components/TagGroup/index.stories.tsx
  src/components/TagGroup/index.tsx
  src/components/index.ts
  src/pages/Account/PoolsBreakdown/index.tsx
  src/pages/Account/PoolsBreakdown/styles.ts
  src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

update PoolsBreakdown to add borrow limit
  src/pages/Account/PoolsBreakdown/index.tsx
  src/pages/Account/PoolsBreakdown/styles.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

Update Account page (#1123)
  src/components/Button/styles.tsx
  src/components/ProgressBar/AccountHealth/index.tsx
  src/components/ProgressCircle/index.stories.tsx
  src/components/ProgressCircle/index.tsx
  src/components/ProgressCircle/styles.ts
  src/components/TagGroup/index.stories.tsx
  src/components/TagGroup/index.tsx
  src/components/TagGroup/styles.tsx
  src/components/index.ts
  src/hooks/useProgressColor.ts
  src/pages/Account/PoolBreakdown/index.tsx
  src/pages/Account/PoolsBreakdown/Tables/index.tsx
  src/pages/Account/PoolsBreakdown/Tables/styles.ts
  src/pages/Account/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Account/PoolsBreakdown/index.spec.tsx
  src/pages/Account/PoolsBreakdown/index.stories.tsx
  src/pages/Account/PoolsBreakdown/index.tsx
  src/pages/Account/PoolsBreakdown/styles.ts
  src/pages/Account/PoolsBreakdown/testIds.ts
  src/pages/Account/index.tsx
  src/pages/Dashboard/index.tsx
  src/pages/Dashboard/useFormatPools.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

[VEN-1638][VEN-1166][VEN-923] Update isolated lending addresses (#1131)
  package.json
  src/clients/api/queries/getIsolatedPools/index.ts
  src/constants/contracts/swapRouters/mainnet.ts
  src/constants/contracts/swapRouters/testnet.ts
  src/constants/tokens/common/mainnet.ts
  src/constants/tokens/vBep/mainnet.ts
  src/utilities/getContractAddress.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

bump package version to 2.1.2
  package.json
Due: prettier --write --check

Bump package version to 2.1.2 (#1133)
  package.json
Due: prettier --write --check

fix: update interest model calculation with isolated pools
  src/clients/api/queries/getVTokenApySimulations/index.spec.ts
  src/clients/api/queries/getVTokenApySimulations/index.ts
  src/clients/api/queries/getVTokenApySimulations/types.ts
  src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  src/constants/contracts/abis/interestModelV2.json
  src/pages/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

update how subgraph client is built
  .gitignore
  .prettierignore
  package.json
  scripts/runGenerateSubgraphTypes.sh
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/subgraph/codegen.ts
  src/clients/subgraph/gql/index.ts
  src/clients/subgraph/index.ts
  src/clients/subgraph/queries/getIsolatedPoolParticipantsCount/index.ts
  src/config/codegen.ts
  src/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

update Vercel config to fix deep links
  vercel.json
Due: prettier --write --check

[VEN-1604] Swap updates (#1073)
  src/config/index.ts
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

replace create-react-app with Vite
  .storybook/main.ts
  src/clients/subgraph/codegen.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

start replacing Jest with Vitest
  src/clients/ethGraphQl/gql/fragment-masking.ts
  src/clients/ethGraphQl/gql/gql.ts
  src/clients/ethGraphQl/gql/graphql.ts
  src/clients/ethGraphQl/gql/index.ts
  src/setupTests.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

update Storybook
  .eslintrc.js
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix
