Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/olive-clocks-own.md
  apps/evm/src/hooks/useSendTransaction/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

Revert "feat: temporarily disable zkETH market on ZKsync (#4227)"
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Revert "feat: temporarily unlist zkETH on ZKsync (#4228)"
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/wild-webs-cover.md
Due: none

feat: relist zkETH on ZKsync (#4229)
  .changeset/wild-webs-cover.md
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wild-webs-cover.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/olive-clocks-own.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: only render Isolated Pools page when feature is enabled
  .changeset/better-trees-fly.md
  apps/evm/src/App/Routes/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useBridgeXvs to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/bridgeXvs/index.spec.ts
  apps/evm/src/clients/api/mutations/bridgeXvs/index.ts
  apps/evm/src/clients/api/mutations/bridgeXvs/useBridgeXvs.ts
  apps/evm/src/clients/api/mutations/useBridgeXvs/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useBridgeXvs/index.ts
  apps/evm/src/constants/address.ts
  apps/evm/src/pages/Bridge/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for USD1 on BNB Chain networks
  .changeset/nasty-cobras-decide.md
  apps/evm/src/libs/tokens/img/underlyingTokens/usd1.png
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for USD1 on BNB Chain networks (#4241)
  .changeset/nasty-cobras-decide.md
  apps/evm/src/libs/tokens/img/underlyingTokens/usd1.png
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/nasty-cobras-decide.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: claimPrimeToken to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/claimPrimeToken/index.spec.ts
  apps/evm/src/clients/api/mutations/claimPrimeToken/index.ts
  apps/evm/src/clients/api/mutations/claimPrimeToken/useClaimPrimeToken.ts
  apps/evm/src/clients/api/mutations/useClaimPrimeToken/__tests__/index.test.ts
  apps/evm/src/clients/api/mutations/useClaimPrimeToken/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useRepayVai to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/repayVai/index.spec.ts
  apps/evm/src/clients/api/mutations/repayVai/index.ts
  apps/evm/src/clients/api/mutations/repayVai/useRepayVai.ts
  apps/evm/src/clients/api/mutations/useClaimPrimeToken/__tests__/index.test.ts
  apps/evm/src/clients/api/mutations/useRepayVai/__tests__/index.test.ts
  apps/evm/src/clients/api/mutations/useRepayVai/index.ts
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/waitForSafeWalletTransaction/__tests__/index.spec.ts
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/waitForSafeWalletTransaction/getSafeWalletTransaction/__tests__/index.spec.ts
  apps/evm/src/pages/Vai/Repay/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only render Isolated Pools page when feature is enabled (#4240)
  .changeset/better-trees-fly.md
  apps/evm/src/App/Routes/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/better-trees-fly.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: wip
  apps/evm/package.json
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/MigrateButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add metadata for Berachain Mainnet and Bepolia
  .changeset/short-poets-share.md
  apps/evm/src/config/rpcUrls.ts
  apps/evm/src/config/subgraphUrls.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumOne.ts
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbTestnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncSepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/nativeTokens/index.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/vTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/index.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/chainMetadata.ts
  packages/chains/src/img/chains/berachain.svg
  packages/chains/src/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useMintVai to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/mintVai/index.spec.ts
  apps/evm/src/clients/api/mutations/mintVai/index.ts
  apps/evm/src/clients/api/mutations/mintVai/useMintVai.ts
  apps/evm/src/clients/api/mutations/useMintVai/__tests__/index.test.ts
  apps/evm/src/clients/api/mutations/useMintVai/index.ts
  apps/evm/src/pages/Vai/Borrow/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useCreateProposal to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/createProposal/index.spec.ts
  apps/evm/src/clients/api/mutations/createProposal/index.ts
  apps/evm/src/clients/api/mutations/createProposal/useCreateProposal.ts
  apps/evm/src/clients/api/mutations/useCreateProposal/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useCreateProposal/index.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/formatProposalPayload.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useExecuteProposal to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/executeProposal/index.spec.ts
  apps/evm/src/clients/api/mutations/executeProposal/index.ts
  apps/evm/src/clients/api/mutations/executeProposal/useExecuteProposal.ts
  apps/evm/src/clients/api/mutations/useCreateProposal/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useExecuteProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/mutations/useExecuteProposal/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useExecuteProposal/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useQueueProposal to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/queueProposal/index.spec.ts
  apps/evm/src/clients/api/mutations/queueProposal/index.ts
  apps/evm/src/clients/api/mutations/queueProposal/useQueueProposal.ts
  apps/evm/src/clients/api/mutations/useExecuteProposal/index.ts
  apps/evm/src/clients/api/mutations/useQueueProposal/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useQueueProposal/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useExecuteWithdrawalFromXvsVault to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/executeWithdrawalFromXvsVault/index.spec.ts
  apps/evm/src/clients/api/mutations/executeWithdrawalFromXvsVault/index.tsx
  apps/evm/src/clients/api/mutations/useExecuteWithdrawalFromXvsVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useExecuteWithdrawalFromXvsVault/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useSetVoteDelegate to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/setVoteDelegate/index.spec.ts
  apps/evm/src/clients/api/mutations/setVoteDelegate/index.ts
  apps/evm/src/clients/api/mutations/setVoteDelegate/useSetVoteDelegate.ts
  apps/evm/src/clients/api/mutations/useSetVoteDelegate/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSetVoteDelegate/index.ts
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove useRevokeSpendingLimit
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/revokeSpendingLimit/index.spec.ts
  apps/evm/src/clients/api/mutations/revokeSpendingLimit/index.ts
  apps/evm/src/clients/api/mutations/revokeSpendingLimit/useRevokeSpendingLimit.ts
  apps/evm/src/clients/api/mutations/useApproveToken/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useApproveToken/index.ts
  apps/evm/src/clients/api/mutations/useExecuteWithdrawalFromXvsVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSetVoteDelegate/__tests__/index.spec.ts
  apps/evm/src/hooks/useTokenApproval/index.ts
  apps/evm/src/pages/Governance/VotingWallet/DelegateModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useStakeInXvsVault to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/stakeInXvsVault/index.spec.ts
  apps/evm/src/clients/api/mutations/stakeInXvsVault/index.ts
  apps/evm/src/clients/api/mutations/useBridgeXvs/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useRequestWithdrawalFromXvsVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useStakeInVault/index.spec.tsx
  apps/evm/src/clients/api/mutations/useStakeInVault/index.ts
  apps/evm/src/clients/api/mutations/useStakeInXvsVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useStakeInXvsVault/index.ts
  apps/evm/src/clients/api/mutations/useWithdrawFromVaiVault/__tests__/index.spec.ts
  apps/evm/src/hooks/useGetHypotheticalUserPrimeApys/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/__tests__/indexWrapUnwrapNative.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useStakeInVaiVault to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/stakeInVaiVault/index.spec.ts
  apps/evm/src/clients/api/mutations/stakeInVaiVault/index.ts
  apps/evm/src/clients/api/mutations/useStakeInVaiVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useStakeInVaiVault/index.ts
  apps/evm/src/clients/api/mutations/useStakeInVault/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useStakeInVault/index.ts
  apps/evm/src/pages/Vault/modals/StakeModal/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Vault/modals/StakeModal/__tests__/index.spec.tsx
  apps/evm/src/pages/Vault/modals/StakeModal/index.spec.tsx
  apps/evm/src/pages/Vault/modals/StakeModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useVote to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/useVote/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useVote/index.tsx
  apps/evm/src/clients/api/mutations/vote/__tests__/castVote.spec.ts
  apps/evm/src/clients/api/mutations/vote/__tests__/castVoteWithReason.spec.ts
  apps/evm/src/clients/api/mutations/vote/castVote.ts
  apps/evm/src/clients/api/mutations/vote/castVoteWithReason.ts
  apps/evm/src/clients/api/mutations/vote/useCastVote.ts
  apps/evm/src/clients/api/mutations/vote/useCastVoteWithReason.ts
  apps/evm/src/hooks/useVote.ts
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/thin-cases-camp.md
Due: none

chore: update test files
  apps/evm/src/__mocks__/contracts/legacyPoolComptroller.ts
  apps/evm/src/__mocks__/contracts/poolLens.ts
  apps/evm/src/__mocks__/contracts/prime.ts
  apps/evm/src/__mocks__/contracts/venusLens.ts
  apps/evm/src/__mocks__/contracts/xvsVault.ts
  apps/evm/src/__mocks__/contracts/xvsVesting.ts
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: refactor useClaimRewards to use viem
  .changeset/fruity-signs-throw.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/claimRewards/index.spec.ts
  apps/evm/src/clients/api/mutations/claimRewards/index.ts
  apps/evm/src/clients/api/mutations/claimRewards/types.ts
  apps/evm/src/clients/api/mutations/useClaimRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useClaimRewards/formatToCalls/index.ts
  apps/evm/src/clients/api/mutations/useClaimRewards/index.ts
  apps/evm/src/clients/api/mutations/useClaimRewards/types.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToPrimePendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/types.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Bepolia governance subgraph
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add metadata for Berachain Mainnet and Bepolia (#4258)
  .changeset/short-poets-share.md
  apps/evm/src/config/rpcUrls.ts
  apps/evm/src/config/subgraphUrls.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumOne.ts
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbTestnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncSepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/nativeTokens/index.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/vTokens/berachainBepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/berachainMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/index.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/chainMetadata.ts
  packages/chains/src/img/chains/berachain.svg
  packages/chains/src/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/short-poets-share.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/thin-cases-camp.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: refactor useClaimRewards to use viem (#4264)
  .changeset/fruity-signs-throw.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/claimRewards/index.spec.ts
  apps/evm/src/clients/api/mutations/claimRewards/index.ts
  apps/evm/src/clients/api/mutations/claimRewards/types.ts
  apps/evm/src/clients/api/mutations/useClaimRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useClaimRewards/formatToCalls/index.ts
  apps/evm/src/clients/api/mutations/useClaimRewards/index.ts
  apps/evm/src/clients/api/mutations/useClaimRewards/types.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToPrimePendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/types.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
