Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: set isIsolatedPoolMarket for non BNB core pools
  src/pages/Market/CorePoolMarket/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.61.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  98/82e270118fb094f20a38d4c9cc2aa9ed39f4bc
Due: none

fix: check borrow balance is greater than 0 when defining withdawable amount
  src/hooks/useOperationModal/Modal/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

Revert "chore(deps): bump @wagmi/core from 1.4.8 to 1.4.10 (#1931)"
  yarn.lock
Due: none

fix: withdrawable amount edge case (#1935)
  src/hooks/useOperationModal/Modal/WithdrawForm/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.61.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  10/11b6e55b3d163f2b42922973b0333edd82a8a4
Due: none

chore(release): 2.61.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  d9/2a5c6b720c2a739a11f7e89c5bc5d287dcfac0
Due: none

refactor: separate AuthModal and AuthHandler from Web3Wrapper
  src/App/index.tsx
  src/containers/AppVersionChecker/index.tsx
  src/packages/wallet/AuthHandler/index.tsx
  src/packages/wallet/AuthModal/AccountDetails/index.tsx
  src/packages/wallet/AuthModal/AccountDetails/styles.ts
  src/packages/wallet/AuthModal/WalletList/index.tsx
  src/packages/wallet/AuthModal/WalletList/styles.ts
  src/packages/wallet/AuthModal/constants.ts
  src/packages/wallet/AuthModal/index.tsx
  src/packages/wallet/AuthModal/types.ts
  src/packages/wallet/Web3Wrapper/index.tsx
  src/packages/wallet/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: add tests for useFormatTo
  src/hooks/useFormatTo/__tests__/index.spec.tsx
  src/hooks/useFormatTo/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: add tests for useUrlPagination
  src/components/MarkdownViewer/index.tsx
  src/components/Table/index.tsx
  src/containers/ChainExplorerLink/index.tsx
  src/containers/Layout/Menu/NavLink/index.tsx
  src/containers/Link/index.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/hooks/useFormatTo/__tests__/index.spec.tsx
  src/hooks/useFormatTo/index.ts
  src/hooks/useNavigate/__tests__/index.spec.tsx
  src/hooks/useNavigate/index.ts
  src/hooks/useUrlPagination/__tests__/index.spec.tsx
  src/hooks/useUrlPagination/index.ts
  src/packages/wallet/Web3Wrapper/AuthHandler/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/ProposalWizard/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/index.tsx
  src/pages/Governance/ProposalList/index.tsx
  src/pages/Governance/index.tsx
  src/pages/History/index.tsx
  src/pages/Voter/index.tsx
  src/pages/VoterLeaderboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.61.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  14/6136c435bf152d65f38a1694b757fda369cc89
Due: none

refactor: remove unnecessary scroll logic
  src/hooks/useUrlPagination/index.ts
  src/pages/Governance/ProposalList/index.tsx
  src/pages/Voter/History/index.tsx
  src/pages/VoterLeaderboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.62.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  42/d3f5f7699c9a506a40f685197fefb8e514a6dc
Due: none

fix: update rest error handling + prevent text injection on Proposal page
  src/clients/api/queries/getLegacyPoolMarkets/index.ts
  src/clients/api/queries/getMarketHistory/index.ts
  src/clients/api/queries/getProposals/getProposal.ts
  src/clients/api/queries/getProposals/index.ts
  src/clients/api/queries/getTransactions/index.ts
  src/clients/api/queries/getVoteSummary/index.ts
  src/clients/api/queries/getVoterAccounts/index.ts
  src/clients/api/queries/getVoterDetails/index.ts
  src/clients/api/queries/getVoterHistory/index.ts
  src/clients/api/queries/getVoters/index.ts
  src/containers/Layout/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/Breadcrumbs/__tests__/index.spec.tsx
  src/containers/Layout/Breadcrumbs/index.tsx
  src/pages/Proposal/index.spec.tsx
  src/pages/Proposal/index.tsx
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update rest error handling (#1947)
  src/clients/api/queries/getLegacyPoolMarkets/index.ts
  src/clients/api/queries/getMarketHistory/index.ts
  src/clients/api/queries/getProposals/getProposal.ts
  src/clients/api/queries/getProposals/index.ts
  src/clients/api/queries/getTransactions/index.ts
  src/clients/api/queries/getVoteSummary/index.ts
  src/clients/api/queries/getVoterAccounts/index.ts
  src/clients/api/queries/getVoterDetails/index.ts
  src/clients/api/queries/getVoterHistory/index.ts
  src/clients/api/queries/getVoters/index.ts
  src/containers/Layout/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/Breadcrumbs/__tests__/index.spec.tsx
  src/containers/Layout/Breadcrumbs/index.tsx
  src/pages/Proposal/index.spec.tsx
  src/pages/Proposal/index.tsx
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.62.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  15/c8a924dc2b75f84fedbaa7e2dcf6c4af9827cc
Due: none

refactor: determine explorer domain from URL
  src/containers/ChainExplorerLink/index.tsx
  src/packages/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Multicall3 Sepolia record
  src/packages/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update chain names
  src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: hide vote CTAs when vote feature is disabled
  src/pages/Proposal/ProposalSummary/index.tsx
  src/pages/Proposal/VoteSummary/index.tsx
  src/pages/Proposal/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: explorer URLs
  src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: multichain-related bugs (#1953)
  src/constants/chainMetadata.ts
  src/containers/ChainExplorerLink/index.tsx
  src/packages/contracts/config/index.ts
  src/packages/translations/translations/en.json
  src/pages/Proposal/ProposalSummary/index.tsx
  src/pages/Proposal/VoteSummary/index.tsx
  src/pages/Proposal/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.62.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  3b/4946085f0f0a3546f7b9375d5f2e948c26986a
Due: none

fix: update wagmi libraries to remove LedgerConnector due to security vulnerability
  package.json
  yarn.lock
Due: prettier --write --check

fix: update wagmi libraries to remove LedgerConnector due to security vulnerability (#1954)
  package.json
  yarn.lock
Due: prettier --write --check

chore(release): 2.62.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  46/6392e80d119f39aac7cbfa805db15fc5837dd7
Due: none

chore(release): 2.62.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  13/ed7a7844164a593e580e7fc324be7c50579eca
Due: none

feat: disable performance tracking from Sentry
  src/packages/errors/ErrorBoundary/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.62.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check
