Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

refactor: stop logging warning headers on Sentry
  apps/evm/src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: fix APY percentage sent in analytics when importing position (#4514)
  .changeset/plenty-pigs-glow.md
  apps/evm/src/containers/ImportablePositions/ProtocolPositions/Position/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/plenty-pigs-glow.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: update burned BNB banner content and prevent if from overflowing
  .changeset/smooth-falcons-love.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Dashboard/Carousel/BurnedWBnbBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/three-cloths-create.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/wide-carrots-cover.md
Due: none

feat: update burned BNB banner content and prevent if from overflowing (#4521)
  .changeset/smooth-falcons-love.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Dashboard/Carousel/BurnedWBnbBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/smooth-falcons-love.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: track errors related to tracking transactions
  .changeset/afraid-trees-love.md
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: track errors related to tracking transactions (#4527)
  .changeset/afraid-trees-love.md
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/afraid-trees-love.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: enable PostHog analytics again
  .changeset/short-carrots-stand.md
  apps/evm/package.json
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
  apps/evm/src/libs/analytics/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
  apps/landing/package.json
  apps/landing/src/components/App.tsx
  apps/landing/src/config/envVariables.ts
  apps/landing/src/config/index.ts
  apps/landing/src/constants/version.ts
  packages/ui/README.md
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable PostHog analytics again (#4528)
  .changeset/short-carrots-stand.md
  apps/evm/package.json
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
  apps/evm/src/libs/analytics/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
  apps/landing/package.json
  apps/landing/src/components/App.tsx
  apps/landing/src/config/envVariables.ts
  apps/landing/src/config/index.ts
  apps/landing/src/constants/version.ts
  packages/ui/README.md
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove temporary token records
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use new token price structure from the API
  apps/evm/src/clients/api/queries/getPendingRewards/getApiTokenPrice/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/constants/address.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: format to token prices mapping
  apps/evm/src/clients/api/mutations/useSupply/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getApiTokenPrice/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: update price mocks
  apps/evm/src/__mocks__/api/pools.json
  apps/evm/src/__mocks__/api/prices.json
  apps/evm/src/clients/api/mutations/useSupply/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/mutations/useSwapTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/mutations/useSwapTokens/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useWithdraw/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getTokenBalances/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/hooks/useGetSwapInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Swap/__tests__/__snapshots__/index.spec.tsx.snap
  packages/chains/src/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: choose reward token price by the ordering criteria
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable PostHog analytics again (#4528)
  .changeset/short-carrots-stand.md
  apps/evm/package.json
  apps/evm/src/App/index.tsx
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
  apps/evm/src/libs/analytics/__mocks__/index.tsx
  apps/evm/src/libs/analytics/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
  apps/landing/package.json
  apps/landing/src/components/App.tsx
  apps/landing/src/config/envVariables.ts
  apps/landing/src/config/index.ts
  apps/landing/src/constants/version.ts
  packages/ui/README.md
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/short-carrots-stand.md
  .changeset/wide-carrots-cover.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: remove Unichain banner
  .changeset/ready-jars-wait.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/background.svg
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/logo.svg
  apps/evm/src/pages/Dashboard/Carousel/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Carousel/index.tsx
  apps/landing/src/components/App.tsx
  apps/landing/src/components/Banner/Banner.module.css
  apps/landing/src/components/Banner/Banner.tsx
  apps/landing/src/components/Banner/assets/arrow.svg
  apps/landing/src/components/Banner/assets/circles.svg
  apps/landing/src/components/Banner/assets/squares.svg
  apps/landing/src/components/Banner/assets/unichainLogo.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove Unichain banner (#4537)
  .changeset/ready-jars-wait.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/background.svg
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Carousel/UnichainPromotionalBanner/logo.svg
  apps/evm/src/pages/Dashboard/Carousel/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Carousel/index.tsx
  apps/landing/src/components/App.tsx
  apps/landing/src/components/Banner/Banner.module.css
  apps/landing/src/components/Banner/Banner.tsx
  apps/landing/src/components/Banner/assets/arrow.svg
  apps/landing/src/components/Banner/assets/circles.svg
  apps/landing/src/components/Banner/assets/squares.svg
  apps/landing/src/components/Banner/assets/unichainLogo.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/ready-jars-wait.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

feat: set gap to 16px
  apps/evm/src/containers/MarketTable/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: adjust chain switch button margins
  apps/evm/src/pages/Bridge/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove limit on the pool TokenGroup
  apps/evm/src/pages/IsolatedPools/PoolTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/legal-cities-heal.md
Due: none

feat: reduce VAI notice margin on mobile
  apps/evm/src/pages/Vai/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: updated XsControls styles
  apps/evm/src/containers/Layout/Header/TopBar/XsControls/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: reduce spacings between tooltip elements
  apps/evm/src/components/charts/TooltipContent/index.tsx
  apps/evm/src/components/charts/TooltipContent/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: detect if the ScrollToTop component overlaps the Footer
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/containers/Layout/ScrollToTop/index.tsx
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/containers/Layout/store.ts
  packages/ui/src/components/Button/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: ask to connect wallet in the VAI tabs
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: new styling for the AssetWarning markets modal
  apps/evm/src/components/Table/TableCards.tsx
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/styles.ts
  apps/evm/src/components/Table/types.ts
  apps/evm/src/pages/Market/Page/AssetWarning/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: adjust ScrollToTop position
  apps/evm/src/containers/Layout/ScrollToTop/index.tsx
  apps/evm/src/containers/Layout/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: changed border color to offWhite/10
  apps/evm/src/components/CellGroup/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add header variants to MarketInfo
  apps/evm/src/containers/Layout/Header/MarketInfo/Header/Sm/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/Header/Xs/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/Header/index.ts
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display 4 dates in the charts on mobile
  apps/evm/src/components/charts/ApyChart/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/fresh-beds-beg.md
Due: none

feat: added scrolling indicators to CellGroup
  apps/evm/src/components/CellGroup/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
