Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: handle failed remote proposals (#3842)
  .changeset/itchy-mails-grow.md
  apps/evm/src/__mocks__/models/remoteProposals.ts
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposal/useGetCachedProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/queries/governanceBsc/fragments/bscProposal.graphql
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/getRemoteProposalState/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/getRemoteProposalState/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for the SOL token (#3843)
  .changeset/early-schools-change.md
  apps/evm/src/libs/tokens/img/underlyingTokens/sol.svg
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/early-schools-change.md
  .changeset/itchy-mails-grow.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/curvy-roses-lick.md
Due: none

chore: add @radix-ui/react-tooltip
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

chore: add changeset
  .changeset/mighty-islands-hope.md
Due: none

chore: add changeset
  .changeset/fluffy-onions-work.md
Due: none

feat: update Merkl reward expiral logic
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/isDistributingRewards/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/fluffy-onions-work.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add Yearn tokens on Ethereum
  apps/evm/src/libs/tokens/img/underlyingTokens/yvusdc.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/yvusds.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/yvusdt.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/yvweth.svg
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/mighty-islands-hope.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: remove log command from a test
  .changeset/yellow-spies-stare.md
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: remove log command from a test (#3868)
  .changeset/yellow-spies-stare.md
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/yellow-spies-stare.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add tailwind-animate plugin
  apps/evm/package.json
  apps/evm/tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove extra tooltip props
  apps/evm/src/components/ProgressBar/index.tsx
  apps/evm/src/components/Tooltip/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rework tooltip component
  apps/evm/src/components/ApprovalSteps/index.tsx
  apps/evm/src/components/InfoIcon/index.stories.tsx
  apps/evm/src/components/InfoIcon/index.tsx
  apps/evm/src/components/LabeledInlineContent/index.tsx
  apps/evm/src/components/ProgressBar/index.tsx
  apps/evm/src/components/SpendingLimit/index.tsx
  apps/evm/src/components/Toggle/index.tsx
  apps/evm/src/components/Toggle/styles.ts
  apps/evm/src/components/Tooltip/TooltipContent/index.tsx
  apps/evm/src/components/Tooltip/index.tsx
  apps/evm/src/components/Tooltip/styles.ts
  apps/evm/src/components/Username/index.tsx
  apps/evm/src/containers/CopyAddressButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/GaslessStatus/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/DistributionGroup/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/PrimeApy/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/PrimeStatusBanner/NoPrimeTokensLeftWarning/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/PoolTagContent/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/Summary/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/Summary/styles.ts
  apps/evm/src/pages/Market/Page/MarketHistory/Card/CapThreshold/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/AssetInfo/index.tsx
  apps/evm/src/pages/PrimeCalculator/Form/RewardDetails/TokenAmountAndApy/index.tsx
  apps/evm/src/pages/Proposal/VoteSummary/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add buttonClassName to Modal
  apps/evm/src/components/Modal/index.tsx
  apps/evm/src/components/Modal/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump viem and wagmi
  apps/evm/package.json
  packages/chains/package.json
  yarn.lock
Due: prettier --write --check

chore: add changeset
  .changeset/real-mice-leave.md
Due: none

chore: update CD workflow to deploy app using Pinata
  .github/workflows/cd.yaml
  apps/evm/vite.config.mts
Due: none

chore: bump viem and wagmi (#3876)
  .changeset/real-mice-leave.md
  apps/evm/package.json
  packages/chains/package.json
  yarn.lock
Due: prettier --write --check

feat: add Carousel component
  apps/evm/package.json
  apps/evm/src/components/Carousel/CarouselItem/index.tsx
  apps/evm/src/components/Carousel/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Banner/PrimePromotionalBanner/testIds.ts
  apps/evm/src/pages/Dashboard/Banner/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/Dashboard/Banner/index.tsx
  apps/evm/src/pages/Dashboard/Banner/store.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/curvy-roses-lick.md
  .changeset/real-mice-leave.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add Carousel component
  .changeset/little-tigers-impress.md
  apps/evm/package.json
  apps/evm/src/components/Carousel/CarouselItem/index.tsx
  apps/evm/src/components/Carousel/__mocks__/index.tsx
  apps/evm/src/components/Carousel/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Banner/PrimePromotionalBanner/testIds.ts
  apps/evm/src/pages/Dashboard/Banner/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/Dashboard/Banner/index.tsx
  apps/evm/src/pages/Dashboard/Banner/store.ts
  apps/evm/src/setupTests.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Carousel component (#3877)
  .changeset/little-tigers-impress.md
  apps/evm/package.json
  apps/evm/src/components/Carousel/CarouselItem/index.tsx
  apps/evm/src/components/Carousel/__mocks__/index.tsx
  apps/evm/src/components/Carousel/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/Banner/PrimePromotionalBanner/testIds.ts
  apps/evm/src/pages/Dashboard/Banner/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/Dashboard/Banner/index.tsx
  apps/evm/src/pages/Dashboard/Banner/store.ts
  apps/evm/src/setupTests.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/little-tigers-impress.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/slow-panthers-occur.md
Due: none

feat: add Unichain Sepolia
  apps/evm/src/config/rpcUrls.ts
  apps/evm/src/config/subgraphUrls.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/unichainSepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/unichainSepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/bscTestnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/vTokens/index.ts
  apps/evm/src/libs/tokens/infos/vTokens/unichainSepolia.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/chainMetadata.ts
  packages/chains/src/img/chains/unichain.svg
  packages/chains/src/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump packages
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

chore: bump package versions
  .changeset/dry-melons-nail.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: update CD workflow to deploy app using Pinata (#3869)
  .github/workflows/cd.yaml
  apps/evm/vite.config.mts
Due: none

chore: update env variables of CD workflow
  .changeset/empty-planes-mix.md
  .github/workflows/cd.yaml
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Unichain banner to landing page
  .changeset/hot-apples-happen.md
  apps/evm/package.json
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
  apps/landing/package.json
  apps/landing/src/assets/styles/variables.css
  apps/landing/src/components/Banner/Banner.module.css
  apps/landing/src/components/Banner/Banner.tsx
  apps/landing/src/components/Banner/assets/arrow.svg
  apps/landing/src/components/Banner/assets/circles.svg
  apps/landing/src/components/Banner/assets/close.svg
  apps/landing/src/components/Banner/assets/squares.svg
  apps/landing/src/components/Banner/assets/unichainLogo.svg
  apps/landing/src/components/Footer/Footer.tsx
  apps/landing/src/components/Header/Header.tsx
  apps/landing/src/components/Header/MenuMobile.tsx
  apps/landing/src/components/Link/Link.tsx
  apps/landing/src/components/MainContent/Intro.tsx
  apps/landing/src/constants/production.ts
  packages/chains/src/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: replace heavy SVG token icons with PNGs
  .changeset/mean-dogs-appear.md
  apps/evm/src/libs/tokens/img/underlyingTokens/crv.png
  apps/evm/src/libs/tokens/img/underlyingTokens/crv.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/crvUsd.png
  apps/evm/src/libs/tokens/img/underlyingTokens/crvUsd.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/ptWeeth.png
  apps/evm/src/libs/tokens/img/underlyingTokens/ptWeeth.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/pufEth.png
  apps/evm/src/libs/tokens/img/underlyingTokens/pufEth.svg
  apps/evm/src/libs/tokens/img/vTokens/vCrvCurve.png
  apps/evm/src/libs/tokens/img/vTokens/vCrvCurve.svg
  apps/evm/src/libs/tokens/img/vTokens/vCrvUsdCore.png
  apps/evm/src/libs/tokens/img/vTokens/vCrvUsdCore.svg
  apps/evm/src/libs/tokens/img/vTokens/vCrvUsdCurve.png
  apps/evm/src/libs/tokens/img/vTokens/vCrvUsdCurve.svg
  apps/evm/src/libs/tokens/img/vTokens/vPufEthLsEth.png
  apps/evm/src/libs/tokens/img/vTokens/vPufEthLsEth.svg
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
  apps/evm/src/libs/tokens/infos/vTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/vTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
