Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.53.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  9f/60dcb78f98cb5725df971154b0d6359ff92ccb
Due: none

feat: add Sepolia tokens
  src/packages/tokens/img/crv.svg
  src/packages/tokens/img/wbtc.svg
  src/packages/tokens/img/weth.svg
  src/packages/tokens/infos/commonTokens/ethereum.ts
  src/packages/tokens/infos/commonTokens/index.ts
  src/packages/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add token records for the Sepolia network (#1896)
  src/packages/tokens/img/crv.svg
  src/packages/tokens/img/wbtc.svg
  src/packages/tokens/img/weth.svg
  src/packages/tokens/infos/commonTokens/ethereum.ts
  src/packages/tokens/infos/commonTokens/index.ts
  src/packages/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.54.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  c4/f259c2344fdb7066277544c6a489845ed9c31f
Due: none

feat: make vaiVaultContract contract optional in getPendingRewards and useGetVaiVaultUserInfo
  src/clients/api/queries/getBalanceOf/useGetBalanceOf.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/api/queries/getPendingRewards/types.ts
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  src/clients/api/queries/getVaiVaultUserInfo/useGetVaiVaultUserInfo.ts
  src/clients/api/queries/getVenusVaiVaultDailyRate/useGetVenusVaiVaultDailyRate.ts
  src/clients/api/queries/useGetVaults/__tests__/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetVaults/__tests__/index.spec.tsx
  src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  src/clients/api/queries/useGetVaults/useGetVestingVaults/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getTokenUsdPrice
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getTokenUsdPrice/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getTokenUsdPrice/index.spec.ts
  src/clients/api/queries/getTokenUsdPrice/index.ts
  src/clients/api/queries/getTokenUsdPrice/useGetTokenUsdPrice.ts
  src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: disable if vai and vaiControllerContract are undefined
  src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add sepolia core pool comptroller
  src/packages/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: pass current chain ID in uniqueContractGettersTemplate
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/__tests__/__snapshots__/index.spec.ts.snap
  src/packages/contracts/scripts/generateContractRecords/generateContracts/generateGetters/templates/uniqueContractGettersTemplate.hbs
Due: none

chore(release): 2.55.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  fc/c060647f2bb35b7333bc4c4c162ebe88c06fd0
Due: none

fix: fix Account page
  src/clients/api/queries/getTokenUsdPrice/useGetTokenUsdPrice.ts
  src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  src/packages/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: hide XVS page on Sepolia
  src/App/Router/index.tsx
  src/containers/Layout/useGetMenuItems.tsx
  src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Core Pool on all networks
  src/App/Router/index.tsx
  src/constants/chainMetadata.ts
  src/containers/Layout/useGetMenuItems.tsx
  src/hooks/useGetCorePool/__tests__/index.spec.tsx
  src/hooks/useGetCorePool/index.tsx
  src/hooks/useIsFeatureEnabled/index.tsx
  src/pages/Pool/CorePool/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: get treasury address based on chainId
  src/clients/api/queries/useGetTreasuryTotals/index.ts
  src/packages/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: rewrite Card component of Marget page with Tailwind + fix title
  src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  src/pages/Market/Card/index.tsx
  src/pages/Market/Card/styles.ts
  src/pages/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.55.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  92/6df0222dbbd27794066b3e1dc25e76d1aae2b8
Due: none

fix: address of GovernorBravoDelegate contract
  src/packages/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update claimRewards mutation function to support Sepolia
  src/clients/api/mutations/claimRewards/__snapshots__/index.spec.ts.snap
  src/clients/api/mutations/claimRewards/index.spec.ts
  src/clients/api/mutations/claimRewards/index.ts
  src/clients/api/mutations/claimRewards/types.ts
  src/clients/api/mutations/claimRewards/useClaimRewards.ts
  src/clients/api/queries/getMarketHistory/index.ts
  src/pages/Market/CorePoolMarket/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: explicit type for contractAddress
  src/containers/ReadableActionSignature/getContractName.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: replace venusLens with poolLens
  src/clients/api/queries/getVTokenBalancesAll/__tests__/index.spec.ts
  src/clients/api/queries/getVTokenBalancesAll/index.ts
  src/clients/api/queries/getVTokenBalancesAll/useGetVTokenBalancesAll.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add chainId to query invalidations
  src/clients/api/mutations/approveToken/useApproveToken.ts
  src/clients/api/mutations/borrow/useBorrow.ts
  src/clients/api/mutations/claimPrimeToken/useClaimPrimeToken.ts
  src/clients/api/mutations/claimRewards/useClaimRewards.ts
  src/clients/api/mutations/executeWithdrawalFromXvsVault/useExecuteWithdrawalFromXvsVault.ts
  src/clients/api/mutations/redeem/useRedeem.ts
  src/clients/api/mutations/redeemUnderlying/useRedeemUnderlying.ts
  src/clients/api/mutations/repay/useRepay.ts
  src/clients/api/mutations/repayVai/useRepayVai.ts
  src/clients/api/mutations/requestWithdrawalFromXvsVault/useRequestWithdrawalFromXvsVault.ts
  src/clients/api/mutations/revokeSpendingLimit/useRevokeSpendingLimit.ts
  src/clients/api/mutations/stakeInVaiVault/useStakeInVaiVault.ts
  src/clients/api/mutations/stakeInXvsVault/useStakeInXvsVault.ts
  src/clients/api/mutations/supply/useSupply.ts
  src/clients/api/mutations/swapTokens/useSwapTokens.ts
  src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  src/clients/api/mutations/withdrawFromVaiVault/useWithdrawFromVaiVault.ts
  src/clients/api/mutations/withdrawXvs/useWithdrawXvs.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: core pool market link
  src/containers/MarketTable/useGenerateColumns.tsx
  src/pages/IsolatedPools/PoolTable/index.spec.tsx
  src/pages/IsolatedPools/PoolTable/index.tsx
  src/pages/Pool/Table/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: hide participant counts on Sepolia
  src/hooks/useIsFeatureEnabled/index.tsx
  src/pages/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: hide market history on Sepolia + rewrite Market page with Tailwind
  src/hooks/useIsFeatureEnabled/index.tsx
  src/pages/IsolatedPools/PoolTable/index.spec.tsx
  src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  src/pages/Market/CorePoolMarket/__tests__/indexMarketHistory.spec.tsx
  src/pages/Market/CorePoolMarket/__tests__/indexMarketParticipantCounts.spec.tsx
  src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  src/pages/Market/IsolatedPoolMarket/__tests__/indexMarketHistory.spec.tsx
  src/pages/Market/IsolatedPoolMarket/__tests__/indexMarketParticipantCounts.spec.tsx
  src/pages/Market/MarketCard/index.tsx
  src/pages/Market/MarketHistory/index.tsx
  src/pages/Market/MarketHistory/useGetChartData.ts
  src/pages/Market/MarketInfo/index.tsx
  src/pages/Market/index.tsx
  src/pages/Market/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: unify warning messages about isolated pools
  src/components/AssetWarning/AssetTable/index.tsx
  src/components/AssetWarning/AssetTable/styles.ts
  src/components/AssetWarning/AssetTable/testIds.ts
  src/components/AssetWarning/__snapshots__/index.spec.tsx.snap
  src/components/AssetWarning/index.spec.tsx
  src/components/AssetWarning/index.stories.tsx
  src/components/AssetWarning/index.tsx
  src/components/AssetWarning/styles.ts
  src/components/AssetWarning/types.ts
  src/components/IsolatedAssetWarning/__snapshots__/index.spec.tsx.snap
  src/components/index.ts
  src/hooks/useOperationModal/Modal/BorrowForm/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/testIds.ts
  src/hooks/useOperationModal/Modal/styles.ts
  src/packages/translations/translations/en.json
  src/pages/Pool/index.tsx
  src/pages/Pool/styles.ts
  src/pages/Xvs/index.tsx
  src/pages/Xvs/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.56.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  b6/4dcf208250adf31e0f85fc87863d4cba122038
Due: none

feat: update icons of crvUSD and wBTC
  src/packages/tokens/img/crv.svg
  src/packages/tokens/img/crvUsd.svg
  src/packages/tokens/img/wbtc.svg
  src/packages/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: estimate Prime APYs with averages from Prime users
  src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getLegacyPool/appendPrimeSimulationDistributions.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.56.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  72/d313a31e0e5b45baff034f7b054602645bc144
Due: none

chore(release): 2.56.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  05/8d14c853f58112d49ea371c34139fb4accd066
Due: none

feat: use Prime users staked XVS averages
  src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getLegacyPool/appendPrimeSimulationDistributions.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update primeSimulationBoost copy
  src/packages/translations/translations/en.json
Due: prettier --write --check

feat: estimate Prime APYs with averages from Prime users (#1903)
  src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getLegacyPool/appendPrimeSimulationDistributions.ts
  src/packages/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
