Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: update markets/core-pool to new enpoint
  src/clients/api/queries/getMainMarkets/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainMarkets/__tests__/index.spec.ts
  src/clients/api/queries/getMainMarkets/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fixup! feat: update markets/core-pool to new enpoint
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.19.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  1d9821ac1144e37e4bceae65947dd069370fb906
Due: none

refactor: remove multicall3 usage from VAI query functions (#1407)
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVaiCalculateRepayAmount/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVaiCalculateRepayAmount/__tests__/index.spec.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/formatToOutput.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/index.spec.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/index.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/types.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/useGetVaiCalculateRepayAmount.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVaiRepayAmountWithInterests/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVaiRepayAmountWithInterests/__tests__/index.spec.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/formatToOutput.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/index.spec.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/index.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/types.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/useGetVaiRepayAmountWithInterests.ts
  src/pages/Vai/RepayVai/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Vai/RepayVai/__tests__/index.spec.tsx
  src/pages/Vai/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: fetch pending rewards from isolated pools
  src/clients/api/queries/getPendingRewards/formatOutput/formatToIsolatedPoolPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToMainPoolPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/index.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/utilities/extractSettledPromiseValue.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: start refactoring getPendingRewards
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/api/queries/getPendingRewards/types.ts
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  src/components/Layout/ClaimRewardButton/useGetGroups.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: fetch pending rewards from main pool
  src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToMainPoolPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/index.ts
  src/clients/api/queries/getPendingRewards/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: fetch pending rewards from vaults
  src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToIsolatedPoolPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToMainPoolPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/index.ts
  src/clients/api/queries/getPendingRewards/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: add tests
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getPendingRewards/__testUtils__/fakeData.ts
  src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/index.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/api/queries/getPendingRewards/types.ts
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  src/components/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  src/components/Layout/ClaimRewardButton/useGetGroups.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use extractSettledPromiseValue in getMainPool
  src/clients/api/queries/getMainPool/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.19.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  1bf1a547f5cf21d635301fbb368defde005f51eb
Due: none

chore(release): 2.19.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  624193179b6b343f0b8e1bcfe6d078f05b54f54d
Due: none

chore: update @react/types to version 18
  package.json
  src/clients/web3/Web3Wrapper/__mocks__/index.tsx
  src/clients/web3/Web3Wrapper/index.tsx
  src/components/Accordion/index.tsx
  src/components/ConnectWallet/index.tsx
  src/components/Layout/Sidebar/Link/index.tsx
  src/components/Layout/index.tsx
  src/components/Modal/index.tsx
  src/components/ProgressBar/index.tsx
  src/components/SuccessfulTransactionModal/index.tsx
  src/context/Analytics/index.tsx
  src/context/AuthContext/index.tsx
  src/context/DisableLunaUstWarning/index.tsx
  src/context/ErrorLogger/index.tsx
  src/context/SuccessfulTransactionModalContext.tsx
  src/pages/Market/Card/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: update @react/types to version 18 (#1420)
  package.json
  src/clients/web3/Web3Wrapper/__mocks__/index.tsx
  src/clients/web3/Web3Wrapper/index.tsx
  src/components/Accordion/index.tsx
  src/components/ConnectWallet/index.tsx
  src/components/Layout/Sidebar/Link/index.tsx
  src/components/Layout/index.tsx
  src/components/Modal/index.tsx
  src/components/ProgressBar/index.tsx
  src/components/SuccessfulTransactionModal/index.tsx
  src/context/Analytics/index.tsx
  src/context/AuthContext/index.tsx
  src/context/DisableLunaUstWarning/index.tsx
  src/context/ErrorLogger/index.tsx
  src/context/SuccessfulTransactionModalContext.tsx
  src/pages/Market/Card/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.19.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  2c37ce4d060f5474a5dac00e1f7b1674f8630773
Due: none

chore: update vitest and @vitest/coverage-v8 to 0.34.4
  package.json
  src/components/AccountData/__snapshots__/index.spec.tsx.snap
  yarn.lock
Due: prettier --write --check

refactor: remove usage of multicall3 from getPendingRewards (#1414)
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getPendingRewards/__testUtils__/fakeData.ts
  src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToIsolatedPoolPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToMainPoolPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/index.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/api/queries/getPendingRewards/types.ts
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  src/components/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  src/components/Layout/ClaimRewardButton/useGetGroups.ts
  src/utilities/extractSettledPromiseValue.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: mock tokens package
  src/setupTests.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add mocks and index file to tokens package
  src/clients/api/mutations/claimRewards/index.spec.ts
  src/packages/tokens/__mocks__/index.ts
  src/packages/tokens/index.ts
  src/packages/tokens/tokenInfos/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add token mocks + use them in models
  src/__mocks__/models/asset.ts
  src/__mocks__/models/swaps.ts
  src/__mocks__/models/tokenBalances.ts
  src/__mocks__/models/tokenCombinations.ts
  src/__mocks__/models/tokens.ts
  src/__mocks__/models/transactions.ts
  src/__mocks__/models/vTokens.ts
  src/__mocks__/models/vaults.ts
  src/clients/api/queries/getTransactions/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/indexIntegratedSwap.spec.tsx
  src/setupTests.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: add VenusTokenSymbol type + start using tokens package
  src/__mocks__/models/tokens.ts
  src/clients/api/mutations/executeWithdrawalFromXvsVault/useExecuteWithdrawalFromXvsVault.ts
  src/clients/api/mutations/repayVai/useRepayVai.ts
  src/clients/api/mutations/requestWithdrawalFromXvsVault/useRequestWithdrawalFromXvsVault.ts
  src/clients/api/mutations/stakeInVaiVault/useStakeInVaiVault.ts
  src/clients/api/mutations/useStakeInVault/index.ts
  src/clients/api/mutations/withdrawFromVaiVault/useWithdrawFromVaiVault.ts
  src/clients/api/queries/getMainPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainPool/__tests__/index.spec.ts
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
  src/packages/tokens/tokenInfos/common/bscMainnet.ts
  src/packages/tokens/tokenInfos/common/bscTestnet.ts
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.19.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  5c7484ce2c5643fa969c2d58ce7faf9d1092c934
Due: none

refactor: continue tokens package migration (2)
  package.json
  src/__mocks__/models/tokens.ts
  src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  src/clients/api/queries/getTransactions/useGetTransactions.ts
  src/components/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  src/constants/disabledTokens.ts
  src/containers/AssetAccessor/DisabledActionNotice/index.tsx
  src/containers/AssetAccessor/index.spec.tsx
  src/containers/AssetAccessor/index.tsx
  src/hooks/useIsTokenActionEnabled.ts
  src/packages/tokens/.gitignore
  src/packages/tokens/__mocks__/index.ts
  src/packages/tokens/getPancakeSwapTokens/__tests__/index.spec.ts
  src/packages/tokens/getPancakeSwapTokens/index.ts
  src/packages/tokens/getTokens/__tests__/index.spec.ts
  src/packages/tokens/getTokens/index.ts
  src/packages/tokens/getVenusTokens/__tests__/index.spec.ts
  src/packages/tokens/getVenusTokens/index.ts
  src/packages/tokens/index.ts
  src/packages/tokens/isTokenActionEnabled/index.tsx
  src/packages/tokens/scripts/generatePancakeSwapTokenRecords.mjs
  src/packages/tokens/tokenInfos/commonTokens/bscMainnet.ts
  src/packages/tokens/tokenInfos/commonTokens/bscTestnet.ts
  src/packages/tokens/tokenInfos/commonTokens/index.ts
  src/packages/tokens/tokenInfos/disabledTokenActions/bscMainnet.ts
  src/packages/tokens/tokenInfos/disabledTokenActions/bscTestnet.ts
  src/packages/tokens/tokenInfos/disabledTokenActions/index.ts
  src/packages/tokens/tokenInfos/index.ts
  src/packages/tokens/tokenInfos/pancakeSwap/bscTestnet.ts
  src/packages/tokens/tokenInfos/pancakeSwapTokens/bscTestnet.ts
  src/packages/tokens/tokenInfos/pancakeSwapTokens/index.tsx
  src/packages/tokens/types.ts
  src/pages/Market/index.stories.tsx
  src/pages/Market/index.tsx
  src/setupTests.tsx
  src/utilities/index.ts
  src/utilities/isTokenActionEnabled.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.19.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  48c6c1d3a80375a3e3adeb121babba2eb08a863b
Due: none

fix: remove move logic to scroll to top of page into Router
  src/App/Router/index.tsx
  src/App/index.tsx
  src/components/ResetScrollOnRouteChange/index.tsx
  src/components/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: move logic to scroll to top of page into Router (#1429)
  src/App/Router/index.tsx
  src/App/index.tsx
  src/components/ResetScrollOnRouteChange/index.tsx
  src/components/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: update vitest and @vitest/coverage-v8 to 0.34.4 (#1422)
  package.json
  src/components/AccountData/__snapshots__/index.spec.tsx.snap
  yarn.lock
Due: prettier --write --check

chore(release): 2.19.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  6d7e9d8c7f87032518e31ae69b637c287489cc0c
Due: none

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
