Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: add changeset
  .changeset/silent-llamas-fetch.md
Due: none

feat: activate wrapUnwrapNativeToken on BSC_MAINNET
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/seven-rocks-admire.md
Due: none

feat: remove chainSelect feature flag
  .changeset/brown-pumas-draw.md
  apps/evm/src/containers/Layout/Header/index.tsx
  apps/evm/src/containers/Layout/Menu/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: hide the "all Prime tokens claimed" warning if the Prime token limit is 0 (#2423)
  .changeset/silent-llamas-fetch.md
  apps/evm/src/containers/PrimeStatusBanner/__tests__/index.spec.tsx
  apps/evm/src/containers/PrimeStatusBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove chainSelect feature flag (#2426)
  .changeset/brown-pumas-draw.md
  apps/evm/src/containers/Layout/Header/index.tsx
  apps/evm/src/containers/Layout/Menu/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: activate wrapUnwrapNativeToken on BSC_MAINNET (#2425)
  .changeset/seven-rocks-admire.md
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove collateral modal
  .changeset/witty-scissors-kiss.md
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/hooks/useCollateral/CollateralConfirmModal/index.tsx
  apps/evm/src/hooks/useCollateral/CollateralConfirmModal/styles.ts
  apps/evm/src/hooks/useCollateral/__mocks__/index.tsx
  apps/evm/src/hooks/useCollateral/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: label on Repay form when using integrated swap
  .changeset/cuddly-bugs-fly.md
  apps/evm/src/hooks/useDelegateApproval/index.ts
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add tooltip on distributions from reward distributors
  .changeset/fuzzy-jokes-tan.md
  apps/evm/src/containers/AccountData/useAssetInfo.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove collateral modal (#2434)
  .changeset/witty-scissors-kiss.md
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/hooks/useCollateral/CollateralConfirmModal/index.tsx
  apps/evm/src/hooks/useCollateral/CollateralConfirmModal/styles.ts
  apps/evm/src/hooks/useCollateral/__mocks__/index.tsx
  apps/evm/src/hooks/useCollateral/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add search by proposal state
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getProposalPreviews/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposalPreviews/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalPreviews/index.ts
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/getProposalPreviews.graphql
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/index.ts
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
  apps/evm/src/pages/Governance/__tests__/indexSearch.spec.tsx
  apps/evm/src/pages/Governance/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: always fetch proposal previews from Governance chain
  .changeset/rare-news-think.md
  apps/evm/src/clients/api/queries/getBlockNumber/useGetBlockNumber.ts
  apps/evm/src/clients/api/queries/getProposalPreviews/useGetProposalPreviews.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: filter deprecated markets in BSC testnet
  .changeset/seven-ladybugs-jam.md
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/constants/address.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: always fetch proposal previews using Governance chain provider (#2438)
  .changeset/rare-news-think.md
  apps/evm/src/clients/api/queries/getBlockNumber/useGetBlockNumber.ts
  apps/evm/src/clients/api/queries/getProposalPreviews/useGetProposalPreviews.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add tooltip on distributions from reward distributors (#2436)
  .changeset/fuzzy-jokes-tan.md
  apps/evm/src/containers/AccountData/useAssetInfo.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up search
  .changeset/young-kings-exist.md
  apps/evm/src/clients/api/queries/getProposalPreviews/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposalPreviews/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalPreviews/index.ts
  apps/evm/src/clients/subgraph/fragments/governance/proposalPreview.graphql
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/getProposalPreviews.graphql
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/index.ts
  apps/evm/src/components/Pagination/usePagination.ts
  apps/evm/src/config/codegen.ts
  apps/evm/src/hooks/useUrlPagination/__tests__/index.spec.tsx
  apps/evm/src/hooks/useUrlPagination/index.ts
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/indexSearch.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove LUNA and UST specific logics
  .changeset/sweet-bottles-obey.md
  apps/evm/src/App/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/hooks/useCollateral/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/lunaUstWarning/LunaUstWarningModal/Modal/__tests__/index.spec.tsx
  apps/evm/src/libs/lunaUstWarning/LunaUstWarningModal/Modal/index.tsx
  apps/evm/src/libs/lunaUstWarning/LunaUstWarningModal/__tests__/index.spec.tsx
  apps/evm/src/libs/lunaUstWarning/LunaUstWarningModal/index.tsx
  apps/evm/src/libs/lunaUstWarning/index.ts
  apps/evm/src/libs/lunaUstWarning/useLunaUstWarning/__tests__/index.spec.tsx
  apps/evm/src/libs/lunaUstWarning/useLunaUstWarning/index.tsx
  apps/evm/src/libs/lunaUstWarning/useLunaUstWarning/store.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/ConvertVrt/Withdraw/index.tsx
  apps/evm/src/pages/Vault/VaultItem/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove LUNA and UST specific logics (#2446)
  .changeset/sweet-bottles-obey.md
  apps/evm/src/App/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/hooks/useCollateral/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/lunaUstWarning/LunaUstWarningModal/Modal/__tests__/index.spec.tsx
  apps/evm/src/libs/lunaUstWarning/LunaUstWarningModal/Modal/index.tsx
  apps/evm/src/libs/lunaUstWarning/LunaUstWarningModal/__tests__/index.spec.tsx
  apps/evm/src/libs/lunaUstWarning/LunaUstWarningModal/index.tsx
  apps/evm/src/libs/lunaUstWarning/index.ts
  apps/evm/src/libs/lunaUstWarning/useLunaUstWarning/__tests__/index.spec.tsx
  apps/evm/src/libs/lunaUstWarning/useLunaUstWarning/index.tsx
  apps/evm/src/libs/lunaUstWarning/useLunaUstWarning/store.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/ConvertVrt/Withdraw/index.tsx
  apps/evm/src/pages/Vault/VaultItem/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: update snapshots
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/indexPrime.spec.ts.snap
Due: none

feat: force Vite to use relative imports in generated build
  apps/evm/vite.config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update distribution reward tooltip
  .changeset/nice-fans-drop.md
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

feat: update distribution reward tooltip (#2445)
  .changeset/nice-fans-drop.md
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

fix: label on Repay form when using integrated swap
  .changeset/cuddly-bugs-fly.md
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: label on Repay form when using integrated swap (#2435)
  .changeset/cuddly-bugs-fly.md
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove .htaccess
  .changeset/giant-starfishes-lay.md
  .htaccess
Due: none

feat: enable search on mainnet networks
  apps/evm/src/__mocks__/models/proposalPreviews.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/index.ts
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/useGetProposalMinQuorumVotes.ts
  apps/evm/src/clients/api/queries/getProposalPreviews/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposalPreviews/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalPreviews/index.ts
  apps/evm/src/clients/api/queries/getProposalPreviews/useGetProposalPreviews.ts
  apps/evm/src/clients/subgraph/fragments/governance/proposalPreview.graphql
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/getProposalPreviews.graphql
  apps/evm/src/clients/subgraph/utilities/formatToProposalPreview/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposalPreview/getProposalState/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposalPreview/getProposalState/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposalPreview/index.ts
  apps/evm/src/config/codegen.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/indexSearch.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: merge components in Account page
  apps/evm/src/pages/Account/AccountBreakdown/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: fetch VAI and XVS price from contracts on Account page
  apps/evm/src/clients/api/queries/getTokenUsdPrice/useGetTokenUsdPrice.ts
  apps/evm/src/hooks/useConvertDollarsToCents/index.ts
  apps/evm/src/pages/Account/AccountBreakdown/index.spec.tsx
  apps/evm/src/pages/Account/AccountBreakdown/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/yellow-hairs-perform.md
Due: none

fix: XVS and VAI price fetching on Account page (#2466)
  .changeset/yellow-hairs-perform.md
  apps/evm/src/clients/api/queries/getTokenUsdPrice/useGetTokenUsdPrice.ts
  apps/evm/src/hooks/useConvertDollarsToCents/index.ts
  apps/evm/src/pages/Account/AccountBreakdown/index.spec.tsx
  apps/evm/src/pages/Account/AccountBreakdown/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove .htaccess file (#2459)
  .changeset/giant-starfishes-lay.md
  .htaccess
Due: none

refactor: log error when vTokenBalancesAll call fails
  .changeset/pink-fireants-try.md
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: log errors when calls to retrieve user balances fail (#2465)
  .changeset/pink-fireants-try.md
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up search on Governance page (#2433)
  .changeset/young-kings-exist.md
  apps/evm/src/__mocks__/models/proposalPreviews.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/index.ts
  apps/evm/src/clients/api/queries/getProposalMinQuorumVotes/useGetProposalMinQuorumVotes.ts
  apps/evm/src/clients/api/queries/getProposalPreviews/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposalPreviews/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getProposalPreviews/index.ts
  apps/evm/src/clients/api/queries/getProposalPreviews/useGetProposalPreviews.ts
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/getProposalPreviews.graphql
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposalPreview/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposalPreview/getProposalState/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposalPreview/getProposalState/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposalPreview/index.ts
  apps/evm/src/components/Pagination/usePagination.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useUrlPagination/__tests__/index.spec.tsx
  apps/evm/src/hooks/useUrlPagination/index.ts
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
  apps/evm/src/pages/Governance/__tests__/indexSearch.spec.tsx
  apps/evm/src/pages/Governance/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Lido icon
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/lido.tsx
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: separate Lido pool on Ethereum and Sepolia
  .changeset/khaki-parents-shop.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/clients/api/queries/useGetIsolatedPoolsTreasuryTotals/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Layout/Breadcrumbs/index.tsx
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/IsolatedPools/PoolTable/index.tsx
  apps/evm/src/pages/Market/LidoPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/LidoPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/LidoPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/LidoPoolMarket/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/LidoPoolMarket/__tests__/indexMarketHistory.spec.tsx
  apps/evm/src/pages/Market/LidoPoolMarket/__tests__/indexMarketParticipantCounts.spec.tsx
  apps/evm/src/pages/Market/LidoPoolMarket/index.tsx
  apps/evm/src/pages/Pool/CorePool/__tests__/index.spec.tsx
  apps/evm/src/pages/Pool/LidoPool/__tests__/index.spec.tsx
  apps/evm/src/pages/Pool/LidoPool/index.tsx
  apps/evm/src/pages/Pool/Table/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable features on Ethereum
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
