Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

refactor: use static RPC provider (#3329)
  .changeset/heavy-balloons-tie.md
  apps/evm/src/libs/wallet/hooks/useProvider/getProvider.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for the pufETH token on Ethereum and Sepolia (#3330)
  .changeset/silver-horses-tie.md
  apps/evm/src/libs/tokens/img/pufEth.svg
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/heavy-balloons-tie.md
  .changeset/silver-horses-tie.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: remove unused dependencies
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

chore: remove unused dependencies (#3336)
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

feat: add subgraph queries to fetch source and remote proposals
  .changeset/plenty-mugs-divide.md
  .vscode/settings.json
  apps/evm/package.json
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/__mocks__/models/remoteProposals.ts
  apps/evm/src/__mocks__/subgraph/bscProposals.json
  apps/evm/src/__mocks__/subgraph/nonBscProposals.json
  apps/evm/src/clients/subgraph/__mocks__/index.ts
  apps/evm/src/clients/subgraph/index.ts
  apps/evm/src/clients/subgraph/queries/governanceBsc/fragments/bscProposal.graphql
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposal/getBscProposal.graphql
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposals/getBscProposals.graphql
  apps/evm/src/clients/subgraph/queries/governanceNonBsc/fragments/nonBscProposal.graphql
  apps/evm/src/clients/subgraph/queries/governanceNonBsc/getNonBscProposals/getNonBscProposals.graphql
  apps/evm/src/clients/subgraph/queries/governanceNonBsc/getNonBscProposals/index.ts
  apps/evm/src/clients/subgraph/utilities/enrichRemoteProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/enrichRemoteProposals/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/enrichRemoteProposals/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/getRemoteProposalState/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/getRemoteProposalState/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  apps/evm/src/config/codegen.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: list proposals on Proposal page
  .changeset/rare-camels-switch.md
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/__mocks__/subgraph/bscProposals.json
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/index.spec.ts
  apps/evm/src/containers/ConnectWallet/Container/index.tsx
  apps/evm/src/containers/ConnectWallet/__tests__/index.spec.tsx
  apps/evm/src/containers/ConnectWallet/index.stories.tsx
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/containers/ConnectWallet/styles.ts
  apps/evm/src/hooks/useFormatTo/__tests__/index.spec.tsx
  apps/evm/src/hooks/useGetChainMetadata/__tests__/index.spec.tsx
  apps/evm/src/hooks/useGetVTreasuryContractAddress/__tests__/index.spec.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/ActionsAccordion/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/Cta/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/StepInfo/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/useCommand.tsx
  apps/evm/src/pages/Proposal/Commands/Description/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Status/index.tsx
  apps/evm/src/pages/Proposal/Commands/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Proposal/Commands/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalCancelableByUser/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalExecutable/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Proposal/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: decouple nested components
  .changeset/chatty-mails-happen.md
  apps/evm/src/components/AccountHealth/index.stories.tsx
  apps/evm/src/components/AccountHealth/index.tsx
  apps/evm/src/components/ActiveVotingProgress/index.tsx
  apps/evm/src/components/ApprovalSteps/index.tsx
  apps/evm/src/components/ApprovalSteps/styles.ts
  apps/evm/src/components/ApproveDelegateSteps/index.spec.tsx
  apps/evm/src/components/ApproveDelegateSteps/index.tsx
  apps/evm/src/components/ApproveTokenSteps/index.spec.tsx
  apps/evm/src/components/ApproveTokenSteps/index.tsx
  apps/evm/src/components/LabeledProgressBar/index.stories.tsx
  apps/evm/src/components/LabeledProgressBar/index.tsx
  apps/evm/src/components/LabeledProgressBar/styles.tsx
  apps/evm/src/components/ProgressBar/PercentageRepresentation/index.stories.tsx
  apps/evm/src/components/ProgressBar/PercentageRepresentation/index.tsx
  apps/evm/src/components/ProgressBar/PercentageRepresentation/styles.ts
  apps/evm/src/components/SuccessfulTransactionModal/index.stories.tsx
  apps/evm/src/components/SuccessfulTransactionModal/index.tsx
  apps/evm/src/components/SuccessfulTransactionModal/styles.ts
  apps/evm/src/components/index.ts
  apps/evm/src/hooks/__mocks__/useSuccessfulTransactionModal.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: decouple nested components (#3353)
  .changeset/chatty-mails-happen.md
  apps/evm/src/components/AccountHealth/index.stories.tsx
  apps/evm/src/components/AccountHealth/index.tsx
  apps/evm/src/components/ActiveVotingProgress/index.tsx
  apps/evm/src/components/ApprovalSteps/index.tsx
  apps/evm/src/components/ApprovalSteps/styles.ts
  apps/evm/src/components/ApproveDelegateSteps/index.spec.tsx
  apps/evm/src/components/ApproveDelegateSteps/index.tsx
  apps/evm/src/components/ApproveTokenSteps/index.spec.tsx
  apps/evm/src/components/ApproveTokenSteps/index.tsx
  apps/evm/src/components/LabeledProgressBar/index.stories.tsx
  apps/evm/src/components/LabeledProgressBar/index.tsx
  apps/evm/src/components/LabeledProgressBar/styles.tsx
  apps/evm/src/components/ProgressBar/PercentageRepresentation/index.stories.tsx
  apps/evm/src/components/ProgressBar/PercentageRepresentation/index.tsx
  apps/evm/src/components/ProgressBar/PercentageRepresentation/styles.ts
  apps/evm/src/components/SuccessfulTransactionModal/index.stories.tsx
  apps/evm/src/components/SuccessfulTransactionModal/index.tsx
  apps/evm/src/components/SuccessfulTransactionModal/styles.ts
  apps/evm/src/components/index.ts
  apps/evm/src/hooks/__mocks__/useSuccessfulTransactionModal.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/chatty-mails-happen.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support for solvBTC token on BSC mainnet and testnet
  .changeset/few-dogs-reflect.md
  apps/evm/src/libs/tokens/img/solvBtc.png
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for solvBTC token on BSC mainnet and testnet (#3355)
  .changeset/few-dogs-reflect.md
  apps/evm/src/libs/tokens/img/solvBtc.png
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/few-dogs-reflect.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: display executed payloads counts on proposal list
  .changeset/thin-hairs-vanish.md
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getProposal/useGetCachedProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/components/LabeledProgressCircle/index.tsx
  apps/evm/src/components/ProgressCircle/index.tsx
  apps/evm/src/components/ProposalCard/styles.ts
  apps/evm/src/components/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/Indicator/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/styles.ts
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/index.governanceSearch.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
  apps/evm/src/pages/Governance/testIds.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/Progress/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalCancelableByUser/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display executed payloads counts on proposal list (#3354)
  .changeset/thin-hairs-vanish.md
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getProposal/useGetCachedProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/components/LabeledProgressCircle/index.tsx
  apps/evm/src/components/ProgressCircle/index.tsx
  apps/evm/src/components/ProposalCard/styles.ts
  apps/evm/src/components/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/Indicator/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/styles.ts
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/index.governanceSearch.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
  apps/evm/src/pages/Governance/testIds.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/Progress/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalCancelableByUser/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up execute button of remote proposals
  .changeset/honest-items-lick.md
  apps/evm/package.json
  apps/evm/src/clients/api/mutations/executeProposal/index.spec.ts
  apps/evm/src/clients/api/mutations/executeProposal/index.ts
  apps/evm/src/clients/api/mutations/executeProposal/useExecuteProposal.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up execute button of remote proposals (#3362)
  .changeset/honest-items-lick.md
  apps/evm/package.json
  apps/evm/src/clients/api/mutations/executeProposal/index.spec.ts
  apps/evm/src/clients/api/mutations/executeProposal/index.ts
  apps/evm/src/clients/api/mutations/executeProposal/useExecuteProposal.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for Optimism + partial support for Optimism Sepolia
  apps/evm/.env.template
  apps/evm/package.json
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/img/op.svg
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismSepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/optimismSepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/optimismSepolia.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/libs/wallet/img/chains/optimism.svg
  apps/evm/src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: max button on repay form
  .changeset/tame-timers-leave.md
  apps/evm/src/pages/Market/Market/OperationForm/RepayForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for Optmimism Sepolia and Optimism Mainnet
  .changeset/clean-bats-own.md
  apps/evm/package.json
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismSepolia.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for Optimism networks (#3263)
  .changeset/clean-bats-own.md
  apps/evm/.env.template
  apps/evm/package.json
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/img/op.svg
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismSepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/optimismSepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/optimismSepolia.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/libs/wallet/img/chains/optimism.svg
  apps/evm/src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: max button on repay form (#3381)
  .changeset/tame-timers-leave.md
  apps/evm/src/pages/Market/Market/OperationForm/RepayForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/clean-bats-own.md
  .changeset/tame-timers-leave.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: format of USD values on landing page
  apps/landing/src/api/utils.ts
  apps/landing/src/components/Market/Market.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: request gasless claim rewards
  apps/evm/src/clients/api/mutations/claimRewards/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add ZyFi env vars
  apps/evm/.env.template
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: request gasless update pool delegate status
  apps/evm/src/clients/api/mutations/updatePoolDelegateStatus/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: request gasless revoke spending limit
  apps/evm/src/clients/api/mutations/revokeSpendingLimit/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/sour-clocks-wait.md
Due: none

test: update contract mocks with signer
  apps/evm/src/__mocks__/models/signer.ts
  apps/evm/src/clients/api/mutations/approveToken/index.spec.ts
  apps/evm/src/clients/api/mutations/borrow/index.spec.ts
  apps/evm/src/clients/api/mutations/bridgeXvs/index.spec.ts
  apps/evm/src/clients/api/mutations/claimPrimeToken/index.spec.ts
  apps/evm/src/clients/api/mutations/claimRewards/index.spec.ts
  apps/evm/src/clients/api/mutations/claimRewards/types.ts
  apps/evm/src/clients/api/mutations/enterMarket/index.spec.ts
  apps/evm/src/clients/api/mutations/executeWithdrawalFromXvsVault/index.spec.ts
  apps/evm/src/clients/api/mutations/exitMarket/index.spec.ts
  apps/evm/src/clients/api/mutations/repay/index.spec.ts
  apps/evm/src/clients/api/mutations/requestWithdrawalFromXvsVault/index.spec.ts
  apps/evm/src/clients/api/mutations/revokeSpendingLimit/index.spec.ts
  apps/evm/src/clients/api/mutations/stakeInXvsVault/index.spec.ts
  apps/evm/src/clients/api/mutations/supply/index.spec.ts
  apps/evm/src/clients/api/mutations/updatePoolDelegateStatus/index.spec.ts
  apps/evm/src/clients/api/mutations/withdraw/index.spec.ts
  apps/evm/src/clients/api/mutations/withdrawXvs/index.spec.ts
  apps/evm/src/utilities/requestGaslessTransaction/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: integrate with ZyFi gasless txs
  apps/evm/src/clients/api/mutations/approveToken/index.ts
  apps/evm/src/clients/api/mutations/enterMarket/index.ts
  apps/evm/src/clients/api/mutations/exitMarket/index.ts
  apps/evm/src/utilities/requestGaslessTransaction/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: accept native token values through overriding
  apps/evm/src/clients/api/mutations/approveToken/index.ts
  apps/evm/src/clients/api/mutations/borrow/index.ts
  apps/evm/src/clients/api/mutations/bridgeXvs/index.ts
  apps/evm/src/clients/api/mutations/claimPrimeToken/index.ts
  apps/evm/src/clients/api/mutations/enterMarket/index.ts
  apps/evm/src/clients/api/mutations/executeWithdrawalFromXvsVault/index.tsx
  apps/evm/src/clients/api/mutations/exitMarket/index.ts
  apps/evm/src/clients/api/mutations/repay/index.ts
  apps/evm/src/clients/api/mutations/requestWithdrawalFromXvsVault/index.tsx
  apps/evm/src/clients/api/mutations/revokeSpendingLimit/index.ts
  apps/evm/src/clients/api/mutations/stakeInXvsVault/index.ts
  apps/evm/src/clients/api/mutations/supply/index.ts
  apps/evm/src/clients/api/mutations/updatePoolDelegateStatus/index.ts
  apps/evm/src/clients/api/mutations/withdraw/index.ts
  apps/evm/src/clients/api/mutations/withdrawXvs/index.ts
  apps/evm/src/utilities/requestGaslessTransaction/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
