Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: display collateral status of E-mode markets (#4879)
  .changeset/curvy-bugs-cough.md
  apps/evm/src/components/MarketStatus/Cell/index.tsx
  apps/evm/src/components/MarketStatus/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/EModeInfo/AssetSettings/index.tsx
  apps/evm/src/pages/Market/EModeInfo/index.tsx
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/curvy-bugs-cough.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

ci: add CD script to automatically publish chains package
  .github/workflows/cd.chains.yaml
  .github/workflows/cd.evm.yaml
  .gitignore
  .nvmrc
  .yarn/install-state.gz
  apps/evm/codegen.config.ts
  apps/evm/package.json
  apps/evm/src/config/rpcUrls.ts
  apps/evm/src/config/subgraphUrls.ts
  apps/landing/package.json
  packages/chains/package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: disable account performance chart and address verification queries
  .changeset/lemon-garlics-take.md
  apps/evm/src/libs/wallet/hooks/useAccountAddress/index.tsx
  apps/evm/src/pages/Account/PerformanceChart/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: improve error handling
  .changeset/free-dingos-lick.md
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/index.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/index.ts
  apps/evm/src/clients/api/queries/getMarketHistory/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklUserRewards/index.ts
  apps/evm/src/clients/api/queries/getVoteSummary/index.ts
  apps/evm/src/clients/api/queries/getVoterAccounts/index.ts
  apps/evm/src/clients/api/queries/getVoterDetails/index.ts
  apps/evm/src/clients/api/queries/getVoterHistory/index.ts
  apps/evm/src/clients/api/queries/getVoters/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/hooks/useCollateral/index.tsx
  apps/evm/src/libs/errors/VError.ts
  apps/evm/src/libs/errors/logError.ts
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: improve error handling (#4904)
  .changeset/free-dingos-lick.md
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/index.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/index.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/index.ts
  apps/evm/src/clients/api/queries/getMarketHistory/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklUserRewards/index.ts
  apps/evm/src/clients/api/queries/getVoteSummary/index.ts
  apps/evm/src/clients/api/queries/getVoterAccounts/index.ts
  apps/evm/src/clients/api/queries/getVoterDetails/index.ts
  apps/evm/src/clients/api/queries/getVoterHistory/index.ts
  apps/evm/src/clients/api/queries/getVoters/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/hooks/useCollateral/index.tsx
  apps/evm/src/libs/errors/VError.ts
  apps/evm/src/libs/errors/logError.ts
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/free-dingos-lick.md
  .changeset/some-doodles-judge.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/many-mice-float.md
Due: none

fix: restore PT-USDe-30OCT2025
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
  packages/chains/src/tokens/underlyingTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/many-mice-float.md
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: wip
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/useGetLatestProposalIdByProposer.ts
  apps/evm/src/clients/api/queries/getProposal/useGetProposal.ts
  apps/evm/src/clients/api/queries/getProposalState/useGetProposalState.ts
  apps/evm/src/clients/api/queries/getProposals/useGetProposals.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  packages/chains/package.json
  packages/chains/src/chains/chainMetadata/index.ts
  packages/chains/src/chains/viemChainMapping/index.ts
  packages/chains/src/index.ts
  packages/chains/src/scripts/generateVTokens/index.ts
  packages/chains/src/scripts/generateVTokens/writeVTokens/index.ts
  packages/chains/src/scripts/generateVTokens/writeVTokens/template.hbs
  packages/chains/src/scripts/generateVTokens/writeVTokens/vBep20Abi.ts
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
  packages/chains/src/tokens/underlyingTokens/bscTestnet.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/cruel-windows-flow.md
Due: none

fix: correct WBNB burn converter destination address
  apps/evm/src/clients/api/queries/getBurnedWBnb/index.ts
  apps/evm/src/constants/address.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: type import
  apps/evm/src/setupTests.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cruel-windows-flow.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: liquidation penalty not showing on Market page of BSC Core Pool markets
  .changeset/solid-stars-marry.md
  apps/evm/src/clients/api/queries/getBlockNumber/useGetBlockNumber.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/useGetPancakeSwapPairs.ts
  apps/evm/src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  apps/evm/src/clients/api/queries/getVenusVaiVaultDailyRate/useGetVenusVaiVaultDailyRate.ts
  apps/evm/src/clients/api/queries/getXvsVaultsTotalDailyDistributedXvs/useGetXvsVaultsTotalDailyDistributedXvs.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/hooks/useChain/__tests__/index.spec.tsx
  apps/evm/src/hooks/useChain/index.tsx
  apps/evm/src/hooks/useGetHomePagePath/index.tsx
  apps/evm/src/pages/Account/Settings/index.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Bridge/useBridgeForm.ts
  apps/evm/src/pages/IsolatedPools/index.tsx
  apps/evm/src/pages/Market/MarketHistory/Card/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: liquidation penalty not showing on Market page (#4923)
  .changeset/solid-stars-marry.md
  apps/evm/src/clients/api/queries/getBlockNumber/useGetBlockNumber.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/useGetPancakeSwapPairs.ts
  apps/evm/src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  apps/evm/src/clients/api/queries/getVenusVaiVaultDailyRate/useGetVenusVaiVaultDailyRate.ts
  apps/evm/src/clients/api/queries/getXvsVaultsTotalDailyDistributedXvs/useGetXvsVaultsTotalDailyDistributedXvs.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/hooks/useChain/__tests__/index.spec.tsx
  apps/evm/src/hooks/useChain/index.tsx
  apps/evm/src/hooks/useGetHomePagePath/index.tsx
  apps/evm/src/pages/Account/Settings/index.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Bridge/useBridgeForm.ts
  apps/evm/src/pages/IsolatedPools/index.tsx
  apps/evm/src/pages/Market/MarketHistory/Card/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/solid-stars-marry.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: get liquidation penalty from API
  .changeset/rich-cases-sink.md
  apps/evm/src/__mocks__/api/pools.json
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getPoolLiquidationPenalty/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPoolLiquidationPenalty/index.ts
  apps/evm/src/clients/api/queries/getPoolLiquidationPenalty/useGetPoolLiquidationPenalty.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/MarketHistory/Card/index.tsx
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: get liquidation penalty from API (#4935)
  .changeset/rich-cases-sink.md
  apps/evm/src/__mocks__/api/pools.json
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getPoolLiquidationPenalty/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPoolLiquidationPenalty/index.ts
  apps/evm/src/clients/api/queries/getPoolLiquidationPenalty/useGetPoolLiquidationPenalty.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/MarketHistory/Card/index.tsx
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/rich-cases-sink.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/major-views-nail.md
Due: none

feat: support off-chain APYs
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/formatRewardDistribution/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/components/Apy/BoostTooltip/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/AssetInfo/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Slider component
  .changeset/warm-houses-give.md
  apps/evm/package.json
  apps/evm/src/components/Slider/index.stories.tsx
  apps/evm/src/components/Slider/index.tsx
  apps/evm/src/components/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rework to GenericDistribution
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/formatRewardDistribution/index.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Slider component (#4942)
  .changeset/warm-houses-give.md
  apps/evm/package.json
  apps/evm/src/components/Slider/index.stories.tsx
  apps/evm/src/components/Slider/index.tsx
  apps/evm/src/components/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/major-views-nail.md
  .changeset/warm-houses-give.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/twenty-pots-sleep.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: add Boost tab to Market page
  .changeset/wild-berries-say.md
  apps/evm/src/components/ButtonGroup/index.tsx
  apps/evm/src/components/Tabs/index.tsx
  apps/evm/src/components/Tabs/styles.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useTabs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/Tabs/index.tsx
  apps/evm/src/pages/Account/index.tsx
  apps/evm/src/pages/Market/OperationForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/rocket.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add SwapDetails component
  .changeset/wild-ends-cover.md
  apps/evm/src/clients/api/mutations/useSwapTokens/index.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/index.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/index.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/useGetPancakeSwapPairs.ts
  apps/evm/src/components/Icon/icons/gear.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/SelectTokenTextField/TokenList/index.tsx
  apps/evm/src/components/TextField/index.stories.tsx
  apps/evm/src/components/TextField/index.tsx
  apps/evm/src/components/TextField/styles.ts
  apps/evm/src/components/TokenTextField/index.tsx
  apps/evm/src/constants/swap.ts
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/SwapDetails/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/SwapDetails/__tests__/index.spec.tsx
  apps/evm/src/containers/SwapDetails/index.tsx
  apps/evm/src/hooks/useGetSwapInfo/formatToSwap.ts
  apps/evm/src/hooks/useUserChainSettings/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useUserChainSettings/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Market/OperationForm/OperationDetails/SwapDetails/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/index.tsx
  apps/evm/src/pages/Swap/SwapDetails/index.tsx
  apps/evm/src/store/index.ts
  apps/evm/src/utilities/getDecimals/__tests__/index.spec.ts
  apps/evm/src/utilities/getDecimals/index.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: make token balances optional in SelectTokenTextField component
  .changeset/thin-sides-slide.md
  apps/evm/src/components/SelectTokenTextField/TokenList/index.tsx
  apps/evm/src/components/SelectTokenTextField/index.tsx
  apps/evm/src/components/SelectTokenTextField/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Boost tab to Market page (#4948)
  .changeset/wild-berries-say.md
  apps/evm/src/components/ButtonGroup/index.tsx
  apps/evm/src/components/Tabs/index.tsx
  apps/evm/src/components/Tabs/styles.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useTabs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/Tabs/index.tsx
  apps/evm/src/pages/Account/index.tsx
  apps/evm/src/pages/Market/OperationForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/rocket.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wild-berries-say.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check
