Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

refactor: prevent sending errors from old releases
  .changeset/orange-poems-beam.md
  apps/evm/package.json
  apps/evm/src/App/index.tsx
  apps/evm/src/libs/errors/ErrorBoundary/index.tsx
  apps/evm/src/libs/errors/logError.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: reduce Dashboard layout shifts
  .changeset/weak-rocks-attend.md
  apps/evm/src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  apps/evm/src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  apps/evm/src/pages/Dashboard/Banner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: prevent sending errors from old releases to Sentry (#3605)
  .changeset/orange-poems-beam.md
  apps/evm/package.json
  apps/evm/src/App/index.tsx
  apps/evm/src/libs/errors/ErrorBoundary/index.tsx
  apps/evm/src/libs/errors/logError.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/orange-poems-beam.md
  .changeset/thirty-spies-wink.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add icons and tooltip for web3 domain names
  apps/evm/src/components/DomainNameOrEllipseAddress/index.tsx
  apps/evm/src/components/Icon/icons/ensLogo.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/spaceIdLogo.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add @yornaath/batshit
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

chore: add changeset
  .changeset/lucky-kids-sniff.md
Due: none

feat: add support for omnichain proposals
  .changeset/brown-birds-arrive.md
  .changeset/good-terms-fail.md
  .changeset/honest-items-lick.md
  .changeset/hungry-vans-exist.md
  .changeset/perfect-spoons-sin.md
  .changeset/rare-camels-switch.md
  .changeset/thin-hairs-vanish.md
  .changeset/unlucky-planets-swim.md
Due: none

feat: fetch web3 domain names for addresses
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getAddressDomainName/index.ts
  apps/evm/src/clients/api/queries/getAddressDomainName/useGetAddressDomainName.ts
  apps/evm/src/components/DomainNameOrEllipseAddress/index.tsx
  apps/evm/src/components/EllipseAddress/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/containers/Layout/ConnectButton/PrimeButton/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/pages/Proposal/VoteSummary/index.tsx
  apps/evm/src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: use API to fetch domain names
  apps/evm/src/clients/api/queries/getAddressDomainName/index.ts
  apps/evm/src/clients/api/queries/getAddressDomainName/useGetAddressDomainName.ts
  apps/evm/src/components/DomainNameOrEllipseAddress/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: fix limit when fetching markets from landing page
  .changeset/gorgeous-parrots-greet.md
  apps/landing/src/api/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: limit when fetching markets from landing page (#3612)
  .changeset/gorgeous-parrots-greet.md
  apps/landing/src/api/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/gorgeous-parrots-greet.md
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

chore: remove unused code
  apps/evm/package.json
  apps/evm/src/__mocks__/models/markets.ts
  apps/evm/src/__mocks__/models/pools.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getApiMarkets/index.ts
  apps/evm/src/clients/api/queries/getApiMarkets/useGetApiMarkets.ts
  apps/evm/src/clients/api/queries/getApiPools/formatToPool.ts
  apps/evm/src/clients/api/queries/getApiPools/index.ts
  apps/evm/src/clients/api/queries/getApiPools/useGetApiPools.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/indexPrime.spec.ts.snap
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/indexPrime.spec.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/isDistributingRewards.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/getRewardsDistributorSettingsMapping.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/getTokenPriceDollarsMapping.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/types.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  apps/evm/src/clients/api/queries/getLegacyPool/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/indexPrime.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/indexPrime.spec.ts
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/formatDistributions.ts
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/types.ts
  apps/evm/src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  apps/evm/src/clients/api/queries/useGetLegacyPoolMarkets/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetLegacyPoolMarkets/index.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/IsolatedPools/PoolTable/index.spec.tsx
  apps/evm/src/utilities/formatToMarket/index.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: use API to fetch domain names
  .changeset/brown-birds-arrive.md
  .changeset/good-terms-fail.md
  .changeset/honest-items-lick.md
  .changeset/hungry-vans-exist.md
  .changeset/perfect-spoons-sin.md
  .changeset/rare-camels-switch.md
  .changeset/thin-hairs-vanish.md
  .changeset/unlucky-planets-swim.md
  apps/evm/src/clients/api/queries/getAddressDomainName/index.ts
  apps/evm/src/clients/api/queries/getAddressDomainName/useGetAddressDomainName.ts
  apps/evm/src/components/DomainNameOrEllipseAddress/index.tsx
  apps/evm/src/components/Username/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/containers/Layout/ConnectButton/PrimeButton/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/VoteSummary/index.tsx
  apps/evm/src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Base/Base Sepolia networks
  apps/evm/package.json
  apps/evm/src/config/rpcUrls.ts
  apps/evm/src/config/subgraphUrls.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/img/cbbtc.svg
  apps/evm/src/libs/tokens/infos/commonTokens/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/wallet/chains.ts
  packages/chains/src/chainMetadata.ts
  packages/chains/src/img/chains/base.svg
  packages/chains/src/types.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/shy-ducks-destroy.md
Due: none

feat: add indicator on proposals with remote commands awaiting execution
  .changeset/fifty-readers-type.md
  apps/evm/src/hooks/useIsProposalExecutable/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/utilities/index.ts
  apps/evm/src/utilities/isProposalExecutable/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: better Username styles
  apps/evm/src/components/Username/UsernameSpan.tsx
  apps/evm/src/components/Username/index.tsx
  apps/evm/src/containers/CopyAddressButton/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/PrimeButton/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/VoteSummary/index.tsx
  apps/evm/src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: send sets of addresses and chain ids to endpoint
  apps/evm/src/clients/api/queries/getAddressDomainName/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: reduce Dashboard layout shifts (#3611)
  .changeset/weak-rocks-attend.md
  apps/evm/src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  apps/evm/src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  apps/evm/src/pages/Dashboard/Banner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add indicator on proposals with remote commands awaiting execution (#3626)
  .changeset/fifty-readers-type.md
  apps/evm/src/hooks/useIsProposalExecutable/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/utilities/index.ts
  apps/evm/src/utilities/isProposalExecutable/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/fifty-readers-type.md
  .changeset/weak-rocks-attend.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

Revert "feat: reduce Dashboard layout shifts (#3611)"
  .changeset/weak-rocks-attend.md
  apps/evm/src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  apps/evm/src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  apps/evm/src/pages/Dashboard/Banner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/fifty-readers-type.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: reduce layout shift
  .changeset/green-penguins-drum.md
  apps/evm/src/pages/Dashboard/Banner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: reduce layout shifts on Dashboard page (#3633)
  .changeset/green-penguins-drum.md
  apps/evm/src/pages/Dashboard/Banner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/green-penguins-drum.md
  .changeset/thick-dolls-cover.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: fix how isolated pools are detected
  .changeset/red-buckets-look.md
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: fix how isolated pools are detected (#3634)
  .changeset/red-buckets-look.md
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/red-buckets-look.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

Revert "fix: fix how isolated pools are detected (#3634)"
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
