Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: bump package versions
  .changeset/fruity-signs-throw.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: useSupply to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/supply/index.spec.ts
  apps/evm/src/clients/api/mutations/supply/index.ts
  apps/evm/src/clients/api/mutations/supply/useSupply.ts
  apps/evm/src/clients/api/mutations/useClaimPrimeToken/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useMintVai/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useRepayVai/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSupply/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSupply/index.ts
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useSwapTokensAndRepay to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/index.spec.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/index.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  apps/evm/src/clients/api/mutations/useSupply/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/index.ts
  apps/evm/src/hooks/useGetSwapInfo/formatToSwap.ts
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useRepay to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/repay/index.spec.ts
  apps/evm/src/clients/api/mutations/repay/index.ts
  apps/evm/src/clients/api/mutations/repay/useRepay.ts
  apps/evm/src/clients/api/mutations/useRepay/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useRepay/index.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/index.ts
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/__snapshots__/indexWrapUnwrapNative.spec.tsx.snap
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/two-rockets-decide.md
Due: none

feat: use Alchemy testnet governance subgraphs for Base and Optimism
  apps/evm/codegen.config.ts
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/public-masks-see.md
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for weETH and wstETH on Unichain
  .changeset/chatty-files-give.md
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useSwapTokens to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/swapTokens/index.spec.ts
  apps/evm/src/clients/api/mutations/swapTokens/index.ts
  apps/evm/src/clients/api/mutations/swapTokens/useSwapTokens.ts
  apps/evm/src/clients/api/mutations/useSwapTokens/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSwapTokens/index.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/index.ts
  apps/evm/src/pages/Swap/__tests__/index.spec.tsx
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/utilities/__mocks__/generateTransactionDeadline.ts
  apps/evm/src/utilities/generateTransactionDeadline.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useWithdraw to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/useBorrow/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useWithdraw/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useWithdraw/index.ts
  apps/evm/src/clients/api/mutations/withdraw/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/mutations/withdraw/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/withdraw/index.ts
  apps/evm/src/clients/api/mutations/withdraw/useWithdraw.ts
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/__tests__/__snapshots__/indexWrapUnwrapNative.spec.tsx.snap
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Vault/TransactionForm/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/three-dolls-sniff.md
Due: none

feat: update Twitter to X
  .changeset/deep-mammals-live.md
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/twitter.tsx
  apps/evm/src/components/Icon/icons/x.tsx
  apps/evm/src/containers/Layout/Footer/constants.ts
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/landing/src/components/Footer/SocialLinks.tsx
  apps/landing/src/components/Footer/assets/twitter.svg
  apps/landing/src/components/Footer/assets/x.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update Twitter to X (#4289)
  .changeset/deep-mammals-live.md
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/twitter.tsx
  apps/evm/src/components/Icon/icons/x.tsx
  apps/evm/src/containers/Layout/Footer/constants.ts
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/landing/src/components/Footer/SocialLinks.tsx
  apps/landing/src/components/Footer/assets/twitter.svg
  apps/landing/src/components/Footer/assets/x.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for weETH and wstETH on Unichain (#4287)
  .changeset/chatty-files-give.md
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/chatty-files-give.md
  .changeset/deep-mammals-live.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

refactor: some mutation functions to use viem (#4280)
  .changeset/public-masks-see.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/repay/index.spec.ts
  apps/evm/src/clients/api/mutations/repay/index.ts
  apps/evm/src/clients/api/mutations/repay/useRepay.ts
  apps/evm/src/clients/api/mutations/supply/index.spec.ts
  apps/evm/src/clients/api/mutations/supply/index.ts
  apps/evm/src/clients/api/mutations/supply/useSupply.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/index.spec.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/index.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  apps/evm/src/clients/api/mutations/useClaimPrimeToken/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useMintVai/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useRepay/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useRepay/index.ts
  apps/evm/src/clients/api/mutations/useRepayVai/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSupply/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useSupply/index.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/index.ts
  apps/evm/src/hooks/useGetSwapInfo/formatToSwap.ts
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/__snapshots__/indexWrapUnwrapNative.spec.tsx.snap
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/public-masks-see.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support for USDe on Unichain
  .changeset/huge-bottles-fail.md
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wip
  apps/evm/package.json
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/MigrateButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for USDe on Unichain (#4295)
  .changeset/huge-bottles-fail.md
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/huge-bottles-fail.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/three-dolls-sniff.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: use Alchemy testnet governance subgraphs
  apps/evm/codegen.config.ts
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/two-rockets-decide.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: useSendTransaction to only allow using viem
  apps/evm/package.json
  apps/evm/src/__mocks__/models/contractReceipt.ts
  apps/evm/src/__mocks__/models/contractTxData.ts
  apps/evm/src/__mocks__/models/provider.ts
  apps/evm/src/__mocks__/models/signer.ts
  apps/evm/src/__mocks__/models/transactionData.ts
  apps/evm/src/__mocks__/models/transactionReceipt.ts
  apps/evm/src/clients/api/queries/getBalanceOf/__tests__/index.spec.ts
  apps/evm/src/hooks/useCollateral/index.tsx
  apps/evm/src/hooks/useSendTransaction/__tests__/index.gaslessTransactions.spec.tsx
  apps/evm/src/hooks/useSendTransaction/__tests__/index.spec.tsx
  apps/evm/src/hooks/useSendTransaction/index.ts
  apps/evm/src/hooks/useSendTransaction/sendTransaction/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useSendTransaction/sendTransaction/__tests__/index.spec.tsx
  apps/evm/src/hooks/useSendTransaction/sendTransaction/index.ts
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/__tests__/index.spec.tsx
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/index.tsx
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/__tests__/index.spec.tsx
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/XsequenceMulticall.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/errors/transactionErrors.ts
  apps/evm/src/libs/wallet/__mocks__/index.ts
  apps/evm/src/libs/wallet/hooks/useProvider/__mocks__/index.ts
  apps/evm/src/libs/wallet/hooks/useProvider/getProvider.ts
  apps/evm/src/libs/wallet/hooks/useProvider/index.ts
  apps/evm/src/libs/wallet/hooks/useProvider/rotationProvider.ts
  apps/evm/src/libs/wallet/hooks/useSigner/__mocks__/index.ts
  apps/evm/src/libs/wallet/hooks/useSigner/getSigner.ts
  apps/evm/src/libs/wallet/hooks/useSigner/index.ts
  apps/evm/src/libs/wallet/index.ts
  apps/evm/src/testUtils/render.tsx
  apps/evm/src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove last instances of Ethers.js
  apps/evm/package.json
  apps/evm/src/__mocks__/models/contractTransaction.ts
  apps/evm/src/clients/api/mutations/useBorrow/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useCancelProposal/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useClaimPrimeToken/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useCreateProposal/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useExecuteWithdrawalFromXvsVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useMintVai/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useQueueProposal/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useRepay/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useRepayVai/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useRequestWithdrawalFromXvsVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSetVoteDelegate/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useStakeInVaiVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useStakeInXvsVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSupply/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useSwapTokens/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useVote/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useWithdraw/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useWithdrawFromVaiVault/__tests__/index.spec.ts
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/__tests__/index.spec.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/errors/__mocks__/transactionErrors.ts
  apps/evm/src/libs/wallet/index.ts
  apps/evm/src/libs/wallet/types.ts
  apps/evm/src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: upgrade React to v19
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

chore: upgrade react-router to v7
  apps/evm/package.json
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/App/index.tsx
  apps/evm/src/components/Pagination/usePagination.ts
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/XsControls/NavLink/index.tsx
  apps/evm/src/containers/Layout/Sidebar/NavLink/index.tsx
  apps/evm/src/containers/Link/index.tsx
  apps/evm/src/hooks/useFormatTo/index.ts
  apps/evm/src/hooks/useNavigate/__tests__/index.spec.tsx
  apps/evm/src/hooks/useNavigate/index.ts
  apps/evm/src/hooks/useUrlPagination/__tests__/index.spec.tsx
  apps/evm/src/hooks/useUrlPagination/index.ts
  apps/evm/src/libs/wallet/Web3Wrapper/ConnectKitWrapper/AuthHandler/index.tsx
  apps/evm/src/libs/wallet/hooks/useChainId/index.tsx
  apps/evm/src/libs/wallet/hooks/useUpdateUrlChainId/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalWizard/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Market/CorePoolMarket/index.tsx
  apps/evm/src/pages/Market/IsolatedPoolMarket/index.tsx
  apps/evm/src/pages/Pool/IsolatedPool/index.tsx
  apps/evm/src/pages/PrimeCalculator/Form/index.tsx
  apps/evm/src/pages/PrimeCalculator/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Voter/index.tsx
  apps/evm/src/stories/decorators.tsx
  apps/evm/src/testUtils/render.tsx
  apps/landing/package.json
  apps/landing/src/components/App.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove ethers.js
  .changeset/wild-dots-grab.md
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/useGetXvsBridgeStatus.ts
  apps/evm/src/libs/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wild-dots-grab.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: find lowercased addresses
  .changeset/five-monkeys-behave.md
  apps/evm/src/libs/contracts/utilities/getContractAddress/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/five-monkeys-behave.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: better types for getContractAddress
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAddressList/index.ts
  apps/evm/src/libs/contracts/utilities/getContractAddress/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/big-spies-prove.md
Due: none

test: update snapshot
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAddressList/__tests__/__snapshots__/index.spec.ts.snap
Due: none

refactor: generate strict types
  apps/evm/src/containers/ReadableActionSignature/getContractName.ts
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAddressList/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAddressList/index.ts
  apps/evm/src/libs/contracts/utilities/getContractAddress/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
