Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: support reward table & rank table
  apps/evm/src/components/Pagination/index.tsx
  apps/evm/src/components/Pagination/usePagination.ts
  apps/evm/src/hooks/useUrlPagination/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/PrimeLeaderboard/RankTable/RankBadge/firstPlace.svg
  apps/evm/src/pages/PrimeLeaderboard/RankTable/RankBadge/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/RankTable/RankBadge/secondPlace.svg
  apps/evm/src/pages/PrimeLeaderboard/RankTable/RankBadge/thirdPlace.svg
  apps/evm/src/pages/PrimeLeaderboard/RankTable/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/RankTable/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/RewardTable/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/RewardTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support last cycle modal button
  apps/evm/src/pages/PrimeLeaderboard/EndOfCycle/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support market modal in prime leaderboard
  apps/evm/src/pages/PrimeLeaderboard/MarketActions/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/MarketActions/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add prime total rewards card
  apps/evm/src/components/Icon/icons/dotShortcut.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/sparkle.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/PrimeLeaderboard/MarketRewardRow/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/MarketRewardRow/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/TotalRewardsCard/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/TotalRewardsCard/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/TotalRewardsSection/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/TotalRewardsSection/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsSection/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsSection/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeTotalRewards/index.ts
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeUserRewards/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support last cycle prime summary modal
  apps/evm/src/pages/PrimeLeaderboard/LastCycleSummaryModal/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/LastCycleSummaryModal/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/PrimeRewardBadge/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/TotalRewardsCard/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: solve comments
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/PrimeLeaderboard/LastCycleSummaryModal/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/LastCycleSummaryModal/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support last cycle modal open
  apps/evm/src/pages/PrimeLeaderboard/EndOfCycle/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/EndOfCycle/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: extract shared prime rank label helper
  apps/evm/src/containers/PrimeRank/Footer/index.tsx
  apps/evm/src/containers/PrimeRank/getRankLabels/index.ts
  apps/evm/src/pages/PrimeLeaderboard/RankCard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: correct bar chart icon geometry
  apps/evm/src/components/Icon/icons/barChart.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support abi & api
  .claude/prime-leaderboard-api-mapping.local.md
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getPrimeCurrentCycle/index.ts
  apps/evm/src/clients/api/queries/getPrimeCurrentCycle/useGetPrimeCurrentCycle.ts
  apps/evm/src/clients/api/queries/getPrimeCycles/index.ts
  apps/evm/src/clients/api/queries/getPrimeCycles/useGetPrimeCycles.ts
  apps/evm/src/clients/api/queries/getPrimeEffectiveStake/index.ts
  apps/evm/src/clients/api/queries/getPrimeEffectiveStake/useGetPrimeEffectiveStake.ts
  apps/evm/src/clients/api/queries/getPrimeLeaderboard/index.ts
  apps/evm/src/clients/api/queries/getPrimeLeaderboard/useGetPrimeLeaderboard.ts
  apps/evm/src/clients/api/queries/getPrimeMinimumStake/index.ts
  apps/evm/src/clients/api/queries/getPrimeMinimumStake/useGetPrimeMinimumStake.ts
  apps/evm/src/clients/api/queries/getPrimeMultiplierTiers/index.ts
  apps/evm/src/clients/api/queries/getPrimeMultiplierTiers/useGetPrimeMultiplierTiers.ts
  apps/evm/src/clients/api/queries/getPrimeOnChainPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getPrimeOnChainPendingRewards/useGetPrimeOnChainPendingRewards.ts
  apps/evm/src/clients/api/queries/getPrimePastCycle/index.ts
  apps/evm/src/clients/api/queries/getPrimePastCycle/useGetPrimePastCycle.ts
  apps/evm/src/clients/api/queries/getPrimeUserCycleRewards/index.ts
  apps/evm/src/clients/api/queries/getPrimeUserCycleRewards/useGetPrimeUserCycleRewards.ts
  apps/evm/src/clients/api/queries/getPrimeUserPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getPrimeUserPendingRewards/useGetPrimeUserPendingRewards.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/libs/contracts/config/externalAbis/PrimeLeaderboard.json
  apps/evm/src/libs/contracts/config/externalAbis/PrimeV2.json
  apps/evm/src/libs/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: top footer margin
  .changeset/large-beans-smell.md
  apps/evm/src/containers/Layout/Footer/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: display swap quote missing error
  .changeset/common-rabbits-rule.md
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/useFormValidation.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/brave-mails-relate.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: prevent Trade page from fetching unnecessary swap quote
  .changeset/olive-eagles-go.md
  apps/evm/src/clients/api/queries/getTradeReduceSwapQuotes/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: top footer margin (#5646)
  .changeset/large-beans-smell.md
  apps/evm/src/containers/Layout/Footer/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: prevent Trade page from fetching unnecessary swap quote (#5649)
  .changeset/olive-eagles-go.md
  apps/evm/src/clients/api/queries/getTradeReduceSwapQuotes/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: display swap quote missing error (#5647)
  .changeset/common-rabbits-rule.md
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/useFormValidation.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/common-rabbits-rule.md
  .changeset/large-beans-smell.md
  .changeset/olive-eagles-go.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/wet-poets-knock.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: expand geo-blocker feature to allow users to close restricted positions
  .changeset/dry-years-kick.md
  apps/evm/src/containers/AssetAccessor/__tests__/index.spec.tsx
  apps/evm/src/containers/AssetAccessor/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/useGetOperationFormTokenBalances/__tests__/index.spec.ts
  apps/evm/src/pages/Market/OperationForm/useGetOperationFormTokenBalances/index.ts
  apps/evm/src/pages/Trade/PairInfo/index.tsx
  apps/evm/src/pages/Trade/PositionForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Trade/PositionForm/index.tsx
  apps/evm/src/pages/Trade/useGetTradeAssets/__tests__/index.spec.ts
  apps/evm/src/pages/Trade/useGetTradeAssets/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/itchy-doors-join.md
Due: none

feat: added records to mainnet
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/itchy-doors-join.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: some review comments
  apps/evm/src/components/Pagination/usePagination.ts
  apps/evm/src/hooks/useUrlPagination/__tests__/index.spec.tsx
  apps/evm/src/hooks/useUrlPagination/index.ts
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/PrimeLeaderboardTable/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/RankTable/RankBadge/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/RankTable/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/RewardTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: support alt
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/PrimeLeaderboard/RankTable/RankBadge/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update Table design
  .changeset/cold-webs-build.md
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update Table design (#5654)
  .changeset/cold-webs-build.md
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove Markets page ad banner
  .changeset/big-paws-camp.md
  apps/evm/src/containers/Layout/Header/MarketsAdBanner/index.tsx
  apps/evm/src/containers/Layout/Header/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/Header/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cold-webs-build.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: show prime eligibility states in user rewards card
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsSection/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeUserRewards/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
