Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: bump package versions
  .changeset/green-numbers-jump.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support for zkSync networks
  .changeset/hungry-dancers-collect.md
  apps/evm/.env.template
  apps/evm/package.json
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/img/zk.svg
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncSepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncSepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/zkSyncSepolia.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/libs/wallet/img/chains/zkSync.svg
  apps/evm/src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update ZK token address on zkSync mainnet
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for zkSync networks (#3095)
  .changeset/hungry-dancers-collect.md
  apps/evm/.env.template
  apps/evm/package.json
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/img/zk.svg
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncSepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncSepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/zkSyncSepolia.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/libs/wallet/img/chains/zkSync.svg
  apps/evm/src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/hungry-dancers-collect.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: address used for the V8Treasury contract on zkSync Sepolia
  .changeset/short-melons-relax.md
  apps/evm/src/libs/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: remove unnecessary dependencies
  .changeset/fluffy-bikes-push.md
  apps/evm/package.json
Due: prettier --write --check

fix: VTreasuryV8 contract address on zkSkync Sepolia (#3264)
  .changeset/short-melons-relax.md
  apps/evm/src/libs/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/short-melons-relax.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: enable APY charts on zkSync
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/flat-scissors-remain.md
Due: none

chore: bump package versions
  .changeset/flat-scissors-remain.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add web3-name-sdk package to resolve address
  apps/evm/package.json
  apps/evm/src/containers/Layout/ConnectButton/PrimeButton/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/hooks/useResolveAddressToName.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: remove unnecessary dependencies (#3265)
  .changeset/fluffy-bikes-push.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/fluffy-bikes-push.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: borrow distribution APY value above the chart
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/Market/MarketHistory/Card/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/stale-sheep-cover.md
Due: none

fix: value for borrow rewards APY above chart (#3289)
  .changeset/stale-sheep-cover.md
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/Market/MarketHistory/Card/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/stale-sheep-cover.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: use TVL endpoint from API
  apps/landing/src/api/hooks/useVenusApi.ts
  apps/landing/src/api/index.ts
  apps/landing/src/api/types.ts
  apps/landing/src/api/utils.ts
  apps/landing/src/components/Container/Container.tsx
  apps/landing/src/components/Market/Market.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for Optimism + partial support for Optimism Sepolia
  apps/evm/.env.template
  apps/evm/package.json
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/constants/prime.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/img/op.svg
  apps/evm/src/libs/tokens/infos/commonTokens/index.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/optimismSepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/index.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/optimismSepolia.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/index.tsx
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/optimismMainnet.ts
  apps/evm/src/libs/tokens/infos/pancakeSwapTokens/optimismSepolia.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/libs/wallet/img/chains/optimism.svg
  apps/evm/src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for Optimism Sepolia + partial support for Optimism mainnet
  .changeset/clean-bats-own.md
  apps/evm/package.json
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/tokens/infos/commonTokens/optimismSepolia.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update table columns on Dashboard and Pool pages
  .changeset/cyan-worms-smoke.md
  apps/evm/src/containers/MarketTable/types.ts
  apps/evm/src/containers/MarketTable/useGenerateColumns.tsx
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Dashboard/useMarketTableColumns/index.tsx
  apps/evm/src/pages/Pool/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update table columns on Dashboard and Pool pages (#3303)
  .changeset/cyan-worms-smoke.md
  apps/evm/src/containers/MarketTable/types.ts
  apps/evm/src/containers/MarketTable/useGenerateColumns.tsx
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Dashboard/useMarketTableColumns/index.tsx
  apps/evm/src/pages/Pool/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cyan-worms-smoke.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add number of markets and networks
  apps/landing/src/api/types.ts
  apps/landing/src/api/utils.ts
  apps/landing/src/components/Market/Market.module.css
  apps/landing/src/components/Market/Market.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/little-tigers-shout.md
Due: none

chore: bump package versions
  .changeset/six-shrimps-scream.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: inline zkSync bridge tx limits
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: revert inline zkSync bridge tx limits
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: prevent suppliable and borrowable amounts displayed on forms from going below 0
  .changeset/brown-seas-clap.md
  apps/evm/src/pages/Market/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: revert inline zkSync bridge tx limits (#3312)
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: floor suppliable and borrowable amounts (#3318)
  .changeset/brown-seas-clap.md
  apps/evm/src/pages/Market/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/brown-seas-clap.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/little-tigers-shout.md
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

refactor: use static RPC provider
  .changeset/heavy-balloons-tie.md
  apps/evm/src/libs/wallet/hooks/useProvider/getProvider.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for the pufETH token on Ethereum and Sepolia
  .changeset/silver-horses-tie.md
  apps/evm/src/libs/tokens/img/pufEth.svg
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
