Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: add changeset
  .changeset/tangy-forks-show.md
Due: none

fix: add missing TX types
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

chore: bump package versions
  .changeset/tangy-forks-show.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: make token balances optional in SelectTokenTextField component (#4955)
  .changeset/thin-sides-slide.md
  apps/evm/src/components/SelectTokenTextField/TokenList/index.tsx
  apps/evm/src/components/SelectTokenTextField/index.tsx
  apps/evm/src/components/SelectTokenTextField/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add SwapDetails component (#4949)
  .changeset/wild-ends-cover.md
  apps/evm/src/clients/api/mutations/useSwapTokens/index.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndRepay/index.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/index.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/useGetPancakeSwapPairs.ts
  apps/evm/src/components/Icon/icons/gear.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/SelectTokenTextField/TokenList/index.tsx
  apps/evm/src/components/TextField/index.stories.tsx
  apps/evm/src/components/TextField/index.tsx
  apps/evm/src/components/TextField/styles.ts
  apps/evm/src/components/TokenTextField/index.tsx
  apps/evm/src/constants/swap.ts
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/SwapDetails/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/SwapDetails/__tests__/index.spec.tsx
  apps/evm/src/containers/SwapDetails/index.tsx
  apps/evm/src/hooks/useGetSwapInfo/formatToSwap.ts
  apps/evm/src/hooks/useUserChainSettings/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useUserChainSettings/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Market/OperationForm/OperationDetails/SwapDetails/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/index.tsx
  apps/evm/src/pages/Swap/SwapDetails/index.tsx
  apps/evm/src/store/index.ts
  apps/evm/src/utilities/getDecimals/__tests__/index.spec.ts
  apps/evm/src/utilities/getDecimals/index.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/thin-sides-slide.md
  .changeset/wild-ends-cover.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/odd-cooks-punch.md
Due: none

fix: add helper comments for yarn extract-translations
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/Transactions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: translation comments (#4963)
  .changeset/odd-cooks-punch.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/Transactions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/odd-cooks-punch.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support for isolated E-mode groups
  .changeset/famous-humans-battle.md
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/__mocks__/models/pools.ts
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.eMode.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatEModeGroups/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/components/IsolatedEModeGroupTooltip/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/containers/AccountData/index.tsx
  apps/evm/src/containers/AccountData/useGetValues.ts
  apps/evm/src/containers/MarketTable/__tests__/index.eMode.spec.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/MarketTable/useColumns/index.tsx
  apps/evm/src/containers/MarketTable/useControls/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/Pools/Positions/Summary/index.tsx
  apps/evm/src/pages/Account/Pools/Positions/Tables/index.tsx
  apps/evm/src/pages/Account/Pools/Positions/TagContent/index.tsx
  apps/evm/src/pages/Account/useExtractData/index.tsx
  apps/evm/src/pages/IsolatedPools/index.tsx
  apps/evm/src/pages/Market/AssetWarning/index.tsx
  apps/evm/src/pages/Market/EModeInfo/AssetSettings/index.tsx
  apps/evm/src/pages/Market/InterestRateChart/index.tsx
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/formatEModeGroups/index.ts
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for isolated E-mode groups (#4962)
  .changeset/famous-humans-battle.md
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/__mocks__/models/pools.ts
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.eMode.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatEModeGroups/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/components/IsolatedEModeGroupTooltip/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/containers/AccountData/index.tsx
  apps/evm/src/containers/AccountData/useGetValues.ts
  apps/evm/src/containers/MarketTable/__tests__/index.eMode.spec.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/MarketTable/useColumns/index.tsx
  apps/evm/src/containers/MarketTable/useControls/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/Pools/Positions/Summary/index.tsx
  apps/evm/src/pages/Account/Pools/Positions/Tables/index.tsx
  apps/evm/src/pages/Account/Pools/Positions/TagContent/index.tsx
  apps/evm/src/pages/Account/useExtractData/index.tsx
  apps/evm/src/pages/IsolatedPools/index.tsx
  apps/evm/src/pages/Market/AssetWarning/index.tsx
  apps/evm/src/pages/Market/EModeInfo/AssetSettings/index.tsx
  apps/evm/src/pages/Market/InterestRateChart/index.tsx
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/formatEModeGroups/index.ts
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/famous-humans-battle.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support for isolated E-mode groups
  .changeset/famous-humans-battle.md
Due: none

feat: add support for disabled E-mode groups
  .changeset/legal-impalas-add.md
  apps/evm/src/__mocks__/api/pools.json
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.eMode.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatEModeGroups/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/index.spec.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/formatEModeGroups/index.ts
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useColumns/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for disabled E-mode groups (#4969)
  .changeset/famous-humans-battle.md
  .changeset/legal-impalas-add.md
  apps/evm/src/__mocks__/api/pools.json
  apps/evm/src/__mocks__/models/eModeGroup.ts
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.eMode.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatEModeGroups/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/index.spec.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/formatEModeGroups/index.ts
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useColumns/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/famous-humans-battle.md
  .changeset/legal-impalas-add.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add base Boost tab
  apps/evm/src/hooks/useDelegateApproval/index.ts
  apps/evm/src/hooks/useFormatTokensToReadableValue.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/testIds.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/types.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/calculateMarginTokens/index.ts
  apps/evm/src/pages/Market/OperationForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: handle Fourier hardfork on opBNB testnet
  .changeset/little-carrots-sort.md
  apps/evm/src/App/ChainUpgradeHandler/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: isBorrowableByUser prop for isolated E-mode groups
  .changeset/tender-ducks-scream.md
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add base Boost tab
  apps/evm/src/components/SelectTokenTextField/TokenList/index.tsx
  apps/evm/src/components/SelectTokenTextField/index.tsx
  apps/evm/src/components/Slider/index.tsx
  apps/evm/src/components/TextField/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/containers/SwapDetails/index.tsx
  apps/evm/src/hooks/useDelegateApproval/index.ts
  apps/evm/src/hooks/useFormatTokensToReadableValue.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/BoostForm/LeverageSlider/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/testIds.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/types.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/RepayForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/calculateMarginTokens/index.ts
  apps/evm/src/pages/Market/OperationForm/index.tsx
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/utilities/convertMantissaToTokens.ts
  apps/evm/src/utilities/convertTokensToMantissa.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: isBorrowableByUser prop for isolated E-mode groups (#4985)
  .changeset/tender-ducks-scream.md
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/tender-ducks-scream.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: handle Fourier hardfork on opBNB testnet
  .changeset/little-carrots-sort.md
  apps/evm/src/App/ChainUpgradeHandler/index.tsx
  apps/evm/src/App/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: handle Fourier hardfork on opBNB testnet (#4986)
  .changeset/little-carrots-sort.md
  apps/evm/src/App/ChainUpgradeHandler/index.tsx
  apps/evm/src/App/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/little-carrots-sort.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: add support for Fermi hardfork on BNB testnet
  .changeset/tired-cats-pull.md
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: streamline how balance updates are shown on forms
  .changeset/quiet-sites-end.md
  apps/evm/src/clients/api/queries/getSimulatedPool/index.ts
  apps/evm/src/components/BalanceUpdates/index.tsx
  apps/evm/src/containers/AccountData/__tests__/__snapshots__/index.prime.spec.tsx.snap
  apps/evm/src/containers/AccountData/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/AccountData/__tests__/index.prime.spec.tsx
  apps/evm/src/containers/AccountData/__tests__/index.spec.tsx
  apps/evm/src/containers/AccountData/index.tsx
  apps/evm/src/containers/AccountData/useGetValues.ts
  apps/evm/src/containers/AccountData2/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/AccountData2/__tests__/index.spec.tsx
  apps/evm/src/containers/AccountData2/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/ApyBreakdown/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/OperationForm/ApyBreakdown/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/ApyBreakdown/formatRows/index.tsx
  apps/evm/src/pages/Market/OperationForm/ApyBreakdown/index.tsx
  apps/evm/src/pages/Market/OperationForm/AssetInfo/__tests__/__snapshots__/index.prime.spec.tsx.snap
  apps/evm/src/pages/Market/OperationForm/AssetInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/OperationForm/AssetInfo/__tests__/index.prime.spec.tsx
  apps/evm/src/pages/Market/OperationForm/AssetInfo/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/AssetInfo/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/OperationDetails/index.tsx
  apps/evm/src/pages/Market/OperationForm/RepayForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Vai/Borrow/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/clear-mails-shop.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: wip
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/components/SelectTokenTextField/TokenList/index.tsx
  apps/evm/src/components/SelectTokenTextField/index.tsx
  apps/evm/src/components/Slider/index.tsx
  apps/evm/src/components/TextField/index.tsx
  apps/evm/src/containers/SwapDetails/index.tsx
  apps/evm/src/hooks/useDelegateApproval/index.ts
  apps/evm/src/hooks/useFormatTokensToReadableValue.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/BoostForm/Flow/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/LeverageSlider/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/testIds.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/types.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/OperationDetails/SwapDetails/index.tsx
  apps/evm/src/pages/Market/OperationForm/OperationDetails/index.tsx
  apps/evm/src/pages/Market/OperationForm/RepayForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/index.tsx
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/convertMantissaToTokens.ts
  apps/evm/src/utilities/convertTokensToMantissa.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: logic to simulate user operations
  .changeset/clear-mails-shop.md
Due: none

fix: bug where incorrect collateral factor was being used when E-mode was activated
  .changeset/chubby-states-change.md
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/utilities/calculateUserPoolValues/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: bugged collateral factor (#5022)
  .changeset/chubby-states-change.md
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/utilities/calculateUserPoolValues/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/chubby-states-change.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check
