Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

refactor: rewrite LabeledInlineContent with Tailwind
  src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  src/components/LabeledInlineContent/index.tsx
  src/packages/translations/translations/en.json
  src/pages/PrimeCalculator/Form/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wip
  src/pages/PrimeCalculator/Form/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add sections
  public/mockServiceWorker.js
  src/components/AssetWarning/AssetTable/index.tsx
  src/components/LabeledInlineContent/index.tsx
  src/components/Select/index.tsx
  src/components/SelectTokenTextField/TokenList/index.tsx
  src/components/SelectTokenTextField/index.tsx
  src/components/TokenIcon/index.tsx
  src/components/TokenIconWithSymbol/index.tsx
  src/components/TokenIconWithSymbol/styles.ts
  src/containers/MarketTable/Apy/ApyWithPrimeBoost/index.tsx
  src/hooks/useOperationModal/Modal/index.tsx
  src/packages/translations/translations/en.json
  src/pages/PrimeCalculator/Form/RewardDetails/index.tsx
  src/pages/PrimeCalculator/Form/TextField/index.tsx
  src/pages/PrimeCalculator/Form/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add form state
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  src/containers/MarketTable/Apy/index.tsx
  src/hooks/useUrlPagination/__tests__/index.spec.tsx
  src/hooks/useUrlPagination/index.ts
  src/packages/translations/translations/en.json
  src/pages/PrimeCalculator/Form/Field/index.tsx
  src/pages/PrimeCalculator/Form/RewardDetails/index.tsx
  src/pages/PrimeCalculator/Form/TextField/index.tsx
  src/pages/PrimeCalculator/Form/index.tsx
  src/pages/PrimeCalculator/__tests__/index.spec.tsx
  src/pages/PrimeCalculator/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for FDUSD token on BSC networks (#1986)
  src/packages/tokens/img/fdusd.svg
  src/packages/tokens/infos/commonTokens/bscMainnet.ts
  src/packages/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.68.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  7f/65e7144ba37bddb649686afe7e94cec964ea21
Due: none

feat: Prime Calculator form UI (#1987)
  .gitignore
  src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  src/components/AssetWarning/AssetTable/index.tsx
  src/components/LabeledInlineContent/index.tsx
  src/components/Select/index.tsx
  src/components/SelectTokenTextField/TokenList/index.tsx
  src/components/SelectTokenTextField/index.tsx
  src/components/TokenIcon/index.tsx
  src/components/TokenIconWithSymbol/index.tsx
  src/components/TokenIconWithSymbol/styles.ts
  src/containers/MarketTable/Apy/ApyWithPrimeBoost/index.tsx
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  src/containers/MarketTable/Apy/index.tsx
  src/hooks/useOperationModal/Modal/index.tsx
  src/hooks/usePrimeCalculatorPagePath/index.tsx
  src/hooks/useUrlPagination/__tests__/index.spec.tsx
  src/hooks/useUrlPagination/index.ts
  src/packages/translations/translations/en.json
  src/pages/PrimeCalculator/Form/Field/index.tsx
  src/pages/PrimeCalculator/Form/RewardDetails/TokenAmountAndApy/index.tsx
  src/pages/PrimeCalculator/Form/RewardDetails/index.tsx
  src/pages/PrimeCalculator/Form/index.tsx
  src/pages/PrimeCalculator/__tests__/index.spec.tsx
  src/pages/PrimeCalculator/index.tsx
  src/pages/PrimeCalculator/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.69.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ec/eb19948494be587bc290a898c90c6ba7fbba2c
Due: none

chore(release): 2.69.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  5f/7bf4b03c14cf2b490aa7ca6f1b980328922fc0
Due: none

chore(release): 2.69.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  f2/d679142e29639433ef4537c7cb7fba193511f5
Due: none

fix: rollback @venusprotocol/venus-protocol package version to 6.1.0-dev.5
  package.json
  yarn.lock
Due: prettier --write --check

chore(release): 2.69.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  2b/8d88c4d8f657f5f363f0fb47b67e103e1e649d
Due: none

chore(release): 2.69.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  4f/dc1ac32a716a93c7ff7566dc53168545af097a
Due: none

chore(release): 2.69.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  dc/bd9aa468c9ec4981d28cc8a0da68315be4a542
Due: none

chore(release): 2.69.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  13/a0314d6731ae1f4fb8d0a225a296a952181be8
Due: none

chore(release): 2.69.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  45/f9100e826f761da1bc0d9ca1092a74b5047776
Due: none

feat: activate vaiMintPrimeOnlyWarning on BSC_MAINNET
  src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  src/hooks/useIsFeatureEnabled/index.tsx
  src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.70.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  07/52ac7164c8baea30f12e18f514de9e1e513652
Due: none

fix: disable VAI minting
  src/pages/Vai/MintVai/Form/index.tsx
  src/pages/Vai/MintVai/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.70.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  13/4bfd26bb19790067cab26674a914309c319ae9
Due: none

chore(release): 2.70.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  14/e1b4cc1c8529518ba9d6eac5f70c37d6719fed
Due: none

chore(release): 2.70.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  03/7df0c5a3bf281e127a839dbc875eb515dfeb26
Due: none

feat: add keys for new Prime queries
  src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add new Prime estimation hooks
  src/clients/api/index.ts
  src/clients/api/queries/getHypotheticalPrimeApys/index.spec.ts
  src/clients/api/queries/getPrimeDistributionForMarket/index.ts
  src/clients/api/queries/getPrimeDistributionForMarket/useGetPrimeDistributionForMarket.ts
  src/clients/api/queries/useGetPrimeEstimation/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: set useDebounceValue default delay
  src/hooks/useDebounceValue.ts
  src/pages/Vai/RepayVai/RepayFee.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getInitialValues function
  src/pages/PrimeCalculator/Form/getInitialValues.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update estimateAPR return values
  src/clients/api/queries/getHypotheticalPrimeApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
