Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: fix release workflow permission issue (#3214)
  .github/workflows/cd.yaml
Due: none

chore: fix release workflow permission issue
  .github/workflows/cd.yaml
Due: none

chore: fix release workflow permission issue (#3216)
  .github/workflows/cd.yaml
Due: none

chore: bump package versions
  .changeset/famous-lamps-watch.md
  .changeset/hip-dolls-hang.md
  .changeset/shiny-ants-explode.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

test: update isListed mocks and snapshots
  apps/evm/src/__mocks__/contracts/venusLens.ts
  apps/evm/src/clients/api/queries/getVTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/fluffy-poems-kneel.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: remove concept of unlimited borrow and supply caps
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/indexPrime.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/Market/MarketInfo/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Market/OperationForm/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/new-frogs-train.md
Due: none

chore: bump package versions
  .changeset/new-frogs-train.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add native token gateway to the LST pool in Arbitrum Sepolia
  apps/evm/package.json
  apps/evm/src/libs/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/moody-panthers-tease.md
Due: none

chore: bump isolated pools package
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

feat: add NTG package addresses for Arbitrum
  apps/evm/src/libs/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support weETH and wstETH tokens on BSC networks
  .changeset/sharp-berries-hug.md
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/moody-panthers-tease.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support weETH and wstETH tokens on BSC networks (#3233)
  .changeset/sharp-berries-hug.md
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/sharp-berries-hug.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: upgrade Venus packages
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

chore: add changeset
  .changeset/strange-countries-exist.md
Due: none

feat: add support for LST pool on Arbitrum
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/containers/Layout/Header/index.tsx
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumOne.ts
  apps/evm/src/pages/Market/LidoMarket/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: unlist LST pool on Arbitrum
  .changeset/late-snakes-kneel.md
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: unlist LST pool on Arbitrum (#3234)
  .changeset/late-snakes-kneel.md
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/late-snakes-kneel.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

test: update markets and pools mocks with API responses
  apps/evm/src/__mocks__/api/markets.json
  apps/evm/src/__mocks__/api/pools.json
  apps/evm/src/__mocks__/models/markets.ts
  apps/evm/src/__mocks__/models/pools.ts
  apps/evm/src/clients/api/queries/getApiMarkets/formatToMarket.ts
  apps/evm/src/clients/api/queries/getApiMarkets/index.ts
  apps/evm/src/clients/api/queries/getApiPools/formatToPool.ts
  apps/evm/src/clients/api/queries/getApiPools/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/indexPrime.spec.ts.snap
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/__tests__/indexPrime.spec.ts
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/indexPrime.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/indexPrime.spec.ts
  apps/evm/src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update attributes for markets and pools, logic cleanup
  apps/evm/src/clients/api/queries/getApiMarkets/formatToMarket.ts
  apps/evm/src/clients/api/queries/getApiPools/formatToPool.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/getRewardsDistributorSettingsMapping.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/getTokenPriceDollarsMapping.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  apps/evm/src/clients/api/queries/useGetLegacyPoolMarkets/formatToMarket.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: lastRewardingBlock ternary
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove totalXvsDistributedTokens
  apps/evm/src/__mocks__/models/markets.ts
  apps/evm/src/__mocks__/models/pools.ts
  apps/evm/src/clients/api/queries/getApiMarkets/formatToMarket.ts
  apps/evm/src/clients/api/queries/getApiMarkets/index.ts
  apps/evm/src/clients/api/queries/getApiPools/formatToPool.ts
  apps/evm/src/clients/api/queries/getApiPools/index.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: fetch pools and markets from the API
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/borrow/useBorrow.ts
  apps/evm/src/clients/api/mutations/repay/useRepay.ts
  apps/evm/src/clients/api/mutations/supply/useSupply.ts
  apps/evm/src/clients/api/mutations/swapTokens/useSwapTokens.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  apps/evm/src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  apps/evm/src/clients/api/mutations/withdraw/useWithdraw.ts
  apps/evm/src/clients/api/queries/getApiMarkets/formatToMarket.ts
  apps/evm/src/clients/api/queries/getApiMarkets/index.ts
  apps/evm/src/clients/api/queries/getApiMarkets/useGetApiMarkets.ts
  apps/evm/src/clients/api/queries/getApiPools/index.ts
  apps/evm/src/clients/api/queries/getApiPools/useGetApiPools.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/getRewardsDistributorSettingsMapping.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/getTokenPriceDollarsMapping.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/types.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/types.ts
  apps/evm/src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  apps/evm/src/clients/api/queries/getLegacyPoolMarkets/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getLegacyPoolMarkets/index.ts
  apps/evm/src/clients/api/queries/getLegacyPoolMarkets/useGetLegacyPoolMarkets.ts
  apps/evm/src/clients/api/queries/useGetLegacyPoolMarkets/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetLegacyPoolMarkets/formatToMarket.ts
  apps/evm/src/clients/api/queries/useGetLegacyPoolMarkets/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rename to supplyRatePerBlockOrTimestamp and borrowRatePerBlockOrTimestamp
  apps/evm/src/clients/api/queries/getApiMarkets/formatToMarket.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/purple-garlics-mix.md
Due: none

refactor: remove redundant code
  apps/evm/src/__mocks__/models/markets.ts
  apps/evm/src/clients/api/queries/getApiMarkets/index.ts
  apps/evm/src/clients/api/queries/getApiPools/formatToPool.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/clients/api/queries/useGetLegacyPoolMarkets/formatToMarket.ts
  apps/evm/src/utilities/formatToMarket/index.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for LST pool on Arbitrum (#3232)
  .changeset/strange-countries-exist.md
  apps/evm/package.json
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/containers/Layout/Header/index.tsx
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumOne.ts
  apps/evm/src/pages/Market/LidoMarket/index.tsx
  apps/evm/src/types/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/purple-garlics-mix.md
  .changeset/strange-countries-exist.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: remove Arbitrum One LST pool filter
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/itchy-steaks-smoke.md
Due: none

chore: bump package versions
  .changeset/itchy-steaks-smoke.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check
