Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: style lint
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/constants/production.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: style lint
  .vscode/settings.json
Due: prettier --write --check

chore: bump package versions
  .changeset/social-chicken-take.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/hungry-tips-smell.md
  .changeset/social-chicken-take.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/evm/src/containers/AssetAccessor/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/AssetAccessor/__tests__/index.spec.tsx
  apps/evm/src/containers/AssetAccessor/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: style update
  apps/evm/src/components/Dropdown/index.tsx
  apps/evm/src/pages/Markets/Header/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: borrow within isolated e-mode groups (#5582)
  .changeset/hungry-tips-smell.md
  apps/evm/src/containers/AssetAccessor/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/AssetAccessor/__tests__/index.spec.tsx
  apps/evm/src/containers/AssetAccessor/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/hungry-tips-smell.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: update yarn and set the minimal age for dependencies
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .yarnrc.yml
  Dockerfile
  README.md
  apps/evm/package.json
  package.json
  packages/chains/package.json
  packages/ui/package.json
  turbo.json
  yarn.lock
Due: prettier --write --check

chore: add changeset
  .changeset/clear-donkeys-shout.md
Due: none

chore: update yarn and set the minimal age for dependencies (#5585)
  .changeset/clear-donkeys-shout.md
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .yarnrc.yml
  Dockerfile
  README.md
  apps/evm/package.json
  package.json
  packages/chains/package.json
  packages/ui/package.json
  turbo.json
  yarn.lock
Due: prettier --write --check

chore: bump package versions
  .changeset/clear-donkeys-shout.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write --check

feat: support error contract message
  apps/evm/src/libs/errors/ContractErrorNotice/index.tsx
  apps/evm/src/libs/errors/customErrorPhrases.ts
  apps/evm/src/libs/errors/handleContractError/__tests__/beforeAfterDemo.spec.ts
  apps/evm/src/libs/errors/handleContractError/__tests__/parseContractError.spec.ts
  apps/evm/src/libs/errors/handleContractError/index.tsx
  apps/evm/src/libs/errors/handleContractError/parseContractError.ts
  apps/evm/src/libs/errors/handleError/index.ts
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support error contract message
  .changeset/four-eggs-care.md
Due: none

feat: support more error contract message
  apps/evm/src/libs/errors/customErrorPhrases.ts
  apps/evm/src/libs/errors/handleContractError/__tests__/beforeAfterDemo.spec.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: change code
  apps/evm/src/libs/errors/handleContractError/__tests__/parseContractError.spec.ts
  apps/evm/src/libs/errors/handleContractError/parseContractError.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update transalation
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

feat: update transacation && format type
  apps/evm/src/libs/errors/handleContractError/index.tsx
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: improve automatic rule detection for LLMs
  .claude/CLAUDE.md
  .claude/references/code-quality.md
  AGENTS.md
  CLAUDE.md
  package.json
Due: prettier --write --check

feat: update nested if
  apps/evm/src/libs/errors/handleError/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update n apy calc
  apps/evm/src/containers/MarketTable/useColumns/index.tsx
  apps/evm/src/pages/Landing/Hero/HeroTabs/TabContent/index.tsx
  apps/evm/src/pages/Landing/Hero/HeroTabs/index.tsx
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update n apy calc style
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove the select on mobile
  apps/evm/src/components/Table/TableCards/index.tsx
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/index.tsx
  apps/evm/src/pages/Markets/Tabs/Markets/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: click submenu on mobile not trigger toggle
  apps/evm/src/containers/Layout/NavBar/MenuItem/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use hover delay for keep ui same
  apps/evm/src/components/Dropdown/index.tsx
  apps/evm/src/containers/Layout/NavBar/MenuItem/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update select snapshot
  apps/evm/src/clients/api/queries/getProposal/useGetCachedProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/containers/EModeGroupList/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/containers/VaultCard/VenusVaultModal/WithdrawTab/WithdrawFromVestingVaultForm/WithdrawalRequestList/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Bridge/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Transactions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/IsolatedPools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Landing/Hero/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/EModeInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Markets/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Trade/Positions/PositionList/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update translation
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

feat: align with figma
  apps/evm/src/pages/Landing/Hero/HeroTabs/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: align with figma
  apps/evm/src/pages/Landing/Hero/HeroTabs/TabContent/Earnings/BarChart/index.tsx
  apps/evm/src/pages/Landing/Hero/HeroTabs/TabContent/Earnings/index.tsx
  apps/evm/src/pages/Landing/Hero/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update select snapshot
  apps/evm/src/clients/api/queries/getProposal/useGetCachedProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/containers/VaultCard/VenusVaultModal/WithdrawTab/WithdrawFromVestingVaultForm/WithdrawalRequestList/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Bridge/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Transactions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue with borrowable state on Trade page
  .changeset/spotty-bees-smash.md
  apps/evm/src/pages/Trade/PositionForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update select snapshot
  apps/evm/src/components/Table/TableCards/index.tsx
  apps/evm/src/containers/EModeGroupList/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/IsolatedPools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/EModeInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Markets/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/Tabs/EMode/index.tsx
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Trade/Positions/PositionList/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update default bar tooltip
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Landing/Hero/HeroTabs/TabContent/Earnings/BarChart/index.tsx
  apps/evm/src/pages/Landing/Hero/HeroTabs/TabContent/Earnings/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update default bar
  apps/evm/src/pages/Landing/Hero/HeroTabs/TabContent/Earnings/BarChart/index.tsx
  apps/evm/src/pages/Landing/Hero/HeroTabs/TabContent/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update ci
  apps/evm/src/containers/EModeGroupList/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/IsolatedPools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/EModeInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Markets/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Trade/Positions/PositionList/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

feat: update actually max prim apy
  apps/evm/src/containers/MarketTable/useColumns/index.tsx
  apps/evm/src/pages/Landing/Hero/HeroTabs/TabContent/index.tsx
  apps/evm/src/pages/Landing/Hero/HeroTabs/index.tsx
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: avoid barchart crash
  apps/evm/src/pages/Landing/Hero/HeroTabs/TabContent/Earnings/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: ts lint
  apps/evm/src/containers/EModeGroupList/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/containers/MarketTable/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/IsolatedPools/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/EModeInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Markets/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Trade/Positions/PositionList/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

fix: issue with borrowable state on Trade page (#5594)
  .changeset/spotty-bees-smash.md
  apps/evm/src/pages/Trade/PositionForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: improve automatic rule detection for LLMs (#5588)
  .claude/CLAUDE.md
  .claude/references/code-quality.md
  AGENTS.md
  CLAUDE.md
  package.json
Due: prettier --write --check

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
