Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

Notes added by 'git notes add'
  086a15072bdf4a82538087093cb3f24ca234ea4f
Due: none

fix: issues with Swap (#1532)
  src/components/SelectTokenTextField/TokenList/index.tsx
  src/hooks/useGetPancakeSwapTokens.ts
  src/hooks/useGetSwapInfo/__tests__/__snapshots__/useGetTokenCombinations.spec.tsx.snap
  src/hooks/useGetSwapInfo/useGetTokenCombinations.ts
  src/hooks/useGetSwapTokenUserBalances.ts
  src/packages/tokens/__mocks__/index.ts
  src/packages/tokens/hooks/useGetSwapTokens/__tests__/index.spec.ts
  src/packages/tokens/hooks/useGetSwapTokens/index.ts
  src/packages/tokens/index.ts
  src/packages/tokens/scripts/tokenListTemplate.hbs
  src/packages/tokens/tokenInfos/commonTokens/bscMainnet.ts
  src/packages/tokens/tokenInfos/pancakeSwapTokens/index.tsx
  src/packages/tokens/utilities/getPancakeSwapTokens/__tests__/index.spec.ts
  src/packages/tokens/utilities/getPancakeSwapTokens/index.ts
  src/packages/tokens/utilities/getSwapTokens/__tests__/__snapshots__/index.spec.ts.snap
  src/packages/tokens/utilities/getSwapTokens/__tests__/index.spec.ts
  src/packages/tokens/utilities/getSwapTokens/index.ts
  src/packages/tokens/utilities/getTokens/__tests__/index.spec.ts
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.27.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  9da5a2cc3bba65624b6755e915db4bc8c1062c5a
Due: none

chore(release): 2.27.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  5194d9f40ad551822f6816c08b8188af802c8528
Due: none

chore(release): 2.28.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  a24793954038c4363b1e4ebf0ab2b34acf2cc833
Due: none

chore: move sass to dev dependencies
  package.json
  src/assets/styles/index.css
  src/components/Markdown/Editor/styles-overrides.css
  yarn.lock
Due: prettier --write --check

refactor: refactor PrimeStatusBanner componentt to use Tailwind
  src/components/Card/index.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/containers/PrimeStatusBanner/styles.ts
  src/pages/Account/index.tsx
  src/pages/Dashboard/ConnectWalletBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.28.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  e023acc40617536c77a19378aba6e03dd1a660f6
Due: none

feat: add cn utility
  .prettierrc.js
  src/containers/PrimeStatusBanner/index.tsx
  src/utilities/cn/index.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add back list style on Markdown component + fix background
  src/components/Markdown/Editor/styles-overrides.scss
  src/pages/Proposal/Description/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add back list style on Markdown component (#1546)
  src/components/Markdown/Editor/styles-overrides.scss
  src/pages/Proposal/Description/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.28.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  879219c651c50be3c0c1b7ce70596ec37c5e121d
Due: none

feat: refactor PrimeStatusBanner to use Tailwind (#1524)
  .prettierrc.js
  package.json
  src/assets/styles/index.css
  src/components/Card/index.tsx
  src/components/Markdown/Editor/styles-overrides.css
  src/containers/PrimeStatusBanner/index.tsx
  src/containers/PrimeStatusBanner/styles.ts
  src/pages/Account/index.tsx
  src/pages/Dashboard/ConnectWalletBanner/index.tsx
  src/utilities/cn/index.ts
  src/utilities/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.29.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ac02663196499a40464b674aef4db496f70b0ad8
Due: none

feat: add isPrime flag and logo
  src/components/Layout/ConnectButton/index.tsx
  src/context/AuthContext/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: refactor Button to use Tailwind
  package.json
  src/components/BscLink/index.tsx
  src/components/Button/index.stories.tsx
  src/components/Button/index.tsx
  src/components/Button/styles.tsx
  src/components/Button/types.ts
  src/components/Card/index.tsx
  src/components/Layout/ConnectButton/index.tsx
  src/components/Layout/Sidebar/index.stories.tsx
  src/components/Link/index.tsx
  src/components/TagGroup/styles.tsx
  src/hooks/useOperationModal/Modal/index.stories.tsx
  src/pages/Account/AccountBreakdown/AccountPlaceholder/index.tsx
  src/pages/ConvertVrt/Convert/index.spec.tsx
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.stories.tsx
  src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  src/pages/Governance/VotingWallet/index.tsx
  src/pages/Governance/VotingWallet/styles.ts
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
  src/pages/Voter/Transactions/index.tsx
  src/testUtils/renderComponent.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove fullWidth prop from Button
  src/components/ApproveTokenSteps/index.tsx
  src/components/ApproveTokenSteps/styles.ts
  src/components/AuthModal/AccountDetails/index.tsx
  src/components/Button/index.stories.tsx
  src/components/Button/index.tsx
  src/components/ConnectWallet/index.tsx
  src/components/Layout/ClaimRewardButton/index.tsx
  src/components/Layout/Sidebar/index.tsx
  src/components/Layout/Sidebar/styles.ts
  src/components/LunaUstWarningModal/index.tsx
  src/hooks/useOperationModal/Modal/BorrowForm/SubmitSection/index.tsx
  src/hooks/useOperationModal/Modal/RepayForm/SubmitSection/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/SubmitSection/index.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/SubmitSection/index.tsx
  src/hooks/useOperationModal/Modal/styles.ts
  src/pages/ConvertVrt/Withdraw/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/ActionAccordion/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/ProposalWizard/index.tsx
  src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  src/pages/Governance/VotingWallet/DelegateModal/styles.ts
  src/pages/Market/index.tsx
  src/pages/Proposal/VoteModal/index.tsx
  src/pages/Swap/SubmitSection/index.tsx
  src/pages/Vai/MintVai/index.tsx
  src/pages/Vai/RepayVai/index.tsx
  src/pages/Vault/TransactionForm/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add gradient to Prime variant of connect button
  src/components/Layout/ConnectButton/index.tsx
  src/context/AuthContext/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up isPrime flag to PrimeStatusBanner
  src/containers/PrimeStatusBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.29.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  57e0fb10f001fa50a46532bf7c2008d360c6ca2a
Due: none

chore(release): 2.29.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  8f9edaf39a881624b710d6cd5e75dec7365ef190
Due: none

chore(release): 2.29.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  e31ce75e9b87a54f3887eee7e03cabf5d8a34720
Due: none

feat: replace ConnectWalletBanner on dashboard with PrimePromotionalBanner
  .eslintrc.js
  src/context/AuthContext/index.tsx
  src/pages/Dashboard/ConnectWalletBanner/illustration.png
  src/pages/Dashboard/ConnectWalletBanner/index.spec.tsx
  src/pages/Dashboard/ConnectWalletBanner/index.tsx
  src/pages/Dashboard/PrimePromotionalBanner/boostsIllustration.png
  src/pages/Dashboard/PrimePromotionalBanner/illustrationSm.png
  src/pages/Dashboard/PrimePromotionalBanner/index.spec.tsx
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
  src/pages/Dashboard/PrimePromotionalBanner/primeTokenIllustration.png
  src/pages/Dashboard/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add link to Prime doc
  src/constants/prime.ts
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: handle closing banner
  .eslintrc.js
  __mocks__/zustand.ts
  package.json
  src/pages/Dashboard/PrimePromotionalBanner/__tests__/index.spec.tsx
  src/pages/Dashboard/PrimePromotionalBanner/index.spec.tsx
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
  src/pages/Dashboard/PrimePromotionalBanner/store.ts
  src/pages/Dashboard/PrimePromotionalBanner/testIds.ts
  src/setupTests.tsx
  src/utilities/createStoreSelectors.ts
  src/utilities/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add isPrime flag and logo
  src/containers/Layout/ConnectButton/index.tsx
  src/context/AuthContext/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: refactor Button to use Tailwind
  package.json
  src/components/BscLink/index.tsx
  src/components/Button/index.stories.tsx
  src/components/Button/index.tsx
  src/components/Button/styles.tsx
  src/components/Button/types.ts
  src/components/Card/index.tsx
  src/components/Layout/Sidebar/index.stories.tsx
  src/components/Link/index.tsx
  src/components/TagGroup/styles.tsx
  src/containers/Layout/ConnectButton/index.tsx
  src/hooks/useOperationModal/Modal/index.stories.tsx
  src/pages/Account/AccountBreakdown/AccountPlaceholder/index.tsx
  src/pages/ConvertVrt/Convert/index.spec.tsx
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.stories.tsx
  src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  src/pages/Governance/VotingWallet/index.tsx
  src/pages/Governance/VotingWallet/styles.ts
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
  src/pages/Voter/Transactions/index.tsx
  src/testUtils/renderComponent.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix
