Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/salty-toys-pay.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/eager-teams-play.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: getVTokens to use viem
  apps/evm/src/clients/api/queries/getVTokens/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokens/index.ts
  apps/evm/src/clients/api/queries/getVTokens/useGetVTokens.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: removed unused test data
  apps/evm/src/__mocks__/contracts/governanceBravoDelegate.ts
  apps/evm/src/__mocks__/contracts/vaiController.ts
  apps/evm/src/clients/api/queries/getVTokenUtilizationRate/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokenUtilizationRate/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVTokenUtilizationRate/index.ts
  apps/evm/src/clients/api/queries/getVTokenUtilizationRate/useGetVTokenUtilizationRate.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getXvsBridgeFeeEstimation to use viem
  apps/evm/src/clients/api/queries/getXvsBridgeFeeEstimation/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeFeeEstimation/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeFeeEstimation/index.ts
  apps/evm/src/clients/api/queries/getXvsBridgeFeeEstimation/useGetXvsBridgeFeeEstimation.ts
  apps/evm/src/constants/layerZero.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: regenerate subgraph types
  .changeset/small-days-hide.md
  apps/evm/src/clients/subgraph/gql/generated/bscCorePool.ts
  apps/evm/src/clients/subgraph/gql/generated/governanceBsc.ts
  apps/evm/src/clients/subgraph/gql/generated/governanceNonBsc.ts
  apps/evm/src/clients/subgraph/gql/generated/isolatedPools.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getXvsBridgeMintStatus to use viem
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  apps/evm/src/clients/api/queries/getXvsBridgeFeeEstimation/useGetXvsBridgeFeeEstimation.ts
  apps/evm/src/clients/api/queries/getXvsBridgeMintStatus/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeMintStatus/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeMintStatus/index.ts
  apps/evm/src/clients/api/queries/getXvsBridgeMintStatus/useGetXvsBridgeMintStatus.ts
  apps/evm/src/hooks/useGetSwapTokenUserBalances.ts
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Bridge/useBridgeForm.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getXvsBridgeStatus to use viem
  apps/evm/src/clients/api/queries/getPrimeStatus/index.ts
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/index.ts
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/useGetXvsBridgeStatus.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getXvsVaultLockedDeposits to use viem
  apps/evm/src/__mocks__/contracts/xvsVault.ts
  apps/evm/src/__mocks__/models/vaults.ts
  apps/evm/src/clients/api/queries/getXvsVaultLockedDeposits/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsVaultLockedDeposits/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultLockedDeposits/formatToLockedDeposit.ts
  apps/evm/src/clients/api/queries/getXvsVaultLockedDeposits/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultLockedDeposits/index.ts
  apps/evm/src/clients/api/queries/getXvsVaultLockedDeposits/types.ts
  apps/evm/src/clients/api/queries/getXvsVaultLockedDeposits/useGetXvsVaultLockedDeposits.ts
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/index.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/WithdrawalRequestList/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/WithdrawalRequestList/index.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/WithdrawalRequestList/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getXvsVaultPaused to use viem
  apps/evm/src/clients/api/queries/getXvsVaultPaused/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsVaultPaused/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultPaused/index.ts
  apps/evm/src/clients/api/queries/getXvsVaultPaused/useGetXvsVaultPaused.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getXvsVaultPoolCount to use viem
  apps/evm/src/clients/api/queries/getXvsVaultPaused/useGetXvsVaultPaused.ts
  apps/evm/src/clients/api/queries/getXvsVaultPoolCount/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultPoolCount/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultPoolCount/index.ts
  apps/evm/src/clients/api/queries/getXvsVaultPoolCount/useGetXvsVaultPoolCount.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getXvsVaultPoolInfo to use viem
  apps/evm/src/__mocks__/contracts/xvsVault.ts
  apps/evm/src/__mocks__/models/vaults.ts
  apps/evm/src/clients/api/queries/getXvsVaultPaused/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultPoolInfo/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsVaultPoolInfo/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsVaultPoolInfo/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultPoolInfo/formatToPoolInfo.ts
  apps/evm/src/clients/api/queries/getXvsVaultPoolInfo/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultPoolInfo/index.ts
  apps/evm/src/clients/api/queries/getXvsVaultPoolInfo/types.ts
  apps/evm/src/clients/api/queries/getXvsVaultPoolInfo/useGetXvsVaultPoolInfo.ts
  apps/evm/src/clients/api/queries/useGetVaults/__tests__/index.spec.tsx
  apps/evm/src/clients/api/queries/useGetVaults/useGetVestingVaults/useGetXvsVaultPools.ts
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/index.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: regenerate subgraph types (#4132)
  .changeset/small-days-hide.md
  apps/evm/src/clients/subgraph/gql/generated/bscCorePool.ts
  apps/evm/src/clients/subgraph/gql/generated/governanceBsc.ts
  apps/evm/src/clients/subgraph/gql/generated/governanceNonBsc.ts
  apps/evm/src/clients/subgraph/gql/generated/isolatedPools.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/small-days-hide.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: upgrade actions/checkout and actions/setup-node actions to latest versions
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
Due: none

refactor: getXvsVaultsTotalDailyDistributedXvs to use viem
  apps/evm/src/clients/api/queries/getXvsVaultsTotalDailyDistributedXvs/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultsTotalDailyDistributedXvs/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultsTotalDailyDistributedXvs/index.ts
  apps/evm/src/clients/api/queries/getXvsVaultsTotalDailyDistributedXvs/useGetXvsVaultsTotalDailyDistributedXvs.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getXvsVaultTotalAllocationPoints to use viem
  apps/evm/src/clients/api/queries/getXvsVaultTotalAllocationPoints/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultTotalAllocationPoints/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultTotalAllocationPoints/index.ts
  apps/evm/src/clients/api/queries/getXvsVaultTotalAllocationPoints/useGetXvsVaultTotalAllocationPoints.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getXvsVaultUserInfo to use viem
  apps/evm/src/__mocks__/contracts/xvsVault.ts
  apps/evm/src/__mocks__/models/vaults.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserInfo/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsVaultUserInfo/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserInfo/formatToUserInfo.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserInfo/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserInfo/index.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserInfo/types.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserInfo/useGetXvsVaultUserInfo.ts
  apps/evm/src/clients/api/queries/useGetVaults/__tests__/index.spec.tsx
  apps/evm/src/clients/api/queries/useGetVaults/useGetVestingVaults/index.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetVestingVaults/useGetXvsVaultPools.ts
  apps/evm/src/containers/PrimeStatusBanner/index.tsx
  apps/evm/src/hooks/useGetHypotheticalUserPrimeApys/index.ts
  apps/evm/src/pages/PrimeCalculator/Form/index.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/index.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/indexPrime.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
  apps/evm/src/pages/VoterLeaderboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getXvsVaultUserPendingWithdrawalsFromBeforeUpgrade to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserPendingWithdrawalsFromBeforeUpgrade/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsVaultUserPendingWithdrawalsFromBeforeUpgrade/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserPendingWithdrawalsFromBeforeUpgrade/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserPendingWithdrawalsFromBeforeUpgrade/index.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserPendingWithdrawalsFromBeforeUpgrade/types.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserPendingWithdrawalsFromBeforeUpgrade/useGetXvsVaultUserPendingWithdrawalsFromBeforeUpgrade.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetVestingVaults/useGetXvsVaultPools.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getXvsWithdrawableAmount to use viem
  apps/evm/src/clients/api/queries/getXvsVaultLockedDeposits/useGetXvsVaultLockedDeposits.ts
  apps/evm/src/clients/api/queries/getXvsVaultUserPendingWithdrawalsFromBeforeUpgrade/useGetXvsVaultUserPendingWithdrawalsFromBeforeUpgrade.ts
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/index.ts
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/useGetXvsWithdrawableAmount.ts
  apps/evm/src/pages/ConvertVrt/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/two-lights-sing.md
Due: none

feat: add support for PT-sUSDE, USDe and sUSDe on BNB Chain
  .changeset/cyan-webs-tap.md
  apps/evm/src/libs/tokens/img/underlyingTokens/usde.svg
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/two-lights-sing.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support for PT-sUSDE, USDe and sUSDe tokens on BNB Chain (#4150)
  .changeset/cyan-webs-tap.md
  apps/evm/src/libs/tokens/img/underlyingTokens/usde.svg
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cyan-webs-tap.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: remove title from Account page section + update margins
  .changeset/full-rings-beam.md
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/styles.ts
  apps/evm/src/pages/Account/AccountBreakdown/Summary/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for automatic chain upgrades
  .changeset/cold-bees-hope.md
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
  apps/evm/src/App/ChainUpgradeHandler/index.tsx
  apps/evm/src/App/MuiThemeProvider/index.tsx
  apps/evm/src/App/MuiThemeProvider/muiTheme.ts
  apps/evm/src/App/ThemeHandler/index.tsx
  apps/evm/src/App/index.tsx
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/useGetLatestProposalIdByProposer.ts
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposalState/useGetProposalState.ts
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/components/EllipseAddress/types.ts
  apps/evm/src/components/Pagination/index.stories.tsx
  apps/evm/src/components/ProgressBar/index.tsx
  apps/evm/src/components/Table/styles.ts
  apps/evm/src/components/Table/types.ts
  apps/evm/src/components/TagGroup/index.stories.tsx
  apps/evm/src/components/charts/ApyChart/styles.ts
  apps/evm/src/components/charts/InterestRateChart/styles.ts
  apps/evm/src/components/charts/styles.ts
  apps/evm/src/stories/decorators.tsx
  apps/evm/src/testUtils/render.tsx
  apps/evm/src/utilities/safeLazyLoad/__tests__/index.spec.tsx
  packages/chains/src/chainMetadata.ts
  packages/chains/src/chainUpgrades.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: small Account page design tweaks (#4157)
  .changeset/full-rings-beam.md
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/styles.ts
  apps/evm/src/pages/Account/AccountBreakdown/Summary/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for automatic chain upgrades (#4156)
  .changeset/cold-bees-hope.md
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
  apps/evm/src/App/ChainUpgradeHandler/index.tsx
  apps/evm/src/App/MuiThemeProvider/index.tsx
  apps/evm/src/App/MuiThemeProvider/muiTheme.ts
  apps/evm/src/App/ThemeHandler/index.tsx
  apps/evm/src/App/index.tsx
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/useGetLatestProposalIdByProposer.ts
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposalState/useGetProposalState.ts
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/components/EllipseAddress/types.ts
  apps/evm/src/components/Pagination/index.stories.tsx
  apps/evm/src/components/ProgressBar/index.tsx
  apps/evm/src/components/Table/styles.ts
  apps/evm/src/components/Table/types.ts
  apps/evm/src/components/TagGroup/index.stories.tsx
  apps/evm/src/components/charts/ApyChart/styles.ts
  apps/evm/src/components/charts/InterestRateChart/styles.ts
  apps/evm/src/components/charts/styles.ts
  apps/evm/src/stories/decorators.tsx
  apps/evm/src/testUtils/render.tsx
  apps/evm/src/utilities/safeLazyLoad/__tests__/index.spec.tsx
  packages/chains/src/chainMetadata.ts
  packages/chains/src/chainUpgrades.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cold-bees-hope.md
  .changeset/full-rings-beam.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

refactor: getPendingRewards query function to use viem
  .changeset/new-rocks-sleep.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToExternalPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToIsolatedPoolPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToLegacyPoolPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToPrimePendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToVaultPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getApiTokenPrice/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklUserRewards/formatMerklRewardsResponse.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklUserRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/types.ts
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/formatRewardDistribution/index.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: disable APY charts on opBNB
  .changeset/slow-frogs-kneel.md
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: disable APY charts on opBNB (#4169)
  .changeset/slow-frogs-kneel.md
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/slow-frogs-kneel.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: timestamp of Lorentz upgrade
  .changeset/wild-streets-speak.md
  packages/chains/src/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: timestamp of Lorentz upgrade (#4176)
  .changeset/wild-streets-speak.md
  packages/chains/src/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wild-streets-speak.md
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
