Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: bump package versions
  .changeset/three-rockets-applaud.md
  .changeset/wicked-guests-rescue.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: enable bridge on Unichain mainnet (#3914)
  .changeset/famous-onions-sell.md
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/index.ts
  apps/evm/src/constants/layerZero.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/famous-onions-sell.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: getLatestProposalIdByProposer and getMintableVai query functions to use viem
  apps/evm/src/__mocks__/contracts/vai.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/index.spec.ts
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/index.ts
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/useGetLatestProposalIdByProposer.ts
  apps/evm/src/clients/api/queries/getMintableVai/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getMintableVai/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getMintableVai/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getMintableVai/formatToOutput.ts
  apps/evm/src/clients/api/queries/getMintableVai/index.spec.ts
  apps/evm/src/clients/api/queries/getMintableVai/index.ts
  apps/evm/src/clients/api/queries/getMintableVai/types.ts
  apps/evm/src/clients/api/queries/getMintableVai/useGetMintableVai.ts
  apps/evm/src/pages/Vai/Borrow/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update behavior to switch chains
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/containers/Form/RhfSubmitButton/index.tsx
  apps/evm/src/containers/SwitchChain/index.tsx
  apps/evm/src/libs/wallet/Web3Wrapper/ConnectKitWrapper/AuthHandler/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: create useAccountChainId hook + update proposal commands section
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.spec.ts
  apps/evm/src/containers/ConnectWallet/__tests__/index.spec.tsx
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/containers/SwitchChain/index.tsx
  apps/evm/src/hooks/useUserChainSettings/__tests__/index.spec.tsx
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
  apps/evm/src/libs/wallet/__mocks__/index.ts
  apps/evm/src/libs/wallet/hooks/useAccountChainId/__mocks__/index.ts
  apps/evm/src/libs/wallet/hooks/useAccountChainId/index.tsx
  apps/evm/src/libs/wallet/index.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/ExecuteButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/testUtils/render.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: refactor getPancakeSwapPairs query function to use viem
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/formatToPairs.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/index.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/types.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/useGetPancakeSwapPairs.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: refactor getPaymasterInfo query function to use viem
  apps/evm/src/clients/api/queries/getPaymasterInfo/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPaymasterInfo/index.ts
  apps/evm/src/clients/api/queries/getPaymasterInfo/useGetPaymasterInfo.ts
  apps/evm/src/constants/gasLess.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/two-bugs-repeat.md
Due: none

feat: update operation forms to use SwitchChain container
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add tests to SwitchChain container
  apps/evm/src/containers/ConnectWallet/__tests__/index.spec.tsx
  apps/evm/src/containers/SwitchChain/__tests__/index.spec.tsx
  apps/evm/src/containers/SwitchChain/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue where ready to be executed proposals would show the wrong icon
  .changeset/mighty-games-talk.md
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/Indicator/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add tests to operation forms
  apps/evm/src/containers/SwitchChain/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/testUtils/render.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: take account chain ID in consideration to display warning on Proposal page
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: feat: update Swap page to use SwitchChain container
  apps/evm/src/pages/Swap/SubmitSection/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: feat: update Vault page to use SwitchChain container
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/SubmitSection/index.tsx
  apps/evm/src/pages/Swap/SubmitSection/index.tsx
  apps/evm/src/pages/Vault/TransactionForm/SubmitSection/index.tsx
  apps/evm/src/pages/Vault/TransactionForm/index.spec.tsx
  apps/evm/src/pages/Vault/TransactionForm/index.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/index.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: feat: update Vai page to use SwitchChain container
  apps/evm/src/containers/Form/RhfSubmitButton/index.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/tall-ravens-cheat.md
Due: none

feat: add UNI token to Unichain
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: feat: update Bridge page to use SwitchChain container
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/pages/Bridge/__tests__/index.spec.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalWizard/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Vault/TransactionForm/SubmitSection/index.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: feat: update Delegate modal to use SwitchChain container
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/pages/Governance/VotingWallet/DelegateModal/SubmitSection/index.tsx
  apps/evm/src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  apps/evm/src/pages/Governance/VotingWallet/index.tsx
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/tall-ravens-cheat.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: incorrect proposal state icon (#3923)
  .changeset/mighty-games-talk.md
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/Indicator/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/mighty-games-talk.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: query functions to use viem (#3916)
  .changeset/two-bugs-repeat.md
  apps/evm/src/__mocks__/contracts/vai.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/index.spec.ts
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/index.ts
  apps/evm/src/clients/api/queries/getLatestProposalIdByProposer/useGetLatestProposalIdByProposer.ts
  apps/evm/src/clients/api/queries/getMintableVai/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getMintableVai/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getMintableVai/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getMintableVai/formatToOutput.ts
  apps/evm/src/clients/api/queries/getMintableVai/index.spec.ts
  apps/evm/src/clients/api/queries/getMintableVai/index.ts
  apps/evm/src/clients/api/queries/getMintableVai/types.ts
  apps/evm/src/clients/api/queries/getMintableVai/useGetMintableVai.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/formatToPairs.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/index.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/types.ts
  apps/evm/src/clients/api/queries/getPancakeSwapPairs/useGetPancakeSwapPairs.ts
  apps/evm/src/clients/api/queries/getPaymasterInfo/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPaymasterInfo/index.ts
  apps/evm/src/clients/api/queries/getPaymasterInfo/useGetPaymasterInfo.ts
  apps/evm/src/constants/gasLess.ts
  apps/evm/src/pages/Vai/Borrow/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/two-bugs-repeat.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/clean-ladybugs-kiss.md
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Bridge/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: use isAddress function from viem
  apps/evm/src/pages/Governance/VotingWallet/DelegateModal/addressValidationSchema.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove encoreParameters function in favor of using encodeAbiParameters from viem
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/encodeCallData.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
  apps/evm/src/utilities/encodeParameters.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: parseFunctionSignature to use viem
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ActionAccordion/index.tsx
  apps/evm/src/utilities/parseFunctionSignature.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/olive-rings-beg.md
Due: none

feat: add BSC Core pool subgraph
  apps/evm/codegen.config.ts
  apps/evm/package.json
  apps/evm/src/clients/subgraph/gql/generated/bscCorePool.ts
  apps/evm/src/clients/subgraph/index.ts
  apps/evm/src/clients/subgraph/queries/bscCorePool/getBscCorePoolParticipantsCount/bscCorePoolParticipantsCount.graphql
  apps/evm/src/config/index.ts
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add new underlying tokens
  .changeset/mighty-lamps-train.md
  apps/evm/src/libs/tokens/img/underlyingTokens/zkEth.svg
  apps/evm/src/libs/tokens/infos/commonTokens/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/baseSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update ClaimRewardButton to use SwitchChain container
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: logic linked to governance to use viem
  apps/evm/src/containers/ReadableActionSignature/formatSignature.ts
  apps/evm/src/containers/ReadableActionSignature/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ActionAccordion/CallDataFields.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalPreview/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/encodeCallData.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/parseFunctionSignature.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/famous-chicken-reply.md
Due: none

fix: callData types
  apps/evm/src/clients/api/queries/getVoterHistory/types.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToProposalActions/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToProposalActions/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToProposalActions/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/index.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use BSC Core pool subgraph to fetch count of suppliers and borrowers
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getIsolatedPoolParticipantCounts/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getParticipantCounts/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/safeGetParticipantCounts/index.ts
  apps/evm/src/clients/subgraph/queries/bscCorePool/getBscCorePoolParticipantsCount/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: logic linked to governance to use viem (#3941)
  .changeset/famous-chicken-reply.md
  apps/evm/src/clients/api/queries/getVoterHistory/types.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToProposalActions/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToProposalActions/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToProposalActions/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/index.ts
  apps/evm/src/containers/ReadableActionSignature/formatSignature.ts
  apps/evm/src/containers/ReadableActionSignature/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ActionAccordion/CallDataFields.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ActionAccordion/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalPreview/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/encodeCallData.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
  apps/evm/src/pages/Governance/VotingWallet/DelegateModal/addressValidationSchema.ts
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/encodeParameters.ts
  apps/evm/src/utilities/index.ts
  apps/evm/src/utilities/parseFunctionSignature.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/famous-chicken-reply.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check
