Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: add Ethena points to sUSDe
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/pointDistributions/ethenaPoints.svg
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/pointDistributions/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/khaki-horses-happen.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/shiny-beers-sink.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/brown-needles-tap.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write --check

feat: add Omnichain Governor contract record
  .changeset/eager-rice-knock.md
  apps/evm/package.json
  apps/evm/src/containers/SwitchChain/__tests__/index.spec.tsx
  apps/evm/src/containers/SwitchChain/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add fallback mechanism for RPC providers
  .changeset/big-planets-rescue.md
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add fallback mechanism for RPC providers (#4006)
  .changeset/big-planets-rescue.md
  apps/evm/src/libs/wallet/Web3Wrapper/config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Omnichain Governor contract record (#4005)
  .changeset/eager-rice-knock.md
  apps/evm/package.json
  apps/evm/src/containers/SwitchChain/__tests__/index.spec.tsx
  apps/evm/src/containers/SwitchChain/index.tsx
  apps/evm/src/libs/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/big-planets-rescue.md
  .changeset/eager-rice-knock.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: standalone getApiTokenPrice function
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getApiTokenPrice/useGetApiTokenPrice.ts
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/types.ts
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use price endpoint in getPendingRewards
  apps/evm/src/clients/api/queries/getApiTokenPrice/index.ts
  apps/evm/src/clients/api/queries/getApiTokenPrice/useGetApiTokenPrice.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/types.ts
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/afraid-fans-crash.md
Due: none

test: update test with price endpoint mock
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: increase minimum Paymaster balance to enable gasless transactions
  .changeset/eleven-lions-do.md
  apps/evm/src/constants/gasLess.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/afraid-fans-crash.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: alignment issues
  apps/evm/src/containers/Layout/ClaimRewardButton/ClaimRewardsContent/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/RewardGroupContent/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: error treatment when fetching Merkl pending rewards
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add case for Merkl in getPendingRewards tests
  apps/evm/src/clients/api/queries/getPendingRewards/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/ClaimRewardsContent/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/RewardGroupFrame/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add coverage around external rewards
  apps/evm/src/containers/Layout/ClaimRewardButton/ClaimRewardsContent/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/young-zebras-arrive.md
Due: none

refactor: merge claimRewardsModal with claimRewards.modal
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/useGetGroups.ts
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display user rewards from Merkl
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToExternalPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToIsolatedPoolPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToLegacyPoolPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklRewards/formatMerklRewardsResponse.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/types.ts
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/appendPrimeSimulationDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/formatRewardDistribution/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/isDistributingRewards/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/components/Apy/BoostTooltip/index.tsx
  apps/evm/src/components/Apy/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/ClaimRewardsContent/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/ExternalRewardGroup/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/InternalRewardGroup/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/RewardGroupContent/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/RewardGroupFrame/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/types.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/useGetGroups.ts
  apps/evm/src/containers/Layout/testIds.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/Page/OperationForm/AssetInfo/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
  apps/evm/src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/young-zebras-arrive.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: increase minimum Paymaster balance to enable gasless transactions (#4019)
  .changeset/eleven-lions-do.md
  apps/evm/src/constants/gasLess.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/eleven-lions-do.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: filter out inactive reward campaigns
  .changeset/dark-cities-hunt.md
  apps/evm/src/pages/Market/Page/OperationForm/AssetInfo/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: filter out inactive reward campaigns (#4025)
  .changeset/dark-cities-hunt.md
  apps/evm/src/pages/Market/Page/OperationForm/AssetInfo/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/dark-cities-hunt.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: rename zkSync to ZKsync
  .changeset/deep-terms-remain.md
  apps/evm/src/containers/GaslessChecker/index.tsx
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncSepolia.ts
  packages/chains/src/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update zkSync name to ZKsync (#4026)
  .changeset/deep-terms-remain.md
  apps/evm/src/containers/GaslessChecker/index.tsx
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/vTokens/zkSyncSepolia.ts
  packages/chains/src/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/deep-terms-remain.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

refactor: update fallback mechanism of the ethers.js provider
  .changeset/dry-spiders-lead.md
  apps/evm/src/libs/wallet/hooks/useProvider/getProvider.ts
  apps/evm/src/libs/wallet/hooks/useProvider/rotationProvider.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update fallback mechanism of the ethers.js provider (#4032)
  .changeset/dry-spiders-lead.md
  apps/evm/src/libs/wallet/hooks/useProvider/getProvider.ts
  apps/evm/src/libs/wallet/hooks/useProvider/rotationProvider.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/dry-spiders-lead.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: proposal action parsing
  .changeset/bumpy-emus-refuse.md
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/encodeCallData.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/formatIfArray.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/safeJsonParse.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: proposal action parsing (#4033)
  .changeset/bumpy-emus-refuse.md
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/encodeCallData.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/formatIfArray.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/safeJsonParse.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/bumpy-emus-refuse.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: fetch points distributions from API
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/pointDistributions/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/calm-shrimps-wink.md
Due: none
