Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

Notes added by 'git notes add'
  1e/7a9144e66e87c99deed0788f6370ce02480525
Due: none

fix: label of max button on VAI
  src/packages/translations/translations/en.json
Due: prettier --write --check

chore(release): 2.78.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  35/4a166ad2f326eb1105f3f9715de3011c1b9a4a
Due: none

fix: label of max button on VAI (#2075)
  src/packages/translations/translations/en.json
Due: prettier --write --check

chore(release): 2.78.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  27/d18a7bdeec1b762fa5fccb0e7c57de9fbd0290
Due: none

refactor: only wait for one confirmation when sending transaction
  src/hooks/useSendTransaction/useTrackTransaction/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove check on token approval confirmation
  src/hooks/useOperationModal/Modal/RepayForm/SubmitSection/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/SubmitSection/index.tsx
  src/pages/Swap/SubmitSection/index.tsx
  src/pages/Vai/RepayVai/index.tsx
  src/pages/Vault/TransactionForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.78.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  66/17a23b155f22ebf98d430fa923dcfe3f524dca
Due: none

refactor: disable isolated pools on opBNB testnet network
  src/containers/Layout/useGetMenuItems.tsx
  src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add isPaused prop to Vault type
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getVaiVaultPaused/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVaiVaultPaused/__tests__/index.spec.ts
  src/clients/api/queries/getVaiVaultPaused/index.ts
  src/clients/api/queries/getVaiVaultPaused/useGetVaiVaultPaused.ts
  src/clients/api/queries/getXvsVaultPaused/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getXvsVaultPaused/__tests__/index.spec.ts
  src/clients/api/queries/getXvsVaultPaused/index.ts
  src/clients/api/queries/getXvsVaultPaused/useGetXvsVaultPaused.ts
  src/clients/api/queries/useGetVaults/__tests__/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  src/clients/api/queries/useGetVaults/useGetVestingVaults/index.ts
  src/constants/functionKey.ts
  src/packages/contracts/config/index.ts
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.79.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  eb/f82c89adb0cefa530ecf7c520e95a4c88217bf
Due: none

feat: add support for disabled vaults
  src/__mocks__/models/vaults.ts
  src/clients/api/queries/getPendingRewards/__testUtils__/fakeData.ts
  src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/index.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/api/queries/getPendingRewards/types.ts
  src/containers/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  src/containers/Layout/ClaimRewardButton/index.tsx
  src/containers/Layout/ClaimRewardButton/useGetGroups.ts
  src/packages/translations/translations/en.json
  src/pages/Vault/VaultItem/index.spec.tsx
  src/pages/Vault/VaultItem/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove check for approval confirmation (#2081)
  src/hooks/useOperationModal/Modal/RepayForm/SubmitSection/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/SubmitSection/index.tsx
  src/pages/Swap/SubmitSection/index.tsx
  src/pages/Vai/RepayVai/index.tsx
  src/pages/Vault/TransactionForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for disabled vaults (#2083)
  src/__mocks__/models/vaults.ts
  src/clients/api/queries/getPendingRewards/__testUtils__/fakeData.ts
  src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
  src/clients/api/queries/getPendingRewards/formatOutput/index.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/api/queries/getPendingRewards/types.ts
  src/containers/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  src/containers/Layout/ClaimRewardButton/__tests__/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  src/containers/Layout/ClaimRewardButton/index.tsx
  src/containers/Layout/ClaimRewardButton/useGetGroups.ts
  src/packages/translations/translations/en.json
  src/pages/Vault/VaultItem/index.spec.tsx
  src/pages/Vault/VaultItem/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: disable isolated pools on opBNB testnet network (#2082)
  src/containers/Layout/useGetMenuItems.tsx
  src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.80.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  47/94462b4862d60000b1dc19cbaded490b13f874
Due: none

feat: enable Prime on Sepolia + detect Prime flag in useGetIsolatedPools hook
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable Prime on Sepolia (#2084)
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.81.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  3b/1940f1c0f1c9db03c6d124a663ce56faab68c2
Due: none

chore(release): 2.81.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  8e/5cac145b7e52af92168cfdac837dee01362d8c
Due: none

feat: disable supplying and borrowing TUSD
  src/packages/tokens/infos/disabledTokenActions/bscMainnet.ts
  src/packages/tokens/infos/disabledTokenActions/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: disable supplying and borrowing TUSD (#2092)
  src/packages/tokens/infos/disabledTokenActions/bscMainnet.ts
  src/packages/tokens/infos/disabledTokenActions/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.82.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  f2/eacb49430ea383382c13305bf5642056992b54
Due: none

feat: update Venus packages to their prod versions
  package.json
  yarn.lock
Due: prettier --write --check

feat: update Venus packages to their stable versions (#2094)
  package.json
  yarn.lock
Due: prettier --write --check

chore(release): 2.83.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ef/cb63d90e61e3a80cc24639a7d10ea8c8bff437
Due: none

feat: add bridge support for opBNB testnet
  src/clients/api/mutations/bridgeXvs/useBridgeXvs.ts
  src/clients/api/queries/getXvsBridgeFeeEstimation/useGetXvsBridgeFeeEstimation.ts
  src/clients/api/queries/getXvsBridgeStatus/useGetXvsBridgeStatus.ts
  src/constants/chainMetadata.ts
  src/constants/layerZero.ts
  src/containers/PrimeStatusBanner/index.tsx
  src/hooks/useIsFeatureEnabled/index.tsx
  src/packages/contracts/config/index.ts
  src/packages/tokens/infos/commonTokens/opBnbTestnet.ts
  src/pages/Bridge/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add XVS and ETH to Ethereum chain tokens
  src/packages/tokens/infos/commonTokens/ethereum.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add errors to bridge form
  src/clients/api/__mocks__/index.ts
  src/clients/api/mutations/bridgeXvs/useBridgeXvs.ts
  src/hooks/useSendTransaction/useTrackTransaction/index.tsx
  src/packages/translations/translations/en.json
  src/pages/Bridge/__tests__/index.spec.tsx
  src/pages/Bridge/index.tsx
  src/pages/Bridge/testIds.ts
  src/types/index.ts
  src/utilities/generateChainExplorerUrl.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable chain switch and bridge on BSC_MAINNET and Ethereum
  src/containers/Layout/Header/index.tsx
  src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add XVSProxyOFTDest Ethereum address
  src/packages/contracts/config/index.ts
  src/packages/translations/translations/en.json
  src/pages/Bridge/index.tsx
  src/pages/Bridge/useBridgeForm.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
