Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: add .gitkeep file in public folder to include it in repo
  apps/evm/public/.gitkeep
Due: none

remove share.png
  apps/evm/src/assets/img/share.png
Due: none

add share.png
  apps/evm/public/share.png
Due: none

change test image
  apps/evm/index.html
Due: prettier --write --check

feat: add support for period selection to Market page graphs
  .changeset/purple-bags-drive.md
  apps/evm/i18next-parser.config.js
  apps/evm/src/components/charts/ApyChart/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/LidoPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/Market/MarketHistory/Card/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/index.tsx
  apps/evm/src/pages/Market/StakedEthPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  turbo.json
Due: eslint --fix, prettier --write --check, stylelint --fix

apply robots.txt
  apps/evm/public/robots.txt
Due: none

change to share.png
  apps/evm/index.html
Due: prettier --write --check

feat: add support for period selecting to Market page graphs (#2823)
  .changeset/purple-bags-drive.md
  apps/evm/src/clients/api/queries/getMarketHistory/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getMarketHistory/index.ts
  apps/evm/src/components/charts/ApyChart/index.tsx
  apps/evm/src/containers/PrimeStatusBanner/PrimeTokensLeft/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/LidoPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/Market/MarketCard/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/Card/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/Card/useGetLiquidationThresholdPercentage.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/index.tsx
  apps/evm/src/pages/Market/StakedEthPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: hide periods on charts when apyCharts feature is disabled
  .changeset/red-knives-count.md
  apps/evm/src/pages/Market/Market/MarketCard/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/Card/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update spacing between big blocks
  apps/evm/src/pages/Dashboard/Banner/PrimePromotionalBanner/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Governance/index.tsx
  apps/evm/src/pages/IsolatedPools/index.tsx
  apps/evm/src/pages/Market/MarketOld/index.tsx
  apps/evm/src/pages/Pool/styles.ts
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Vault/styles.ts
  apps/evm/src/theme/MuiThemeProvider/muiTheme.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: replace Paper usage with Card + update border-radius prop of big blocks
  apps/evm/src/components/Card/index.tsx
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/components/Modal/styles.ts
  apps/evm/src/components/ProposalCard/index.tsx
  apps/evm/src/components/Table/TableCards.tsx
  apps/evm/src/containers/Layout/Sidebar/NavLink/index.tsx
  apps/evm/src/containers/Link/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/Tables/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/Summary/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/Summary/styles.ts
  apps/evm/src/pages/ConvertVrt/index.tsx
  apps/evm/src/pages/History/Filters/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/VoteSummary/index.tsx
  apps/evm/src/pages/Proposal/VoteSummary/styles.ts
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/pages/Vault/VaultItem/index.tsx
  apps/evm/src/pages/Voter/Holding/index.tsx
  apps/evm/src/pages/Voter/Transactions/index.tsx
  apps/evm/src/pages/Xvs/Header/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update design of select components
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/components/Select/types.ts
  apps/evm/src/components/Table/TableCards.tsx
  apps/evm/src/components/Table/styles.ts
  apps/evm/src/containers/Layout/Header/TopBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/Summary/index.tsx
  apps/evm/src/pages/Bridge/ChainSelect/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/History/Filters/index.tsx
  apps/evm/src/pages/History/Filters/styles.ts
  apps/evm/src/pages/PrimeCalculator/Form/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Voter/Holding/index.tsx
  apps/evm/src/pages/Voter/Transactions/index.tsx
  apps/evm/src/pages/Xvs/Header/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update Account page placeholder
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/containers/Link/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/AccountBreakdown/AccountPlaceholder/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/AccountPlaceholder/styles.ts
  apps/evm/src/pages/Account/AccountBreakdown/AccountPlaceholder/wallet.png
  apps/evm/src/pages/Account/AccountBreakdown/Summary/index.tsx
  apps/evm/src/pages/History/Filters/index.tsx
  apps/evm/src/pages/Voter/Transactions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/afraid-pears-grab.md
Due: none

test: fix tests
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove governanceSearch feature flag
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
  apps/evm/src/pages/Governance/__tests__/indexSearch.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: hide periods on charts when apyCharts feature is disabled (#2854)
  .changeset/red-knives-count.md
  apps/evm/src/pages/Market/Market/MarketCard/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/Card/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: fetch all BSC pools from API
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getApiMarkets/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getApiMarkets/formatToMarket.ts
  apps/evm/src/clients/api/queries/getApiMarkets/index.ts
  apps/evm/src/clients/api/queries/getApiMarkets/useGetApiMarkets.ts
  apps/evm/src/clients/api/queries/getApiPools/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getApiPools/index.ts
  apps/evm/src/clients/api/queries/getApiPools/useGetApiPools.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/getRewardsDistributorSettingsMapping.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/getTokenPriceDollarsMapping.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/types.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/types.ts
  apps/evm/src/clients/api/queries/getLegacyPool/useGetLegacyPool.ts
  apps/evm/src/clients/api/queries/useGetPools/index.tsx
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: adjust tick interval on APY charts
  .changeset/tidy-roses-invite.md
  apps/evm/src/components/charts/ApyChart/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: filter out errors from third-party frames + remove unnecessary errors
  .changeset/popular-colts-buy.md
  apps/evm/package.json
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToPrimePendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToVaultPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getVTokens/index.ts
  apps/evm/src/libs/errors/ErrorBoundary/index.tsx
  apps/evm/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: adjust tick interval on APY charts (#2866)
  .changeset/tidy-roses-invite.md
  apps/evm/src/components/charts/ApyChart/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: filter out errors (#2867)
  .changeset/popular-colts-buy.md
  apps/evm/package.json
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToPrimePendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToVaultPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getVTokens/index.ts
  apps/evm/src/libs/errors/ErrorBoundary/index.tsx
  apps/evm/vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: subgraph URLs used in codegen config (#2878)
  .changeset/khaki-rivers-push.md
  apps/evm/src/config/codegen.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wip
  apps/evm/.env.template
  apps/evm/package.json
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/swapTokens/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/swapTokens/index.spec.ts
  apps/evm/src/clients/api/mutations/swapTokens/index.ts
  apps/evm/src/clients/api/mutations/swapTokens/useSwapTokens.ts
  apps/evm/src/clients/api/queries/getSwapQuote/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getSwapQuote/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getSwapQuote/formatToSwap.ts
  apps/evm/src/clients/api/queries/getSwapQuote/index.tsx
  apps/evm/src/clients/api/queries/getSwapQuote/types.ts
  apps/evm/src/clients/api/queries/getSwapQuote/useGetSwapQuote.tsx
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/constants/swap.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useZeroXApiUrl/__tests__/index.spec.tsx
  apps/evm/src/hooks/useZeroXApiUrl/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/ZeroXSequenceMulticall.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/errors/logError.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/wallet/hooks/useProvider/getProvider.ts
  apps/evm/src/libs/wallet/types.ts
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/LidoPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/StakedEthPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Swap/__tests__/index.spec.tsx
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/restService.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for market subgraph on Arbitrum Sepolia
  .changeset/itchy-hats-switch.md
  apps/evm/.env.template
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add buttons to save token in wallet on Vault page
  .changeset/bright-ears-carry.md
  apps/evm/src/components/AddTokenToWalletButton/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/pages/Vault/VaultItem/index.tsx
  apps/evm/src/pages/Vault/VaultItem/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add buttons to save token in wallet on Vault page (#2906)
  .changeset/bright-ears-carry.md
  apps/evm/src/components/AddTokenToWalletButton/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/pages/Vault/VaultItem/index.tsx
  apps/evm/src/pages/Vault/VaultItem/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for market subgraph on Arbitrum Sepolia (#2905)
  .changeset/itchy-hats-switch.md
  apps/evm/.env.template
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: use correct address for native token
  .changeset/tasty-birds-refuse.md
  apps/evm/src/__mocks__/contracts/venusLens.ts
  apps/evm/src/__mocks__/models/tokens.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/indexPrime.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/clients/api/queries/getTokenBalances/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/constants/address.ts
  apps/evm/src/hooks/useGetSwapInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumOne.ts
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbTestnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: use correct address for native token (#2925)
  .changeset/tasty-birds-refuse.md
  apps/evm/src/__mocks__/contracts/venusLens.ts
  apps/evm/src/__mocks__/models/tokens.ts
  apps/evm/src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/__tests__/__snapshots__/indexPrime.spec.ts.snap
  apps/evm/src/clients/api/queries/getLegacyPool/formatToPool/index.ts
  apps/evm/src/clients/api/queries/getTokenBalances/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVTokens/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/constants/address.ts
  apps/evm/src/hooks/useGetSwapInfo/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumOne.ts
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumSepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/opBnbTestnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: liquidation threshold of core pool assets
  .changeset/lemon-lamps-exercise.md
  apps/evm/src/pages/Market/Market/MarketHistory/Card/useGetLiquidationThresholdPercentage.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: liquidation threshold of core pool assets (#2945)
  .changeset/lemon-lamps-exercise.md
  apps/evm/src/pages/Market/Market/MarketHistory/Card/useGetLiquidationThresholdPercentage.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
