Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: trim comments in the Prime rewards card
  apps/evm/src/clients/api/queries/getPrimeUserPendingRewards/index.ts
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeUserRewards/__tests__/index.spec.ts
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeUserRewards/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update market
  apps/evm/src/components/Apy/DistributionList/__tests__/index.spec.tsx
  apps/evm/src/components/Apy/DistributionList/index.tsx
  apps/evm/src/components/Apy/__tests__/index.spec.tsx
  apps/evm/src/components/Apy/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update market
  apps/evm/src/components/Apy/DistributionList/__tests__/index.spec.tsx
  apps/evm/src/components/Apy/DistributionList/index.tsx
  apps/evm/src/components/Apy/PrimeBadge/CalculatorLink/index.tsx
  apps/evm/src/components/Apy/PrimeBadge/index.tsx
  apps/evm/src/components/ApyBreakdown/__tests__/index.spec.tsx
  apps/evm/src/components/ApyBreakdown/formatRows/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/formatApiRewardDistributors/__tests__/index.spec.ts
  apps/evm/src/utilities/formatApiRewardDistributors/formatRewardTokenDistribution/formatRewardDistribution/index.ts
  apps/evm/src/utilities/formatApiRewardDistributors/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update
  apps/evm/src/components/Apy/__tests__/index.spec.tsx
  apps/evm/src/components/Apy/index.tsx
  apps/evm/src/components/AssetApy/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.collateralGate.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/useGetPoolsQuery/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/useGetPoolsQuery/getPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update test spec
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.collateralGate.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/lucky-pugs-jump.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: update transalation
  apps/evm/src/__mocks__/models/liquidityHubYieldGroups.ts
  apps/evm/src/assets/img/centrifugeIcon.svg
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/constants/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: fix ticket
  apps/evm/src/components/Apy/BoostTooltip/index.tsx
  apps/evm/src/components/Apy/DistributionList/index.tsx
  apps/evm/src/components/Apy/MerklBadge/index.tsx
  apps/evm/src/components/Apy/PrimeBadge/CalculatorLink/__tests__/index.spec.tsx
  apps/evm/src/components/Apy/PrimeBadge/CalculatorLink/index.tsx
  apps/evm/src/components/Apy/PrimeBadge/index.tsx
  apps/evm/src/components/Apy/__tests__/index.spec.tsx
  apps/evm/src/components/Apy/index.tsx
  apps/evm/src/components/AssetApy/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/index.tsx
  apps/evm/src/pages/Trade/PairInfo/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: fix ticket
  apps/evm/src/components/Apy/PrimeBadge/CalculatorLink/index.tsx
  apps/evm/src/constants/routing.ts
  apps/evm/src/pages/PrimeCalculator/Form/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/olive-pandas-shave.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: align liquidity hub expanded source columns with the parent table
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/__tests__/index.spec.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/useColumns/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: tighten the liquidity hub row footer column order assertions
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add VPD-1943 before/after screenshots for PR review
  vpd-1943-card-view.png
  vpd-1943-table-view.png
Due: none

feat: add analytics to Liquidity Hub
  .changeset/fluffy-walls-hunt.md
  apps/evm/src/clients/api/mutations/useMigrateCoreSupplyToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useMigrateCoreSupplyToLiquidityHub/index.ts
  apps/evm/src/clients/api/mutations/useSupplyToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSupplyToLiquidityHub/index.ts
  apps/evm/src/clients/api/mutations/useWithdrawFromLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useWithdrawFromLiquidityHub/index.ts
  apps/evm/src/containers/Layout/NavBar/MenuItem/index.tsx
  apps/evm/src/containers/Layout/NavBar/types.ts
  apps/evm/src/containers/Layout/NavBar/useMenuItems/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/containers/LiquidityHubForm/Form/index.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithCollateralForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithCollateralForm/index.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithWalletForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithWalletForm/index.tsx
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/index.tsx
  apps/evm/src/libs/analytics/AnalyticProvider/RouteChangeTracker/index.tsx
  apps/evm/src/libs/analytics/useAnalytics/types.ts
  apps/evm/src/pages/Dashboard/Hubs/LiquidityHubCard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Hubs/LiquidityHubCard/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Hubs/LiquidityHubCard/index.tsx
  apps/evm/src/pages/Dashboard/Hubs/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Hubs/index.tsx
  apps/evm/src/pages/Dashboard/Placeholder/index.tsx
  apps/evm/src/pages/Dashboard/PositionCardsTab/index.tsx
  apps/evm/src/pages/Dashboard/PreviewCard/index.tsx
  apps/evm/src/pages/LiquidityHubs/LiquidityHubTable/__tests__/index.spec.tsx
  apps/evm/src/pages/LiquidityHubs/LiquidityHubTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: skip the hubs API call on chains without Liquidity Hub
  apps/evm/src/clients/api/queries/getLiquidityHubs/useGetLiquidityHubs/__tests__/index.spec.tsx
  apps/evm/src/clients/api/queries/getLiquidityHubs/useGetLiquidityHubs/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: address self-review on the Liquidity Hub chain guard
  apps/evm/src/clients/api/queries/getLiquidityHubs/useGetLiquidityHubs/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support liquidity hub centrifuge
  apps/evm/src/components/ImgGroup/index.stories.tsx
  apps/evm/src/components/ImgGroup/index.tsx
  apps/evm/src/components/ImgGroupTooltip/index.tsx
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/types.ts
  apps/evm/src/components/Tooltip/index.tsx
  apps/evm/src/components/YieldGroups/index.tsx
  apps/evm/src/hooks/responsive.ts
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/useColumns/CollateralGroup/index.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/useColumns/RatingGroup/__tests__/index.spec.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/useColumns/RatingGroup/index.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/__tests__/index.spec.tsx
  apps/evm/src/utilities/formatToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/constants/index.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/index.ts
  apps/evm/src/utilities/formatToLiquidityHub/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support liquidity hub centrifuge
  apps/evm/src/components/Table/Head/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support liquidity hub table
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/__tests__/index.spec.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/useColumns/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support liquidity hub table
  .changeset/twenty-turkeys-stare.md
Due: none

fix: skip hubs api on unsupport chains
  .changeset/beige-nails-think.md
Due: none

fix: restrict the transaction history feature to BNB Chain
  .changeset/olive-moons-hide.md
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update style
  apps/evm/src/components/Table/Head/index.tsx
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/types.ts
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/index.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/useColumns/index.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/index.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/columnWidths.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/beige-nails-think.md
  .changeset/olive-moons-hide.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add boundary for dashboard
  .changeset/pretty-hornets-cough.md
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/index.ts
  apps/evm/src/clients/api/queries/getAccountPerformanceHistory/types.ts
  apps/evm/src/components/AreaChart/getXAxisTicks/__tests__/index.spec.ts
  apps/evm/src/components/AreaChart/getXAxisTicks/index.ts
  apps/evm/src/components/AreaChart/index.tsx
  apps/evm/src/components/SectionErrorBoundary/__tests__/index.spec.tsx
  apps/evm/src/components/SectionErrorBoundary/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/twenty-turkeys-stare.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: count a Merkl campaign once when it covers several markets
  .changeset/eight-teams-peel.md
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklUserRewards/__tests__/formatMerklRewardsResponse.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklUserRewards/formatMerklRewardsResponse.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/eight-teams-peel.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add Venus Spoke pool list page
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/__mocks__/models/spokePools/buildSpokeAsset/index.ts
  apps/evm/src/__mocks__/models/spokePools/index.ts
  apps/evm/src/__mocks__/models/vTokens.ts
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Controls/index.tsx
  apps/evm/src/containers/Layout/Header/usePathNodes/index.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/SpokePools/NoResults/index.tsx
  apps/evm/src/pages/SpokePools/SpokePoolCard/CollateralGroup/index.tsx
  apps/evm/src/pages/SpokePools/SpokePoolCard/index.tsx
  apps/evm/src/pages/SpokePools/SpokePoolCard/useColumns/index.tsx
  apps/evm/src/pages/SpokePools/constants.ts
  apps/evm/src/pages/SpokePools/index.tsx
  apps/evm/src/pages/SpokePools/useFilters/index.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Venus Spoke market detail page
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/__mocks__/models/spokePools/buildSpokeAsset/index.ts
  apps/evm/src/__mocks__/models/spokePools/index.ts
  apps/evm/src/components/SpokeCollateralGroup/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/InterestRateChart/index.tsx
  apps/evm/src/containers/InterestRateChart/styles.ts
  apps/evm/src/containers/InterestRateChart/testIds.ts
  apps/evm/src/containers/Layout/Header/SpokeMarketInfo/index.tsx
  apps/evm/src/containers/Layout/Header/index.tsx
  apps/evm/src/containers/Layout/Header/usePathNodes/SpokeMarketName/index.tsx
  apps/evm/src/containers/Layout/Header/usePathNodes/index.tsx
  apps/evm/src/containers/SpokeMarketLoader/index.tsx
  apps/evm/src/hooks/useGetSpokeMarket/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Market/index.tsx
  apps/evm/src/pages/SpokeMarket/BorrowInfo/index.tsx
  apps/evm/src/pages/SpokeMarket/LoanInfo/index.tsx
  apps/evm/src/pages/SpokeMarket/SupportedCollateral/index.tsx
  apps/evm/src/pages/SpokeMarket/SupportedCollateral/useColumns/index.tsx
  apps/evm/src/pages/SpokeMarket/index.tsx
  apps/evm/src/pages/SpokePools/SpokePoolCard/index.tsx
  apps/evm/src/pages/SpokePools/SpokePoolCard/useColumns/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Venus Spoke operate widget
  apps/evm/src/components/Tabs/index.tsx
  apps/evm/src/containers/SpokeForm/BorrowForm/ZeroCollateralNotice/index.tsx
  apps/evm/src/containers/SpokeForm/BorrowForm/getBorrowLimits/index.ts
  apps/evm/src/containers/SpokeForm/BorrowForm/index.tsx
  apps/evm/src/containers/SpokeForm/Form/index.tsx
  apps/evm/src/containers/SpokeForm/Form/useForm/index.ts
  apps/evm/src/containers/SpokeForm/Form/useForm/useFormValidation/index.ts
  apps/evm/src/containers/SpokeForm/Form/useForm/useFormValidation/validateCommonCases/index.ts
  apps/evm/src/containers/SpokeForm/RepayForm/constants.ts
  apps/evm/src/containers/SpokeForm/RepayForm/index.tsx
  apps/evm/src/containers/SpokeForm/SupplyForm/index.tsx
  apps/evm/src/containers/SpokeForm/WithdrawForm/index.tsx
  apps/evm/src/containers/SpokeForm/index.tsx
  apps/evm/src/containers/SpokeFormModal/index.tsx
  apps/evm/src/hooks/useTabs/index.tsx
  apps/evm/src/libs/errors/customErrorPhrases.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/SpokeMarket/index.tsx
  apps/evm/src/pages/SpokePools/SpokePoolCard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Venus Spoke positions to the Dashboard
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Markets/PoolPills/index.tsx
  apps/evm/src/pages/Dashboard/Markets/SpokePositions/BorrowedTable/index.tsx
  apps/evm/src/pages/Dashboard/Markets/SpokePositions/SummaryRow/index.tsx
  apps/evm/src/pages/Dashboard/Markets/SpokePositions/SuppliedTable/index.tsx
  apps/evm/src/pages/Dashboard/Markets/SpokePositions/index.tsx
  apps/evm/src/pages/Dashboard/Markets/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: point Pendle PT vault at the timelock-owned adapter
  apps/evm/src/libs/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: fix event tracking
  apps/evm/src/clients/api/mutations/useMigrateCoreSupplyToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useMigrateCoreSupplyToLiquidityHub/index.ts
  apps/evm/src/components/Apy/DistributionList/index.tsx
  apps/evm/src/components/ApyBreakdown/formatRows/index.tsx
  apps/evm/src/components/ApyBreakdown/index.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithCollateralForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/SupplyTabs/SupplyWithCollateralForm/index.tsx
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
  apps/evm/src/libs/analytics/useAnalytics/types.ts
  apps/evm/src/pages/Dashboard/Hubs/LiquidityHubCard/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Hubs/LiquidityHubCard/index.tsx
  apps/evm/src/pages/Dashboard/Hubs/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Hubs/index.tsx
  apps/evm/src/pages/Landing/Hero/index.tsx
  apps/evm/src/pages/LiquidityHubs/LiquidityHubTable/__tests__/index.spec.tsx
  apps/evm/src/pages/LiquidityHubs/LiquidityHubTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/fluffy-walls-hunt.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: ignore liquidity hub yield groups with an unrecognized kind
  apps/evm/src/utilities/formatToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/constants/index.ts
  apps/evm/src/utilities/formatToLiquidityHub/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/plenty-moons-repeat.md
Due: none

chore: add changeset
  .changeset/lucky-poems-invent.md
Due: none

chore: bump package versions
  .changeset/lucky-poems-invent.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check
