Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/silver-women-change.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: p tags font-size on landing page
  .changeset/swift-files-speak.md
  apps/landing/src/assets/styles/index.css
  apps/landing/src/pages/Home/Safety/Safety.module.css
Due: none

feat: enable E-mode feature on BNB Chain
  .changeset/nice-buttons-play.md
  apps/evm/package.json
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/LegacyComptroller.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/vTokens/bscTestnet.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: enable corepack
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
Due: none

ci: enable corepack in the test workflow
  .github/workflows/ci.yaml
Due: none

fix: e-mode blocking positions modal
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/BlockingPosition/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only apply E-mode filter if user has E-mode group enabled
  apps/evm/src/containers/MarketTable/useControls/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: prompt user to switch chain to enable E-mode group if needed
  apps/evm/src/containers/SwitchChain/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: disabled button text color
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable E-mode feature on BNB Chain (#4848)
  .changeset/nice-buttons-play.md
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  apps/evm/package.json
  apps/evm/src/containers/MarketTable/useControls/index.tsx
  apps/evm/src/containers/SwitchChain/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/LegacyComptroller.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/tokens/infos/vTokens/bscTestnet.ts
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/BlockingPosition/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/nice-buttons-play.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: p tags font-size on landing page (#4849)
  .changeset/swift-files-speak.md
  apps/landing/src/assets/styles/index.css
  apps/landing/src/pages/Home/Safety/Safety.module.css
Due: none

chore: bump package versions
  .changeset/swift-files-speak.md
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

fix: add xSolvBTC icon to landing page
  apps/landing/public/coins/xSolvBtc.svg
  apps/landing/src/api/constants.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add user VAI balances to pool results
  apps/evm/src/__mocks__/models/pools.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/useMintVai/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/mutations/useMintVai/index.ts
  apps/evm/src/clients/api/queries/getUserVaiBorrowBalance/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getUserVaiBorrowBalance/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getUserVaiBorrowBalance/useGetUserVaiBorrowBalance.ts
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.eMode.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.prime.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getUserVaiBorrowBalance/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/pages/Account/Summary/index.tsx
  apps/evm/src/pages/Account/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/__tests__/index.prime.spec.tsx
  apps/evm/src/pages/Account/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/index.tsx
  apps/evm/src/pages/Account/useExtractData/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/pages/Vai/Repay/__tests__/index.spec.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
  apps/evm/src/pages/Vai/Repay/useForm/index.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: account for VAI borrow position when checking E-mode group eligibility
  apps/evm/src/clients/api/mutations/useRepayVai/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/mutations/useRepayVai/index.ts
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/BlockingPosition/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/BlockingPositionModal/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/Header/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/index.spec.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/__tests__/index.eMode.spec.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/formatEModeGroups/index.ts
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/types.ts
  apps/evm/src/pages/Pool/__tests__/index.eMode.spec.tsx
  apps/evm/src/pages/Vai/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/huge-hairs-make.md
Due: none

fix: only show acknowledgement component when needed
  .changeset/vast-parks-make.md
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only show acknowledgement component when needed (#4858)
  .changeset/vast-parks-make.md
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/vast-parks-make.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: add xSolvBTC icon to landing page (#4856)
  apps/landing/public/coins/xSolvBtc.svg
  apps/landing/src/api/constants.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/huge-hairs-make.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: ask user risk acknowledgement when needed
  .changeset/dry-pants-float.md
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: ask user risk acknowledgement when needed (#4859)
  .changeset/dry-pants-float.md
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/dry-pants-float.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add legal page links to dApp's footer
  .changeset/large-onions-tan.md
  apps/evm/src/containers/Layout/Footer/IconLink/index.tsx
  apps/evm/src/containers/Layout/Footer/constants.ts
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/large-onions-tan.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: footer link keys
  .changeset/light-files-ask.md
  apps/evm/src/containers/Layout/Footer/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/light-files-ask.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: wip
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  packages/chains/generated/chainIconSrcs.ts
  packages/chains/generated/tokenIconSrcs.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/purple-kiwis-divide.md
Due: none

feat: support intrinsic APYs
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/formatRewardDistribution/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/components/Apy/BoostTooltip/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/AssetInfo/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update intrinsic APY copy
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/AssetInfo/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove new label from Port feature
  .changeset/warm-walls-speak.md
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display collateral status of E-mode markets
  .changeset/curvy-bugs-cough.md
  apps/evm/src/components/MarketStatus/Cell/index.tsx
  apps/evm/src/components/MarketStatus/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/EModeInfo/AssetSettings/index.tsx
  apps/evm/src/pages/Market/EModeInfo/index.tsx
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/Asset/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/Tabs/EMode/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/useGetColumns/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/purple-kiwis-divide.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: remove new label from Port feature (#4878)
  .changeset/warm-walls-speak.md
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/warm-walls-speak.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
