Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: add changeset
  .changeset/yellow-rats-battle.md
Due: none

chore: bump package versions
  .changeset/yellow-rats-battle.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add decimal
  apps/evm/src/containers/MarketForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: turn the vault filters into multi-selects
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Vaults/VaultList/NoResults/index.tsx
  apps/evm/src/pages/Vaults/VaultList/hooks/useFilterOptions.tsx
  apps/evm/src/pages/Vaults/VaultList/index.tsx
  apps/evm/src/pages/Vaults/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: address self-review on the vault multi-select filters
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Vaults/VaultList/hooks/useFilterOptions.tsx
  apps/evm/src/pages/Vaults/VaultList/index.tsx
  apps/evm/src/pages/Vaults/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add protect to redeem
  apps/evm/src/clients/api/mutations/useWithdrawFromLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useWithdrawFromLiquidityHub/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/floppy-bikes-guess.md
  .changeset/tidy-pandas-listen.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: display vh market intrinsic APY
  apps/evm/src/components/Apy/BoostTooltip/index.tsx
  apps/evm/src/components/ApyBreakdown/formatRows/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/formatApiRewardDistributors/formatRewardTokenDistribution/formatRewardDistribution/index.ts
  apps/evm/src/utilities/getCombinedApy/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add english translations for the intrinsic rewards of vh markets
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

chore: add changeset
  .changeset/six-pears-try.md
Due: none

feat: add remaining translations
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

feat: add logError and testcase for lh reward type
  apps/evm/src/utilities/formatApiRewardDistributors/__tests__/index.spec.ts
  apps/evm/src/utilities/formatApiRewardDistributors/formatRewardTokenDistribution/formatRewardDistribution/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/six-pears-try.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add translate and ui
  apps/evm/src/components/MultiSelect/index.tsx
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: link the Venus Liquidity Hub mention in the Liquidity Hub intrinsic APY tooltip
  .changeset/clever-doors-shine.md
  apps/evm/src/components/Apy/BoostTooltip/__tests__/index.spec.tsx
  apps/evm/src/components/Apy/BoostTooltip/index.tsx
  apps/evm/src/components/ApyBreakdown/__tests__/index.liquidityHubIntrinsic.spec.tsx
  apps/evm/src/components/ApyBreakdown/formatRows/index.tsx
  apps/evm/src/components/ApyBreakdown/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: reset the vault filters when the chain changes
  apps/evm/src/pages/Vaults/VaultList/hooks/useFilterOptions.tsx
  apps/evm/src/pages/Vaults/__tests__/index.spec.tsx
  apps/evm/src/pages/Vaults/constants.ts
  apps/evm/src/pages/Vaults/hooks/useResetFiltersOnChainChange/index.ts
  apps/evm/src/pages/Vaults/index.tsx
  apps/evm/src/pages/Vaults/utilities/deleteFilterSearchParams/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: derive expected tooltip copy from the translation catalogue
  apps/evm/src/components/Apy/BoostTooltip/__tests__/index.spec.tsx
  apps/evm/src/components/ApyBreakdown/__tests__/index.liquidityHubIntrinsic.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: document why the chain id mock is overridden in the click handler
  apps/evm/src/pages/Vaults/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: hide market banner
  .changeset/tidy-banners-rest.md
  apps/evm/src/hooks/useUserChainSettings/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useUserChainSettings/index.tsx
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/tidy-banners-rest.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add campaign apy
  .changeset/olive-pandas-shave.md
  apps/evm/src/clients/api/queries/useGetPools/useGetPoolsQuery/getPools/appendMerklCollateralGates/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/useGetPoolsQuery/getPools/appendMerklCollateralGates/index.ts
  apps/evm/src/clients/api/queries/useGetPools/useGetPoolsQuery/getPools/index.ts
  apps/evm/src/components/Apy/BoostTooltip/index.tsx
  apps/evm/src/components/Apy/DistributionList/Distribution/index.tsx
  apps/evm/src/components/Apy/DistributionList/index.tsx
  apps/evm/src/components/Apy/MerklBadge/MerklIcon/index.tsx
  apps/evm/src/components/Apy/MerklBadge/MerklIcon/merklLogo.svg
  apps/evm/src/components/Apy/MerklBadge/index.tsx
  apps/evm/src/components/Apy/__tests__/index.spec.tsx
  apps/evm/src/components/Apy/index.tsx
  apps/evm/src/components/ApyBreakdown/__tests__/index.spec.tsx
  apps/evm/src/components/ApyBreakdown/formatRows/index.tsx
  apps/evm/src/containers/MarketForm/ApyBreakdown/__tests__/index.spec.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/formatApiRewardDistributors/formatRewardTokenDistribution/formatRewardDistribution/index.ts
  apps/evm/src/utilities/formatApiRewardDistributors/formatRewardTokenDistribution/index.ts
  apps/evm/src/utilities/formatApiRewardDistributors/index.ts
  apps/evm/src/utilities/formatDistributionApyToReadableValue/index.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: replace the hub contract row with the operator address
  .changeset/lucky-pugs-jump.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getLiquidityHubOperatorAddress/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getLiquidityHubOperatorAddress/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getLiquidityHubOperatorAddress/index.ts
  apps/evm/src/clients/api/queries/getLiquidityHubOperatorAddress/useGetLiquidityHubOperatorAddress/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getLiquidityHubOperatorAddress/useGetLiquidityHubOperatorAddress/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/LiquidityHub/LiquidityHubInfo/__tests__/index.spec.tsx
  apps/evm/src/pages/LiquidityHub/LiquidityHubInfo/index.tsx
  apps/evm/src/pages/LiquidityHub/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add campaign apy
  apps/evm/src/clients/api/queries/getSimulatedPool/index.ts
  apps/evm/src/clients/api/queries/useGetPools/useGetPoolsQuery/getPools/appendMerklCollateralGates/index.ts
  apps/evm/src/clients/api/queries/useGetPools/useGetPoolsQuery/getPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/useGetPoolsQuery/getPools/withMerklCollateralGates/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/useGetPools/useGetPoolsQuery/getPools/withMerklCollateralGates/index.ts
  apps/evm/src/components/ApyBreakdown/formatRows/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/clever-doors-shine.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: stop health bar marks painting over the token list dropdown
  apps/evm/src/components/ProgressBar/__tests__/index.spec.tsx
  apps/evm/src/components/ProgressBar/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: keep the multi-select option highlight within the menu border
  apps/evm/src/components/MultiSelect/__tests__/index.spec.tsx
  apps/evm/src/components/MultiSelect/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update z-index
  .changeset/cuddly-berries-mate.md
Due: none

Update cuddly-berries-mate.md
  .changeset/cuddly-berries-mate.md
Due: none

chore: bump package versions
  .changeset/cuddly-berries-mate.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: remove buffer
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/formatUserMaxTokenValue/index.ts
  apps/evm/src/containers/LiquidityHubForm/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove buffer
  .changeset/whole-bikes-sort.md
Due: none

chore: bump package versions
  .changeset/whole-bikes-sort.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: add webGL deni boundary
  .changeset/new-chefs-start.md
  apps/evm/src/pages/Landing/Hero/Galaxy/index.tsx
  apps/evm/src/pages/Landing/Hero/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove the Spotlight module
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getTopMarkets/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getTopMarkets/index.ts
  apps/evm/src/clients/api/queries/getTopMarkets/useGetTopMarkets.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/containers/AssetCard/index.stories.tsx
  apps/evm/src/containers/AssetCard/index.tsx
  apps/evm/src/containers/TopMarkets/TypeButton/index.tsx
  apps/evm/src/containers/TopMarkets/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/TopMarkets/__tests__/index.spec.tsx
  apps/evm/src/containers/TopMarkets/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Markets/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Markets/index.tsx
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Markets/Header/index.tsx
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/new-chefs-start.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: update link
  apps/evm/src/assets/img/ratingAgencies/moodys.png
  apps/evm/src/assets/img/ratingAgencies/particula.png
  apps/evm/src/assets/img/ratingAgencies/spGlobal.svg
  apps/evm/src/clients/api/queries/getLiquidityHub/index.ts
  apps/evm/src/clients/api/queries/getLiquidityHubs/index.ts
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/formatToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/getAgencyIconSrc/__tests__/index.spec.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/getAgencyIconSrc/constants.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/getAgencyIconSrc/index.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/index.ts
  apps/evm/src/utilities/formatToLiquidityHub/mockCentrifugeYieldGroup.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update calc
  apps/evm/src/components/Apy/BoostTooltip/index.tsx
  apps/evm/src/components/Apy/DistributionList/__tests__/index.spec.tsx
  apps/evm/src/components/Apy/DistributionList/index.tsx
  apps/evm/src/components/Apy/MerklBadge/CampaignIcon/campaignLogo.svg
  apps/evm/src/components/Apy/MerklBadge/CampaignIcon/index.tsx
  apps/evm/src/components/Apy/MerklBadge/MerklIcon/merklLogo.svg
  apps/evm/src/components/Apy/MerklBadge/index.tsx
  apps/evm/src/components/Apy/__tests__/index.spec.tsx
  apps/evm/src/components/Apy/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: read the hub operator address from the API instead of on-chain
  apps/evm/src/__mocks__/api/liquidityHubs.json
  apps/evm/src/__mocks__/models/liquidityHubs.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getLiquidityHubOperatorAddress/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getLiquidityHubOperatorAddress/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getLiquidityHubOperatorAddress/index.ts
  apps/evm/src/clients/api/queries/getLiquidityHubOperatorAddress/useGetLiquidityHubOperatorAddress/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getLiquidityHubOperatorAddress/useGetLiquidityHubOperatorAddress/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/LiquidityHub/LiquidityHubInfo/__tests__/index.spec.tsx
  apps/evm/src/pages/LiquidityHub/LiquidityHubInfo/index.tsx
  apps/evm/src/pages/LiquidityHub/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/formatToLiquidityHub/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/utilities/formatToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/utilities/formatToLiquidityHub/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: side-aware Prime rewards card CTA
  apps/evm/src/clients/api/queries/getPrimeUserPendingRewards/index.ts
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/vaultArrowDown.tsx
  apps/evm/src/components/Icon/icons/vaultArrowUp.tsx
  apps/evm/src/components/Icon/icons/vaultArrowUpDown.tsx
  apps/evm/src/containers/MarketFormModal/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/PrimeLeaderboard/MarketActionsButton/__tests__/index.spec.tsx
  apps/evm/src/pages/PrimeLeaderboard/MarketActionsButton/constants.ts
  apps/evm/src/pages/PrimeLeaderboard/MarketActionsButton/index.stories.tsx
  apps/evm/src/pages/PrimeLeaderboard/MarketActionsButton/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/UserRewardsCard/index.tsx
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeUserRewards/__tests__/index.spec.ts
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeUserRewards/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update market select
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeUserRewards/__tests__/index.spec.ts
  apps/evm/src/pages/PrimeLeaderboard/useGetPrimeUserRewards/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
