Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: bump package versions
  .changeset/shaggy-rabbits-worry.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: wip
  apps/evm/.env.template
  apps/evm/package.json
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/useImportSupplyPosition/index.ts
  apps/evm/src/clients/api/mutations/useSupply/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/mutations/useSupply/__tests__/index.spec.tsx
  apps/evm/src/clients/api/mutations/useSupply/index.ts
  apps/evm/src/config/envVariables.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/biconomy.ts
  apps/evm/src/containers/ImportPositionsModal/Modal/ImportablePositions/Position/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/index.tsx
  apps/evm/src/containers/SwitchChain/index.tsx
  apps/evm/src/hooks/useSendTransaction/index.ts
  apps/evm/src/hooks/useSendTransaction/sendTransaction/index.ts
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/__tests__/index.spec.tsx
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/getTransactionStatus/index.ts
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/index.tsx
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/__tests__/index.spec.tsx
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/waitForTransaction/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/AaveV3Pool.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/wallet/__mocks__/index.ts
  apps/evm/src/libs/wallet/chains.ts
  apps/evm/src/libs/wallet/hooks/useMeeClient/__mocks__/index.tsx
  apps/evm/src/libs/wallet/hooks/useMeeClient/index.tsx
  apps/evm/src/libs/wallet/index.ts
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/generateExplorerUrl.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add UI for the Import Positions modal (#4389)
  .changeset/twelve-lies-wave.md
  apps/evm/src/App/index.tsx
  apps/evm/src/components/AccordionAnimatedContent/index.tsx
  apps/evm/src/components/Apy/index.tsx
  apps/evm/src/components/Chip/index.tsx
  apps/evm/src/components/Icon/icons/graph.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/lightning.tsx
  apps/evm/src/components/Icon/icons/lightning2.tsx
  apps/evm/src/components/Icon/icons/shield2.tsx
  apps/evm/src/components/Modal/index.tsx
  apps/evm/src/components/Modal/styles.ts
  apps/evm/src/components/Notice/index.tsx
  apps/evm/src/components/Tooltip/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/ImportablePositions/Position/ApyCell/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/ImportablePositions/Position/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/ImportablePositions/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/Infos/InfoSection/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/Infos/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/Notice/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/aaveLogo.svg
  apps/evm/src/containers/ImportPositionsModal/Modal/index.tsx
  apps/evm/src/containers/ImportPositionsModal/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/VotingWallet/index.tsx
  apps/evm/src/pages/Proposal/VoteModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/twelve-lies-wave.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/heavy-pets-call.md
Due: none

refactor: rename USDT to USD₮0 in Arbitrum
  apps/evm/src/libs/tokens/infos/commonTokens/arbitrumOne.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove vUSDT icon from USD₮0
  apps/evm/src/libs/tokens/infos/vTokens/arbitrumOne.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/heavy-pets-call.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: fix typo in comment
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: fix typo in comment (#4434)
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wip
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/SwapButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: grey out paused pools
  apps/evm/src/components/TagGroup/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add burned WBNB button
  .changeset/eager-forks-think.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/index.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/useGetBurnedWBnb.ts
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/star.tsx
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/constants/xvsSnapshotUrl.ts
  apps/evm/src/containers/Layout/BurnedWBnbButton/icon.svg
  apps/evm/src/containers/Layout/BurnedWBnbButton/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/XsControls/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/VotingWallet/index.tsx
  apps/evm/src/utilities/convertMantissaToTokens.ts
  apps/evm/src/utilities/getSmartDecimalPlaces/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: upgrade wagmi to latest version
  .changeset/violet-mice-notice.md
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

feat: upgrade wagmi to latest version (#4463)
  .changeset/violet-mice-notice.md
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

feat: remove code related to Maxwell hardfork
  .changeset/mighty-ducks-punch.md
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
  apps/evm/src/App/ChainUpgradeHandler/index.tsx
  apps/evm/src/App/index.tsx
  packages/chains/src/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove code related to Maxwell hardfork (#4464)
  .changeset/mighty-ducks-punch.md
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
  apps/evm/src/App/ChainUpgradeHandler/index.tsx
  apps/evm/src/App/index.tsx
  packages/chains/src/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/orange-kings-grow.md
Due: none

feat: add Alchemy RPC to all mainnet chains
  apps/evm/src/config/rpcUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/mighty-ducks-punch.md
  .changeset/orange-kings-grow.md
  .changeset/violet-mice-notice.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: add burned WBNB button (#4447)
  .changeset/eager-forks-think.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/index.ts
  apps/evm/src/clients/api/queries/getBurnedWBnb/useGetBurnedWBnb.ts
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/star.tsx
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/constants/xvsSnapshotUrl.ts
  apps/evm/src/containers/Layout/BurnedWBnbButton/icon.svg
  apps/evm/src/containers/Layout/BurnedWBnbButton/index.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/ClaimRewardButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/XsControls/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/VotingWallet/index.tsx
  apps/evm/src/utilities/convertMantissaToTokens.ts
  apps/evm/src/utilities/getSmartDecimalPlaces/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/eager-forks-think.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/mighty-ducks-punch.md
  .changeset/violet-mice-notice.md
Due: none

feat: add analytics
  apps/evm/src/containers/ImportPositionsModal/Modal/index.tsx
  apps/evm/src/containers/ImportablePositions/ProtocolPositions/Position/index.tsx
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/hooks/useShouldDisplayImportUi/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add boundaries to importable positions
  apps/evm/src/__mocks__/models/importablePositions.ts
  apps/evm/src/clients/api/mutations/useImportSupplyPosition/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getImportablePositions/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/constants/importPositions.ts
  apps/evm/src/containers/ImportablePositions/Notice/index.tsx
  apps/evm/src/containers/ImportablePositions/index.tsx
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useGetProfitableImports/filterProfitableImports/index.tsx
  apps/evm/src/hooks/useShouldDisplayImportUi/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove code related to Maxwell hardfork (#4464)
  .changeset/mighty-ducks-punch.md
Due: none

feat: wire up Import Positions modal
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/constants/functionKey.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add burned WBNB button (#4447)
  .changeset/eager-forks-think.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: upgrade wagmi to latest version (#4463)
  .changeset/violet-mice-notice.md
  yarn.lock
Due: none

chore: add changeset
  .changeset/red-feet-film.md
Due: none

feat: use NodeReal RPCs primarily
  apps/evm/src/config/rpcUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/red-feet-film.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/loud-melons-switch.md
  apps/evm/package.json
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/libs/analytics/useAnalytics.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: improve error handling
  apps/evm/src/containers/ImportablePositions/ProtocolPositions/Position/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
