Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/wet-vans-hunt.md
Due: none

fix: update BSC_MAINNET governance subgraph
  apps/evm/src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable multichain governance on mainnets
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update TWT logo
  apps/evm/src/libs/tokens/img/twt.svg
  apps/landing/public/coins/twt.svg
Due: none

chore: add changeset
  .changeset/curly-stingrays-joke.md
Due: none

feat: add support for eBTC on Sepolia and Ethereum (#3459)
  .changeset/plenty-pens-rush.md
  apps/evm/src/libs/tokens/img/eBtc.png
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/plenty-pens-rush.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/curly-stingrays-joke.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

feat: add native USDC to zkSync
  apps/evm/src/libs/tokens/img/usdcNative.svg
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/zkSyncSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/angry-planets-live.md
Due: none

chore: bump package versions
  .changeset/large-rabbits-allow.md
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/translations/index.tsx
  apps/evm/src/pages/Proposal/Commands/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: governance subgraph URLs on Ethereum and Arbitrum One
  .changeset/good-terms-fail.md
  apps/evm/src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: small responsive issues with Governance feature
  .changeset/brown-birds-arrive.md
  apps/evm/src/components/MarkdownViewer/index.tsx
  apps/evm/src/components/ProposalCard/styles.ts
  apps/evm/src/pages/Proposal/Commands/Status/index.tsx
  apps/evm/src/pages/Proposal/Description/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wet-vans-hunt.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/angry-planets-live.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: generic date format (#3473)
  .changeset/large-rabbits-allow.md
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/__snapshots__/index.spec.ts.snap
  apps/evm/src/libs/translations/index.tsx
  apps/evm/src/pages/Proposal/Commands/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/large-rabbits-allow.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: list proposals on Proposal page
  .changeset/rare-camels-switch.md
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/__mocks__/subgraph/bscProposals.json
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/index.spec.ts
  apps/evm/src/containers/ConnectWallet/Container/index.tsx
  apps/evm/src/containers/ConnectWallet/__tests__/index.spec.tsx
  apps/evm/src/containers/ConnectWallet/index.stories.tsx
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/containers/ConnectWallet/styles.ts
  apps/evm/src/hooks/useFormatTo/__tests__/index.spec.tsx
  apps/evm/src/hooks/useGetChainMetadata/__tests__/index.spec.tsx
  apps/evm/src/hooks/useGetVTreasuryContractAddress/__tests__/index.spec.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/ActionsAccordion/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/Cta/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/StepInfo/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/useCommand.tsx
  apps/evm/src/pages/Proposal/Commands/Description/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Status/index.tsx
  apps/evm/src/pages/Proposal/Commands/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalCancelableByUser/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalExecutable/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Proposal/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up execute button of remote proposals (#3362)
  .changeset/honest-items-lick.md
  apps/evm/src/clients/api/mutations/executeProposal/index.spec.ts
  apps/evm/src/clients/api/mutations/executeProposal/index.ts
  apps/evm/src/clients/api/mutations/executeProposal/useExecuteProposal.ts
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/index.ts
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposal/index.ts
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposals/index.ts
  apps/evm/src/clients/subgraph/queries/governanceNonBsc/getNonBscProposals/index.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Description/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Proposal/styles.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display executed payloads counts on proposal list (#3354)
  .changeset/thin-hairs-vanish.md
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getProposal/useGetCachedProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/components/LabeledProgressCircle/index.tsx
  apps/evm/src/components/ProgressCircle/index.tsx
  apps/evm/src/components/ProposalCard/styles.ts
  apps/evm/src/components/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/Indicator/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/styles.ts
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/index.governanceSearch.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
  apps/evm/src/pages/Governance/testIds.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/Progress/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalCancelableByUser/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add links to transactions in Commands section of Proposal page (#3435)
  .changeset/hungry-vans-exist.md
  apps/evm/src/__mocks__/subgraph/nonBscProposals.json
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/queries/governanceBsc/fragments/bscProposal.graphql
  apps/evm/src/clients/subgraph/queries/governanceNonBsc/fragments/nonBscProposal.graphql
  apps/evm/src/clients/subgraph/utilities/enrichRemoteProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  apps/evm/src/containers/ChainExplorerLink/index.tsx
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/containers/ReadableActionSignature/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalPreview/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/ActionsAccordion/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Status/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Voter/Transactions/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/generateExplorerUrl.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: governance subgraph URL on BSC
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add governance subgraph URLs for Optimism Sepolia and zkSync Sepolia
  .changeset/good-kings-clean.md
  apps/evm/src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: show borrow and supply cap thresholds on Market page
  .changeset/angry-otters-kick.md
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/__snapshots__/index.spec.ts.snap
  apps/evm/src/components/ProgressCircle/index.stories.tsx
  apps/evm/src/components/ProgressCircle/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/PoolTagContent/index.tsx
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/indexApyCharts.spec.tsx
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/indexMarketParticipantCounts.spec.tsx
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/indexMarketHistory.spec.tsx
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/indexMarketParticipantCounts.spec.tsx
  apps/evm/src/pages/Market/Market/MarketCard/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/Card/CapThreshold/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/Card/index.tsx
  apps/evm/src/pages/Market/Market/MarketInfo/index.tsx
  apps/evm/src/pages/Proposal/Commands/Progress/index.tsx
  apps/landing/package.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: show borrow and supply cap thresholds on Market page (#3487)
  .changeset/angry-otters-kick.md
  apps/evm/src/components/ProgressCircle/index.stories.tsx
  apps/evm/src/components/ProgressCircle/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/PoolTagContent/index.tsx
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexApyCharts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/indexApyCharts.spec.tsx
  apps/evm/src/pages/Market/CorePoolMarket/__tests__/indexMarketParticipantCounts.spec.tsx
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketHistory.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/__snapshots__/indexMarketParticipantCounts.spec.tsx.snap
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/indexMarketHistory.spec.tsx
  apps/evm/src/pages/Market/IsolatedPoolMarket/__tests__/indexMarketParticipantCounts.spec.tsx
  apps/evm/src/pages/Market/Market/MarketCard/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/Card/CapThreshold/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/Card/index.tsx
  apps/evm/src/pages/Market/Market/MarketInfo/index.tsx
  apps/evm/src/pages/Proposal/Commands/Progress/index.tsx
  apps/landing/package.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/angry-otters-kick.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: remove testId props
  .changeset/loud-rules-ring.md
  apps/evm/src/components/AssetWarning/index.tsx
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/components/Select/types.ts
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/types.ts
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Market/Market/InterestRateChart/index.tsx
  apps/evm/src/pages/Market/Market/MarketCard/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/Card/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/index.tsx
  apps/evm/src/pages/Market/Market/MarketInfo/index.tsx
  apps/evm/src/pages/PrimeCalculator/Form/index.tsx
  apps/evm/src/pages/Proposal/VoteSummary/index.tsx
  apps/evm/src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove testId props (#3514)
  .changeset/loud-rules-ring.md
  apps/evm/src/components/AssetWarning/index.tsx
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/components/Select/types.ts
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/types.ts
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Market/Market/InterestRateChart/index.tsx
  apps/evm/src/pages/Market/Market/MarketCard/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/Card/index.tsx
  apps/evm/src/pages/Market/Market/MarketHistory/index.tsx
  apps/evm/src/pages/Market/Market/MarketInfo/index.tsx
  apps/evm/src/pages/PrimeCalculator/Form/index.tsx
  apps/evm/src/pages/Proposal/VoteSummary/index.tsx
  apps/evm/src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/loud-rules-ring.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: use env variable to determine environment
  .changeset/hot-walls-nail.md
  apps/evm/src/config/index.ts
  apps/evm/src/constants/production.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: use env variable to determine environment (#3521)
  .changeset/hot-walls-nail.md
  apps/evm/src/config/index.ts
  apps/evm/src/constants/production.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/hot-walls-nail.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: upgrade Vite and its related dependencies
  .changeset/polite-bats-count.md
  apps/evm/package.json
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAbis/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/importJsonProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/vite.config.mts
  apps/landing/package.json
  apps/landing/vite.config.mts
  yarn.lock
Due: prettier --write --check

refactor: update governance subgraph to latest version
  apps/evm/src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update governance subgraph to latest version (#3533)
  apps/evm/src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update Markets subgraph URL on zkSync
  .changeset/clever-walls-remain.md
  apps/evm/src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update Markets subgraph URL on zkSync (#3534)
  .changeset/clever-walls-remain.md
  apps/evm/src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: upgrade Vite, Vitest and other Vite plugins (#3522)
  .changeset/polite-bats-count.md
  apps/evm/package.json
  apps/evm/src/libs/contracts/scripts/generateContractRecords/generateContracts/generateAbis/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/importJsonProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/vite.config.mts
  apps/landing/package.json
  apps/landing/vite.config.mts
  yarn.lock
Due: prettier --write --check

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
