Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/big-spies-prove.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/chatty-clocks-rescue.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

feat: allow enter and exit markets to be disabled
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/containers/MarketTable/useGenerateColumns.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/getDisabledTokenActions/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/utilities/getDisabledTokenActions/__tests__/index.spec.ts
  apps/evm/src/utilities/getDisabledTokenActions/index.ts
  apps/evm/src/utilities/index.ts
  apps/evm/src/utilities/isCollateralActionDisabled/__tests__/index.spec.ts
  apps/evm/src/utilities/isCollateralActionDisabled/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/tangy-needles-fix.md
Due: none

chore: bump package versions
  .changeset/tangy-needles-fix.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support for Google Tag Manager
  .changeset/calm-wolves-jog.md
  apps/evm/index.html
  apps/landing/index.html
Due: prettier --write --check

feat: add support for Google Tag Manager (#4326)
  .changeset/calm-wolves-jog.md
  apps/evm/index.html
  apps/landing/index.html
Due: prettier --write --check

chore: bump package versions
  .changeset/calm-wolves-jog.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

fix: add support for USDe on Ethereum and Sepolia instead of Unichain mainnet and sepolia
  .changeset/thin-goats-marry.md
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/beige-trees-arrive.md
Due: none

feat: add tBTC to Ethereum/Sepolia
  apps/evm/src/libs/tokens/img/underlyingTokens/tBtc.svg
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add xSolvBTC to BNB Mainnet/Testnet
  apps/evm/src/libs/tokens/img/underlyingTokens/xSolvBtc.png
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add xSolvBTC to BNB Mainnet/Testnet
  apps/evm/src/libs/tokens/img/underlyingTokens/xSolvBtc.svg
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/beige-trees-arrive.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: add support for USDe on Ethereum and Sepolia (#4342)
  .changeset/thin-goats-marry.md
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/thin-goats-marry.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: display canceled remote commands in proposal list
  .changeset/red-chicken-feel.md
  apps/evm/src/components/LabeledProgressCircle/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/Warning/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display canceled remote commands in proposal list (#4365)
  .changeset/red-chicken-feel.md
  apps/evm/src/components/LabeledProgressCircle/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/Warning/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/red-chicken-feel.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: wip
  apps/evm/package.json
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/MigrateButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/AaveV3Pool.json
  apps/evm/src/libs/contracts/config/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for Maxwell Fork of the BNB Chain
  .changeset/red-signs-write.md
  apps/evm/src/App/index.tsx
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for Maxwell Fork of the BNB Chain (#4371)
  .changeset/red-signs-write.md
  apps/evm/src/App/index.tsx
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/red-signs-write.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: add support for USD₮0 and WBTC on Unichain networks
  .changeset/tangy-comics-thank.md
  apps/evm/src/libs/tokens/img/underlyingTokens/usdt0.svg
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add support for SolvBTC to landing page
  .changeset/wide-falcons-change.md
  apps/landing/public/coins/solvBtc.png
  apps/landing/src/api/constants.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add support for SolvBTC to landing page (#4378)
  .changeset/wide-falcons-change.md
  apps/landing/public/coins/solvBtc.png
  apps/landing/src/api/constants.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wide-falcons-change.md
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

feat: start working on Import Positions modal
  apps/evm/src/App/index.tsx
  apps/evm/src/components/Chip/index.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/lightning.tsx
  apps/evm/src/components/Notice/index.tsx
  apps/evm/src/containers/ImportPositionsModal/InfoSection/index.tsx
  apps/evm/src/containers/ImportPositionsModal/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/VotingWallet/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for USD₮0 and WBTC on Unichain networks (#4377)
  .changeset/tangy-comics-thank.md
  apps/evm/src/libs/tokens/img/underlyingTokens/usdt0.svg
  apps/evm/src/libs/tokens/infos/commonTokens/unichainMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/unichainSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/tangy-comics-thank.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: work on mobile UI for the Import Positions modal
  apps/evm/src/components/Apy/index.tsx
  apps/evm/src/components/Icon/icons/graph.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/components/Icon/icons/lightning2.tsx
  apps/evm/src/components/Icon/icons/shield2.tsx
  apps/evm/src/components/Tooltip/index.tsx
  apps/evm/src/containers/ImportPositionsModal/ImportablePositions/Position/ApyCell/index.tsx
  apps/evm/src/containers/ImportPositionsModal/ImportablePositions/Position/index.tsx
  apps/evm/src/containers/ImportPositionsModal/ImportablePositions/index.tsx
  apps/evm/src/containers/ImportPositionsModal/aaveLogo.svg
  apps/evm/src/containers/ImportPositionsModal/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: work on desktop UI for the Import Positions modal + add importPositions feature flag
  apps/evm/src/components/AccordionAnimatedContent/index.tsx
  apps/evm/src/components/Modal/index.tsx
  apps/evm/src/components/Modal/styles.ts
  apps/evm/src/containers/ImportPositionsModal/Modal/ImportablePositions/Position/ApyCell/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/ImportablePositions/Position/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/ImportablePositions/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/Infos/InfoSection/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/Infos/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/Notice/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/aaveLogo.svg
  apps/evm/src/containers/ImportPositionsModal/Modal/index.tsx
  apps/evm/src/containers/ImportPositionsModal/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useSendTransaction/useTrackTransaction/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/VoteModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/twelve-lies-wave.md
Due: none

feat: add support for USDF on BNB Chain
  .changeset/shaggy-rabbits-worry.md
  apps/evm/src/libs/tokens/img/underlyingTokens/usdf.png
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: fetch importable positions
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getImportablePositions/getImportableAaveSupplyPositions/index.ts
  apps/evm/src/clients/api/queries/getImportablePositions/index.ts
  apps/evm/src/clients/api/queries/getImportablePositions/useGetImportablePositions.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/constants/time.ts
  apps/evm/src/containers/ImportPositionsModal/Modal/ImportablePositions/Position/ApyCell/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/ImportablePositions/Position/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/useGetProfitableImports/filterProfitableImports/index.tsx
  apps/evm/src/containers/ImportPositionsModal/Modal/useGetProfitableImports/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/AavePoolAddressesProvider.json
  apps/evm/src/libs/contracts/config/externalAbis/AaveUiPoolDataProvider.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/formatPercentageToReadableValue/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for USDF on BNB Chain (#4396)
  .changeset/shaggy-rabbits-worry.md
  apps/evm/src/libs/tokens/img/underlyingTokens/usdf.png
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
