Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: upgrade @venusprotocol/isolated-pools to 1.3.0-dev.3
  package.json
  yarn.lock
Due: prettier --write --check

feat: update distributions definition
  src/__mocks__/models/asset.ts
  src/clients/api/__mocks__/index.ts
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDailyDistributedRewardTokensMapping.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions/formatDistribution.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions/index.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatRewardTokenDataMapping.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainAssets/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainAssets/index.ts
  src/clients/api/queries/useGetMainPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  src/components/AccountData/useAssetInfo.ts
  src/pages/Market/index.tsx
  src/pages/Xvs/Header/index.tsx
  src/pages/Xvs/Table/index.tsx
  src/types/index.ts
  src/utilities/getCombinedDistributionApys.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add tooltips to market table headers
  src/components/Table/TableCards.tsx
  src/components/Table/storiesUtils.tsx
  src/components/Table/types.ts
  src/containers/MarketTable/styles.ts
  src/containers/MarketTable/useGenerateColumns.tsx
  src/pages/Account/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Account/VaultsBreakdown/Table/index.tsx
  src/pages/Dashboard/__snapshots__/index.spec.tsx.snap
  src/pages/History/HistoryTable/index.tsx
  src/pages/IsolatedPools/PoolTable/index.tsx
  src/pages/Voter/Transactions/index.tsx
  src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
  src/pages/Xvs/Table/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: re-enable analytics and error logger
  src/App/index.tsx
  src/context/Analytics/index.tsx
  src/context/ErrorLogger/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add Buffer polyfill + fix contract type generation scripts
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: design tweaks
  src/components/Delimiter/styles.ts
  src/components/TextField/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: design tweaks (#1207)
  src/components/Delimiter/styles.ts
  src/components/TextField/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add tooltips to market table headers (#1203)
  src/components/Table/TableCards.tsx
  src/components/Table/storiesUtils.tsx
  src/components/Table/types.ts
  src/containers/MarketTable/styles.ts
  src/containers/MarketTable/useGenerateColumns.tsx
  src/pages/Account/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Account/VaultsBreakdown/Table/index.tsx
  src/pages/Dashboard/__snapshots__/index.spec.tsx.snap
  src/pages/History/HistoryTable/index.tsx
  src/pages/IsolatedPools/PoolTable/index.tsx
  src/pages/Voter/Transactions/index.tsx
  src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
  src/pages/Xvs/Table/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: re-enable analytics and error logger + bug fix (#1205)
  package.json
  src/App/index.tsx
  src/context/Analytics/index.tsx
  src/context/ErrorLogger/index.tsx
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: take lastRewardingBlock in consideration (#1204)
  package.json
  src/__mocks__/models/asset.ts
  src/clients/api/__mocks__/index.ts
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDailyDistributedRewardTokensMapping.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions/formatDistribution.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions/index.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatRewardTokenDataMapping.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainAssets/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainAssets/index.ts
  src/clients/api/queries/useGetMainPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  src/components/AccountData/useAssetInfo.ts
  src/pages/Market/index.tsx
  src/pages/Xvs/Header/index.tsx
  src/pages/Xvs/Table/index.tsx
  src/types/index.ts
  src/utilities/getCombinedDistributionApys.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  e7b2ae89505978ec38dcb0e3edd3b1baafd176a6
Due: none

feat: update exports of contracts package
  src/packages/contracts/contractInfos/index.ts
  src/packages/contracts/getContract/__tests__/index.spec.ts
  src/packages/contracts/getContract/index.ts
  src/packages/contracts/getContractAddress/__tests__/index.spec.ts
  src/packages/contracts/getContractAddress/index.ts
  src/packages/contracts/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove ETH_MAINNET chain ID from ChainId type
  src/packages/contracts/getContractAddress/__tests__/index.spec.ts
  src/packages/contracts/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update contracts package + create useGetUniqueContract hook
  src/__mocks__/contracts/multicall.ts
  src/__mocks__/models/tokenCombinations.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/api/queries/getVTokenBalancesAll/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVTokenBalancesAll/__tests__/index.spec.ts
  src/clients/api/queries/getVTokenBalancesAll/index.ts
  src/clients/api/queries/getVTokenBalancesAll/useGetVTokenBalancesAll.ts
  src/clients/contracts/__mocks__/index.ts
  src/clients/contracts/getters.ts
  src/clients/contracts/hooks.ts
  src/config/index.ts
  src/constants/bsc.ts
  src/constants/endpoints.ts
  src/hooks/useGetSwapInfo/__tests__/formatToSwap.spec.ts
  src/packages/contracts/contractInfos/index.ts
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
  src/packages/contracts/getContract/__tests__/index.spec.ts
  src/packages/contracts/getContract/index.ts
  src/packages/contracts/getContractAddress/__tests__/index.spec.ts
  src/packages/contracts/getContractAddress/index.ts
  src/packages/contracts/getGenericContract/__tests__/index.spec.ts
  src/packages/contracts/getGenericContract/index.ts
  src/packages/contracts/getSwapRouterContract/__tests__/index.spec.ts
  src/packages/contracts/getSwapRouterContract/index.ts
  src/packages/contracts/getSwapRouterContractAddress/__tests__/index.spec.ts
  src/packages/contracts/getSwapRouterContractAddress/index.ts
  src/packages/contracts/getUniqueContract/__tests__/index.spec.ts
  src/packages/contracts/getUniqueContract/index.ts
  src/packages/contracts/getUniqueContractAddress/__tests__/index.spec.ts
  src/packages/contracts/getUniqueContractAddress/index.ts
  src/packages/contracts/index.ts
  src/pages/Vault/modals/ActionModal/index.spec.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add useGetSwapRouterContract and useGetGeneriContract hooks
  src/clients/contracts/hooks.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: memoize Trans component to prevent unnecessary re-renders
  src/translation/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: add memoization in ProgressBar component to prevent unnecessary re-renders
  src/components/ProgressBar/AccountHealth/index.tsx
  src/components/ProgressBar/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  24c92c70f71b333ae6ab36b299e8c58ac47f8509
Due: none

chore(release): 2.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  9c1c98c2d99158ead9044c8bc05802b1fc75e02f
Due: none

feat: update API endpoints
  .storybook/preview.ts
  src/clients/api/queries/getMainMarkets/index.ts
  src/clients/api/queries/getMarketHistory/index.spec.ts
  src/clients/api/queries/getMarketHistory/index.ts
  src/clients/api/queries/getProposals/getProposal.spec.ts
  src/clients/api/queries/getProposals/getProposal.ts
  src/clients/api/queries/getProposals/index.spec.ts
  src/clients/api/queries/getProposals/index.ts
  src/clients/api/queries/getTransactions/index.spec.ts
  src/clients/api/queries/getTransactions/index.ts
  src/clients/api/queries/getVoterAccounts/index.spec.ts
  src/clients/api/queries/getVoterAccounts/index.ts
  src/clients/api/queries/getVoterDetails/index.spec.ts
  src/clients/api/queries/getVoterDetails/index.ts
  src/clients/api/queries/getVoterHistory/index.spec.ts
  src/clients/api/queries/getVoterHistory/index.ts
  src/clients/api/queries/getVoters/index.spec.ts
  src/clients/api/queries/getVoters/index.ts
  src/clients/api/queries/getVoters/types.ts
  src/constants/endpoints.ts
  src/pages/Proposal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: use the correct condition for last rewards block
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  960eda80073b737f8e5cf67c1c2e5e1e66413db9
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

fix: re-enable hash routing
  src/App/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.7.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  2fff045105b5821291d4e2be416de22f3723a068
Due: none

fix: let users repay their entire VAI loan
  src/clients/api/queries/getVaiRepayAmountWithInterests/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVaiRepayAmountWithInterests/formatToOutput.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/types.ts
  src/clients/api/queries/useGetMainAssets/index.spec.tsx
  src/clients/api/queries/useGetMainAssets/index.ts
  src/pages/Vai/RepayVai/__snapshots__/index.spec.tsx.snap
  src/pages/Vai/RepayVai/index.spec.tsx
  src/pages/Vai/RepayVai/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: retrieve multicall contract using contracts package
  src/clients/api/mutations/claimRewards/__snapshots__/index.spec.ts.snap
  src/clients/api/mutations/claimRewards/index.spec.ts
  src/clients/api/mutations/claimRewards/index.ts
  src/clients/api/mutations/claimRewards/types.ts
  src/clients/api/mutations/claimRewards/useClaimRewards.ts
  src/clients/contracts/__mocks__/index.ts
  src/clients/contracts/getters.ts
  src/clients/contracts/hooks.ts
  src/constants/contracts/abis/multicall.json
Due: eslint --fix, prettier --write --check, stylelint --fix
