Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: add AssetMultiSelect
  apps/evm/src/pages/Stats/Wallets/AssetMultiSelect/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add WalletsTable
  apps/evm/src/pages/Stats/Wallets/WalletsTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up wallets tab
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Stats/Wallets/index.tsx
  apps/evm/src/pages/Stats/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: invert net APY color logic in account overview
  apps/evm/src/containers/AccountOverview/__tests__/index.netApy.spec.tsx
  apps/evm/src/containers/AccountOverview/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/young-dingos-know.md
Due: none

fix: use blue/white color tokens for account overview net APY
  apps/evm/src/containers/AccountOverview/__tests__/index.netApy.spec.tsx
  apps/evm/src/containers/AccountOverview/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: set up pool fixture explicitly in positive net APY case
  apps/evm/src/containers/AccountOverview/__tests__/index.netApy.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Centrifuge funds yield group and CRA ratings
  apps/evm/src/__mocks__/models/liquidityHubSources.ts
  apps/evm/src/__mocks__/models/liquidityHubYieldGroups.ts
  apps/evm/src/__mocks__/models/liquidityHubs.ts
  apps/evm/src/assets/img/placeholderIcon.svg
  apps/evm/src/components/ImgGroupTooltip/index.tsx
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/components/Table/types.ts
  apps/evm/src/components/YieldGroups/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/useColumns/CollateralGroup/index.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/useColumns/RatingGroup/__tests__/index.spec.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/useColumns/RatingGroup/index.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/RowFooter/useColumns/index.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/YieldGroupList/__tests__/index.spec.tsx
  apps/evm/src/pages/LiquidityHub/AllocationDetails/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/formatToLiquidityHub/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/utilities/formatToLiquidityHub/__tests__/index.spec.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/constants/index.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/constants/index.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: address self-review on the CRA agency icon lookup
  apps/evm/src/components/ImgGroupTooltip/index.tsx
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/getAgencyIconSrc/__tests__/index.spec.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/getAgencyIconSrc/constants.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/getAgencyIconSrc/index.ts
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update vault ordering
  .changeset/brown-symbols-brush.md
  apps/evm/src/pages/Vaults/__tests__/index.spec.tsx
  apps/evm/src/pages/Vaults/index.tsx
  apps/evm/src/pages/Vaults/useSortVaults/__tests__/index.spec.ts
  apps/evm/src/pages/Vaults/useSortVaults/getVaultTier/index.ts
  apps/evm/src/pages/Vaults/useSortVaults/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update vault ordering (#5789)
  .changeset/brown-symbols-brush.md
  apps/evm/src/pages/Vaults/__tests__/index.spec.tsx
  apps/evm/src/pages/Vaults/index.tsx
  apps/evm/src/pages/Vaults/useSortVaults/__tests__/index.spec.ts
  apps/evm/src/pages/Vaults/useSortVaults/getVaultTier/index.ts
  apps/evm/src/pages/Vaults/useSortVaults/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/brown-symbols-brush.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support for vceBTC and Solv venue
  .changeset/hip-tigers-shout.md
  apps/evm/src/clients/api/queries/useGetVaults/getVenueConfig/asseto.png
  apps/evm/src/clients/api/queries/useGetVaults/getVenueConfig/index.ts
  apps/evm/src/clients/api/queries/useGetVaults/getVenueConfig/solv.svg
  packages/chains/src/images/tokens/vceBTC.svg
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for vceBTC and Solv venue (#5790)
  .changeset/hip-tigers-shout.md
  apps/evm/src/clients/api/queries/useGetVaults/getVenueConfig/asseto.png
  apps/evm/src/clients/api/queries/useGetVaults/getVenueConfig/index.ts
  apps/evm/src/clients/api/queries/useGetVaults/getVenueConfig/solv.svg
  packages/chains/src/images/tokens/vceBTC.svg
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/hip-tigers-shout.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

fix: update venus vault status
  .changeset/update-vault-deposit-status.md
  apps/evm/src/__mocks__/models/vaults.ts
  apps/evm/src/clients/api/queries/useGetVaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetVaults/formatToVenusVault/index.tsx
  apps/evm/src/components/StatusLabel/index.tsx
  apps/evm/src/containers/VaultCard/InstitutionalVaultModal/PositionTab/Footer/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Vaults/VaultCard/__tests__/index.spec.tsx
  apps/evm/src/pages/Vaults/useSortVaults/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add fixed-rate vault banner
  .changeset/bright-vaults-appear.md
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/hooks/useUserChainSettings/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Markets/MarketsAdBanner/index.tsx
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Markets/index.tsx
  apps/evm/src/store/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: rename the Venus vault Active state to Supply
  apps/evm/src/__mocks__/models/vaults.ts
  apps/evm/src/clients/api/queries/useGetVaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetVaults/formatToVenusVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/useGetVaults/formatToVenusVault/index.tsx
  apps/evm/src/components/StatusLabel/index.tsx
  apps/evm/src/containers/VaultCard/InstitutionalVaultModal/PositionTab/Footer/__tests__/index.spec.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Vaults/VaultCard/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Vaults/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Vaults/VaultList/hooks/useFilterOptions.tsx
  apps/evm/src/pages/Vaults/__tests__/index.spec.tsx
  apps/evm/src/pages/Vaults/useSortVaults/__tests__/index.spec.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add mock and icon
  apps/evm/src/assets/img/ratingAgencies/moodys.png
  apps/evm/src/assets/img/ratingAgencies/particula.png
  apps/evm/src/assets/img/ratingAgencies/spGlobal.svg
  apps/evm/src/clients/api/queries/getLiquidityHub/index.ts
  apps/evm/src/clients/api/queries/getLiquidityHubs/index.ts
  apps/evm/src/components/ImgGroupTooltip/index.tsx
  apps/evm/src/utilities/formatToLiquidityHub/formatToLiquidityHubYieldGroup/formatToLiquidityHubResource/getAgencyIconSrc/constants.ts
  apps/evm/src/utilities/formatToLiquidityHub/mockCentrifugeYieldGroup.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update redirect
  apps/evm/src/pages/Vaults/VaultList/hooks/useFilterOptions.tsx
  apps/evm/src/pages/Vaults/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: change rates
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
Due: prettier --write --check

feat: change i18n
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

feat: change snapshot
  apps/evm/src/hooks/useUserChainSettings/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

chore: bump package versions
  .changeset/bright-vaults-appear.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: support vtokens
  .changeset/tidy-pandas-listen.md
  packages/chains/src/images/tokens/vhU.png
  packages/chains/src/images/tokens/vhUSDC.png
  packages/chains/src/images/tokens/vhUSDT.png
  packages/chains/src/tokens/underlyingTokens/bscMainnet.ts
  packages/chains/src/tokens/underlyingTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: support vtokens
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only offer XVS bridge destinations whose OFT lane is open on-chain
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getXvsBridgeDestinationLimits/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsBridgeDestinationLimits/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeDestinationLimits/index.ts
  apps/evm/src/clients/api/queries/getXvsBridgeDestinationLimits/useGetXvsBridgeDestinationLimits.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/pages/Bridge/__tests__/index.spec.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Bridge/useBridgeDestinationChains.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: refetch account transaction history when pools resolve
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/__tests__/useGetAccountTransactionHistory.spec.ts
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/useGetAccountTransactionHistory.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: sort logic
  apps/evm/src/hooks/useSortVaults/__tests__/index.spec.ts
  apps/evm/src/hooks/useSortVaults/getVaultApyPercentage/index.ts
  apps/evm/src/hooks/useSortVaults/getVaultDeploymentTimestampMs/index.ts
  apps/evm/src/hooks/useSortVaults/getVaultTier/index.ts
  apps/evm/src/hooks/useSortVaults/index.ts
  apps/evm/src/pages/Dashboard/Vaults/index.tsx
  apps/evm/src/pages/Vaults/VaultList/hooks/useFilterOptions.tsx
  apps/evm/src/pages/Vaults/index.tsx
  apps/evm/src/pages/Vaults/useSortVaults/__tests__/index.spec.ts
  apps/evm/src/pages/Vaults/useSortVaults/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: sort logic
  apps/evm/src/pages/Vaults/VaultList/hooks/useFilterOptions.tsx
  apps/evm/src/pages/Vaults/VaultList/index.tsx
  apps/evm/src/pages/Vaults/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: sort logic
  apps/evm/src/pages/Vaults/VaultList/index.tsx
  apps/evm/src/pages/Vaults/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: sort logic
  apps/evm/src/hooks/useSortVaults/__tests__/index.spec.ts
  apps/evm/src/hooks/useSortVaults/index.ts
  apps/evm/src/utilities/compareNumbersWithMissingLast.spec.ts
  apps/evm/src/utilities/compareNumbersWithMissingLast.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: decimal logic
  apps/evm/src/components/TokenTextField/index.spec.tsx
  apps/evm/src/components/TokenTextField/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: decimal logic
  apps/evm/src/components/TokenTextField/getStep.ts
  apps/evm/src/components/TokenTextField/index.spec.tsx
  apps/evm/src/components/TokenTextField/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add supply
  apps/evm/src/components/StatusLabel/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: promote the liquidity hub in the top bar and landing page
  apps/evm/src/containers/Layout/NavBar/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/NavBar/index.tsx
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/containers/Layout/testIds.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Landing/Hero/__tests__/index.spec.tsx
  apps/evm/src/pages/Landing/Hero/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add isolate
  apps/evm/src/pages/Trade/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add translation
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
