Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove unused code in the supply form
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: bottom padding of top bar
  .changeset/rich-bugs-throw.md
  apps/evm/src/containers/Layout/Header/TopBar/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update icon of market table placeholder
  .changeset/twelve-pugs-retire.md
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/MarketTable/pause.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove unused transalation entries
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

feat: update icon of market table placeholder (#4559)
  .changeset/twelve-pugs-retire.md
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/MarketTable/pause.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: bottom padding of top bar (#4558)
  .changeset/rich-bugs-throw.md
  apps/evm/src/containers/Layout/Header/TopBar/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: sync responsive breakspoints with designs
  .changeset/huge-candles-lead.md
  apps/evm/src/App/MuiThemeProvider/muiTheme.ts
  apps/evm/src/containers/ImportablePositions/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Governance/index.tsx
  apps/evm/src/pages/Market/index.tsx
  apps/evm/src/pages/Pools/PoolTable/index.tsx
  apps/evm/src/pages/Pools/PoolTable/styles.ts
  apps/evm/src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
  packages/ui/src/theme.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: capture paths in analytics
  .changeset/stale-ends-burn.md
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: fix analytics for page views (#4561)
  .changeset/stale-ends-burn.md
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove Google Tag manager and Vercel Analytics
  .changeset/dirty-jars-juggle.md
  apps/evm/index.html
  apps/evm/package.json
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
  apps/landing/index.html
  apps/landing/package.json
  apps/landing/src/components/App.tsx
  apps/landing/src/components/MainContent/Intro.tsx
  apps/landing/src/components/Wallets/index.tsx
  apps/landing/src/constants/production.ts
  apps/landing/src/constants/version.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: change name of failed import event
  .changeset/floppy-sites-vanish.md
  apps/evm/src/containers/ImportablePositions/ProtocolPositions/Position/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/tall-chicken-kiss.md
Due: none

fix: round interval division
  apps/evm/src/components/charts/ApyChart/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove Google Tag manager and Vercel Analytics (#4567)
  .changeset/dirty-jars-juggle.md
  apps/evm/index.html
  apps/evm/package.json
  apps/evm/src/libs/analytics/AnalyticProvider/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
  apps/landing/index.html
  apps/landing/package.json
  apps/landing/src/components/App.tsx
  apps/landing/src/components/MainContent/Intro.tsx
  apps/landing/src/components/Wallets/index.tsx
  apps/landing/src/constants/production.ts
  apps/landing/src/constants/version.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/common-singers-laugh.md
  .changeset/dirty-jars-juggle.md
  .changeset/easy-poems-behave.md
  .changeset/eight-buckets-knock.md
  .changeset/empty-parks-agree.md
  .changeset/evil-ducks-fix.md
  .changeset/large-rooms-tan.md
  .changeset/legal-cities-heal.md
  .changeset/rich-bugs-throw.md
  .changeset/stale-ends-burn.md
  .changeset/tall-chicken-kiss.md
  .changeset/twelve-pugs-retire.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: add tabs
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/NewPage/Tabs/index.tsx
  apps/evm/src/pages/Account/NewPage/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Cell component
  apps/evm/src/components/Cell/index.stories.tsx
  apps/evm/src/components/Cell/index.tsx
  apps/evm/src/components/CellGroup/index.stories.tsx
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/components/HealthFactor/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/components/HealthFactor/__tests__/index.spec.tsx
  apps/evm/src/components/HealthFactor/index.stories.tsx
  apps/evm/src/components/HealthFactor/index.tsx
  apps/evm/src/components/HealthFactorPill/index.stories.tsx
  apps/evm/src/components/HealthFactorPill/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/pages/Account/NewPage/Summary/index.tsx
  apps/evm/src/pages/Account/PoolSummary/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/PoolSummary/index.tsx
  apps/evm/src/utilities/formatHealthFactorToReadableValue/index.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: start working on new Account page structure
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/pages/Account/AccountPlaceholder/index.tsx
  apps/evm/src/pages/Account/NewPage/PerformanceGraph/index.tsx
  apps/evm/src/pages/Account/NewPage/Summary/index.tsx
  apps/evm/src/pages/Account/NewPage/index.tsx
  apps/evm/src/pages/Account/OldPage/AccountBreakdown/index.spec.tsx
  apps/evm/src/pages/Account/OldPage/AccountBreakdown/index.tsx
  apps/evm/src/pages/Account/OldPage/index.tsx
  apps/evm/src/pages/Account/PoolSummary/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/PoolSummary/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/PoolSummary/calculateNetApy/index.spec.ts
  apps/evm/src/pages/Account/PoolSummary/calculateNetApy/index.ts
  apps/evm/src/pages/Account/PoolSummary/index.tsx
  apps/evm/src/pages/Account/PoolSummary/useExtractData.ts
  apps/evm/src/pages/Account/PoolsBreakdown/PoolTagContent/index.tsx
  apps/evm/src/pages/Account/PoolsBreakdown/Tables/index.tsx
  apps/evm/src/pages/Account/PoolsBreakdown/Tables/styles.ts
  apps/evm/src/pages/Account/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/PoolsBreakdown/index.spec.tsx
  apps/evm/src/pages/Account/PoolsBreakdown/index.tsx
  apps/evm/src/pages/Account/PoolsBreakdown/styles.ts
  apps/evm/src/pages/Account/PoolsBreakdown/testIds.ts
  apps/evm/src/pages/Account/VaultsBreakdown/Table/index.tsx
  apps/evm/src/pages/Account/VaultsBreakdown/Table/styles.ts
  apps/evm/src/pages/Account/VaultsBreakdown/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/VaultsBreakdown/index.spec.tsx
  apps/evm/src/pages/Account/VaultsBreakdown/index.tsx
  apps/evm/src/pages/Account/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/forty-pianos-make.md
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/landing/.gitignore
  apps/landing/package.json
  apps/landing/src/constants/version.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add summary
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/NewPage/PerformanceGraph/index.tsx
  apps/evm/src/pages/Account/NewPage/Summary/circularGradient.svg
  apps/evm/src/pages/Account/NewPage/Summary/index.tsx
  apps/evm/src/pages/Account/NewPage/Tabs/index.tsx
  apps/evm/src/pages/Account/NewPage/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/NewPage/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/NewPage/index.tsx
  apps/evm/src/pages/Account/OldPage/AccountBreakdown/index.tsx
  apps/evm/src/pages/Account/PoolSummary/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Account/PoolSummary/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/PoolSummary/index.tsx
  apps/evm/src/pages/Account/PoolSummary/useExtractData.ts
  apps/evm/src/pages/Account/useExtractData/calculateNetApy/index.spec.ts
  apps/evm/src/pages/Account/useExtractData/calculateNetApy/index.ts
  apps/evm/src/pages/Account/useExtractData/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: change name of failed import event (#4569)
  .changeset/floppy-sites-vanish.md
  apps/evm/src/containers/ImportablePositions/ProtocolPositions/Position/index.tsx
  apps/evm/src/libs/analytics/useAnalytics.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable newAccountPage feature on all testnets
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: create Chart component
  apps/evm/src/components/AreaChart/index.tsx
  apps/evm/src/components/ChartTooltipContent/index.tsx
  apps/evm/src/components/charts/ApyChart/index.stories.tsx
  apps/evm/src/components/charts/ApyChart/index.tsx
  apps/evm/src/components/charts/ApyChart/styles.ts
  apps/evm/src/components/charts/InterestRateChart/index.stories.tsx
  apps/evm/src/components/charts/InterestRateChart/index.tsx
  apps/evm/src/components/charts/styles.ts
  apps/evm/src/components/index.ts
  apps/evm/src/pages/Account/NewPage/PerformanceChart/formatToReadableAxisDate/index.ts
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
  apps/evm/src/pages/Market/InterestRateChart/index.tsx
  apps/evm/src/pages/Market/InterestRateChart/styles.ts
  apps/evm/src/pages/Market/MarketHistory/Card/ApyChart/formatToReadableDate/index.ts
  apps/evm/src/pages/Market/MarketHistory/Card/ApyChart/index.tsx
  apps/evm/src/pages/Market/MarketHistory/Card/index.tsx
  apps/evm/src/pages/Market/MarketHistory/useGetChartData.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add chart UI
  apps/evm/src/components/charts/ApyChart/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/NewPage/PerformanceChart/fakeData.ts
  apps/evm/src/pages/Account/NewPage/PerformanceChart/formatToReadableTitleDate/index.tsx
  apps/evm/src/pages/Account/NewPage/PerformanceChart/index.tsx
  apps/evm/src/pages/Account/NewPage/PerformanceGraph/index.tsx
  apps/evm/src/pages/Account/NewPage/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/tiny-feet-see.md
Due: none

fix: filter inactive rewards from MarketInfo
  apps/evm/src/pages/Market/MarketInfo/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: remove redundant words
  apps/evm/src/containers/Layout/index.tsx
  apps/evm/src/libs/contracts/README.md
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/honest-jars-grab.md
Due: none

chore: bump package versions
  .changeset/floppy-sites-vanish.md
  .changeset/forty-pianos-make.md
  .changeset/tiny-feet-see.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

feat: update Biconomy config to work with MetaMask smart accounts
  .changeset/plain-bars-grab.md
  apps/evm/src/libs/contracts/config/externalAbis/Nexus.json
  apps/evm/src/libs/contracts/config/externalAbis/NexusAccountFactory.json
  apps/evm/src/libs/contracts/config/externalAbis/NexusBootstrap.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/wallet/hooks/useMeeClient/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: read market badDebt from the API
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/pages/Vai/AccountVaiData/index.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use the market's bad debt to calculate the interest and utilization rates
  apps/evm/src/clients/api/queries/getVTokenApySimulations/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use market's bad debt in getVTokenUtilizationRate
  apps/evm/src/clients/api/queries/getVTokenUtilizationRate/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: update mocks and snapshots with badDebt
  apps/evm/src/__mocks__/api/pools.json
  apps/evm/src/__mocks__/models/asset.ts
  apps/evm/src/clients/api/queries/getVTokenUtilizationRate/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/useGetAsset/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/hooks/useGetProfitableImports/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update Biconomy config to work with MetaMask smart accounts (#4590)
  .changeset/plain-bars-grab.md
  apps/evm/src/libs/contracts/config/externalAbis/Nexus.json
  apps/evm/src/libs/contracts/config/externalAbis/NexusAccountFactory.json
  apps/evm/src/libs/contracts/config/externalAbis/NexusBootstrap.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/wallet/hooks/useMeeClient/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/plain-bars-grab.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: only fetch PancakeSwap pairs when integrated swap feature is enabled
  .changeset/yellow-cases-wink.md
  apps/evm/src/hooks/useGetSwapInfo/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: prevent unnecessary renders with integrated swap feature (#4596)
  .changeset/yellow-cases-wink.md
  apps/evm/src/hooks/useGetSwapInfo/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/honest-jars-grab.md
  .changeset/yellow-cases-wink.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
