Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: highlight markets with boosted APYs (#3799)
  .changeset/mean-tables-sneeze.md
  apps/evm/package.json
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/formatRewardDistribution/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/containers/MarketTable/Apy/ApyWithPrimeBoost/index.tsx
  apps/evm/src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/DistributionGroup/ListItem/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/DistributionGroup/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/stars.svg
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/types.ts
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/PrimeApy/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/PrimeIcon/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/PrimeIcon/primeLogo.svg
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/SimulationText/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/index.tsx
  apps/evm/src/containers/MarketTable/Apy/index.tsx
  apps/evm/src/containers/MarketTable/types.ts
  apps/evm/src/containers/MarketTable/useGenerateColumns.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/Tables/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Dashboard/useMarketTableColumns/index.tsx
  apps/evm/src/pages/Market/Page/AssetWarning/index.tsx
  apps/evm/src/pages/Market/Page/OperationForm/AssetInfo/index.tsx
  apps/evm/src/pages/Pool/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/calculateYearlyEarnings.ts
  apps/evm/src/utilities/getCombinedDistributionApys/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/utilities/getCombinedDistributionApys/index.ts
  apps/evm/src/utilities/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/mean-tables-sneeze.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: hide boost icon for market affected by Prime
  .changeset/smooth-deers-deny.md
  apps/evm/src/containers/MarketTable/Apy/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add icons of token distributions
  .changeset/stale-kiwis-invite.md
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/DistributionGroup/ListItem/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: simulated Prime APYs
  apps/evm/src/containers/MarketTable/Apy/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: apy boost feature for Prime users (#3815)
  .changeset/smooth-deers-deny.md
  apps/evm/src/containers/MarketTable/Apy/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/smooth-deers-deny.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: display icons of token distributions (#3816)
  .changeset/stale-kiwis-invite.md
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/DistributionGroup/ListItem/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/mean-trees-roll.md
  .changeset/stale-kiwis-invite.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/hip-panthers-switch.md
Due: none

chore: add changeset
  .changeset/healthy-pandas-joke.md
Due: none

feat: add wsuperOETHb to Base
  apps/evm/src/libs/tokens/img/underlyingTokens/wSuperOEthB.svg
  apps/evm/src/libs/tokens/infos/commonTokens/baseMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/baseSepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: correct Base Sepolia subgraph URLs
  apps/evm/src/config/subgraphUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/nice-bees-explain.md
Due: none

chore: bump package versions
  .changeset/healthy-pandas-joke.md
  .changeset/nice-bees-explain.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add sUSDS and USDS to Ethereum
  apps/evm/src/libs/tokens/img/underlyingTokens/sUsds.svg
  apps/evm/src/libs/tokens/img/underlyingTokens/usds.svg
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/hip-panthers-switch.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: update APY boost feature UI
  .changeset/friendly-monkeys-sort.md
  .changeset/warm-suits-tickle.md
  apps/evm/src/components/InfoIcon/index.tsx
  apps/evm/src/components/LabeledInlineContent/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/stars.svg
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/DistributionGroup/ListItem/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/DistributionGroup/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/stars.svg
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/types.ts
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/PrimeApy/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/SimulationText/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/index.tsx
  apps/evm/src/containers/MarketTable/Apy/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/Page/OperationForm/AssetInfo/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getBalanceOf query function
  apps/evm/src/clients/api/queries/getBalanceOf/index.spec.ts
  apps/evm/src/clients/api/queries/getBalanceOf/index.ts
  apps/evm/src/clients/api/queries/getBalanceOf/useGetBalanceOf.ts
  apps/evm/src/clients/api/queries/useGetPrimeEstimation/index.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetVestingVaults/useGetXvsVaultPoolBalances.ts
  apps/evm/src/libs/wallet/hooks/usePublicClient/__mocks__/index.ts
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Bridge/useBridgeForm.ts
  apps/evm/src/pages/Market/Page/OperationForm/NativeTokenBalanceWrapper/index.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
  apps/evm/src/pages/Vault/modals/StakeModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getBlockNumber query function
  apps/evm/src/clients/api/queries/getAllowance/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getBalanceOf/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getBlockNumber/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getBlockNumber/index.spec.ts
  apps/evm/src/clients/api/queries/getBlockNumber/index.ts
  apps/evm/src/clients/api/queries/getBlockNumber/useGetBlockNumber.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: move getHypotheticalAccountLiquidity query function to useCollateral hook
  apps/evm/src/__mocks__/contracts/legacyPoolComptroller.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getHypotheticalAccountLiquidity/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getHypotheticalAccountLiquidity/index.spec.ts
  apps/evm/src/clients/api/queries/getHypotheticalAccountLiquidity/index.ts
  apps/evm/src/hooks/useCollateral/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getHypotheticalPrimeApys query function
  apps/evm/src/clients/api/queries/getHypotheticalPrimeApys/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getHypotheticalPrimeApys/index.spec.ts
  apps/evm/src/clients/api/queries/getHypotheticalPrimeApys/index.ts
  apps/evm/src/clients/api/queries/getHypotheticalPrimeApys/useGetHypotheticalPrimeApys.ts
  apps/evm/src/clients/api/queries/useGetPrimeEstimation/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: getIsolatedPoolVTokenLiquidationThreshold query function
  .changeset/light-peaches-allow.md
  apps/evm/src/clients/api/queries/getBalanceOf/useGetBalanceOf.ts
  apps/evm/src/clients/api/queries/getCurrentVotes/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getHypotheticalPrimeApys/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getHypotheticalPrimeApys/useGetHypotheticalPrimeApys.ts
  apps/evm/src/clients/api/queries/getIsAddressAuthorized/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getIsolatedPoolVTokenLiquidationThreshold/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getIsolatedPoolVTokenLiquidationThreshold/index.spec.ts
  apps/evm/src/clients/api/queries/getIsolatedPoolVTokenLiquidationThreshold/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPoolVTokenLiquidationThreshold/useGetIsolatedPoolVTokenLiquidationThreshold.ts
  apps/evm/src/clients/api/queries/useGetPrimeEstimation/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: improve APY boost feature (#3819)
  .changeset/friendly-monkeys-sort.md
  .changeset/warm-suits-tickle.md
  apps/evm/src/components/InfoIcon/index.tsx
  apps/evm/src/components/LabeledInlineContent/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostBadge/stars.svg
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/DistributionGroup/ListItem/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/DistributionGroup/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/index.tsx
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/stars.svg
  apps/evm/src/containers/MarketTable/Apy/BoostTooltip/types.ts
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/PrimeApy/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/SimulationText/index.tsx
  apps/evm/src/containers/MarketTable/Apy/PrimeBadge/index.tsx
  apps/evm/src/containers/MarketTable/Apy/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/Page/OperationForm/AssetInfo/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/friendly-monkeys-sort.md
  .changeset/warm-suits-tickle.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: query functions (#3833)
  .changeset/light-peaches-allow.md
  apps/evm/src/__mocks__/contracts/legacyPoolComptroller.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getAllowance/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getBalanceOf/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getBalanceOf/index.spec.ts
  apps/evm/src/clients/api/queries/getBalanceOf/index.ts
  apps/evm/src/clients/api/queries/getBalanceOf/useGetBalanceOf.ts
  apps/evm/src/clients/api/queries/getBlockNumber/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getBlockNumber/index.spec.ts
  apps/evm/src/clients/api/queries/getBlockNumber/index.ts
  apps/evm/src/clients/api/queries/getBlockNumber/useGetBlockNumber.ts
  apps/evm/src/clients/api/queries/getCurrentVotes/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getHypotheticalAccountLiquidity/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getHypotheticalAccountLiquidity/index.spec.ts
  apps/evm/src/clients/api/queries/getHypotheticalAccountLiquidity/index.ts
  apps/evm/src/clients/api/queries/getHypotheticalPrimeApys/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getHypotheticalPrimeApys/index.spec.ts
  apps/evm/src/clients/api/queries/getHypotheticalPrimeApys/index.ts
  apps/evm/src/clients/api/queries/getHypotheticalPrimeApys/useGetHypotheticalPrimeApys.ts
  apps/evm/src/clients/api/queries/getIsAddressAuthorized/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getIsolatedPoolVTokenLiquidationThreshold/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getIsolatedPoolVTokenLiquidationThreshold/index.spec.ts
  apps/evm/src/clients/api/queries/getIsolatedPoolVTokenLiquidationThreshold/index.ts
  apps/evm/src/clients/api/queries/getIsolatedPoolVTokenLiquidationThreshold/useGetIsolatedPoolVTokenLiquidationThreshold.ts
  apps/evm/src/clients/api/queries/useGetPrimeEstimation/index.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  apps/evm/src/clients/api/queries/useGetVaults/useGetVestingVaults/useGetXvsVaultPoolBalances.ts
  apps/evm/src/hooks/useCollateral/index.tsx
  apps/evm/src/libs/wallet/hooks/usePublicClient/__mocks__/index.ts
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Bridge/useBridgeForm.ts
  apps/evm/src/pages/Market/Page/OperationForm/NativeTokenBalanceWrapper/index.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
  apps/evm/src/pages/Vault/modals/StakeModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/light-peaches-allow.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support for BAL token
  .changeset/seven-dots-look.md
  apps/evm/src/libs/tokens/img/underlyingTokens/bal.svg
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue with floating-point collateral factors
  .changeset/slimy-crabs-walk.md
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/pages/Market/Page/MarketHistory/Card/useGetLiquidationThresholdPercentage.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for BAL token (#3834)
  .changeset/seven-dots-look.md
  apps/evm/src/libs/tokens/img/underlyingTokens/bal.svg
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue with floating-point collateral factors (#3835)
  .changeset/slimy-crabs-walk.md
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/pages/Market/Page/MarketHistory/Card/useGetLiquidationThresholdPercentage.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/seven-dots-look.md
  .changeset/slimy-crabs-walk.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: filter inactive rewards
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/rude-kangaroos-march.md
Due: none

test: update rewards snapshots
  apps/evm/src/__mocks__/api/pools.json
Due: prettier --write --check

chore: bump package versions
  .changeset/rude-kangaroos-march.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: handle failed remote proposals
  .changeset/itchy-mails-grow.md
  apps/evm/src/__mocks__/models/remoteProposals.ts
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposal/useGetCachedProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/queries/governanceBsc/fragments/bscProposal.graphql
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/getRemoteProposalState/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/getRemoteProposalState/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for SOL
  .changeset/early-schools-change.md
  apps/evm/src/libs/tokens/img/underlyingTokens/sol.svg
  apps/evm/src/libs/tokens/infos/commonTokens/bscMainnet.ts
  apps/evm/src/libs/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
