Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: add useGetSwapRouterContractAddress utility
  src/packages/contractsNew/utilities/swapRouterContractAddressGetterGenerator/__tests__/index.spec.ts
  src/packages/contractsNew/utilities/swapRouterContractAddressGetterGenerator/index.ts
  src/packages/contractsNew/utilities/useGetSwapRouterContractAddress/__tests__/index.spec.ts
  src/packages/contractsNew/utilities/useGetSwapRouterContractAddress/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add uniqueContractAddressGetterHookGenerator utility function
  src/packages/contractsNew/utilities/uniqueContractAddressGetterHookGenerator/__tests__/index.spec.ts
  src/packages/contractsNew/utilities/uniqueContractAddressGetterHookGenerator/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add address getters to generate contract getters
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateGetters/templates/uniqueContractGettersTemplate.hbs
Due: none

feat: update Vite test config
  src/packages/contractsNew/scripts/generateContractRecords/generateContracts/generateAddressList/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove useGetUniqueContract hook
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  src/clients/api/queries/getVTokenBalancesAll/useGetVTokenBalancesAll.ts
  src/clients/api/queries/getVaiRepayApy/useGetVaiRepayApy.ts
  src/clients/api/queries/getVaiVaultUserInfo/useGetVaiVaultUserInfo.ts
  src/clients/api/queries/getXvsWithdrawableAmount/useGetXvsWithdrawableAmount.ts
  src/hooks/useCollateral/index.tsx
  src/hooks/useGetUniqueContract.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove useGetUniqueContractAddress
  src/clients/api/mutations/claimRewards/useClaimRewards.ts
  src/clients/api/queries/getVTokens/useGetVTokens.ts
  src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  src/clients/api/queries/useGetVaults/useGetVestingVaults/useGetXvsVaultPoolBalances.ts
  src/hooks/useGetUniqueContractAddress.ts
  src/pages/Market/CorePoolMarket/index.tsx
  src/pages/Pool/CorePool/index.tsx
  src/pages/Swap/index.tsx
  src/pages/Vai/RepayVai/index.tsx
  src/pages/Vault/modals/StakeModal/index.tsx
  src/pages/Xvs/Header/index.tsx
  src/pages/Xvs/Table/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetGovernorBravoDelegateContract from new contracts package (2)
  src/clients/api/queries/getLatestProposalIdByProposer/useGetLatestProposalIdByProposer.ts
  src/clients/api/queries/getProposalEta/useGetProposalEta.ts
  src/clients/api/queries/getProposalState/useGetProposalState.ts
  src/clients/api/queries/getProposalThreshold/useGetProposalThreshold.ts
  src/clients/api/queries/getVoteReceipt/useGetVoteReceipt.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: stop usage of getGenericContract
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/getRewardsDistributorSettingsMapping.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getPancakeSwapPairs/__tests__/index.spec.ts
  src/clients/api/queries/getPancakeSwapPairs/index.ts
  src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  src/hooks/useCollateral/index.tsx
  src/hooks/useGetGenericContract.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetMaximillionContract of the new contracts package
  src/clients/api/mutations/repay/useRepay.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetPoolLensContract of the new contracts package
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  src/clients/api/queries/getVTokens/useGetVTokens.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetVaiControllerContract of the new contracts package
  src/clients/api/mutations/mintVai/useMintVai.ts
  src/clients/api/mutations/repayVai/useRepayVai.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetVaiVaultContract of the new contracts package
  src/clients/api/mutations/stakeInVaiVault/useStakeInVaiVault.ts
  src/clients/api/mutations/withdrawFromVaiVault/useWithdrawFromVaiVault.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetVaiControllerContract of the new contracts package (2)
  src/clients/api/queries/getMainPool/useGetMainPool.ts
  src/clients/api/queries/getMintableVai/useGetMintableVai.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/useGetVaiCalculateRepayAmount.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/useGetVaiRepayAmountWithInterests.ts
  src/clients/api/queries/getVaiRepayApy/useGetVaiRepayApy.ts
  src/clients/api/queries/getVaiTreasuryPercentage/useGetVaiTreasuryPercentage.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetXvsVestingContract of the new contracts package
  src/clients/api/mutations/withdrawXvs/useWithdrawXvs.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetVrtConverterContract of the new contracts package
  src/clients/api/queries/getVrtConversionEndTime/useGetVrtConversionEndTime.ts
  src/clients/api/queries/getVrtConversionRatio/useGetVrtConversionRatio.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove usage of getUniqueContractAddress from old contract
  src/context/AuthContext/useProvider/getProvider.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetXvsVaultContract of the new contracts package
  src/clients/api/mutations/executeWithdrawalFromXvsVault/useExecuteWithdrawalFromXvsVault.ts
  src/clients/api/mutations/requestWithdrawalFromXvsVault/useRequestWithdrawalFromXvsVault.ts
  src/clients/api/mutations/setVoteDelegate/useSetVoteDelegate.ts
  src/clients/api/mutations/stakeInXvsVault/useStakeInXvsVault.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove imports of uniqueContractInfos
  src/pages/Vai/RepayVai/__tests__/index.spec.tsx
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetXvsVaultContract of the new contracts package
  src/clients/api/queries/getCurrentVotes/useGetCurrentVotes.ts
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  src/clients/api/queries/getVoteDelegateAddress/useGetVoteDelegateAddress.ts
  src/clients/api/queries/getXvsVaultLockedDeposits/useGetXvsVaultLockedDeposits.ts
  src/clients/api/queries/getXvsVaultPendingWithdrawalsFromBeforeUpgrade/useGetXvsVaultPendingWithdrawalsFromBeforeUpgrade.ts
  src/clients/api/queries/getXvsVaultPoolCount/useGetXvsVaultPoolCount.ts
  src/clients/api/queries/getXvsVaultPoolInfo/useGetXvsVaultPoolInfo.ts
  src/clients/api/queries/getXvsVaultRewardPerBlock/useGetXvsVaultRewardPerBlock.ts
  src/clients/api/queries/getXvsVaultTotalAllocationPoints/useGetXvsVaultTotalAllocationPoints.ts
  src/clients/api/queries/getXvsVaultUserInfo/useGetXvsVaultUserInfo.ts
  src/clients/api/queries/useGetVaults/useGetVestingVaults/useGetXvsVaultPools.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: use useGetMainPoolComptrollerContract of the new contracts package
  src/clients/api/queries/getMainAssetsInAccount/useGetMainAssetsInAccount.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
  src/clients/api/queries/getMintedVai/useGetMintedVai.ts
  src/clients/api/queries/getVTokens/useGetVTokens.ts
  src/clients/api/queries/getVenusVaiVaultDailyRate/useGetVenusVaiVaultDailyRate.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove usage of old contracts package
  src/clients/api/mutations/claimRewards/index.ts
  src/components/ReadableActionSignature/getContractName.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add temporary VenusLens contract address
  src/packages/contractsNew/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.25.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  00ed315d805b64619f124d0ac54499abe20d6b35
Due: none

feat: add support for agEUR and ANGLE tokens
  src/packages/tokens/img/agEUR.svg
  src/packages/tokens/img/angle.svg
  src/packages/tokens/tokenInfos/commonTokens/bscMainnet.ts
  src/packages/tokens/tokenInfos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for agEUR and ANGLE tokens (#1511)
  src/packages/tokens/img/agEUR.svg
  src/packages/tokens/img/angle.svg
  src/packages/tokens/tokenInfos/commonTokens/bscMainnet.ts
  src/packages/tokens/tokenInfos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.26.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  15ec4866ac931436e2f61294466323e8e8503710
Due: none

chore(release): 2.26.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  dd079da7d89a663f396e8ebf31e426be6fbac1a2
Due: none

refactor: move utilities into a utilities folder
  src/packages/tokens/index.ts
  src/packages/tokens/utilities/getPancakeSwapTokens/__tests__/index.spec.ts
  src/packages/tokens/utilities/getPancakeSwapTokens/index.ts
  src/packages/tokens/utilities/getTokens/__tests__/index.spec.ts
  src/packages/tokens/utilities/getTokens/index.ts
  src/packages/tokens/utilities/isTokenActionEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.26.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  afcc24b4602fa979136b077a86246712dc51377a
Due: none

feat: start adding theme and fixing design glitches
  src/assets/styles/index.scss
  src/components/Layout/Sidebar/styles.ts
  src/components/Markdown/Editor/styles-overrides.scss
  src/theme/MuiThemeProvider/muiTheme.ts
  src/theme/index.ts
  tailwind.config.js
Due: eslint --fix, prettier --write --check, stylelint --fix
