Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

Refine proposal requests (#744)
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/pages/Proposal/ProposalSummary/index.tsx
  src/pages/Proposal/VoteModal/index.tsx
  src/pages/Proposal/index.tsx
  src/pages/Vote/Governance/index.tsx
  src/pages/Vote/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

[VEN-285] Add support for Opera Wallet (#698)
  src/assets/img/v2/wallets/operaWalletLogo.svg
  src/clients/web3/connectors.ts
  src/clients/web3/types.ts
  src/clients/web3/walletDetectionUtils.ts
  src/components/AuthModal/constants.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

[VEN-382] Format action signature on frontend (#748)
  src/__mocks__/api/proposals.json
  src/clients/api/queries/getProposals/__snapshots__/getProposal.spec.ts.snap
  src/clients/api/queries/getProposals/__snapshots__/index.spec.ts.snap
  src/components/ReadableActionSignature/formatSignature.ts
  src/components/ReadableActionSignature/getContractName.ts
  src/components/ReadableActionSignature/index.tsx
  src/components/ReadableActionSignature/styles.ts
  src/components/index.ts
  src/pages/Proposal/Description/index.tsx
  src/pages/Proposal/index.spec.tsx
  src/pages/Vote/CreateProposalModal/ActionAccordion/CallDataFields.tsx
  src/pages/Vote/CreateProposalModal/ActionAccordion/index.tsx
  src/pages/Vote/CreateProposalModal/ProposalPreview/index.tsx
  src/pages/Vote/CreateProposalModal/formatProposalPayload.ts
  src/pages/Vote/CreateProposalModal/index.spec.tsx
  src/pages/Vote/CreateProposalModal/index.tsx
  src/pages/Vote/CreateProposalModal/proposalSchema.ts
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Fix issues on Voter Leaderboard page (#723)
  src/components/Layout/Header/Title/BackButton/styles.ts
  src/components/Layout/Header/Title/index.tsx
  src/components/Layout/Header/Title/styles.ts
  src/components/Layout/constants.tsx
  src/components/Layout/types.ts
  src/pages/Market/styles.ts
  src/pages/VoterDetails/Transactions/styles.ts
  src/pages/VoterLeaderboard/LeaderboardTable/styles.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

Fix design issues on Voter Details page (#724)
  src/pages/VoterDetails/Holding/index.tsx
  src/pages/VoterDetails/Transactions/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Set collectCoverageFrom in Jest config (#731)
  package.json
Due: prettier --write --check

[VEN-320] Remove comma number (#710)
  package.json
  src/pages/Dashboard/Modals/SupplyWithdraw/SupplyWithdrawForm.tsx
  src/utilities/commaFormat.ts
  src/utilities/format.ts
  src/utilities/formatCommaThousandsPeriodDecimal.ts
  src/utilities/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

Fixes on proposals (#745)
  src/__mocks__/api/proposals.json
  src/clients/api/queries/getProposals/__snapshots__/getProposal.spec.ts.snap
  src/clients/api/queries/getProposals/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getProposals/formatToProposal.ts
  src/clients/api/queries/getVoteReceipt/index.spec.ts
  src/clients/api/queries/getVoteReceipt/index.ts
  src/clients/api/queries/getVoterDetails/formatVoterDetailsResponse.ts
  src/clients/api/queries/getVoterHistory/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVoterHistory/formatVoterHistoryResponse.ts
  src/clients/api/queries/getVoters/formatToVoters.ts
  src/clients/api/queries/useGetVoteReceipt.ts
  src/pages/Proposal/index.spec.tsx
  src/pages/Proposal/index.tsx
  src/pages/Vote/Governance/index.tsx
  src/pages/Vote/GovernanceProposal/index.tsx
  src/types/index.ts
  src/utilities/getSupportName.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Remove sentry comments
  src/clients/web3/useAuth/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

[VEN-380] Fixes on Create Proposal modal (#730)
  src/components/Accordion/index.tsx
  src/components/Markdown/Viewer/index.tsx
  src/pages/Vote/CreateProposalModal/ActionAccordion/index.tsx
  src/pages/Vote/CreateProposalModal/ProposalPreview/index.tsx
  src/pages/Vote/CreateProposalModal/ProposalPreview/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Rollback to previous testnet provider URL (#751)
  src/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

[VEN-391] Display time until proposal can be executed (#749)
  src/__mocks__/contracts/governanceBravoDelegate.ts
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getProposalEta/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getProposalEta/index.spec.ts
  src/clients/api/queries/getProposalEta/index.ts
  src/clients/api/queries/getProposalEta/useGetProposalEta.ts
  src/constants/functionKey.ts
  src/pages/Proposal/ProposalSummary/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

merge spender address hotfix from master
  src/clients/api/queries/getAllowance/setCachedTokenAllowanceToMax.ts
  src/components/EnableToken/index.spec.tsx
  src/components/EnableToken/index.tsx
  src/components/Markdown/Editor.stories.tsx
  src/components/Markdown/Editor.tsx
  src/components/Markdown/Viewer.stories.tsx
  src/components/Markdown/Viewer.tsx
  src/components/Markdown/styles-overrides.scss
  src/components/Markdown/styles.ts
  src/components/VoteSummary/index.stories.tsx
  src/components/VoteSummary/index.tsx
  src/components/VoteSummary/styles.ts
  src/config/index.ts
  src/hooks/useStakeInVault.spec.tsx
  src/hooks/useStakeInVault.ts
  src/pages/ConvertVrt/Convert/index.tsx
  src/pages/Dashboard/MintRepayVai/MintVai/index.tsx
  src/pages/Dashboard/MintRepayVai/RepayVai/index.tsx
  src/pages/Dashboard/MintRepayVai/index.stories.tsx
  src/pages/Dashboard/Modals/BorrowRepay/Borrow/index.tsx
  src/pages/Dashboard/Modals/BorrowRepay/Repay/index.tsx
  src/pages/Dashboard/Modals/BorrowRepay/index.stories.tsx
  src/pages/Dashboard/Modals/SupplyWithdraw/index.stories.tsx
  src/pages/Dashboard/Modals/SupplyWithdraw/index.tsx
  src/pages/Proposal/Description/index.tsx
  src/pages/Vault/modals/ActionModal/index.spec.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.tsx
  src/pages/Vault/modals/StakeModal/index.spec.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
  src/theme/MuiThemeProvider/index.tsx
  src/utilities/calculateYearlyEarnings.spec.ts
  src/utilities/calculateYearlyEarnings.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

ci: add semantic release with commitlint
  .eslintignore
  .husky/commit-msg
  .releaserc
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

Correct reversed abstain and against
  src/pages/Vote/CreateProposalModal/formatProposalPayload.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Separate installing deps from copying code
  Dockerfile
  src/theme/MuiThemeProvider/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

Correct reversed abstain and against (#757)
  src/pages/Vote/CreateProposalModal/formatProposalPayload.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Separate installing deps from copying code (#752)
  Dockerfile
  src/theme/MuiThemeProvider/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

separate constants from config
  .env.template
  .github/workflows/ci.yaml
  src/clients/api/queries/useGetTreasuryTotals.ts
  src/clients/web3/connectors.ts
  src/clients/web3/getWeb3NoAccount.ts
  src/clients/web3/useAuth/index.ts
  src/clients/web3/useAuth/setUpNetwork.ts
  src/clients/web3/useEagerConnect.ts
  src/components/AuthModal/WalletList/index.tsx
  src/components/AuthModal/constants.ts
  src/components/Layout/Footer/constants.ts
  src/components/Layout/Footer/index.tsx
  src/components/ReadableActionSignature/getContractName.ts
  src/config/index.ts
  src/constants/bsc.ts
  src/constants/endpoints.ts
  src/constants/localStorageKeys.ts
  src/constants/safeBorrowLimitPercentage.ts
  src/constants/tokens.ts
  src/pages/Dashboard/Modals/BorrowRepay/AccountData/index.tsx
  src/pages/Dashboard/Modals/BorrowRepay/Borrow/index.spec.tsx
  src/pages/Dashboard/Modals/BorrowRepay/Borrow/index.tsx
  src/pages/Dashboard/Modals/SupplyWithdraw/SupplyWithdrawForm.tsx
  src/pages/Dashboard/MyAccount/index.tsx
  src/pages/MarketDetails/useGetMarketData.ts
  src/types/index.ts
  src/utilities/generateBscScanUrl.ts
  src/utilities/getContractAddress.ts
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Pin storybooks versions to fix depenedicy conflcits
  package.json
  yarn.lock
Due: prettier --write --check

[VEN-324] Separate constants from config (#756)
  .env.template
  .github/workflows/ci.yaml
  src/clients/api/queries/useGetTreasuryTotals.ts
  src/clients/web3/connectors.ts
  src/clients/web3/getWeb3NoAccount.ts
  src/clients/web3/useAuth/index.ts
  src/clients/web3/useAuth/setUpNetwork.ts
  src/clients/web3/useEagerConnect.ts
  src/components/AuthModal/WalletList/index.tsx
  src/components/AuthModal/constants.ts
  src/components/Layout/Footer/constants.ts
  src/components/Layout/Footer/index.tsx
  src/components/ReadableActionSignature/getContractName.ts
  src/config/index.ts
  src/constants/bsc.ts
  src/constants/endpoints.ts
  src/constants/localStorageKeys.ts
  src/constants/safeBorrowLimitPercentage.ts
  src/constants/tokens.ts
  src/pages/Dashboard/Modals/BorrowRepay/AccountData/index.tsx
  src/pages/Dashboard/Modals/BorrowRepay/Borrow/index.spec.tsx
  src/pages/Dashboard/Modals/BorrowRepay/Borrow/index.tsx
  src/pages/Dashboard/Modals/SupplyWithdraw/SupplyWithdrawForm.tsx
  src/pages/Dashboard/MyAccount/index.tsx
  src/pages/MarketDetails/useGetMarketData.ts
  src/types/index.ts
  src/utilities/generateBscScanUrl.ts
  src/utilities/getContractAddress.ts
  src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Correct reversed abstain and against (#757) (#761)
  src/pages/Vote/CreateProposalModal/formatProposalPayload.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Pin storybooks versions to fix depenedicy conflcits (#759)
  package.json
  yarn.lock
Due: prettier --write --check

update auth modal design
  src/assets/img/v2/wallets/coinbaseWalletLogo.svg
  src/components/AuthModal/WalletList/index.tsx
  src/components/AuthModal/WalletList/styles.ts
  src/components/ReadableActionSignature/styles.ts
  src/pages/Vote/CreateProposalModal/ProposalPreview/styles.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

[VEN-390] Update auth modal UI to match design updates (#760)
  src/assets/img/v2/wallets/coinbaseWalletLogo.svg
  src/components/AuthModal/WalletList/index.tsx
  src/components/AuthModal/WalletList/styles.ts
  src/components/ReadableActionSignature/styles.ts
  src/pages/Vote/CreateProposalModal/ProposalPreview/styles.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix dockerfile
  Dockerfile
Due: none

update countdown indicating time until executable
  src/pages/Proposal/ProposalSummary/index.tsx
  src/pages/Proposal/ProposalSummary/styles.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

Copy files necessary to build process (#762)
  Dockerfile
Due: none

Update countdown indicating time until proposal is executable (#763)
  src/pages/Proposal/ProposalSummary/index.tsx
  src/pages/Proposal/ProposalSummary/styles.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

bump package version to 1.0.0
  package.json
Due: prettier --write --check

Bump package version to 1.0.0 (#764)
  package.json
Due: prettier --write --check

Fix distributionApy typo
  src/pages/Dashboard/Modals/BorrowRepay/AccountData/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

Fix distributionApy typo (#769)
  src/pages/Dashboard/Modals/BorrowRepay/AccountData/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix
