Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: add gradient to Prime variant of connect button
  src/containers/Layout/ConnectButton/index.tsx
  src/context/AuthContext/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove fullWidth prop from Button
  src/components/ApproveTokenSteps/index.tsx
  src/components/ApproveTokenSteps/styles.ts
  src/components/AuthModal/AccountDetails/index.tsx
  src/components/Button/index.stories.tsx
  src/components/Button/index.tsx
  src/components/LunaUstWarningModal/index.tsx
  src/containers/ConnectWallet/index.tsx
  src/containers/Layout/ClaimRewardButton/index.tsx
  src/containers/Layout/Sidebar/index.tsx
  src/containers/Layout/Sidebar/styles.ts
  src/hooks/useOperationModal/Modal/BorrowForm/SubmitSection/index.tsx
  src/hooks/useOperationModal/Modal/RepayForm/SubmitSection/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/SubmitSection/index.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/SubmitSection/index.tsx
  src/hooks/useOperationModal/Modal/styles.ts
  src/pages/ConvertVrt/Withdraw/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/ActionAccordion/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/ProposalWizard/index.tsx
  src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  src/pages/Governance/VotingWallet/DelegateModal/styles.ts
  src/pages/Market/index.tsx
  src/pages/Proposal/VoteModal/index.tsx
  src/pages/Swap/SubmitSection/index.tsx
  src/pages/Vai/MintVai/index.tsx
  src/pages/Vai/RepayVai/index.tsx
  src/pages/Vault/TransactionForm/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add props related to Prime to getCombinedDistributionApys
  .eslintrc.js
  src/__mocks__/models/asset.ts
  src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  src/components/AccountData/useAssetInfo.ts
  src/containers/MarketTable/useGenerateColumns.tsx
  src/pages/Account/AccountBreakdown/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Dashboard/__snapshots__/index.spec.tsx.snap
  src/pages/Market/index.tsx
  src/utilities/calculateYearlyEarnings.spec.ts
  src/utilities/calculateYearlyEarnings.ts
  src/utilities/getCombinedDistributionApys/__tests__/__snapshots__/index.spec.ts.snap
  src/utilities/getCombinedDistributionApys/__tests__/index.spec.ts
  src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for displaying Prime boost on MarketTable
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/components/LayeredValues/index.tsx
  src/components/LayeredValues/styles.ts
  src/containers/MarketTable/Apy/ApyWithHypotheticalPrimeBoost/index.tsx
  src/containers/MarketTable/Apy/ApyWithPrimeBoost/index.tsx
  src/containers/MarketTable/Apy/index.tsx
  src/containers/MarketTable/useGenerateColumns.tsx
  src/pages/Account/AccountBreakdown/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Dashboard/__snapshots__/index.spec.tsx.snap
  src/translation/translations/en.json
  src/utilities/getCombinedDistributionApys/__tests__/__snapshots__/index.spec.ts.snap
  src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rename hypotheticalPrime asset distribution type to primeSimulation
  src/__mocks__/models/asset.ts
  src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  src/containers/MarketTable/Apy/index.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/translation/translations/en.json
  src/types/index.ts
  src/utilities/getCombinedDistributionApys/__tests__/__snapshots__/index.spec.ts.snap
  src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add link to Prime documentation
  src/constants/prime.ts
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/utilities/getCombinedDistributionApys/__tests__/__snapshots__/index.spec.ts.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: split Prime button from Connect button
  src/components/Layout/Sidebar/index.stories.tsx
  src/containers/Layout/ConnectButton/PrimeButton/index.tsx
  src/containers/Layout/ConnectButton/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(deps): update @venusprotocol/governance-contracts and @venusprotocol/isolated-pools
  package.json
  yarn.lock
Due: prettier --write --check

chore(deps): update Venus libraries (#1560)
  package.json
  yarn.lock
Due: prettier --write --check

feat: add support for displaying Prime boost on MarketTable (#1545)
  .eslintrc.js
  src/__mocks__/models/asset.ts
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/useGetPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetPools/__snapshots__/index.spec.tsx.snap
  src/components/AccountData/useAssetInfo.ts
  src/components/LayeredValues/index.tsx
  src/components/LayeredValues/styles.ts
  src/constants/prime.ts
  src/containers/MarketTable/Apy/ApyWithPrimeBoost/index.tsx
  src/containers/MarketTable/Apy/ApyWithPrimeSimulationBoost/index.tsx
  src/containers/MarketTable/Apy/index.tsx
  src/containers/MarketTable/useGenerateColumns.tsx
  src/containers/PrimeStatusBanner/index.tsx
  src/pages/Account/AccountBreakdown/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Dashboard/__snapshots__/index.spec.tsx.snap
  src/pages/Market/index.tsx
  src/translation/translations/en.json
  src/types/index.ts
  src/utilities/calculateYearlyEarnings.spec.ts
  src/utilities/calculateYearlyEarnings.ts
  src/utilities/getCombinedDistributionApys/__tests__/__snapshots__/index.spec.ts.snap
  src/utilities/getCombinedDistributionApys/__tests__/index.spec.ts
  src/utilities/getCombinedDistributionApys/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.30.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  75ff2573425004f66ca3f5d35338462aecd446df
Due: none

refactor: removed isolatedPools feature flag
  src/App/Router/index.tsx
  src/clients/api/queries/useGetPools/index.tsx
  src/containers/Layout/Sidebar/useGetMenuItems.tsx
  src/pages/Account/AccountBreakdown/PoolsBreakdown/index.tsx
  src/pages/Dashboard/__snapshots__/index.spec.tsx.snap
  src/pages/Dashboard/index.spec.tsx
  src/pages/Dashboard/index.tsx
  src/pages/Dashboard/styles.ts
  src/pages/Dashboard/testIds.ts
  src/pages/Xvs/index.tsx
  src/translation/translations/en.json
  src/utilities/isFeatureEnabled.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.30.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  8e8e487bc633f95843990e1f10ecef5e36f08307
Due: none

feat: handle closing banner
  .eslintrc.js
  __mocks__/zustand.ts
  package.json
  src/context/AuthContext/index.tsx
  src/pages/Dashboard/PrimePromotionalBanner/__tests__/index.spec.tsx
  src/pages/Dashboard/PrimePromotionalBanner/index.spec.tsx
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
  src/pages/Dashboard/PrimePromotionalBanner/store.ts
  src/pages/Dashboard/PrimePromotionalBanner/testIds.ts
  src/setupTests.tsx
  src/utilities/createStoreSelectors.ts
  src/utilities/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add link to Prime doc
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: replace ConnectWalletBanner with PrimePromotionalBanner
  src/context/AuthContext/index.tsx
  src/pages/Dashboard/ConnectWalletBanner/illustration.png
  src/pages/Dashboard/ConnectWalletBanner/index.spec.tsx
  src/pages/Dashboard/ConnectWalletBanner/index.tsx
  src/pages/Dashboard/PrimePromotionalBanner/boostsIllustration.png
  src/pages/Dashboard/PrimePromotionalBanner/illustrationSm.png
  src/pages/Dashboard/PrimePromotionalBanner/index.spec.tsx
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
  src/pages/Dashboard/PrimePromotionalBanner/primeTokenIllustration.png
  src/pages/Dashboard/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add back ConnectWalletBanner when Prime feature flag is disabled
  src/pages/Dashboard/ConnectWalletBanner/illustration.png
  src/pages/Dashboard/ConnectWalletBanner/index.spec.tsx
  src/pages/Dashboard/ConnectWalletBanner/index.tsx
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
  src/pages/Dashboard/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.30.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  e100cc57e779a74661c7a65970efcbee57cf83c3
Due: none

feat: add Prime promotional banner to dashboard page (#1562)
  .eslintrc.js
  __mocks__/zustand.ts
  package.json
  src/pages/Dashboard/ConnectWalletBanner/index.tsx
  src/pages/Dashboard/PrimePromotionalBanner/__tests__/index.spec.tsx
  src/pages/Dashboard/PrimePromotionalBanner/boostsIllustration.png
  src/pages/Dashboard/PrimePromotionalBanner/illustrationSm.png
  src/pages/Dashboard/PrimePromotionalBanner/index.tsx
  src/pages/Dashboard/PrimePromotionalBanner/primeTokenIllustration.png
  src/pages/Dashboard/PrimePromotionalBanner/store.ts
  src/pages/Dashboard/PrimePromotionalBanner/testIds.ts
  src/pages/Dashboard/index.tsx
  src/setupTests.tsx
  src/translation/translations/en.json
  src/utilities/createStoreSelectors.ts
  src/utilities/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: start refactoring Layout
  src/assets/img/venusLogo.svg
  src/assets/img/venusLogoPure.svg
  src/components/Icon/icons/closeRounded.tsx
  src/constants/layout.ts
  src/containers/Layout/Breadcrumbs/PoolName/index.tsx
  src/containers/Layout/Breadcrumbs/VTokenSymbol/index.tsx
  src/containers/Layout/Breadcrumbs/VTokenSymbol/styles.ts
  src/containers/Layout/Breadcrumbs/__snapshots__/index.spec.tsx.snap
  src/containers/Layout/Breadcrumbs/index.spec.tsx
  src/containers/Layout/Breadcrumbs/index.tsx
  src/containers/Layout/Breadcrumbs/styles.ts
  src/containers/Layout/Header/index.tsx
  src/containers/Layout/Header/styles.ts
  src/containers/Layout/Menu/index.tsx
  src/containers/Layout/Toolbar/index.tsx
  src/containers/Layout/Toolbar/styles.ts
  src/containers/Layout/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: update Layout to use Tailwind
  src/containers/Layout/index.tsx
  src/containers/Layout/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: style mobile display
  src/containers/Layout/Menu/NavLink/index.tsx
  src/containers/Layout/Menu/index.tsx
  src/containers/Layout/Sidebar/Link/index.tsx
  src/containers/Layout/Sidebar/index.tsx
  src/containers/Layout/index.tsx
  src/containers/Layout/types.ts
  src/containers/Layout/useGetMenuItems.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: footer
  src/containers/Layout/Footer/IconLink/index.tsx
  src/containers/Layout/Footer/index.tsx
  src/containers/Layout/Footer/styles.ts
  src/containers/Layout/Header/index.tsx
  src/containers/Layout/Menu/index.tsx
  src/containers/Layout/PageContainer/index.tsx
  src/containers/Layout/PageContainer/styles.ts
  src/containers/Layout/Sidebar/index.tsx
  src/containers/Layout/Sidebar/styles.ts
  src/containers/Layout/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rewrite Breadcrumbs with Tailwind
  src/containers/Layout/Breadcrumbs/PoolName/index.tsx
  src/containers/Layout/Breadcrumbs/VTokenSymbol/index.tsx
  src/containers/Layout/Breadcrumbs/VTokenSymbol/styles.ts
  src/containers/Layout/Breadcrumbs/index.tsx
  src/containers/Layout/Breadcrumbs/styles.ts
  src/containers/Layout/ClaimRewardButton/index.tsx
  src/containers/Layout/ConnectButton/PrimeButton/index.tsx
  src/containers/Layout/ConnectButton/index.tsx
  src/containers/Layout/Menu/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rewrite ClaimRewardButton with Tailwind
  src/components/LayeredValues/index.tsx
  src/containers/Layout/Breadcrumbs/index.spec.tsx
  src/containers/Layout/ClaimRewardButton/RewardGroup/index.tsx
  src/containers/Layout/ClaimRewardButton/RewardGroup/styles.ts
  src/containers/Layout/Footer/index.tsx
  src/containers/Layout/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: handle responsiveness on tablet
  src/containers/Layout/Header/index.tsx
  src/containers/Layout/Menu/NavLink/index.tsx
  src/containers/Layout/Menu/index.tsx
  src/containers/Layout/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: handle desktop responsiveness
  src/assets/img/venusLogo.svg
  src/containers/Layout/Breadcrumbs/VTokenSymbol/index.tsx
  src/containers/Layout/Breadcrumbs/index.tsx
  src/containers/Layout/ClaimRewardButton/RewardGroup/index.tsx
  src/containers/Layout/ConnectButton/PrimeButton/index.tsx
  src/containers/Layout/Header/index.tsx
  src/containers/Layout/Menu/NavLink/index.tsx
  src/containers/Layout/Menu/index.tsx
  src/containers/Layout/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.31.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

feat: handle responsiveness of footer
  src/containers/Layout/Footer/index.tsx
  src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue with isFeatureEnabled utility
  src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update @venusprotocol/venus-protocol
  package.json
  src/packages/contracts/config/index.ts
  src/pages/Dashboard/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue with isFeatureEnabled utility (#1571)
  src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: proposals accept BNB transfer values
  src/clients/api/mutations/createProposal/index.spec.ts
  src/clients/api/mutations/createProposal/index.ts
  src/containers/ReadableActionSignature/formatSignature.ts
  src/pages/Governance/ProposalList/CreateProposalModal/formatProposalPayload.ts
  src/pages/Governance/ProposalList/CreateProposalModal/importJsonProposal/index.ts
  src/pages/Governance/ProposalList/CreateProposalModal/proposalSchema.ts
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.31.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  7d/4f0b0a6907b7cf219e28c548e4b7b5e05f3505
Due: none

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
