Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.12.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  4548c5d5f63d78fc4a1f51630ecccb23c1505664
Due: none

fix: render 0 values by checking if not null nor undefined
  src/components/Form/FormikTextField.tsx
  src/components/ReadableActionSignature/formatSignature.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.12.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  a34282ff0b97892b21ff3ec5f452a3b666bbdb1a
Due: none

refactor: remove unused ABIs + add contracts
  package.json
  src/__mocks__/contracts/multicall.ts
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getVTokenApySimulations/index.ts
  src/clients/contracts/getters.ts
  src/constants/contracts/abis/interestModel.json
  src/constants/contracts/abis/interestModelV2.json
  src/constants/contracts/abis/oracle.json
  src/packages/contracts/contractInfos/genericContractInfos.ts
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove ABIs in constants in favor of using contracts package
  .gitignore
  .prettierignore
  README.md
  package.json
  src/clients/api/mutations/approveToken/index.ts
  src/clients/api/mutations/borrow/index.ts
  src/clients/api/mutations/redeemUnderlying/index.ts
  src/clients/api/mutations/repay/index.spec.ts
  src/clients/api/mutations/repay/index.ts
  src/clients/api/mutations/revokeSpendingLimit/index.ts
  src/clients/api/mutations/supply/index.spec.ts
  src/clients/api/mutations/supply/index.ts
  src/clients/api/queries/getAllowance/index.spec.ts
  src/clients/api/queries/getAllowance/index.ts
  src/clients/api/queries/getTokenBalances/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVTokenBalanceOf/index.ts
  src/clients/api/queries/getVTokenInterestRateModel/index.ts
  src/clients/contracts/getters.ts
  src/clients/contracts/types.ts
  src/constants/contracts/abis/vaiToken.json
  src/constants/contracts/abis/vote.json
  src/constants/contracts/abis/vrtConverter.json
  src/constants/contracts/abis/vrtToken.json
  src/constants/contracts/abis/xvsToken.json
  src/constants/contracts/abis/xvsVaultStore.json
  src/packages/contracts/contractInfos/externalAbis/bep20.json
  src/packages/contracts/contractInfos/externalAbis/vBnb.json
  src/packages/contracts/contractInfos/genericContractInfos.ts
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove unused ABIs + add contracts
  src/clients/contracts/getters.ts
  src/packages/contracts/contractInfos/genericContractInfos.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove ABIs in constants in favor of using contracts package
  src/clients/contracts/getters.ts
  src/packages/contracts/contractInfos/genericContractInfos.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove contracts client
  src/clients/contracts/__mocks__/index.ts
  src/clients/contracts/hooks.ts
  src/clients/contracts/types.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove getSwapRouterContractAddress util
  src/__mocks__/models/pools.ts
  src/constants/contracts/swapRouters/index.ts
  src/constants/contracts/swapRouters/mainnet.ts
  src/constants/contracts/swapRouters/testnet.ts
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/indexIntegratedSwap.spec.tsx
  src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  src/utilities/getSwapRouterContractAddress.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove getContractAddress util
  src/clients/api/mutations/stakeInVaiVault/useStakeInVaiVault.ts
  src/clients/api/mutations/withdrawFromVaiVault/useWithdrawFromVaiVault.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/api/queries/getPendingRewards/types.ts
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  src/clients/api/queries/useGetMainPool/index.tsx
  src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  src/clients/api/queries/useGetVaults/useGetVestingVaults/useGetXvsVaultPoolBalances.ts
  src/clients/contracts/getters.ts
  src/components/Layout/ClaimRewardButton/useGetGroups.ts
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
  src/pages/Market/index.tsx
  src/pages/Pool/index.tsx
  src/pages/Swap/index.tsx
  src/pages/Vai/RepayVai/index.spec.tsx
  src/pages/Vai/RepayVai/index.tsx
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Xvs/Header/index.tsx
  src/pages/Xvs/Table/index.tsx
  src/utilities/getContractAddress.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove hard-coded contract records
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/components/ReadableActionSignature/getContractName.ts
  src/components/ReadableActionSignature/index.tsx
  src/constants/contracts/addresses/main.json
  src/constants/contracts/addresses/tokens.json
  src/constants/contracts/addresses/vBepTokens.json
  src/packages/contracts/contractInfos/genericContractInfos.ts
  src/pages/Vault/modals/ActionModal/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.12.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  3ce343f17cf691c39fa42e00f3e6082181ca9642
Due: none

refactor: move contract errors to errors folder
  src/errors/contractErrors.ts
  src/errors/transactionErrorPhrases.ts
  src/errors/transactionErrors.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: fix address of GovernorBravoDelegate contract record
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rename incorrectly named voteWeightWei property to votesWei
  src/clients/api/queries/getVoters/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVoters/formatToVoters.ts
  src/pages/Proposal/VoteSummary/index.stories.tsx
  src/pages/Proposal/VoteSummary/index.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.12.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  acdb738e354b1d0f7a7008acd3b72c824c79f260
Due: none

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
