Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/cool-pears-burn.md
Due: none

feat: rename enableGaslessTransactions user setting to gaslessTransactions
  apps/evm/src/containers/Layout/Header/TopBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/GaslessStatus/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/hooks/useSendTransaction/__tests__/index.gaslessTransactions.spec.tsx
  apps/evm/src/hooks/useSendTransaction/index.ts
  apps/evm/src/hooks/useUserChainSettings/__tests__/index.spec.tsx
  apps/evm/src/pages/Account/Settings/index.tsx
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/store/__tests__/index.spec.ts
  apps/evm/src/store/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: consider limits in both ends of the XVS bridge
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/index.ts
  apps/evm/src/clients/api/queries/getXvsBridgeStatus/useGetXvsBridgeStatus.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/rich-camels-taste.md
Due: none

feat: use custom account details modal
  .changeset/silver-bears-explain.md
  apps/evm/package.json
  apps/evm/src/containers/CopyAddressButton/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/landing/package.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: testnet governance subgraph URLs
  .changeset/short-icons-teach.md
  apps/evm/src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: account health progress bar
  .changeset/three-monkeys-travel.md
  apps/evm/src/components/AccountHealth/index.tsx
  apps/evm/src/components/ProgressBar/index.stories.tsx
  apps/evm/src/components/ProgressBar/index.tsx
  apps/evm/src/components/ProgressBar/styles.ts
  apps/evm/src/containers/AccountData/__tests__/__snapshots__/index.prime.spec.tsx.snap
  apps/evm/src/containers/AccountData/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/AccountData/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: testnet governance subgraph URLs (#3423)
  .changeset/short-icons-teach.md
  apps/evm/src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add gasless setting on Account page (#3414)
  .changeset/cool-pears-burn.md
  apps/evm/src/containers/Layout/Header/TopBar/ChainSelect/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/GaslessStatus/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/MdUpControls/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/__mocks__/index.tsx
  apps/evm/src/hooks/useSendTransaction/__tests__/index.gaslessTransactions.spec.tsx
  apps/evm/src/hooks/useSendTransaction/index.ts
  apps/evm/src/hooks/useUserChainSettings/__tests__/index.spec.tsx
  apps/evm/src/hooks/useUserChainSettings/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/Summary/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/VaultsBreakdown/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/index.tsx
  apps/evm/src/pages/Account/Section/index.tsx
  apps/evm/src/pages/Account/Section/styles.ts
  apps/evm/src/pages/Account/Settings/index.tsx
  apps/evm/src/pages/Account/index.tsx
  apps/evm/src/pages/Market/Market/OperationForm/RepayForm/__tests__/index.spec.tsx
  apps/evm/src/store/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/store/__tests__/index.spec.ts
  apps/evm/src/store/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cool-pears-burn.md
  .changeset/short-icons-teach.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: use custom account details modal (#3415)
  .changeset/silver-bears-explain.md
  apps/evm/package.json
  apps/evm/src/containers/CopyAddressButton/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/landing/package.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/silver-bears-explain.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: list proposals on Proposal page
  .changeset/rare-camels-switch.md
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/__mocks__/subgraph/bscProposals.json
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/index.spec.ts
  apps/evm/src/containers/ConnectWallet/Container/index.tsx
  apps/evm/src/containers/ConnectWallet/__tests__/index.spec.tsx
  apps/evm/src/containers/ConnectWallet/index.stories.tsx
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/containers/ConnectWallet/styles.ts
  apps/evm/src/hooks/useFormatTo/__tests__/index.spec.tsx
  apps/evm/src/hooks/useGetChainMetadata/__tests__/index.spec.tsx
  apps/evm/src/hooks/useGetVTreasuryContractAddress/__tests__/index.spec.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/ActionsAccordion/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/Cta/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/StepInfo/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/useCommand.tsx
  apps/evm/src/pages/Proposal/Commands/Description/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Status/index.tsx
  apps/evm/src/pages/Proposal/Commands/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Proposal/Commands/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalCancelableByUser/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalExecutable/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Proposal/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: display executed payloads counts on proposal list (#3354)
  .changeset/thin-hairs-vanish.md
  apps/evm/src/__mocks__/models/proposals.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/queries/getProposal/useGetCachedProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/components/LabeledProgressCircle/index.tsx
  apps/evm/src/components/ProgressCircle/index.tsx
  apps/evm/src/components/ProposalCard/styles.ts
  apps/evm/src/components/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/Indicator/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/styles.ts
  apps/evm/src/pages/Governance/ProposalList/index.tsx
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Governance/__tests__/index.governanceSearch.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Governance/__tests__/index.spec.tsx
  apps/evm/src/pages/Governance/testIds.ts
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/Progress/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Commands/useIsProposalCancelableByUser/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wire up execute button of remote proposals (#3362)
  .changeset/honest-items-lick.md
  apps/evm/src/clients/api/mutations/executeProposal/index.spec.ts
  apps/evm/src/clients/api/mutations/executeProposal/index.ts
  apps/evm/src/clients/api/mutations/executeProposal/useExecuteProposal.ts
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/index.ts
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposal/index.ts
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposals/index.ts
  apps/evm/src/clients/subgraph/queries/governanceNonBsc/getNonBscProposals/index.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Description/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: scrolling issue with banner on landing page
  .changeset/smart-cheetahs-pretend.md
  apps/landing/src/components/App.tsx
  apps/landing/src/components/Banner/Banner.module.css
  apps/landing/src/components/Banner/Banner.tsx
  apps/landing/src/components/Header/Header.module.css
  apps/landing/src/components/Header/Header.tsx
  apps/landing/src/context/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: account health progress bar (#3422)
  .changeset/three-monkeys-travel.md
  apps/evm/src/components/AccountHealth/index.tsx
  apps/evm/src/components/ProgressBar/index.stories.tsx
  apps/evm/src/components/ProgressBar/index.tsx
  apps/evm/src/components/ProgressBar/styles.ts
  apps/evm/src/containers/AccountData/__tests__/__snapshots__/index.prime.spec.tsx.snap
  apps/evm/src/containers/AccountData/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/AccountData/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/three-monkeys-travel.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: wire up execute button of remote proposals (#3362)
  .changeset/honest-items-lick.md
  apps/evm/src/clients/api/mutations/executeProposal/index.spec.ts
  apps/evm/src/clients/api/mutations/executeProposal/index.ts
  apps/evm/src/clients/api/mutations/executeProposal/useExecuteProposal.ts
  apps/evm/src/clients/subgraph/queries/governance/getProposalPreviews/index.ts
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposal/index.ts
  apps/evm/src/clients/subgraph/queries/governanceBsc/getBscProposals/index.ts
  apps/evm/src/clients/subgraph/queries/governanceNonBsc/getNonBscProposals/index.ts
  apps/evm/src/config/index.ts
  apps/evm/src/constants/chainMetadata.ts
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Proposal/Commands/BscCommand/ActionButton/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Description/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Proposal/__tests__/__snapshots__/index.multichainGovernance.spec.tsx.snap
  apps/evm/src/pages/Proposal/__tests__/index.multichainGovernance.spec.tsx
  apps/evm/src/pages/Proposal/__tests__/index.spec.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Proposal/styles.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: scrolling issue with banner on landing page (#3429)
  .changeset/smart-cheetahs-pretend.md
  apps/landing/src/components/App.tsx
  apps/landing/src/components/Banner/Banner.module.css
  apps/landing/src/components/Banner/Banner.tsx
  apps/landing/src/components/Header/Header.module.css
  apps/landing/src/components/Header/Header.tsx
  apps/landing/src/context/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/smart-cheetahs-pretend.md
  apps/landing/CHANGELOG.md
  apps/landing/package.json
Due: prettier --write --check

feat: update AddTokenToWalletButton to handle disconnected state
  .changeset/purple-kings-peel.md
  apps/evm/src/components/AddTokenToWalletButton/index.tsx
  apps/evm/src/containers/CopyAddressButton/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Vault/VaultItem/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update AddTokenToWalletButton to handle disconnected state (#3441)
  .changeset/purple-kings-peel.md
  apps/evm/src/components/AddTokenToWalletButton/index.tsx
  apps/evm/src/containers/CopyAddressButton/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Vault/VaultItem/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/purple-kings-peel.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/rich-camels-taste.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add support for EIGEN on Sepolia and Ethereum
  .changeset/rich-papayas-join.md
  apps/evm/src/libs/tokens/img/eigen.svg
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for EIGEN on Sepolia and Ethereum (#3447)
  .changeset/rich-papayas-join.md
  apps/evm/src/libs/tokens/img/eigen.svg
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/rich-papayas-join.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add links to transactions in Commands section of Proposal page
  .changeset/hungry-vans-exist.md
  apps/evm/src/__mocks__/subgraph/nonBscProposals.json
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/queries/governanceBsc/fragments/bscProposal.graphql
  apps/evm/src/clients/subgraph/queries/governanceNonBsc/fragments/nonBscProposal.graphql
  apps/evm/src/clients/subgraph/utilities/enrichRemoteProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  apps/evm/src/containers/ChainExplorerLink/index.tsx
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/containers/ReadableActionSignature/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalPreview/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/ActionsAccordion/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Status/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Voter/Transactions/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/generateExplorerUrl.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add support for eBTC on Sepolia and Ethereum
  .changeset/plenty-pens-rush.md
  apps/evm/src/libs/tokens/img/eBtc.png
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add links to transactions in Commands section of Proposal page (#3435)
  .changeset/hungry-vans-exist.md
  apps/evm/src/__mocks__/subgraph/nonBscProposals.json
  apps/evm/src/clients/api/queries/getProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/queries/governanceBsc/fragments/bscProposal.graphql
  apps/evm/src/clients/subgraph/queries/governanceNonBsc/fragments/nonBscProposal.graphql
  apps/evm/src/clients/subgraph/utilities/enrichRemoteProposals/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/__tests__/index.spec.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/formatToRemoteProposal/index.ts
  apps/evm/src/clients/subgraph/utilities/formatToProposal/index.ts
  apps/evm/src/containers/ChainExplorerLink/index.tsx
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/containers/ReadableActionSignature/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ProposalPreview/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/BscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/ActionsAccordion/index.tsx
  apps/evm/src/pages/Proposal/Commands/Command/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/CurrentStep/index.tsx
  apps/evm/src/pages/Proposal/Commands/NonBscCommand/index.tsx
  apps/evm/src/pages/Proposal/Commands/Status/index.tsx
  apps/evm/src/pages/Proposal/Commands/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/pages/Voter/Transactions/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/generateExplorerUrl.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: change vote comment icon
  apps/evm/src/components/Icon/icons/bubble.tsx
  apps/evm/src/components/Icon/icons/comment.tsx
  apps/evm/src/components/Icon/icons/index.ts
  apps/evm/src/pages/Proposal/VoteSummary/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
