Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

refactor: remove VenusTokenSymbol enum + continue migrating to tokens packages
  src/__mocks__/models/tokens.ts
  src/clients/api/mutations/executeWithdrawalFromXvsVault/useExecuteWithdrawalFromXvsVault.ts
  src/clients/api/mutations/repayVai/useRepayVai.ts
  src/clients/api/mutations/requestWithdrawalFromXvsVault/useRequestWithdrawalFromXvsVault.ts
  src/clients/api/mutations/stakeInVaiVault/useStakeInVaiVault.ts
  src/clients/api/mutations/useStakeInVault/index.ts
  src/clients/api/mutations/withdrawFromVaiVault/useWithdrawFromVaiVault.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
  src/clients/api/queries/getTransactions/useGetTransactions.ts
  src/clients/api/queries/getXvsVaultPoolCount/useGetXvsVaultPoolCount.ts
  src/clients/api/queries/useGetMainPoolTotalXvsDistributed/index.tsx
  src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  src/clients/api/queries/useGetVaults/useGetVestingVaults/index.ts
  src/clients/api/queries/useGetVaults/useGetVestingVaults/useGetXvsVaultPools.ts
  src/components/ActiveVotingProgress/index.tsx
  src/components/Layout/ClaimRewardButton/useGetGroups.ts
  src/components/Layout/Footer/index.tsx
  src/components/SelectTokenTextField/TokenList/index.tsx
  src/containers/MarketTable/index.tsx
  src/context/DisableLunaUstWarning/index.tsx
  src/hooks/useCollateral/index.tsx
  src/hooks/useGetPancakeSwapTokens.ts
  src/hooks/useGetSwapTokenUserBalances.ts
  src/hooks/useGetVenusToken.ts
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  src/packages/tokens/tokenInfos/commonTokens/bscMainnet.ts
  src/packages/tokens/tokenInfos/commonTokens/bscTestnet.ts
  src/pages/Account/index.tsx
  src/types/index.ts
  src/utilities/getTokenContract/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: add VenusTokenSymbol type + start using tokens package
  src/__mocks__/models/tokens.ts
  src/clients/api/mutations/executeWithdrawalFromXvsVault/useExecuteWithdrawalFromXvsVault.ts
  src/clients/api/mutations/repayVai/useRepayVai.ts
  src/clients/api/mutations/requestWithdrawalFromXvsVault/useRequestWithdrawalFromXvsVault.ts
  src/clients/api/mutations/stakeInVaiVault/useStakeInVaiVault.ts
  src/clients/api/mutations/useStakeInVault/index.ts
  src/clients/api/mutations/withdrawFromVaiVault/useWithdrawFromVaiVault.ts
  src/clients/api/queries/getMainPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainPool/__tests__/index.spec.ts
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
  src/packages/tokens/tokenInfos/common/bscMainnet.ts
  src/packages/tokens/tokenInfos/common/bscTestnet.ts
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: continue tokens package migration (2)
  package.json
  src/__mocks__/models/tokens.ts
  src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  src/clients/api/queries/getTransactions/useGetTransactions.ts
  src/components/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  src/constants/disabledTokens.ts
  src/containers/AssetAccessor/DisabledActionNotice/index.tsx
  src/containers/AssetAccessor/index.spec.tsx
  src/containers/AssetAccessor/index.tsx
  src/hooks/useIsTokenActionEnabled.ts
  src/packages/tokens/.gitignore
  src/packages/tokens/__mocks__/index.ts
  src/packages/tokens/getPancakeSwapTokens/__tests__/index.spec.ts
  src/packages/tokens/getPancakeSwapTokens/index.ts
  src/packages/tokens/getTokens/__tests__/index.spec.ts
  src/packages/tokens/getTokens/index.ts
  src/packages/tokens/getVenusTokens/__tests__/index.spec.ts
  src/packages/tokens/getVenusTokens/index.ts
  src/packages/tokens/index.ts
  src/packages/tokens/isTokenActionEnabled/index.tsx
  src/packages/tokens/scripts/generatePancakeSwapTokenRecords.mjs
  src/packages/tokens/tokenInfos/commonTokens/bscMainnet.ts
  src/packages/tokens/tokenInfos/commonTokens/bscTestnet.ts
  src/packages/tokens/tokenInfos/commonTokens/index.ts
  src/packages/tokens/tokenInfos/disabledTokenActions/bscMainnet.ts
  src/packages/tokens/tokenInfos/disabledTokenActions/bscTestnet.ts
  src/packages/tokens/tokenInfos/disabledTokenActions/index.ts
  src/packages/tokens/tokenInfos/index.ts
  src/packages/tokens/tokenInfos/pancakeSwap/bscTestnet.ts
  src/packages/tokens/tokenInfos/pancakeSwapTokens/bscTestnet.ts
  src/packages/tokens/tokenInfos/pancakeSwapTokens/index.tsx
  src/packages/tokens/types.ts
  src/pages/Market/index.stories.tsx
  src/pages/Market/index.tsx
  src/setupTests.tsx
  src/utilities/index.ts
  src/utilities/isTokenActionEnabled.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: complete first phase of migration ot tokens package
  src/packages/tokens/tokenInfos/commonTokens/bscMainnet.ts
  src/packages/tokens/tokenInfos/commonTokens/bscTestnet.ts
  src/packages/tokens/tokenInfos/commonTokens/index.ts
  src/pages/Vai/MintVai/index.spec.tsx
  src/pages/Vai/MintVai/index.tsx
  src/pages/Vai/RepayVai/RepayFee.tsx
  src/pages/Vai/RepayVai/__tests__/index.spec.tsx
  src/pages/Vai/RepayVai/index.tsx
  src/pages/Vault/TransactionForm/index.spec.tsx
  src/pages/Vault/TransactionForm/index.stories.tsx
  src/pages/Vault/VaultItem/index.spec.tsx
  src/pages/Vault/VaultItem/index.stories.tsx
  src/pages/Vault/VaultItem/index.tsx
  src/pages/Vault/modals/ActionModal/index.spec.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.spec.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.spec.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.spec.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/WithdrawalRequestList/index.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.spec.tsx
  src/pages/Voter/Holding/index.tsx
  src/pages/Voter/Transactions/index.tsx
  src/pages/VoterLeaderboard/LeaderboardTable/index.tsx
  src/pages/Xvs/Header/index.tsx
  src/pages/Xvs/Table/index.tsx
  src/pages/Xvs/constants.ts
  src/utilities/convertPriceMantissaToDollars/__tests__/index.spec.ts
  src/utilities/formatTokensToReadableValue/__tests__/index.spec.ts
  src/utilities/getTokenByAddress.ts
  src/utilities/getTokenContract/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.19.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  2b1f9ebc9a85db8eafb944a9e33a1607eaf7e467
Due: none

feat: move Table loader
  src/components/Table/index.tsx
  src/components/Table/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: position Table loader below header (#1436)
  src/components/Table/index.tsx
  src/components/Table/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.20.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  d8d47fc0cb90c496e9bc9674a8b806d106192078
Due: none

chore(release): 2.20.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  9a0e6c953eb1839785db7b0d6726af1df43b9337
Due: none

chore(release): 2.20.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  2d4572a83b3dfbd7a730ad19a21721f95b61b29e
Due: none

refactor: remove multicall3 usage from getVTokenApySimulations
  src/clients/api/queries/getVTokenApySimulations/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVTokenApySimulations/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVTokenApySimulations/__tests__/index.spec.ts
  src/clients/api/queries/getVTokenApySimulations/formatCurrentUtilizationRate.ts
  src/clients/api/queries/getVTokenApySimulations/formatToApySnapshots.ts
  src/clients/api/queries/getVTokenApySimulations/index.spec.ts
  src/clients/api/queries/getVTokenApySimulations/index.ts
  src/clients/api/queries/getVTokenApySimulations/types.ts
  src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  src/packages/tokens/tokenInfos/pancakeSwap/bscMainnet.ts
  src/pages/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.20.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  546832b35610151d471e758b765e090ffd8aa68f
Due: none

refactor: update parameter and variable names to follow codebase practices
  src/__mocks__/models/vTokenApySimulations.ts
  src/clients/api/queries/getVTokenApySimulations/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVTokenApySimulations/formatCurrentUtilizationRate.ts
  src/clients/api/queries/getVTokenApySimulations/formatToApySnapshots.ts
  src/clients/api/queries/getVTokenApySimulations/index.ts
  src/clients/api/queries/getVTokenApySimulations/types.ts
  src/components/charts/InterestRateChart/index.stories.tsx
  src/components/charts/InterestRateChart/index.tsx
  src/pages/Market/index.stories.tsx
  src/pages/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove multicall3 usage from getVTokenApySimulations (#1442)
  src/__mocks__/models/vTokenApySimulations.ts
  src/clients/api/queries/getVTokenApySimulations/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVTokenApySimulations/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVTokenApySimulations/__tests__/index.spec.ts
  src/clients/api/queries/getVTokenApySimulations/formatCurrentUtilizationRate.ts
  src/clients/api/queries/getVTokenApySimulations/formatToApySnapshots.ts
  src/clients/api/queries/getVTokenApySimulations/index.spec.ts
  src/clients/api/queries/getVTokenApySimulations/index.ts
  src/clients/api/queries/getVTokenApySimulations/types.ts
  src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  src/components/charts/InterestRateChart/index.stories.tsx
  src/components/charts/InterestRateChart/index.tsx
  src/pages/Market/index.stories.tsx
  src/pages/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.20.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  76ba79a536c0af8d285582ea0eb83c3439afe394
Due: none

chore(release): 2.20.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  c16adc8844a0109e2e7ed90c647e1c2963df0bf7
Due: none

chore(release): 2.20.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  dc9ecc6981a117c402d2d4db268cab8a72f0d6cf
Due: none

chore: clean up some comments
  src/containers/MarketTable/useGenerateColumns.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.20.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  3efc88fb6ffb29b0d25fb36e469d8f0c7e22fcba
Due: none

chore: clean up some comments (#1448)
  src/containers/MarketTable/useGenerateColumns.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.20.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  23b1e311e1458073d71209ec4704150fe346c7b7
Due: none

feat: add "prime" feature flag
  .env.template
  src/config/envVariables.ts
  src/utilities/isFeatureEnabled.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add "prime" feature flag (#1454)
  .env.template
  src/config/envVariables.ts
  src/utilities/isFeatureEnabled.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.21.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  5dad27f4ce3b394704f837d619625f9b6aca14f6
Due: none
