Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): add auto-reload when passing hardforks (updated) (#5151)
  .changeset/chilly-papayas-lick.md
  apps/evm/src/App/ChainUpgradeHandler/__tests__/index.spec.tsx
  apps/evm/src/App/ChainUpgradeHandler/index.tsx
  apps/evm/src/App/index.tsx
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/chilly-papayas-lick.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
Due: prettier --write --check

feat: add ad Banner component
  .changeset/sweet-lands-mate.md
  apps/evm/package.json
  apps/evm/src/components/Carousel/CarouselItem/index.tsx
  apps/evm/src/components/Carousel/index.tsx
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/containers/AssetAccessor/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/LeverageManager.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/BorrowForm/EModeBanner/EModeButton/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/EModeBanner/illustration.svg
  apps/evm/src/pages/Market/OperationForm/BorrowForm/EModeBanner/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/Banner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/BinanceWalletBanner/binanceLogo.svg
  apps/evm/src/pages/Pool/Assets/AdBanner/BinanceWalletBanner/desktopBgIllustration.png
  apps/evm/src/pages/Pool/Assets/AdBanner/BinanceWalletBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/BinanceWalletBanner/mobileBgIllustration.png
  apps/evm/src/pages/Pool/Assets/AdBanner/BoostBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/BoostBanner/rocket.svg
  apps/evm/src/pages/Pool/Assets/AdBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/poolLensAbi.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable Leveraged Positions feature on mainnet
  apps/evm/src/clients/api/queries/getSwapQuote/__ tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getSwapQuote/index.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: leveraged positions release (#5086)
  .changeset/sweet-lands-mate.md
  apps/evm/package.json
  apps/evm/src/clients/api/queries/getSwapQuote/__ tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getSwapQuote/index.ts
  apps/evm/src/components/Carousel/CarouselItem/index.tsx
  apps/evm/src/components/Carousel/index.tsx
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/containers/AssetAccessor/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/contracts/config/externalAbis/LeverageManager.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/BorrowForm/EModeBanner/EModeButton/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/EModeBanner/illustration.svg
  apps/evm/src/pages/Market/OperationForm/BorrowForm/EModeBanner/index.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/Banner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/BinanceWalletBanner/binanceLogo.svg
  apps/evm/src/pages/Pool/Assets/AdBanner/BinanceWalletBanner/desktopBgIllustration.png
  apps/evm/src/pages/Pool/Assets/AdBanner/BinanceWalletBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/BinanceWalletBanner/mobileBgIllustration.png
  apps/evm/src/pages/Pool/Assets/AdBanner/BoostBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/BoostBanner/rocket.svg
  apps/evm/src/pages/Pool/Assets/AdBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/index.tsx
  apps/evm/src/pages/Pool/Tabs/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Pool/poolLensAbi.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/sweet-lands-mate.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: only allow users with pre-existing collateral to open a leveraged position
  .changeset/late-pears-trade.md
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

build(evm,ui): upgrade tailwind to v4, update mui theme
  apps/evm/package.json
  apps/evm/postcss.config.js
  apps/evm/src/assets/styles/index.css
  apps/evm/vite.config.mts
  packages/ui/package.json
  packages/ui/src/theme.css
  packages/ui/src/theme.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): tailwind v4 classNames migration (perf by upgrade tool)
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/components/EModeIcon/index.tsx
  apps/evm/src/components/MarkdownEditor/index.tsx
  apps/evm/src/components/Modal/index.tsx
  apps/evm/src/components/Notice/index.tsx
  apps/evm/src/components/Slider/index.tsx
  apps/evm/src/components/TextField/index.tsx
  apps/evm/src/containers/Layout/Footer/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/XsControls/NavLink/index.tsx
  apps/evm/src/containers/Layout/Header/index.tsx
  apps/evm/src/containers/Layout/Sidebar/NavLink/index.tsx
  apps/evm/src/containers/ReadableActionSignature/index.tsx
  apps/evm/src/pages/Account/PrimeBanner/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/index.tsx
  apps/evm/src/pages/Governance/index.tsx
  apps/evm/src/pages/Market/AssetWarning/index.tsx
  apps/evm/src/pages/Market/MarketCard/index.tsx
  apps/evm/src/pages/Pool/Tabs/EMode/EModeGroup/EModeGroupCard/index.tsx
  apps/evm/src/pages/Proposal/Description/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): unnecessary className changes done by upgrade tool
  apps/evm/src/components/Apy/PrimeBadge/PrimeApy/index.tsx
  apps/evm/src/components/Delimiter/index.tsx
  apps/evm/src/components/HealthFactorPill/index.tsx
  apps/evm/src/components/Tabs/index.tsx
  apps/evm/src/components/Toggle/styles.ts
  apps/evm/src/components/TokenListWrapper/index.tsx
  apps/evm/src/components/Tooltip/index.tsx
  apps/evm/src/containers/AddTokenToWalletButton/index.tsx
  apps/evm/src/containers/Layout/ScrollToTop/index.tsx
  apps/evm/src/libs/notifications/NotificationCenter/index.tsx
  apps/evm/src/pages/Account/Pools/Positions/Tables/EModeHeader/index.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Governance/ProposalList/GovernanceProposal/Status/Warning/index.tsx
  apps/evm/src/pages/Proposal/VoteSummary/styles.ts
  packages/ui/src/components/Button/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

build: update yarn lock
  yarn.lock
Due: none

fix(evm): modify unichain-theme class in html tag
  apps/evm/src/App/ThemeHandler/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(landing,ui): upgrade tailwind to v4 in landing app
  apps/evm/package.json
  apps/evm/src/assets/styles/index.css
  apps/landing/package.json
  apps/landing/postcss.config.js
  apps/landing/src/assets/styles/index.css
  apps/landing/src/components/Layout/Footer/Footer.tsx
  apps/landing/src/components/Legal/index.tsx
  apps/landing/src/index.tsx
  apps/landing/vite.config.mts
  packages/ui/package.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix(evm,ui): update configs and fix ui glitches, revert unnecessary className changes
  apps/evm/src/assets/styles/components.css
  apps/evm/src/assets/styles/index.css
  apps/evm/src/components/Delimiter/index.tsx
  apps/evm/src/components/ProgressBar/styles.ts
  apps/evm/src/components/Toggle/styles.ts
  apps/evm/src/pages/Proposal/VoteSummary/styles.ts
  packages/ui/src/theme.css
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add pointer to buttons + refactor Delimiter
  apps/evm/src/assets/styles/components.css
  apps/evm/src/assets/styles/index.css
  apps/evm/src/components/Accordion/index.tsx
  apps/evm/src/components/Carousel/index.tsx
  apps/evm/src/components/Delimiter/index.tsx
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/components/Tabs/index.tsx
  apps/evm/src/containers/CopyAddressButton/index.tsx
  apps/evm/src/containers/ImportablePositions/index.tsx
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/XsControls/index.tsx
  apps/evm/src/containers/SwapDetails/index.tsx
  apps/evm/src/pages/Account/PrimeBanner/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ActionAccordion/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/index.tsx
  apps/landing/src/assets/styles/index.css
  apps/landing/src/components/Layout/Header/Header.tsx
  apps/landing/src/components/Legal/index.tsx
  apps/landing/src/pages/Home/Market/Market.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

style(landing): fix style differences, remove normalize.css
  apps/landing/package.json
  apps/landing/src/assets/styles/index.css
  apps/landing/src/components/Layout/Footer/Footer.tsx
  apps/landing/src/components/Layout/Header/Header.module.css
  apps/landing/src/components/Legal/index.module.css
  apps/landing/src/components/Legal/index.tsx
  apps/landing/src/pages/Home/Benefits/Benefits.module.css
  apps/landing/src/pages/Home/Governance/Governance.module.css
  apps/landing/src/pages/Home/Governance/index.tsx
  apps/landing/src/pages/Home/Intro/Intro.module.css
  apps/landing/src/pages/Home/Market/Market.module.css
  apps/landing/src/pages/Home/Market/Market.tsx
  apps/landing/src/pages/Home/Protection/Protection.module.css
  apps/landing/src/pages/Home/Protection/index.tsx
  apps/landing/src/pages/Home/Safety/Auditor.tsx
  apps/landing/src/pages/Home/Safety/Safety.module.css
  apps/landing/src/pages/Home/VenusPrime/VenusPrime.module.css
  apps/landing/src/pages/Home/VenusPrime/index.tsx
  apps/landing/src/pages/PrivacyPolicy/index.tsx
  apps/landing/src/pages/TermsOfUse/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

build(none): update yarn.lock and changeset
  .changeset/chatty-geese-float.md
  yarn.lock
Due: none

build(evm,landing): fix cicd check/lint errors
  apps/evm/src/components/ProgressBar/styles.ts
  apps/evm/src/containers/Layout/Header/MarketInfo/index.tsx
  apps/evm/src/containers/SwapDetails/index.tsx
  apps/evm/src/pages/Account/PrimeBanner/index.tsx
  apps/evm/src/pages/Governance/ProposalList/CreateProposalModal/ActionAccordion/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/index.tsx
  apps/evm/tailwind.config.ts
  apps/landing/tailwind.config.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: opacity class + add chain ID to transaction history
  apps/evm/src/clients/api/queries/getAccountTransactionHistory/useGetAccountTransactionHistory.ts
  apps/evm/src/components/EModeBanner/index.tsx
  apps/evm/src/components/Select/index.tsx
  apps/evm/src/containers/Layout/ScrollToTop/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add banner announcing isolated pools sunsetting
  .changeset/lazy-clubs-arrive.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/Assets/AdBanner/IsolatedPoolsSunsetBanner/illustration.png
  apps/evm/src/pages/Pool/Assets/AdBanner/IsolatedPoolsSunsetBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue with incorrect decimals used in approximate-out swaps
  .changeset/cold-bottles-sin.md
  .vscode/settings.json
  apps/evm/src/clients/api/queries/getSwapQuote/__ tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getSwapQuote/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add banner announcing isolated pools sunsetting (#5179)
  .changeset/lazy-clubs-arrive.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/Assets/AdBanner/IsolatedPoolsSunsetBanner/illustration.png
  apps/evm/src/pages/Pool/Assets/AdBanner/IsolatedPoolsSunsetBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: block boost tab for users with no collateral (#5173)
  .changeset/late-pears-trade.md
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue with incorrect decimals used in approximate-out swaps (#5180)
  .changeset/cold-bottles-sin.md
  .vscode/settings.json
  apps/evm/src/clients/api/queries/getSwapQuote/__ tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getSwapQuote/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cold-bottles-sin.md
  .changeset/late-pears-trade.md
  .changeset/lazy-clubs-arrive.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: update description of isolated pools sunset bannet
  .changeset/pink-poets-serve.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
Due: prettier --write --check

fix: price impact calculation
  .changeset/strong-goats-glow.md
  apps/evm/src/clients/api/queries/getSwapQuote/__ tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getSwapQuote/formatSwapQuote/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: price impact calculation (#5187)
  .changeset/strong-goats-glow.md
  apps/evm/src/clients/api/queries/getSwapQuote/__ tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getSwapQuote/formatSwapQuote/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/strong-goats-glow.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: remove paused assets from Boost feature
  .changeset/cruel-shrimps-stick.md
  apps/evm/src/pages/Market/OperationForm/BoostForm/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: remove paused assets from Boost feature (#5188)
  .changeset/cruel-shrimps-stick.md
  apps/evm/src/pages/Market/OperationForm/BoostForm/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cruel-shrimps-stick.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: rocket illustration resolution
  .changeset/bumpy-words-learn.md
  apps/evm/src/pages/Pool/Assets/AdBanner/BoostBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/BoostBanner/rocket.png
  apps/evm/src/pages/Pool/Assets/AdBanner/BoostBanner/rocket.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: always show user assets only filter
  .changeset/fancy-lines-raise.md
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/MarketTable/useControls/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only filter by user assets if they have some (#5196)
  .changeset/fancy-lines-raise.md
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/MarketTable/useControls/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: rocket illustration resolution (#5190)
  .changeset/bumpy-words-learn.md
  apps/evm/src/pages/Pool/Assets/AdBanner/BoostBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/BoostBanner/rocket.png
  apps/evm/src/pages/Pool/Assets/AdBanner/BoostBanner/rocket.svg
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add high price impact acknowledgement to Boost form
  apps/evm/src/components/AcknowledgementToggle/index.stories.tsx
  apps/evm/src/components/AcknowledgementToggle/index.tsx
  apps/evm/src/components/RiskAcknowledgementToggle/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/constants/swap.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/BoostForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/types.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/BorrowForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): swap and supply
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/index.ts
  apps/evm/src/clients/api/queries/getSwapQuote/useGetSwapQuote.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/analytics/useAnalytics/types.ts
  apps/evm/src/libs/contracts/config/externalAbis/SwapRouterV2.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/OperationDetails/SwapDetails/index.tsx
  apps/evm/src/pages/Market/OperationForm/OperationDetails/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/SupplyForm/Notice.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/useForm/types.ts
  apps/evm/src/pages/Market/OperationForm/SupplyForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/SwapSummary/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/getSwapToTokenAmountReceived/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: improve hypothetical yearly earnings calculation
  .changeset/plenty-pears-shave.md
  apps/evm/src/clients/api/queries/getSimulatedPool/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getSimulatedPool/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
