Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: update RPC providers order for opBNB mainnet
  .changeset/cold-actors-lie.md
  apps/evm/src/config/rpcUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update RPC providers order for opBNB mainnet (#4177)
  .changeset/cold-actors-lie.md
  apps/evm/src/config/rpcUrls.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/cold-actors-lie.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: getPendingRewards query function to use viem (#4168)
  .changeset/new-rocks-sleep.md
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/__testUtils__/fakeData.ts
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatRewardSummaryData.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToExternalPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToIsolatedPoolPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToLegacyPoolPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToPrimePendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToVaultPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/formatToVestingVaultPendingRewardGroup.ts
  apps/evm/src/clients/api/queries/getPendingRewards/formatOutput/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getApiTokenPrice/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklUserRewards/formatMerklRewardsResponse.ts
  apps/evm/src/clients/api/queries/getPendingRewards/getMerklUserRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/index.ts
  apps/evm/src/clients/api/queries/getPendingRewards/types.ts
  apps/evm/src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/formatDistributions/formatRewardDistribution/index.ts
  apps/evm/src/containers/Layout/ClaimRewardButton/__testUtils__/fakeData.ts
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/restService.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/new-rocks-sleep.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: prevent sending transactions with empty access list
  .changeset/legal-dogs-attend.md
  apps/evm/src/clients/api/mutations/useBorrow/index.ts
  apps/evm/src/clients/api/mutations/withdraw/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: prevent sending transactions with empty access list (#4183)
  .changeset/legal-dogs-attend.md
  apps/evm/src/clients/api/mutations/useBorrow/index.ts
  apps/evm/src/clients/api/mutations/withdraw/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/legal-dogs-attend.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/whole-dolls-rule.md
Due: none

feat: reinstate APY charts in opBNB mainnet
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update logic to repay full native currency loan
  .changeset/empty-impalas-lick.md
  apps/evm/src/clients/api/mutations/repay/index.spec.ts
  apps/evm/src/clients/api/mutations/repay/index.ts
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/RepayForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: set gas limit when sending transactions
  .changeset/moody-memes-poke.md
  apps/evm/src/hooks/useSendTransaction/sendTransaction/__tests__/index.spec.tsx
  apps/evm/src/hooks/useSendTransaction/sendTransaction/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: set gas limit when sending transactions (#4196)
  .changeset/moody-memes-poke.md
  apps/evm/src/hooks/useSendTransaction/sendTransaction/__tests__/index.spec.tsx
  apps/evm/src/hooks/useSendTransaction/sendTransaction/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/moody-memes-poke.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/tasty-readers-walk.md
Due: none

feat: add Aster points
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/index.ts
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/pointDistributions/asterPoints.svg
  apps/evm/src/clients/api/queries/useGetPools/getPools/getApiPools/pointDistributions/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/tasty-readers-walk.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/whole-dolls-rule.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/solid-nights-do.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write --check

refactor: useUpdatePoolDelegateStatus to use viem
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/updatePoolDelegateStatus/index.spec.ts
  apps/evm/src/clients/api/mutations/updatePoolDelegateStatus/index.ts
  apps/evm/src/clients/api/mutations/updatePoolDelegateStatus/useUpdatePoolDelegateStatus.ts
  apps/evm/src/clients/api/mutations/useUpdatePoolDelegateStatus/__tests__/__snapshots__/useUpdatePoolDelegateStatus.spec.ts.snap
  apps/evm/src/clients/api/mutations/useUpdatePoolDelegateStatus/__tests__/useUpdatePoolDelegateStatus.spec.ts
  apps/evm/src/clients/api/mutations/useUpdatePoolDelegateStatus/index.ts
  apps/evm/src/hooks/useDelegateApproval/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add back account health bar
  .changeset/nine-taxes-speak.md
  apps/evm/src/components/AccountHealthBar/index.tsx
  apps/evm/src/components/ProgressBar/index.stories.tsx
  apps/evm/src/components/ProgressBar/index.tsx
  apps/evm/src/components/ProgressBar/styles.ts
  apps/evm/src/components/index.ts
  apps/evm/src/constants/healthFactor.ts
  apps/evm/src/containers/AccountData/__tests__/__snapshots__/index.prime.spec.tsx.snap
  apps/evm/src/containers/AccountData/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/AccountData/index.tsx
  apps/evm/src/containers/AccountData/useGetValues.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/Summary/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/Summary/useExtractData.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useSwapTokensAndSupply to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/swapTokens/index.ts
  apps/evm/src/clients/api/mutations/swapTokensAndRepay/index.ts
  apps/evm/src/clients/api/mutations/swapTokensAndSupply/index.spec.ts
  apps/evm/src/clients/api/mutations/swapTokensAndSupply/index.ts
  apps/evm/src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/index.ts
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/index.tsx
  apps/evm/src/utilities/generateTransactionDeadline.ts
  apps/evm/src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: useCancelProposal to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/cancelProposal/index.spec.ts
  apps/evm/src/clients/api/mutations/cancelProposal/index.ts
  apps/evm/src/clients/api/mutations/cancelProposal/useCancelProposal.ts
  apps/evm/src/clients/api/mutations/useCancelProposal/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useCancelProposal/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add back account health bar (#4219)
  .changeset/nine-taxes-speak.md
  apps/evm/src/components/AccountHealthBar/index.tsx
  apps/evm/src/components/ProgressBar/index.stories.tsx
  apps/evm/src/components/ProgressBar/index.tsx
  apps/evm/src/components/ProgressBar/styles.ts
  apps/evm/src/components/index.ts
  apps/evm/src/constants/healthFactor.ts
  apps/evm/src/containers/AccountData/__tests__/__snapshots__/index.prime.spec.tsx.snap
  apps/evm/src/containers/AccountData/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/AccountData/index.tsx
  apps/evm/src/containers/AccountData/useGetValues.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Account/AccountBreakdown/PoolsBreakdown/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/Summary/index.tsx
  apps/evm/src/pages/Account/AccountBreakdown/Summary/useExtractData.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/nine-taxes-speak.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: useWithdrawFromVaiVault to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useWithdrawFromVaiVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useWithdrawFromVaiVault/index.ts
  apps/evm/src/clients/api/mutations/withdrawFromVaiVault/index.spec.ts
  apps/evm/src/clients/api/mutations/withdrawFromVaiVault/index.ts
  apps/evm/src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove Convert VRT page
  .changeset/spicy-pigs-own.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/withdrawXvs/index.spec.ts
  apps/evm/src/clients/api/mutations/withdrawXvs/index.ts
  apps/evm/src/clients/api/mutations/withdrawXvs/useWithdrawXvs.ts
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/index.ts
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/useGetVrtConversionEndTime.ts
  apps/evm/src/clients/api/queries/getVrtConversionRatio/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVrtConversionRatio/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVrtConversionRatio/index.ts
  apps/evm/src/clients/api/queries/getVrtConversionRatio/useGetVrtConversionRatio.ts
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/index.ts
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/useGetXvsWithdrawableAmount.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/errors/unexpectedErrorPhrases.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/ConvertVrt/Convert/index.spec.tsx
  apps/evm/src/pages/ConvertVrt/Convert/index.tsx
  apps/evm/src/pages/ConvertVrt/Convert/testIds.ts
  apps/evm/src/pages/ConvertVrt/Withdraw/index.spec.tsx
  apps/evm/src/pages/ConvertVrt/Withdraw/index.tsx
  apps/evm/src/pages/ConvertVrt/index.spec.tsx
  apps/evm/src/pages/ConvertVrt/index.tsx
  apps/evm/src/pages/ConvertVrt/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove Convert VRT page (#4220)
  .changeset/spicy-pigs-own.md
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/withdrawXvs/index.spec.ts
  apps/evm/src/clients/api/mutations/withdrawXvs/index.ts
  apps/evm/src/clients/api/mutations/withdrawXvs/useWithdrawXvs.ts
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/index.ts
  apps/evm/src/clients/api/queries/getVrtConversionEndTime/useGetVrtConversionEndTime.ts
  apps/evm/src/clients/api/queries/getVrtConversionRatio/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getVrtConversionRatio/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getVrtConversionRatio/index.ts
  apps/evm/src/clients/api/queries/getVrtConversionRatio/useGetVrtConversionRatio.ts
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/index.ts
  apps/evm/src/clients/api/queries/getXvsWithdrawableAmount/useGetXvsWithdrawableAmount.ts
  apps/evm/src/constants/functionKey.ts
  apps/evm/src/constants/routing.ts
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/__tests__/index.spec.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/errors/unexpectedErrorPhrases.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/ConvertVrt/Convert/index.spec.tsx
  apps/evm/src/pages/ConvertVrt/Convert/index.tsx
  apps/evm/src/pages/ConvertVrt/Convert/testIds.ts
  apps/evm/src/pages/ConvertVrt/Withdraw/index.spec.tsx
  apps/evm/src/pages/ConvertVrt/Withdraw/index.tsx
  apps/evm/src/pages/ConvertVrt/index.spec.tsx
  apps/evm/src/pages/ConvertVrt/index.tsx
  apps/evm/src/pages/ConvertVrt/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/spicy-pigs-own.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: temporarily disable zkETH market on ZKsync
  .changeset/three-rings-win.md
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: temporarily disable zkETH market on ZKsync (#4227)
  .changeset/three-rings-win.md
  apps/evm/src/libs/tokens/infos/disabledTokenActions/zkSyncMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/three-rings-win.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: temporarily unlist zkETH on ZKsync
  .changeset/swift-shirts-open.md
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: temporarily unlist zkETH on ZKsync (#4228)
  .changeset/swift-shirts-open.md
  apps/evm/src/clients/api/queries/useGetPools/getPools/formatOutput/index.ts
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/swift-shirts-open.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: useRequestWithdrawalFromXvsVault to use viem
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/mutations/requestWithdrawalFromXvsVault/index.spec.ts
  apps/evm/src/clients/api/mutations/requestWithdrawalFromXvsVault/index.tsx
  apps/evm/src/clients/api/mutations/requestWithdrawalFromXvsVault/useRequestWithdrawalFromXvsVault.ts
  apps/evm/src/clients/api/mutations/useApproveToken/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useBorrow/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useCancelProposal/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useEnterMarket/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useExitMarket/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useRequestWithdrawalFromXvsVault/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useRequestWithdrawalFromXvsVault/index.tsx
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useUpdatePoolDelegateStatus/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/mutations/useUpdatePoolDelegateStatus/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  apps/evm/src/hooks/useSendTransaction/__tests__/index.gaslessTransactions.spec.tsx
  apps/evm/src/hooks/useSendTransaction/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/Page/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/index.spec.tsx
  apps/evm/src/pages/Vault/modals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
  apps/evm/src/setupTests.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
