Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: improve Trade features
  .changeset/open-coats-make.md
  apps/evm/src/__mocks__/models/trade.ts
  apps/evm/src/clients/api/queries/getRawTradePositions/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getRawTradePositions/index.ts
  apps/evm/src/components/LayeredValues/index.tsx
  apps/evm/src/components/Slider/TickMark/index.tsx
  apps/evm/src/components/Slider/index.tsx
  apps/evm/src/components/TokenListWrapper/index.tsx
  apps/evm/src/hooks/useGetTradePositions/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/hooks/useSimulateTradePositionMutations/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Trade/OperationForm/OpenForm/useGetNewTradePosition/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/pages/Trade/OperationForm/OpenForm/useGetNewTradePosition/index.ts
  apps/evm/src/pages/Trade/PairInfo/TokenSelect/index.tsx
  apps/evm/src/pages/Trade/PairInfo/index.tsx
  apps/evm/src/pages/Trade/Positions/PositionList/RowFooter/StatusTab/index.tsx
  apps/evm/src/pages/Trade/Positions/PositionList/index.tsx
  apps/evm/src/pages/Trade/Positions/PositionList/useColumns/LiquidationPrice/index.tsx
  apps/evm/src/pages/Trade/Positions/PositionList/useColumns/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/formatToTradePosition/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/utilities/formatToTradePosition/__tests__/index.spec.ts
  apps/evm/src/utilities/formatToTradePosition/index.ts
  package.json
  packages/ui/src/theme.css
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: simplify CellGroup component
  apps/evm/src/components/Icon/icons/switch.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add token switch to Trade page
  apps/evm/src/components/Icon/icons/switch.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: improve Trade features (#5599)
  .changeset/open-coats-make.md
  apps/evm/src/__mocks__/models/trade.ts
  apps/evm/src/clients/api/queries/getRawTradePositions/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getRawTradePositions/index.ts
  apps/evm/src/components/LayeredValues/index.tsx
  apps/evm/src/components/Slider/TickMark/index.tsx
  apps/evm/src/components/Slider/index.tsx
  apps/evm/src/components/TokenListWrapper/index.tsx
  apps/evm/src/hooks/useGetTradePositions/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/hooks/useSimulateTradePositionMutations/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Trade/OperationForm/OpenForm/useGetNewTradePosition/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/pages/Trade/OperationForm/OpenForm/useGetNewTradePosition/index.ts
  apps/evm/src/pages/Trade/PairInfo/TokenSelect/index.tsx
  apps/evm/src/pages/Trade/PairInfo/index.tsx
  apps/evm/src/pages/Trade/Positions/PositionList/RowFooter/StatusTab/index.tsx
  apps/evm/src/pages/Trade/Positions/PositionList/index.tsx
  apps/evm/src/pages/Trade/Positions/PositionList/useColumns/LiquidationPrice/index.tsx
  apps/evm/src/pages/Trade/Positions/PositionList/useColumns/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/formatToTradePosition/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/utilities/formatToTradePosition/__tests__/index.spec.ts
  apps/evm/src/utilities/formatToTradePosition/index.ts
  package.json
  packages/ui/src/theme.css
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/four-eggs-care.md
  .changeset/huge-otters-battle.md
  .changeset/open-coats-make.md
  .changeset/quiet-peaches-brake.md
  .changeset/rotten-ways-love.md
  .changeset/slimy-windows-sleep.md
  .changeset/spotty-bees-smash.md
  .changeset/tangy-eagles-learn.md
  .changeset/tough-taxes-rescue.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write --check

feat: remove raw translate key
  apps/evm/src/containers/Form/RhfTokenTextField/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove raw translate key
  .changeset/fast-drinks-stop.md
Due: none

feat: remove raw translate key
  apps/evm/src/containers/Form/RhfTokenTextField/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/Repay/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/public-moments-know.md
Due: none

feat: add Stats - Overview
  apps/evm/src/clients/api/index.ts
  apps/evm/src/libs/errors/handleError/index.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Stats/HistoricalDominanceChart/index.tsx
  apps/evm/src/pages/Stats/HistoricalLiquidityChart/index.tsx
  apps/evm/src/pages/Stats/HistoricalMarketChart/index.tsx
  apps/evm/src/pages/Stats/MarketKpis/index.tsx
  apps/evm/src/pages/Stats/StatsIframe/index.tsx
  apps/evm/src/pages/Stats/TopWallets/TopWalletsTable/index.tsx
  apps/evm/src/pages/Stats/TopWallets/index.tsx
  apps/evm/src/pages/Stats/TransactionsVolume/index.tsx
  apps/evm/src/pages/Stats/WalletKpis/index.tsx
  apps/evm/src/pages/Stats/index.tsx
  apps/evm/src/pages/Stats/roundUpToScale.ts
  apps/evm/src/pages/Stats/useMarketColors.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add RiskParametersTable
  apps/evm/src/pages/Stats/RiskParametersTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getRiskDashboardMarkets and getRiskDashboardEModePools
  apps/evm/src/clients/api/index.ts
  apps/evm/src/clients/api/queries/fetchRiskDashboard.ts
  apps/evm/src/clients/api/queries/getRiskDashboardEModePools/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardEModePools/useGetRiskDashboardEModePools.ts
  apps/evm/src/clients/api/queries/getRiskDashboardMarkets/index.ts
  apps/evm/src/clients/api/queries/getRiskDashboardMarkets/useGetRiskDashboardMarkets.ts
  apps/evm/src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: translations for the market tables
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

feat: add Stats - Overview
  apps/evm/src/pages/Stats/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add EModeTable
  apps/evm/src/pages/Stats/EModeTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add MarketsTable
  apps/evm/src/pages/Stats/MarketsTable/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset
  .changeset/angry-experts-grow.md
Due: none

feat: remove raw translate key
  apps/evm/src/containers/Form/RhfTokenTextField/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
  apps/evm/src/pages/Vai/Borrow/useForm/index.ts
  apps/evm/src/pages/Vai/Repay/index.tsx
  apps/evm/src/pages/Vai/Repay/useForm/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: hiden assets when hidden
  apps/evm/src/pages/Markets/Tabs/EMode/filterEModeGroups/__tests__/index.spec.ts
  apps/evm/src/pages/Markets/Tabs/EMode/filterEModeGroups/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: hiden assets when hidden
  .changeset/cyan-needles-trade.md
Due: none

fix: guard isolation group hide with isIsolated
  apps/evm/src/pages/Markets/Tabs/EMode/filterEModeGroups/__tests__/index.spec.ts
  apps/evm/src/pages/Markets/Tabs/EMode/filterEModeGroups/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: trim comment
  apps/evm/src/pages/Markets/Tabs/EMode/filterEModeGroups/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: match isolation group label to main asset symbol
  apps/evm/src/pages/Markets/Tabs/EMode/filterEModeGroups/__tests__/index.spec.ts
  apps/evm/src/pages/Markets/Tabs/EMode/filterEModeGroups/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update Flux banner
  .changeset/funny-dingos-relax.md
  apps/evm/src/containers/AdBanner/VenusFluxBanner/illustration.png
  apps/evm/src/containers/AdBanner/VenusFluxBanner/index.tsx
  apps/evm/src/containers/AdBanner/VenusFluxBanner/tabletIllustration.png
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/fast-drinks-stop.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: update Flux banner (#5607)
  .changeset/funny-dingos-relax.md
  apps/evm/src/containers/AdBanner/VenusFluxBanner/illustration.png
  apps/evm/src/containers/AdBanner/VenusFluxBanner/index.tsx
  apps/evm/src/containers/AdBanner/VenusFluxBanner/tabletIllustration.png
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/funny-dingos-relax.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: bump package versions
  .changeset/cyan-needles-trade.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: deduplicate APY breakdown display on repay with wallet balance form
  .changeset/dull-gifts-greet.md
  apps/evm/src/libs/errors/handleError/index.ts
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: withdraw flow of Pendle vault
  .changeset/wet-impalas-dance.md
  apps/evm/src/containers/VaultCard/PendleVaultModal/PositionTab/WithdrawForm/index.tsx
  apps/evm/src/containers/VaultCard/TransactionForm/__tests__/index.spec.tsx
  apps/evm/src/containers/VaultCard/TransactionForm/index.tsx
  apps/evm/src/libs/errors/handleError/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: withdraw flow of Pendle vault (#5614)
  .changeset/wet-impalas-dance.md
  apps/evm/src/containers/VaultCard/PendleVaultModal/PositionTab/WithdrawForm/index.tsx
  apps/evm/src/containers/VaultCard/TransactionForm/__tests__/index.spec.tsx
  apps/evm/src/containers/VaultCard/TransactionForm/index.tsx
  apps/evm/src/libs/errors/handleError/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wet-impalas-dance.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: deduplicate APY breakdown display (#5611)
  .changeset/dull-gifts-greet.md
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/dull-gifts-greet.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: implement Protection mode into the Trade page
  .changeset/quick-donuts-cheer.md
  apps/evm/src/libs/errors/handleError/index.ts
  apps/evm/src/pages/Trade/OperationForm/ManagePositionTabs/CollateralTabs/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Trade/OperationForm/ManagePositionTabs/CollateralTabs/WithdrawForm/index.tsx
  apps/evm/src/pages/Trade/OperationForm/ManagePositionTabs/PositionTabs/IncreaseForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Trade/OperationForm/ManagePositionTabs/PositionTabs/IncreaseForm/index.tsx
  apps/evm/src/pages/Trade/OperationForm/OpenForm/Form/index.tsx
  apps/evm/src/pages/Trade/OperationForm/OpenForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Trade/OperationForm/calculateMaxBorrowShortTokens/__tests__/index.spec.ts
  apps/evm/src/pages/Trade/PositionForm/Form/SelectDsaTokenTextField/LeverageFactorModal/index.tsx
  apps/evm/src/pages/Trade/PositionForm/Form/SelectDsaTokenTextField/__tests__/index.spec.tsx
  apps/evm/src/pages/Trade/PositionForm/Form/SelectDsaTokenTextField/index.tsx
  apps/evm/src/pages/Trade/PositionForm/Form/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: implement Protection mode into the Trade page (#5619)
  .changeset/quick-donuts-cheer.md
  apps/evm/src/pages/Trade/OperationForm/ManagePositionTabs/CollateralTabs/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Trade/OperationForm/ManagePositionTabs/CollateralTabs/WithdrawForm/index.tsx
  apps/evm/src/pages/Trade/OperationForm/ManagePositionTabs/PositionTabs/IncreaseForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Trade/OperationForm/ManagePositionTabs/PositionTabs/IncreaseForm/index.tsx
  apps/evm/src/pages/Trade/OperationForm/OpenForm/Form/index.tsx
  apps/evm/src/pages/Trade/OperationForm/OpenForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Trade/OperationForm/calculateMaxBorrowShortTokens/__tests__/index.spec.ts
  apps/evm/src/pages/Trade/PositionForm/Form/SelectDsaTokenTextField/LeverageFactorModal/index.tsx
  apps/evm/src/pages/Trade/PositionForm/Form/SelectDsaTokenTextField/__tests__/index.spec.tsx
  apps/evm/src/pages/Trade/PositionForm/Form/SelectDsaTokenTextField/index.tsx
  apps/evm/src/pages/Trade/PositionForm/Form/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/quick-donuts-cheer.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: update how total APYs are displayed
  .changeset/fresh-breads-unite.md
  apps/evm/src/containers/MarketTable/useColumns/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Market/AssetWarning/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/AssetWarning/getDescription/index.tsx
  apps/evm/src/pages/Market/AssetWarning/index.tsx
  apps/evm/src/pages/Market/OperationForm/ApyBreakdown/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/OperationForm/ApyBreakdown/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/ApyBreakdown/index.tsx
  apps/evm/src/pages/Market/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue where certain profitable positions cannot be closed
  .changeset/angry-ideas-heal.md
  apps/evm/src/clients/api/queries/getTradeReduceSwapQuotes/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getTradeReduceSwapQuotes/index.ts
  apps/evm/src/clients/api/queries/getTradeReduceSwapQuotes/useGetTradeReduceSwapQuotes/index.ts
  apps/evm/src/libs/errors/handleError/index.ts
  apps/evm/src/pages/Trade/PositionForm/Form/index.tsx
  apps/evm/src/pages/Trade/PositionForm/Form/useFormValidation/index.tsx
  apps/evm/src/pages/Trade/ReduceForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Trade/ReduceForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: issue where certain profitable positions cannot be closed (#5613)
  .changeset/angry-ideas-heal.md
  apps/evm/src/clients/api/queries/getTradeReduceSwapQuotes/__tests__/index.spec.ts
  apps/evm/src/clients/api/queries/getTradeReduceSwapQuotes/index.ts
  apps/evm/src/clients/api/queries/getTradeReduceSwapQuotes/useGetTradeReduceSwapQuotes/index.ts
  apps/evm/src/pages/Trade/PositionForm/Form/index.tsx
  apps/evm/src/pages/Trade/PositionForm/Form/useFormValidation/index.tsx
  apps/evm/src/pages/Trade/ReduceForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Trade/ReduceForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
