Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

assign reliable key to each vault in list to prevent unmounts + use ref to detect vault has mounted
  src/containers/Main/Vault/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

update favicon and mobile icons
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/icon.png
  public/icon16.png
  public/icon32.png
  public/mstile-150x150.png
Due: none

update Footer to design of landing page
  src/components/v2/Icon/icons/discord.svg
  src/components/v2/Icon/icons/github.svg
  src/components/v2/Icon/icons/index.tsx
  src/components/v2/Icon/icons/medium.svg
  src/components/v2/Icon/icons/twitter.svg
  src/components/v2/Layout/Footer/Footer.tsx
  src/components/v2/Layout/Footer/index.stories.tsx
  src/components/v2/Layout/Footer/index.tsx
  src/components/v2/Layout/Footer/styles.ts
  src/components/v2/Layout/Layout.tsx
  src/components/v2/Layout/PageContainer/PageContainer.tsx
  src/components/v2/Layout/PageContainer/index.stories.tsx
  src/components/v2/Layout/index.stories.tsx
  src/config/index.ts
  src/containers/Layout/Footer.tsx
  src/containers/Layout/MainLayout.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

add link to XVS in footer
  src/components/v2/Icon/icons/index.tsx
  src/components/v2/Icon/icons/venus.svg
  src/components/v2/Layout/Footer/Footer.tsx
  src/components/v2/Layout/Footer/styles.ts
  src/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

update logo in connect modal
  src/components/Basic/ConnectButton.tsx
  src/containers/Layout/Sidebar.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

update background color of XVS button on dashboard
  src/components/Dashboard/CoinInfo.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

update footer style to follow best practices of codebase
  src/components/v2/Layout/Footer/Footer.tsx
  src/components/v2/Layout/Footer/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

update feature meta image
  public/feature-meta.png
Due: none

Display logos in a flex container
  src/components/v2/Layout/Footer/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Remove fixed width on mobile connect button
  src/components/Basic/ConnectButton.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

use theme breakpoints to handle responsiveness of footer
  src/components/v2/Layout/Footer/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

add left margin to footer links
  src/components/v2/Layout/Footer/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

update meta tags
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/feature-meta.png
  public/icon.png
  public/icon16.png
  public/icon32.png
  public/index.html
  public/manifest.json
  public/mstile-150x150.png
Due: prettier --write --check

update logo and spinner color on modal to remove token from collaterals
  src/components/Basic/CollateralConfirmModal.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

bump package version to 0.2.1
  package.json
Due: none

update Twitter metadata
  public/index.html
Due: prettier --write --check

update Twitter meta tags
  public/index.html
Due: prettier --write --check

Label icons in storybook
  src/components/v2/Icon/index.stories.tsx
  src/stories/decorators.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

update design of footer on mobile
  src/components/v2/Layout/Footer/Footer.tsx
  src/components/v2/Layout/Footer/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

update web3 to 1.7.1
  package.json
  yarn.lock
Due: none

refactor auth flow to allow users to log out
  src/config/index.ts
  src/hooks/useAuth.ts
  src/hooks/wallet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

update error message and add TODOs
  src/hooks/useAuth.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Add layoutOffset to theme.shape
  src/theme/MuiThemeProvider/muiTheme.ts
  src/types/mui.d.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Move global switch styles to component
  src/components/v2/Toggle/Toggle.tsx
  src/components/v2/Toggle/styles.ts
  src/theme/MuiThemeProvider/muiTheme.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Refactor PageContainerStyles
  src/components/v2/Layout/PageContainer/PageContainer.tsx
  src/components/v2/Layout/PageContainer/PageContainerStyles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Move global drawer styles to component
  src/components/v2/Layout/Sidebar/Sidebar.tsx
  src/components/v2/Layout/Sidebar/SidebarStyles.ts
  src/components/v2/Layout/Sidebar/styles.ts
  src/theme/MuiThemeProvider/muiTheme.ts
  src/types/mui.d.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Move global AppBar / header styles to component
  src/components/v2/Layout/Header/Header.tsx
  src/components/v2/Layout/Header/styles.ts
  src/theme/MuiThemeProvider/muiTheme.ts
Due: eslint --fix, prettier --write --check, stylelint --fix
