Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

mock markdown library
  src/setupTests.ts
  tsconfig.json
Due: eslint --fix, prettier --write --check, stylelint --fix

Revert "fix preview"
  .storybook/preview.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix tests
  .eslintrc.js
  src/setupTests.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix tests
  src/pages/Governance/VotingWallet/DelegateModal/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write --check, stylelint --fix

update wagmi and WalletConnect
  yarn.lock
Due: none

fix preview
  .storybook/preview.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix issues with env variables in scripts
  .storybook/main.ts
  src/clients/subgraph/codegen.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Round down big numbers by default (#1128)
  src/clients/api/queries/useGetMainAssets/__snapshots__/index.spec.tsx.snap
  src/components/AccountData/__snapshots__/index.spec.tsx.snap
  src/components/IsolatedAssetWarning/__snapshots__/index.spec.tsx.snap
  src/hooks/useOperationModal/Modal/RepayForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  src/hooks/useOperationModal/Modal/SupplyForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  src/initializeLibraries/bigNumber.ts
  src/pages/Account/PoolBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Account/Summary/__snapshots__/index.spec.tsx.snap
  src/pages/Dashboard/__snapshots__/index.spec.tsx.snap
  src/pages/Market/__snapshots__/index.spec.tsx.snap
  src/pages/Vai/RepayVai/__snapshots__/index.spec.tsx.snap
  src/pages/Vai/RepayVai/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

Bump package version to 2.1.2 (#1133)
  package.json
Due: prettier --write --check

Update subgraph client (#1137)
  .gitignore
  .prettierignore
  package.json
  scripts/runGenerateSubgraphTypes.sh
  src/clients/api/queries/getIsolatedPools/__testUtils__/fakeData.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/subgraph/codegen.ts
  src/clients/subgraph/gql/index.ts
  src/clients/subgraph/index.ts
  src/clients/subgraph/queries/getIsolatedPoolParticipantsCount/index.ts
  src/config/codegen.ts
  src/config/index.ts
  vercel.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix GitHub action to collect coverage and display it on PRs + update env variables in template file
  .env.template
Due: none

fix typing issues
  src/pages/Governance/VotingWallet/DelegateModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

Update Account page (#1123)
  src/components/Button/styles.tsx
  src/components/ProgressBar/AccountHealth/index.tsx
  src/components/ProgressCircle/index.stories.tsx
  src/components/ProgressCircle/index.tsx
  src/components/ProgressCircle/styles.ts
  src/components/TagGroup/index.stories.tsx
  src/components/TagGroup/index.tsx
  src/components/TagGroup/styles.tsx
  src/components/index.ts
  src/hooks/useProgressColor.ts
  src/pages/Account/PoolBreakdown/index.tsx
  src/pages/Account/PoolsBreakdown/Tables/index.tsx
  src/pages/Account/PoolsBreakdown/Tables/styles.ts
  src/pages/Account/PoolsBreakdown/__snapshots__/index.spec.tsx.snap
  src/pages/Account/PoolsBreakdown/index.spec.tsx
  src/pages/Account/PoolsBreakdown/index.stories.tsx
  src/pages/Account/PoolsBreakdown/index.tsx
  src/pages/Account/PoolsBreakdown/styles.ts
  src/pages/Account/PoolsBreakdown/testIds.ts
  src/pages/Account/index.tsx
  src/pages/Dashboard/index.tsx
  src/pages/Dashboard/useFormatPools.ts
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

remove unnecessary env variables
  src/config/index.ts
  src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

[VEN-1638][VEN-1166][VEN-923] Update isolated lending addresses (#1131)
  package.json
  src/clients/api/queries/getIsolatedPools/index.ts
  src/constants/contracts/swapRouters/mainnet.ts
  src/constants/contracts/swapRouters/testnet.ts
  src/constants/tokens/common/mainnet.ts
  src/constants/tokens/vBep/mainnet.ts
  src/utilities/getContractAddress.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

Update token action disabling feature (#1130)
  src/components/AccountData/index.tsx
  src/components/AccountData/useGetValues.ts
  src/components/Announcement/styles.ts
  src/components/TokenAnnouncement/index.tsx
  src/components/index.ts
  src/constants/disabledTokens.ts
  src/containers/AssetAccessor/DisabledActionNotice/index.tsx
  src/containers/AssetAccessor/index.spec.tsx
  src/containers/AssetAccessor/index.tsx
  src/hooks/useOperationModal/Modal/index.spec.tsx
  src/hooks/useOperationModal/Modal/index.tsx
  src/pages/Dashboard/index.tsx
  src/translation/translations/en.json
  src/types/index.ts
  src/utilities/__mocks__/isTokenActionEnabled.ts
  src/utilities/isTokenActionEnabled.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

default config to production
  src/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Swap tweaks related to swap (#1129)
  src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  src/pages/Swap/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/Swap/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

rebase with develop
  src/clients/ethGraphQl/gql/fragment-masking.ts
  src/clients/ethGraphQl/gql/gql.ts
  src/clients/ethGraphQl/gql/graphql.ts
  src/clients/ethGraphQl/gql/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update BETH warning message
  src/components/TokenAnnouncement/index.tsx
  src/translation/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

streamline environment variables usage
  .env.template
Due: none

fix: update interest model calculation with isolated pools
  src/clients/api/queries/getVTokenApySimulations/index.spec.ts
  src/clients/api/queries/getVTokenApySimulations/index.ts
  src/clients/api/queries/getVTokenApySimulations/types.ts
  src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  src/constants/contracts/abis/interestModelV2.json
  src/pages/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

Use BigNumber instances in AccountData component (#1127)
  src/components/AccountData/index.tsx
  src/components/AccountData/useGetValues.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix conflicts with main
  yarn.lock
Due: none

fix issue with wallet being shown as connected with no signer
  src/clients/web3/Web3Wrapper/client.ts
  src/context/AuthContext/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

remove isConnected prop from auth context
  src/App/Switch/index.tsx
  src/components/Layout/Sidebar/index.stories.tsx
  src/components/Layout/Sidebar/useGetMenuItems.tsx
  src/context/AuthContext/index.tsx
  src/hooks/useOperationModal/Modal/index.stories.tsx
  src/pages/ConvertVrt/Convert/index.spec.tsx
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.stories.tsx
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
  src/testUtils/renderComponent.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor scripts and pipelines to improve readability and performances
  .github/workflows/ci.yaml
  .gitignore
  package.json
  yarn.lock
Due: prettier --write --check

move react-testing-library packages to devDependencies
  package.json
  src/components/SelectTokenTextField/__testUtils__/testUtils.ts
  src/testUtils/renderComponent.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

Refactor scripts and pipelines to improve readability and performances (#1138)
  .github/workflows/ci.yaml
  .gitignore
  package.json
  src/components/SelectTokenTextField/__testUtils__/testUtils.ts
  src/testUtils/renderComponent.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

bump package version ot 2.2.0
  package.json
Due: prettier --write --check

Bump package version to 2.2.0 (#1139)
  package.json
Due: prettier --write --check

refactor formatCentsToReadableValue to handle negative values + initialize libraries in all tests
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/pages/Account/Summary/calculateNetApy/index.spec.ts
  src/setupTests.tsx
  src/testUtils/renderComponent.tsx
  src/utilities/calculateDailyEarningsCents.spec.ts
  src/utilities/calculateYearlyEarnings.spec.ts
  src/utilities/formatCentsToReadableValue/__tests__/index.spec.ts
  src/utilities/formatCentsToReadableValue/index.ts
  src/utilities/shortenValueWithSuffix/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor formatTokensToReadableValue to handle negative values
  src/utilities/formatCentsToReadableValue/index.ts
  src/utilities/formatTokensToReadableValue/__tests__/index.spec.ts
  src/utilities/formatTokensToReadableValue/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

small design tweaks on tables
  src/containers/MarketTable/styles.ts
  src/pages/Pools/PoolTable/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Small design tweaks on tables (#1142)
  src/containers/MarketTable/styles.ts
  src/pages/Pools/PoolTable/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Update amount formatting to handle negative values (#1141)
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/pages/Account/Summary/calculateNetApy/index.spec.ts
  src/setupTests.tsx
  src/testUtils/renderComponent.tsx
  src/utilities/calculateDailyEarningsCents.spec.ts
  src/utilities/calculateYearlyEarnings.spec.ts
  src/utilities/formatCentsToReadableValue/__tests__/index.spec.ts
  src/utilities/formatCentsToReadableValue/index.ts
  src/utilities/formatTokensToReadableValue/__tests__/index.spec.ts
  src/utilities/formatTokensToReadableValue/index.ts
  src/utilities/shortenValueWithSuffix/__tests__/index.spec.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: added testnet addresses for DeFi, Tron, GameFi and Liquid Staked BNB
  package.json
  src/constants/contracts/swapRouters/mainnet.ts
  src/constants/contracts/swapRouters/testnet.ts
  src/constants/tokens/vBep/testnet.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

Improve auth (#1135)
  src/App/Switch/index.tsx
  src/clients/web3/Web3Wrapper/client.ts
  src/components/Layout/Sidebar/index.stories.tsx
  src/components/Layout/Sidebar/useGetMenuItems.tsx
  src/context/AuthContext/index.tsx
  src/hooks/useOperationModal/Modal/index.stories.tsx
  src/pages/ConvertVrt/Convert/index.spec.tsx
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.stories.tsx
  src/pages/Vai/index.stories.tsx
  src/pages/Vault/modals/ActionModal/index.stories.tsx
  src/pages/Vault/modals/StakeModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVaiVaultModal/index.stories.tsx
  src/pages/Vault/modals/WithdrawFromVestingVaultModal/index.stories.tsx
  src/testUtils/renderComponent.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

remove leftover Loki config
  .gitignore
  .loki/.gitignore
  .storybook/preview.ts
  regconfig.json
  src/components/Button/index.stories.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

open operation modal on supply tab on Dashboard
  .loki/.gitignore
  src/pages/Dashboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
