Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

feat: add responsive menu (#5220)
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

feat: add responsive menu (#5220)
  apps/evm/src/containers/Layout/NavBar/MenuItem/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add ad carousel and Top markets section to Dashboard page
  apps/evm/src/containers/Layout/NavBar/BurnedWBnbButton/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add ad carousel and Top markets section to Dashboard page
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add chain ID to tokens (#5265)
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Staking tab to Dashboard page
  .changeset/new-points-turn.md
  apps/evm/src/components/AssetCard/index.tsx
  apps/evm/src/components/CellGroup/index.tsx
  apps/evm/src/components/Pagination/index.tsx
  apps/evm/src/components/Pagination/styles.ts
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/containers/Vault/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Staking/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Dashboard/Staking/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Staking/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/Row/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/List/index.tsx
  apps/evm/src/pages/Dashboard/Transactions/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Transactions/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Staking/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/pages/Voter/History/index.tsx
  apps/evm/src/pages/Voter/History/styles.ts
  apps/evm/src/pages/VoterLeaderboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/brown-parrots-kick.md
  .changeset/early-maps-carry.md
  .changeset/evil-doodles-tell.md
  .changeset/fast-groups-help.md
  .changeset/heavy-kids-help.md
  .changeset/heavy-spoons-fail.md
  .changeset/metal-plums-buy.md
  .changeset/shaky-memes-brush.md
  .changeset/shy-oranges-shine.md
  .changeset/spotty-olives-smoke.md
  .changeset/stupid-birds-think.md
  .changeset/tiny-doors-poke.md
  .changeset/twelve-eels-cry.md
  .changeset/wet-signs-call.md
  .changeset/wild-friends-relax.md
  .changeset/young-weeks-kneel.md
  .changeset/yummy-otters-brush.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write --check

feat: prepare domain update
  .changeset/stale-worlds-invite.md
  apps/evm/src/App/Routes/MarketRedirect/__tests__/index.spec.tsx
  apps/evm/src/App/Routes/MarketRedirect/index.tsx
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/components/Page/index.stories.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Governance/index.tsx
  apps/evm/src/pages/Landing/index.tsx
  apps/evm/src/pages/Market/index.tsx
  apps/evm/src/pages/Markets/index.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Staking/index.tsx
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/pages/Vai/index.tsx
  apps/evm/src/pages/Voter/index.tsx
  apps/evm/src/pages/VoterLeaderboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update default adapter param for bridge transactions
  .changeset/wild-colts-battle.md
  apps/evm/src/clients/api/mutations/useBridgeXvs/__tests__/index.spec.ts
  apps/evm/src/constants/layerZero.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Markets tab to Dashboard page
  apps/evm/src/hooks/useUserChainSettings/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Dashboard/Guide/index.tsx
  apps/evm/src/pages/Dashboard/Markets/Tabs/EModeHeader/index.tsx
  apps/evm/src/pages/Dashboard/Markets/Tabs/index.tsx
  apps/evm/src/pages/Dashboard/Markets/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/store/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update default adapter param for bridge transactions (#5312)
  .changeset/wild-colts-battle.md
  apps/evm/src/clients/api/mutations/useBridgeXvs/__tests__/index.spec.ts
  apps/evm/src/constants/layerZero.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/wild-colts-battle.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: blocking position E-mode tooltip
  .changeset/fresh-signs-kick.md
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/Header/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: blocking position E-mode tooltip (#5320)
  .changeset/fresh-signs-kick.md
  apps/evm/src/pages/Markets/Tabs/EMode/EModeGroup/Header/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/fresh-signs-kick.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: add Venus Flux entry to navbar
  .changeset/little-suns-grow.md
  apps/evm/src/containers/Layout/NavBar/useMenuItems/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: prepare domain update (#5319)
  .changeset/stale-worlds-invite.md
  apps/evm/src/App/Routes/MarketRedirect/__tests__/index.spec.tsx
  apps/evm/src/App/Routes/MarketRedirect/index.tsx
  apps/evm/src/App/Routes/index.tsx
  apps/evm/src/components/Page/index.stories.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Dashboard/index.tsx
  apps/evm/src/pages/Governance/index.tsx
  apps/evm/src/pages/Landing/index.tsx
  apps/evm/src/pages/Market/index.tsx
  apps/evm/src/pages/Markets/index.tsx
  apps/evm/src/pages/Proposal/index.tsx
  apps/evm/src/pages/Staking/index.tsx
  apps/evm/src/pages/Swap/index.tsx
  apps/evm/src/pages/Vai/index.tsx
  apps/evm/src/pages/Voter/index.tsx
  apps/evm/src/pages/VoterLeaderboard/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/stale-worlds-invite.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: minor fixes on E-mode
  .changeset/petite-goats-chew.md
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/Tabs/EMode/formatEModeGroups/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: tailwindcss v4 upgrade (#5152)
  .changeset/chatty-geese-float.md
  apps/evm/package.json
  yarn.lock
Due: prettier --write --check

build(evm): update yarn lock and test snapshots
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/__snapshots__/indexIntegratedSwap.spec.tsx.snap
  yarn.lock
Due: none

feat(evm): swap and supply
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/index.ts
  apps/evm/src/clients/api/queries/getSwapQuote/useGetSwapQuote.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/libs/analytics/useAnalytics/types.ts
  apps/evm/src/libs/contracts/config/externalAbis/SwapRouterV2.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/OperationDetails/SwapDetails/index.tsx
  apps/evm/src/pages/Market/OperationForm/OperationDetails/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/SupplyForm/Notice.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/useForm/types.ts
  apps/evm/src/pages/Market/OperationForm/SupplyForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/SwapSummary/index.tsx
  apps/evm/src/types/index.ts
  apps/evm/src/utilities/getSwapToTokenAmountReceived/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: only filter by user assets if they have some (#5196)
  .changeset/fancy-lines-raise.md
Due: none

fix: rocket illustration resolution (#5190)
  .changeset/bumpy-words-learn.md
Due: none

test(evm): remove invalid supply tests and update swapData
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): update contract abi, fix type error
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/index.ts
  apps/evm/src/libs/contracts/config/externalAbis/SwapRouterV2.json
Due: eslint --fix, prettier --write --check, stylelint --fix

test(evm): add virtual testnet (need revert)
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
  apps/evm/src/hooks/useSendTransaction/sendTransaction/index.ts
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  packages/chains/src/chains/chainMetadata/index.ts
  packages/chains/src/utilities/getRpcUrls/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/utilities/getRpcUrls/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test(evm): update snapshots and update tests
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/index.spec.ts
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/__testUtils__/checkFns.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add Venus Flux banner
  .changeset/full-boxes-make.md
  apps/evm/src/constants/production.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Markets/Assets/AdBanner/Banner/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/ProbableBanner/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/ProbableBanner/probableIcon.png
  apps/evm/src/pages/Markets/Assets/AdBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/VenusFluxBanner/bgIllustration.jpg
  apps/evm/src/pages/Pool/Assets/AdBanner/VenusFluxBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/VenusFluxBanner/venusFluxIcon.png
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: E-mode (#5329)
  .changeset/petite-goats-chew.md
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Markets/Tabs/EMode/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Markets/Tabs/EMode/formatEModeGroups/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/petite-goats-chew.md
  .changeset/slick-cities-love.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat(evm): swapAndSupply & swapNativeAndSupply work
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/__tests__/index.spec.ts
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/index.ts
  apps/evm/src/clients/api/queries/getSwapQuote/useGetSwapQuote.ts
  apps/evm/src/clients/api/queries/getSwapQuote/wrapToken.ts
  apps/evm/src/libs/contracts/config/externalAbis/SwapRouterV2.json
  apps/evm/src/libs/contracts/config/index.ts
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor(evm): update explorer url for testnet (nned revert)
  packages/chains/src/chains/chainMetadata/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: update virtual testnet
  apps/evm/src/hooks/useSendTransaction/sendTransaction/index.ts
  packages/chains/src/utilities/getRpcUrls/__tests__/__snapshots__/index.spec.ts.snap
  packages/chains/src/utilities/getRpcUrls/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js}
  prettier --write --check: ((any of: *{.ts,*.tsx,*.js}) or (any of: *.json)) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js}) or (any of: *.scss)
