Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

fix conflicts with react-scripts and storybooks
  package.json
  yarn.lock
Due: none

Mock requests in storybooks
  .eslintignore
  .github/workflows/ci.yaml
  .gitignore
  .storybook/preview.js
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

Revert "fixup! Mock requests in storybooks"
  .github/workflows/ci.yaml
Due: none

Add global theme decorator
  .storybook/preview.js
  src/stories/decorators.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

remove styled engine provider for scss support
  src/theme/MuiThemeProvider/MuiThemeProvider.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

Add google anlytics tag to html
  .env.template
  public/index.html
Due: prettier --write --check

Add a simple example story for Dashboard
  src/containers/Main/Dashboard/index.stories.tsx
  src/containers/Main/Dashboard/index.tsx
  src/stories/decorators.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

Setup storybook and viz reg snapshotting
  .eslintrc.js
  .github/workflows/ci.yaml
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  package.json
  regconfig.json
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

Add contexts to dashboard
  src/containers/Main/Dashboard/index.stories.tsx
  src/stories/decorators.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

install chrome
  .github/workflows/ci.yaml
Due: none

Add clientId
  regconfig.json
Due: none

run job in node:12 conatiner
  .github/workflows/ci.yaml
Due: none

supress wallet connection while running storybooks
  package.json
  src/hooks/wallet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Add Market page story
  .storybook/preview.js
  src/__mocks__/api/governance.json
  src/containers/Main/Market/index.stories.tsx
  src/containers/Main/Market/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

add index.ts for lauout
  src/components/v2/Layout/index.ts
  src/containers/Main/Dev/Dev.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

define sidebar styles inside theme
  src/components/v2/Layout/Header.tsx
  src/components/v2/Layout/Layout.tsx
  src/components/v2/Layout/PageContainer.tsx
  src/components/v2/Layout/Sidebar.tsx
  src/theme/MuiThemeProvider/muiTheme.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

move styles to separate files
  src/components/v2/Layout/Header/Header.tsx
  src/components/v2/Layout/Layout.tsx
  src/components/v2/Layout/PageContainer/PageContainer.tsx
  src/components/v2/Layout/PageContainer/PageContainerStyles.ts
  src/components/v2/Layout/Sidebar/Sidebar.tsx
  src/components/v2/Layout/Sidebar/SidebarStyles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

Add stories for layout components
  .storybook/preview.js
  package.json
  public/mockServiceWorker.js
  src/assets/styles/Global.scss
  src/components/v2/Layout/Header/index.stories.tsx
  src/components/v2/Layout/Header/index.ts
  src/components/v2/Layout/Layout.tsx
  src/components/v2/Layout/PageContainer/index.stories.tsx
  src/components/v2/Layout/PageContainer/index.ts
  src/components/v2/Layout/Sidebar/index.stories.tsx
  src/components/v2/Layout/Sidebar/index.ts
  src/components/v2/Layout/index.stories.tsx
  src/stories/decorators.tsx
  src/theme/MuiThemeProvider/MuiThemeProvider.tsx
  src/types/declarations.d.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

fix lint issues
  src/theme/MuiThemeProvider/MuiThemeProvider.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

run prettier
  src/types/declarations.d.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

remove dev route
  src/containers/App.tsx
  src/containers/Main/Dev/Dev.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

Add CI testing details to README
  README.md
Due: none

Add Layout component
  src/assets/img/xvs.svg
  src/components/v2/Layout/Header.tsx
  src/components/v2/Layout/Layout.tsx
  src/components/v2/Layout/PageContainer.tsx
  src/components/v2/Layout/Sidebar.tsx
  src/components/v2/Layout/assets/logo.svg
  src/containers/App.tsx
  src/containers/Main/Dev/Dev.tsx
  src/theme/MuiThemeProvider/MuiThemeProvider.tsx
  src/theme/MuiThemeProvider/muiTheme.ts
  src/types/declarations.d.ts
  src/utilities/isDevEnvironment.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

isDevEnv from func to const
  src/containers/App.tsx
  src/utilities/isDevEnvironment.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

remove headless flag
  .github/workflows/ci.yaml
Due: none

Path conditions:
  eslint --fix: any of: *{.ts,*.tsx,*.js,*.jsx}
  prettier --write --check: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.html)
  stylelint --fix: (any of: *{.ts,*.tsx,*.js,*.jsx}) or (any of: *.scss)
