Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

chore: add changeset
  .changeset/shy-glasses-nail.md
Due: none

Revert "Merge pull request #5455 from VenusProtocol/fix/pause-borrow"
  .changeset/shy-glasses-nail.md
  apps/evm/src/libs/tokens/utilities/getDisabledTokenActions/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/shy-glasses-nail.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

chore: add changeset
  .changeset/public-kiwis-listen.md
Due: none

fix: pause vTHE borrows
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: disable more actions
  apps/evm/src/libs/tokens/infos/disabledTokenActions/bscMainnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/public-kiwis-listen.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor(evm): move vaultModals under legacyCard
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/ActionModal/__tests__/index.spec.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/ActionModal/index.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/StakeModal/__tests__/index.spec.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/StakeModal/index.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/TransactionForm/SubmitSection/index.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/TransactionForm/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/TransactionForm/__tests__/index.spec.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/TransactionForm/index.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/TransactionForm/testIds.ts
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVaiVaultModal/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVaiVaultModal/__tests__/index.spec.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVaiVaultModal/index.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/index.spec.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/RequestWithdrawal/__tests__/indexPrime.spec.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/RequestWithdrawal/index.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/Withdraw/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/Withdraw/__tests__/index.spec.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/Withdraw/index.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/Withdraw/testIds.ts
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/WithdrawalRequestList/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/WithdrawalRequestList/__tests__/index.spec.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/WithdrawalRequestList/index.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/WithdrawalRequestList/styles.ts
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/WithdrawalRequestList/testIds.ts
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/__tests__/index.spec.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/index.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/WithdrawFromVestingVaultModal/styles.ts
  apps/evm/src/containers/Vault/VaultCard/Legacy/VaultModals/index.tsx
  apps/evm/src/containers/Vault/VaultCard/Legacy/index.tsx
  apps/evm/src/containers/Vault/VaultCard/Simplified/index.tsx
  apps/evm/src/containers/Vault/__tests__/index.spec.tsx
  apps/evm/src/containers/Vault/index.tsx
  apps/evm/src/pages/Vaults/Vaults/index.tsx
  apps/evm/src/pages/Vaults/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: temporarily show all swap token balances
  .changeset/green-hounds-matter.md
  apps/evm/src/hooks/useGetSwapTokenUserBalances/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useGetSwapTokenUserBalances/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: temporarily show all swap token balances (#5457)
  .changeset/green-hounds-matter.md
  apps/evm/src/hooks/useGetSwapTokenUserBalances/__tests__/__snapshots__/index.spec.tsx.snap
  apps/evm/src/hooks/useGetSwapTokenUserBalances/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/green-hounds-matter.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat: improve swap tokens list
  .changeset/neat-chairs-pump.md
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/__testUtils__/replaceAssetsInPool.ts
  apps/evm/src/pages/Market/OperationForm/useGetOperationFormTokenBalances/index.ts
  apps/evm/src/utilities/getDisabledTokenActions/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/utilities/getDisabledTokenActions/__tests__/index.spec.ts
  apps/evm/src/utilities/getDisabledTokenActions/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add debug
  apps/evm/src/containers/Layout/NavBar/ConnectButton/index.tsx
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
  apps/evm/src/libs/wallet/hooks/useAuthModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add translation skill
  .claude/skills/ui-i18n/SKILL.md
Due: none

feat: add recovery connector
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: improve swap tokens list (#5458)
  .changeset/neat-chairs-pump.md
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.eMode.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.prime.spec.ts.snap
  apps/evm/src/clients/api/queries/useGetPools/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithWalletBalanceForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexIntegratedSwap.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/pages/Market/OperationForm/SupplyForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/__testUtils__/replaceAssetsInPool.ts
  apps/evm/src/pages/Market/OperationForm/useGetOperationFormTokenBalances/index.ts
  apps/evm/src/utilities/getDisabledTokenActions/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/utilities/getDisabledTokenActions/__tests__/index.spec.ts
  apps/evm/src/utilities/getDisabledTokenActions/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/neat-chairs-pump.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor(evm): update vaults title
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
  apps/evm/src/pages/Vaults/__tests__/__snapshots__/index.spec.tsx.snap
Due: prettier --write --check

chore: bump package versions
  .changeset/rotten-suits-strive.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

refactor: input components
  .changeset/dark-doodles-hug.md
Due: none

refactor: input components
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/libs/translations/translations/ja.json
  apps/evm/src/libs/translations/translations/th.json
  apps/evm/src/libs/translations/translations/tr.json
  apps/evm/src/libs/translations/translations/vi.json
  apps/evm/src/libs/translations/translations/zh-Hans.json
  apps/evm/src/libs/translations/translations/zh-Hant.json
Due: prettier --write --check

refactor: input components
  apps/evm/src/components/TokenTextField/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove log
  apps/evm/src/containers/Layout/NavBar/ConnectButton/index.tsx
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
  apps/evm/src/libs/wallet/hooks/useAuthModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove log
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: rename fileds
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove useless lines
  apps/evm/src/libs/wallet/hooks/useAuthModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add changeset
  .changeset/lemon-cities-sort.md
  apps/evm/src/libs/wallet/hooks/useAuthModal/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: refresh page
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: refresh page log
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: fix issues
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add log
  apps/evm/src/libs/wallet/Web3Wrapper/RainbowKitWrapper/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix
