Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

feat: add notice about wrapping native tokens on Uniswap
  src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.92.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  61/ddbd36b07e24cb8601b502d174685731d1e56c
Due: none

fix: display chain select on mobile
  src/containers/Layout/Menu/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.92.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  a3/2a4a8d677dbe3a49b4c831fe5ce48c22314382
Due: none

refactor: rename to BNB Chain
  src/constants/chainMetadata.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: use ETH logo with WETH
  src/packages/tokens/infos/commonTokens/ethereum.ts
  src/packages/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.92.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  12/14b7b7efee9efd95a1dbfdd9c8baec068fdf0e
Due: none

chore(release): 2.92.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  c5/e682baf033b5abc16bffe4108962949e9c57bd
Due: none

chore(release): 2.92.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  0d/5f6b68fae38da7833d9a77a7c378666b533923
Due: none

fix: max button dirties form
  src/pages/Bridge/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: multiply bridge USD limits by BRIDGE_USD_LIMIT_FACTOR
  src/clients/api/queries/getXvsBridgeStatus/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getXvsBridgeStatus/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.93.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  0e/0ef51538af3e12e66b68e0ecff496086fc038e
Due: none

chore(release): 2.93.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  8d/fb026df14216dd6148975c3a1ec2cca0d1f5cb
Due: none

chore(release): 2.93.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  dc/dc03c95471a0c496d437a413e8c05060f01d19
Due: none

fix: filter core pool from isolated pools totals
  src/clients/api/queries/useGetTreasuryTotals/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rename to useGetIsolatedPoolsTreasuryTotals
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/useGetIsolatedPoolsTreasuryTotals/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetIsolatedPoolsTreasuryTotals/index.spec.tsx
  src/clients/api/queries/useGetIsolatedPoolsTreasuryTotals/index.ts
  src/pages/IsolatedPools/Header/index.tsx
  src/pages/IsolatedPools/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: rename HAY and snBNB to lisUSD and slisBNB
  src/__mocks__/models/tokens.ts
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getPendingRewards/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getTokenBalances/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getVTokens/__tests__/__snapshots__/index.spec.ts.snap
  src/packages/tokens/img/hay.png
  src/packages/tokens/img/lisUSD.png
  src/packages/tokens/img/slisBNB.png
  src/packages/tokens/img/snBNB.svg
  src/packages/tokens/infos/commonTokens/bscMainnet.ts
  src/packages/tokens/infos/commonTokens/bscTestnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.93.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  08/b2ee7e6253d961f10f723f85bccb6c55169bde
Due: none

chore(release): 2.93.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  90/2d368af7410cca9225f61d6e8d121aaf1ef811
Due: none

chore(release): 2.93.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  1d/31e1479a0ba252f7aa026107e6a0a11f17ebaf
Due: none

chore(release): 2.93.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  35/31272811fddb75fbe8a12052d830a0f2497c88
Due: none

feat: add XvsTokenMultichain contract
  src/packages/contracts/config/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add getXvsBridgeMintStatus
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getXvsBridgeMintStatus/index.spec.ts
  src/clients/api/queries/getXvsBridgeMintStatus/index.ts
  src/clients/api/queries/getXvsBridgeMintStatus/useGetXvsBridgeMintStatus.ts
  src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.93.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  4d/016c6fc27a4cf8c763f79c9833d362fc9c80e5
Due: none

feat: add error for reaching the XVS bridge mint cap
  src/clients/api/queries/getXvsBridgeMintStatus/useGetXvsBridgeMintStatus.ts
  src/packages/translations/translations/en.json
  src/pages/Bridge/index.tsx
  src/pages/Bridge/useBridgeForm.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add coverage for mint cap warning
  src/pages/Bridge/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.93.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check
