Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

refactor: rename Multicall contract to Multicall3
  src/clients/api/mutations/claimRewards/index.spec.ts
  src/clients/api/mutations/claimRewards/index.ts
  src/clients/api/mutations/claimRewards/types.ts
  src/clients/api/mutations/claimRewards/useClaimRewards.ts
  src/clients/api/queries/getIsolatedPools/__tests__/index.spec.ts
  src/clients/api/queries/getIsolatedPools/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getIsolatedPools/useGetIsolatedPools.ts
  src/clients/api/queries/getPancakeSwapPairs/__tests__/index.spec.ts
  src/clients/api/queries/getPancakeSwapPairs/index.ts
  src/clients/api/queries/getPancakeSwapPairs/types.ts
  src/clients/api/queries/getPancakeSwapPairs/useGetPancakeSwapPairs.ts
  src/clients/api/queries/getPendingRewards/__tests__/index.spec.ts
  src/clients/api/queries/getPendingRewards/index.ts
  src/clients/api/queries/getPendingRewards/types.ts
  src/clients/api/queries/getPendingRewards/useGetPendingRewards.ts
  src/clients/api/queries/getTokenBalances/index.spec.ts
  src/clients/api/queries/getTokenBalances/index.ts
  src/clients/api/queries/getTokenBalances/useGetTokenBalances.ts
  src/clients/api/queries/getVTokenApySimulations/index.spec.ts
  src/clients/api/queries/getVTokenApySimulations/index.ts
  src/clients/api/queries/getVTokenApySimulations/types.ts
  src/clients/api/queries/getVTokenApySimulations/useGetVTokenApySimulations.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/index.spec.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/index.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/types.ts
  src/clients/api/queries/getVaiCalculateRepayAmount/useGetVaiCalculateRepayAmount.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/index.spec.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/index.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/types.ts
  src/clients/api/queries/getVaiRepayAmountWithInterests/useGetVaiRepayAmountWithInterests.ts
  src/clients/web3/index.ts
  src/clients/web3/useMulticall3.ts
  src/context/AuthContext/useProvider/getProvider.ts
  src/packages/contracts/contractInfos/externalAbis/multicall3.json
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: replace wagmi multicall with 0sequence Multicall contract
  src/clients/web3/Web3Wrapper/config.ts
  src/clients/web3/useMulticall3.ts
  src/context/AuthContext/useProvider/getProvider.ts
  src/packages/contracts/contractInfos/externalAbis/0xsequenceMulticall.json
  src/packages/contracts/contractInfos/uniqueContractInfos.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: remove chainid from getProvider and getSigner
  src/clients/web3/Web3Wrapper/config.ts
  src/context/AuthContext/index.tsx
  src/context/AuthContext/useProvider/index.ts
  src/context/AuthContext/useSigner/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.13.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  9c6bf639427a9672d92f40115a9d59e98a68876a
Due: none

chore(release): 2.13.1 [skip ci]
  src/clients/web3/Web3Wrapper/binanceWalletConnector.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: calculation of supply balances of isolated tokens
  src/clients/api/queries/getIsolatedPools/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: wrap provider with multicall provider + add passSigner parameter to contrat hooks
  package.json
  src/clients/api/mutations/approveToken/useApproveToken.ts
  src/clients/api/mutations/borrow/useBorrow.ts
  src/clients/api/mutations/cancelProposal/useCancelProposal.ts
  src/clients/api/mutations/claimRewards/useClaimRewards.ts
  src/clients/api/mutations/createProposal/useCreateProposal.ts
  src/clients/api/mutations/executeProposal/useExecuteProposal.ts
  src/clients/api/mutations/executeWithdrawalFromXvsVault/useExecuteWithdrawalFromXvsVault.ts
  src/clients/api/mutations/mintVai/useMintVai.ts
  src/clients/api/mutations/queueProposal/useQueueProposal.ts
  src/clients/api/mutations/redeem/useRedeem.ts
  src/clients/api/mutations/redeemUnderlying/useRedeemUnderlying.ts
  src/clients/api/mutations/repay/useRepay.ts
  src/clients/api/mutations/repayVai/useRepayVai.ts
  src/clients/api/mutations/requestWithdrawalFromXvsVault/useRequestWithdrawalFromXvsVault.ts
  src/clients/api/mutations/revokeSpendingLimit/useRevokeSpendingLimit.ts
  src/clients/api/mutations/setVoteDelegate/useSetVoteDelegate.ts
  src/clients/api/mutations/stakeInVaiVault/useStakeInVaiVault.ts
  src/clients/api/mutations/stakeInXvsVault/useStakeInXvsVault.ts
  src/clients/api/mutations/swapTokens/useSwapTokens.ts
  src/clients/api/mutations/swapTokensAndRepay/useSwapTokensAndRepay.ts
  src/clients/api/mutations/swapTokensAndSupply/useSwapTokensAndSupply.ts
  src/clients/api/mutations/vote/useCastVote.ts
  src/clients/api/mutations/vote/useCastVoteWithReason.ts
  src/clients/api/mutations/withdrawFromVaiVault/useWithdrawFromVaiVault.ts
  src/clients/api/mutations/withdrawXvs/useWithdrawXvs.ts
  src/clients/api/queries/getAllowance/useGetAllowance.ts
  src/clients/api/queries/getVTokenBalanceOf/useGetVTokenBalanceOf.ts
  src/clients/api/queries/getVTokenInterestRateModel/useGetVTokenInterestRateModel.ts
  src/context/AuthContext/useProvider/getProvider.ts
  src/context/AuthContext/useProvider/index.ts
  src/hooks/useCollateral/index.tsx
  src/hooks/useGetGenericContract.ts
  src/hooks/useGetSwapRouterContract.ts
  src/hooks/useGetTokenContract.ts
  src/hooks/useGetUniqueContract.ts
  src/hooks/useGetVTokenContract.ts
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.14.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  d17d1333f8915887990d7f41b3b9059ff7fc6730
Due: none

feat: start formatting data into main pool (2)
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getMainPool/formatToPool/index.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getMainPool/types.ts
  src/config/index.ts
  src/constants/tokens/common/mainnet.ts
  src/constants/tokens/index.ts
  src/context/ErrorLogger/index.tsx
  src/utilities/convertFactorFromSmartContract.ts
  src/utilities/convertPriceMantissaToDollars.ts
  src/utilities/formatTokenPrices.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: start adding new getMainPool query function
  src/clients/api/queries/getMainPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/getMainPool/index.spec.tsx
  src/clients/api/queries/getMainPool/index.tsx
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/getMainPool/useGetMainPool.tsx
  src/clients/api/queries/useGetPools/index.tsx
  src/constants/functionKey.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: fetch necessary data to shape main pool
  src/clients/api/queries/getMainPool/index.tsx
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/getMainPool/useGetMainPool.tsx
  src/clients/api/queries/useGetPools/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: start formatting data to main pool
  src/clients/api/queries/getIsolatedPools/formatOutput/index.ts
  src/clients/api/queries/getIsolatedPools/types.ts
  src/clients/api/queries/getMainPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/getMainPool/formatToPool/index.ts
  src/clients/api/queries/getMainPool/index.spec.tsx
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getMainPool/index.tsx
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: start formatting data into main pool (3)
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions/index.ts
  src/clients/api/queries/getMainPool/formatToPool/index.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/getMainPool/useGetMainPool.ts
  src/constants/tokens/index.ts
  src/context/Analytics/useAnalytics.ts
  src/utilities/formatDistribution.ts
  src/utilities/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.14.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  4e8151e028803166a5b47141ff62d4f0285d1e54
Due: none

chore(release): 2.14.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  105ef3e4cb3889baf964d37deae17d36a99c24fc
Due: none

refactor: format data into main pool
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getIsolatedPools/formatOutput/formatDistributions.ts
  src/clients/api/queries/getMainPool/formatToPool/index.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/api/queries/getMainPool/types.ts
  src/clients/api/queries/useGetMainPool/index.tsx
  src/clients/api/queries/useGetPools/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add tests to getMainPool query function
  src/clients/api/queries/getMainPool/__testUtils__/fakeData.ts
  src/clients/api/queries/getMainPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainPool/__tests__/index.spec.ts
  src/clients/api/queries/getMainPool/formatToPool/index.ts
  src/clients/api/queries/getMainPool/index.ts
  src/clients/web3/Web3Wrapper/config.ts
  src/config/envVariables.ts
  src/constants/tokens/common/testnet.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: remove useGetMainAssets and useGetMainPool hooks
  src/clients/api/__mocks__/index.ts
  src/clients/api/index.ts
  src/clients/api/queries/getTokenBalances/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/useGetMainAssets/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainAssets/index.spec.tsx
  src/clients/api/queries/useGetMainAssets/index.ts
  src/clients/api/queries/useGetMainPool/__snapshots__/index.spec.tsx.snap
  src/clients/api/queries/useGetMainPool/index.spec.tsx
  src/clients/api/queries/useGetMainPool/index.tsx
  src/clients/api/queries/useGetMainPoolTotalXvsDistributed/index.tsx
  src/clients/api/queries/useGetVaults/useGetVaiVault.ts
  src/context/DisableLunaUstWarning/index.spec.tsx
  src/context/DisableLunaUstWarning/index.tsx
  src/hooks/useGetSwapInfo/__tests__/__snapshots__/index.spec.tsx.snap
  src/pages/ConvertVrt/Withdraw/index.spec.tsx
  src/pages/ConvertVrt/index.spec.tsx
  src/pages/Xvs/Header/index.tsx
  src/pages/Xvs/Table/index.tsx
  src/pages/Xvs/index.spec.tsx
  src/utilities/convertPriceMantissaToDollars/__tests__/index.spec.ts
  src/utilities/convertPriceMantissaToDollars/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: transform formatToPool directory into a single file
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/getMainPool/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: fetch borrower and supplier counts
  src/clients/api/queries/getMainPool/__tests__/__snapshots__/index.spec.ts.snap
  src/clients/api/queries/getMainPool/__tests__/index.spec.ts
  src/clients/api/queries/getMainPool/formatToPool.ts
  src/clients/api/queries/getMainPool/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: pass chainId to BscLink instances
  src/components/BscLink/index.stories.tsx
  src/components/SuccessfulTransactionModal/index.tsx
  src/pages/Proposal/ProposalSummary/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.14.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  261943e5393d389d4e511b522232cde0a71d6f11
Due: none

chore(release): 2.14.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  2cd28cf108419e90d216a4dbb5073bfbf3a60610
Due: none

feat: add warning about insufficient liquidity on Withdraw form
  src/hooks/useOperationModal/Modal/WithdrawForm/Notice.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/__tests__/index.spec.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/index.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/testIds.ts
  src/hooks/useOperationModal/Modal/WithdrawForm/useForm/index.tsx
  src/hooks/useOperationModal/Modal/WithdrawForm/useForm/types.ts
  src/hooks/useOperationModal/Modal/WithdrawForm/useForm/useFormValidation.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: run lint:format in GitHub actions
  package.json
  src/components/ReadableActionSignature/getContractName.ts
  src/context/Analytics/useAnalytics.ts
  src/hooks/useGetSwapInfo/index.ts
  src/hooks/useGetSwapInfo/useGetTokenCombinations.ts
  src/hooks/useGetSwapRouterContractAddress.ts
  src/hooks/useGetUniqueContractAddress.ts
  src/pages/Governance/ProposalList/CreateProposalModal/ProposalInfo/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/ProposalWizard/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/UploadOrManualProposal/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/VotingDescriptions/index.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/checkImportErrors/index.ts
  src/pages/Governance/ProposalList/CreateProposalModal/importJsonProposal/__tests__/index.spec.ts
  src/pages/Governance/ProposalList/CreateProposalModal/index.spec.tsx
  src/pages/Governance/ProposalList/CreateProposalModal/index.tsx
  src/pages/Governance/ProposalList/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

chore(release): 2.14.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  42180153180b538e56892b2a4624d530d35266a4
Due: none
