Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js,*.jsx}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

Notes added by 'git notes add'
  9e/c107b811804ca2793fd972b2771c9ac62786d4
Due: none

chore(release): 2.93.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  ed/c54bb7f0b221f55fe8c7e799e2490ca3ad2dbb
Due: none

chore(release): 2.94.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  29/e4979c0c1ec29192b08d28f79446c2855b4ca9
Due: none

chore(release): 2.94.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  36/144fe3750093218a20ee31981e693b5447ae59
Due: none

chore(release): 2.94.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --check

Notes added by 'git notes add'
  cc/57b3210e42d409fb6b4ab045f4187b0496de98
Due: none

refactor: move AuthModal and useAuthModal out of wallet lib
  apps/evm/src/App/index.tsx
  apps/evm/src/containers/AuthModal/AccountDetails/index.tsx
  apps/evm/src/containers/AuthModal/AccountDetails/styles.ts
  apps/evm/src/containers/AuthModal/WalletList/index.tsx
  apps/evm/src/containers/AuthModal/WalletList/styles.ts
  apps/evm/src/containers/AuthModal/constants.ts
  apps/evm/src/containers/AuthModal/index.tsx
  apps/evm/src/containers/AuthModal/types.ts
  apps/evm/src/containers/ConnectWallet/index.tsx
  apps/evm/src/containers/Layout/ConnectButton/index.tsx
  apps/evm/src/hooks/useAuthModal/__mocks__/index.tsx
  apps/evm/src/hooks/useAuthModal/index.tsx
  apps/evm/src/hooks/useAuthModal/store/__tests__/index.spec.ts
  apps/evm/src/hooks/useAuthModal/store/index.ts
  apps/evm/src/libs/wallet/Web3Wrapper/index.tsx
  apps/evm/src/libs/wallet/__mocks__/index.ts
  apps/evm/src/libs/wallet/index.ts
  apps/evm/src/pages/Bridge/__tests__/index.spec.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Dashboard/Banner/__tests__/index.spec.tsx
  apps/evm/src/pages/Dashboard/Banner/index.tsx
  apps/evm/src/pages/Governance/VotingWallet/index.tsx
  turbo.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update WETH icon
  apps/evm/src/libs/tokens/img/weth.svg
Due: none

feat: update WETH in Sepolia
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add useGetNativeWrappedTokenUserBalances
  apps/evm/src/hooks/useGetNativeWrappedTokenUserBalances/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: useGetSwapTokenUserBalances returns an empty array when isIntegratedSwapEnabled is off
  apps/evm/src/hooks/useGetSwapTokenUserBalances.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: enable wrapUnwrapNativeToken in Sepolia
  apps/evm/src/hooks/useIsFeatureEnabled/__tests__/index.spec.ts
  apps/evm/src/hooks/useIsFeatureEnabled/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update SupplyForm UI with the wrap/unwrap native token feature flag
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/SubmitSection/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: migrate Delimiter to Tailwind
  apps/evm/src/components/Delimiter/index.tsx
  apps/evm/src/components/Delimiter/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update BorrowForm UI with the wrap/unwrap native token feature flag
  apps/evm/src/hooks/useOperationModal/Modal/BorrowForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/BorrowForm/useForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/BorrowForm/useForm/types.ts
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update RepayForm UI with the wrap/unwrap native token feature flag
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/SubmitSection/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: changeset GitHub action
  .changeset/wild-cherries-nail.md
  .github/workflows/cd.yaml
  .validate-branch-namerc.js
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update WithdrawForm UI with the wrap/unwrap native token feature flag
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/useForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/useForm/types.ts
  apps/evm/src/libs/translations/translations/en.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: add changeset for wrap/unwrap native token feature
  .changeset/seven-clouds-sort.md
Due: none

test: add tests for wrapUnwrapNativeToken in the BorrowForm
  apps/evm/src/hooks/useOperationModal/Modal/BorrowForm/__testUtils__/fakeData.ts
  apps/evm/src/hooks/useOperationModal/Modal/BorrowForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/BorrowForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/BorrowForm/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: header styles to Tailwind
  apps/evm/src/components/SelectTokenTextField/TokenList/index.tsx
  apps/evm/src/components/SelectTokenTextField/TokenList/styles.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add tests for wrapUnwrapNativeToken in the SupplyForm
  apps/evm/src/__mocks__/models/tokens.ts
  apps/evm/src/hooks/__mocks__/useGetNativeWrappedTokenUserBalances.ts
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/__testUtils__/fakeData.ts
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add tests for wrapUnwrapNativeToken in the WithdrawForm
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/__testUtils__/fakeData.ts
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/testIds.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update form spacings
  apps/evm/src/hooks/useOperationModal/Modal/BorrowForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test: add tests for wrapUnwrapNativeToken in the RepayForm
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/__testUtils__/fakeData.ts
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/__tests__/indexWrapUnwrapNative.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update WETH token icon
  apps/evm/src/libs/tokens/img/weth.svg
Due: none

refactor: replace wrapsNative with tokenWrapped and remove useGetNativeWrappedTokenUserBalances
  apps/evm/src/__mocks__/models/tokens.ts
  apps/evm/src/clients/api/__mocks__/index.ts
  apps/evm/src/hooks/useGetNativeWrappedTokenUserBalances/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/BorrowForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/RepayForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/__tests__/indexWrapUnwrapNative.spec.tsx
  apps/evm/src/hooks/useOperationModal/Modal/SupplyForm/index.tsx
  apps/evm/src/hooks/useOperationModal/Modal/WithdrawForm/index.tsx
  apps/evm/src/libs/tokens/infos/commonTokens/ethereum.ts
  apps/evm/src/libs/tokens/infos/commonTokens/sepolia.ts
  apps/evm/src/types/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: add file-system package
  configs/eslint/package.json
  configs/stylelint/package.json
  configs/typescript/package.json
  packages/file-system/index.ts
  packages/file-system/package.json
  packages/file-system/src/getTemplate/index.ts
  packages/file-system/src/writeFile/index.ts
  packages/file-system/tsconfig.json
  packages/web3/package.json
  packages/web3/src/scripts/generateContracts/index.ts
  packages/web3/src/scripts/generatePancakeSwapTokenList/index.ts
  packages/web3/src/scripts/getAbsolutePath/__tests__/index.spec.ts
  packages/web3/src/scripts/getAbsolutePath/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: add script to generate contract hooks
  .gitignore
  apps/evm/package.json
  apps/evm/src/clients/api/mutations/claimRewards/index.ts
  apps/evm/src/libs/contracts/index.ts
  apps/evm/src/libs/wallet/hooks/useProvider/getProvider.ts
  apps/evm/src/scripts/generateContractHooks/index.ts
  apps/evm/src/scripts/generateContractHooks/templates/genericContractHook.hbs
  apps/evm/src/scripts/generateContractHooks/templates/swapRouterContractHook.hbs
  apps/evm/src/scripts/generateContractHooks/templates/uniqueContractHook.hbs
  packages/file-system/cwd/index.ts
  packages/file-system/generateBarrelFile/barrel.hbs
  packages/file-system/generateBarrelFile/index.ts
  packages/file-system/getTemplate/index.ts
  packages/file-system/index.ts
  packages/file-system/package.json
  packages/file-system/tsconfig.json
  packages/file-system/writeFile/index.ts
  packages/web3/src/scripts/constants.ts
  packages/web3/src/scripts/cwd.ts
  packages/web3/src/scripts/generateContracts/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: changeset GitHub action (#2213)
  .changeset/wild-cherries-nail.md
  .github/workflows/cd.yaml
  .validate-branch-namerc.js
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: fix package versions
  .changeset/eight-ties-train.md
  apps/evm/package.json
  package.json
Due: prettier --write --check
