Repository VenusProtocol/venus-protocol-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --check, stylelint --fix

.lintstagedrc:

{
  "*{.ts,*.tsx,*.js}": ["eslint --fix", "prettier --write --check", "stylelint --fix"],
  "*.json": ["prettier --write --check"],
  "*.html": ["prettier --write --check"],
  "*.scss": ["stylelint --fix"]
}

refactor: improve hypothetical yearly earnings calculation (#5199)
  .changeset/plenty-pears-shave.md
  apps/evm/src/clients/api/queries/getSimulatedPool/__tests__/__snapshots__/index.spec.ts.snap
  apps/evm/src/clients/api/queries/getSimulatedPool/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): add high price impact warning for repayWithCollateral, update warning text
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/types.ts
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/useFormValidation.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): add price displaying in ValueUpdate
  apps/evm/src/components/BalanceUpdates/index.tsx
  apps/evm/src/components/ValueUpdate/index.tsx
  apps/evm/src/pages/Bridge/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/__tests__/index.spec.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

refactor: design + logic updates
  .changeset/kind-areas-rescue.md
  apps/evm/src/components/BalanceUpdates/index.tsx
  apps/evm/src/components/ValueUpdate/index.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/useFormValidation.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: update yarn file following recent package changes
  .changeset/ten-bushes-chew.md
  yarn.lock
Due: none

feat(evm): update contract abi, fix type error
  apps/evm/src/clients/api/mutations/useSwapTokensAndSupply/index.ts
  apps/evm/src/libs/contracts/config/externalAbis/SwapRouterV2.json
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/bumpy-words-learn.md
  .changeset/chatty-geese-float.md
  .changeset/fancy-lines-raise.md
  .changeset/plenty-pears-shave.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
  apps/landing/CHANGELOG.md
  apps/landing/package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write --check

refactor: update description of isolated pools sunset banner (#5181)
  .changeset/pink-poets-serve.md
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
Due: prettier --write --check

chore: bump package versions
  .changeset/pink-poets-serve.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

feat(evm): add probable banner, isolated-pool sunset tooltips
  apps/evm/src/containers/Layout/Sidebar/NavLink/index.tsx
  apps/evm/src/containers/Layout/types.ts
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/Assets/AdBanner/Banner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/ProbableBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/ProbableBanner/probaleIcon.png
  apps/evm/src/pages/Pool/Assets/AdBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

test(evm): update banner snapshots, add changeset
  .changeset/orange-guests-argue.md
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

refactor(evm): update Banner props name
  apps/evm/src/pages/Pool/Assets/AdBanner/Banner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/ProbableBanner/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): add probable banner, isolated-pool sunset tooltips (#5209)
  .changeset/orange-guests-argue.md
  apps/evm/src/containers/Layout/Sidebar/NavLink/index.tsx
  apps/evm/src/containers/Layout/types.ts
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Pool/Assets/AdBanner/Banner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/ProbableBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/ProbableBanner/probaleIcon.png
  apps/evm/src/pages/Pool/Assets/AdBanner/index.tsx
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/orange-guests-argue.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

style(evm): update probable banner style
  .changeset/sharp-beds-boil.md
  apps/evm/src/pages/Pool/Assets/AdBanner/ProbableBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/ProbableBanner/probaleIcon.png
Due: eslint --fix, prettier --write --check, stylelint --fix

feat(evm): add probable banner, isolated-pool sunset tooltips (#5209)
  .changeset/orange-guests-argue.md
  apps/evm/src/containers/Layout/Sidebar/NavLink/index.tsx
  apps/evm/src/containers/Layout/types.ts
  apps/evm/src/containers/Layout/useGetMenuItems.tsx
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Markets/Assets/AdBanner/Banner/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/ProbableBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/ProbableBanner/probaleIcon.png
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.eMode.spec.tsx.snap
  apps/evm/src/pages/Pool/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update page architecture
  apps/evm/src/libs/translations/translations/en.json
Due: prettier --write --check

feat: remove Unichain specific styling
  apps/evm/src/App/ThemeHandler/index.tsx
  apps/evm/src/App/index.tsx
  apps/evm/src/containers/Layout/Header/index.tsx
  apps/evm/src/containers/Layout/Header/unichainBackground.svg
  apps/evm/src/hooks/useIsOnUnichain/index.tsx
  packages/ui/src/theme.css
Due: eslint --fix, prettier --write --check, stylelint --fix

feat: update breakpoints
  .changeset/heavy-spoons-fail.md
  .vscode/settings.json
  apps/evm/src/App/MuiThemeProvider/muiTheme.ts
  apps/evm/src/components/Table/index.tsx
  apps/evm/src/containers/Layout/Header/TopBar/Breadcrumbs/index.tsx
  apps/evm/src/containers/MarketTable/index.tsx
  apps/evm/src/containers/PrimeStatusBanner/index.tsx
  apps/evm/src/hooks/responsive.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/EModeInfo/AssetSettings/index.tsx
  apps/evm/src/pages/Markets/Assets/AdBanner/BinanceWalletBanner/index.tsx
  apps/evm/src/pages/Pools/PoolTable/index.tsx
  apps/evm/src/pages/Pools/PoolTable/styles.ts
  apps/evm/src/pages/Proposal/ProposalSummary/index.tsx
  apps/evm/src/types/mui.d.ts
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/tailwind.config.ts
  packages/ui/src/theme.css
  packages/ui/src/theme.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

style(evm): update probable banner style (#5210)
  .changeset/sharp-beds-boil.md
  apps/evm/src/pages/Pool/Assets/AdBanner/ProbableBanner/index.tsx
  apps/evm/src/pages/Pool/Assets/AdBanner/ProbableBanner/probaleIcon.png
Due: eslint --fix, prettier --write --check, stylelint --fix

chore: bump package versions
  .changeset/sharp-beds-boil.md
  apps/evm/CHANGELOG.md
  apps/evm/package.json
Due: prettier --write --check

fix: only filter by user assets if they have some (#5196)
  .changeset/fancy-lines-raise.md
Due: none

chore: tailwindcss v4 upgrade (#5152)
  .changeset/chatty-geese-float.md
  apps/evm/package.json
  apps/landing/package.json
  yarn.lock
Due: prettier --write --check

feat: add high price impact acknowledgement to Boost form
  apps/evm/src/components/AcknowledgementToggle/index.stories.tsx
  apps/evm/src/components/AcknowledgementToggle/index.tsx
  apps/evm/src/components/RiskAcknowledgementToggle/index.tsx
  apps/evm/src/components/index.ts
  apps/evm/src/constants/swap.ts
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/BoostForm/SubmitSection/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/types.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/BorrowForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/BorrowForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/WithdrawForm/index.tsx
  apps/evm/src/pages/Vai/Borrow/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: rocket illustration resolution (#5190)
  .changeset/bumpy-words-learn.md
Due: none

fix(evm): vdp-408, change rounding mode to ROUND_DOWN for percentage formatter
  apps/evm/src/libs/translations/translations/en.json
  apps/evm/src/pages/Market/OperationForm/Repay/index.tsx
  apps/evm/src/utilities/formatPercentageToReadableValue/index.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix(evm): display no quote found error when empty input
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/useForm/useFormValidation.ts
Due: eslint --fix, prettier --write --check, stylelint --fix

fix(evm): repay with collateral selection box issue
  apps/evm/src/pages/Market/OperationForm/Repay/index.tsx
Due: eslint --fix, prettier --write --check, stylelint --fix

fix: supply cap validation + filter out BNB from repay with collateral flow
  .changeset/bumpy-words-learn.md
  .changeset/chatty-geese-float.md
  .changeset/fancy-lines-raise.md
  .changeset/kind-areas-rescue.md
  apps/evm/src/clients/api/queries/getSwapQuote/useGetSwapQuote.ts
  apps/evm/src/pages/Market/OperationForm/BoostForm/__tests__/index.spec.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/index.tsx
  apps/evm/src/pages/Market/OperationForm/BoostForm/useForm/useFormValidation.ts
  apps/evm/src/pages/Market/OperationForm/Repay/RepayWithCollateralForm/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write --check, stylelint --fix
